<div class="kt-section__content notes">
  <div class="row">
    <div class="col-md-12">
      
      <div class="wizardBorder licenseInfo">
        <!--Material DataTable Section-->
        <div class="kt-section">
          <div class="example-header">
            <div class="row">
              <div class="col-md-9">
                <a (click)="openAddStakeHolders(AddStakeHolderModel)"
                  class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
                  Add Stakeholders
                </a> &nbsp;
              </div>
              <div class="col-md-3 text-right">
                <mat-form-field>
                  <input class="tda-form-control" matInput (keyup)="stakeHoldersapplyFilter7($event.target.value)"
                    placeholder="Search">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--begin: Datatable -->
          <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
            <mat-table matSort [dataSource]="stakeHoldersdataSource7" class="tdaMetronicBorderedTable">
              <ng-container matColumnDef="orderNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Order No </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index;">
                  {{i+1}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.stakeHolderTypeEn}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="relationShipTypeEn">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.relationShipTypeEn}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nameAr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name Ar </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="nameEn">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="sharePrct">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Share % </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.sharePrct}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="isRegistered">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.isRegistered}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Action">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index;">
                  <!-- <button type="button"
                      class="btn btn-primary btn-sm"><i
                      class="flaticon-delete view"></i></button> -->

                  <span class="kt-font-success cursor"> <i class="flaticon-eye view"></i></span>
                  &nbsp;&nbsp;
                  <span (click)="deleteStakeHolder(i)" class="kt-font-danger cursor"> <i class="flaticon-delete"></i></span>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="stakeHoldersdisplayedColumns7"></mat-header-row>
              <mat-row *matRowDef="let row; columns: stakeHoldersdisplayedColumns7;"></mat-row>
            </mat-table>
            <mat-paginator #stakeHoldersmatPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <!--end: Datatable -->
      </div>
    </div>
  </div>
</div>
<!--begin:: Repeated Buttons Divs for Every Step -->
<div class="row">
  <div class="col-md-4">
    <div class="wizardBorder actionButtons">
      <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
    </div>
  </div>
  <div class="col-md-4 text-center">
  </div>
  <div class="col-md-4 text-right">
    <div class="wizardBorder actionButtons">
      <button (click)="submitStakeHolderInfo()" class="btn btn-primary btn-sm">Next</button>
    </div>
  </div>
</div>
<!--end:: Repeated Content for Every Step -->



<!--model start-->
<ng-template #AddStakeHolderModel let-modal>
  <div class="modal-content" [formGroup]="StakeHolderForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Stakeholders</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select placeholder="" formControlName="type" (ngModelChange)="onStakeholderTypesChanged()">
              <mat-option *ngFor="let type of stakeholderTypes | async" [value]="type">
                {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- <kt-error [formName]="StakeHolderForm" [fieldName]="'type'"></kt-error> -->
        </div>
        <div class="col-md-6"></div>
      </div>
      <div *ngIf="this.StakeHolderForm.value.type.id == stakeholderEnum.GovAuthority">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Govt Entity Name</mat-label>
              <mat-select placeholder="" formControlName="govtEntity">
                <mat-option *ngFor="let type of govtEntity | async" [value]="type">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="StakeHolderForm" [fieldName]="'govtEntity'"></kt-error>
          </div>
        </div>
      </div>
      <div *ngIf="this.StakeHolderForm.value.type.id == stakeholderEnum.License">
        <div class="row">

          <div class="col-md-12">
            <br>
            <mat-radio-group>
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-group formControlName="businessNamesTypes">
                    <mat-radio-button *ngFor="let type of businessNameTypes" (click)="setRadioButtonCondition(type.id)"
                      [value]="type.id"
                      [checked]="this.businessNameTypes[0].id == this.StakeHolderForm.value.businessNamesTypes">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <kt-error [formName]="StakeHolderForm" [fieldName]="'businessNamesTypes'"></kt-error>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>License No</mat-label>
                <input class="tda-form-control" placeholder="License No" formControlName="licenceNumber" matInput
                  type="text" />
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'licenceNumber'"></kt-error>
            </div>
            <div *ngIf="(this.StakeHolderForm.value.businessNamesTypes == this.businessNamesTypesEnum.LocalTDABranch)"
              class="col-md-1">
              <div class="formTableButton"> <button (click)="getHeadOfficeLicenseNoData()"
                  class="btn btn-danger btn-sm"> <i class="kt-font-brand flaticon-search"></i></button></div>

            </div>
            <div *ngIf="(this.StakeHolderForm.value.businessNamesTypes == this.businessNamesTypesEnum.LocalTDABranch)"
              class="col-md-5"></div>

            <div *ngIf="!(this.StakeHolderForm.value.businessNamesTypes == this.businessNamesTypesEnum.LocalTDABranch)"
              class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Issuing Authority</mat-label>
                <mat-select placeholder="Issuance Authority" formControlName="ddlIssueanceAuthority">
                  <mat-option *ngFor="let type of issueanceAuthority | async" [value]="type.id">
                    {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'ddlIssueanceAuthority'"></kt-error>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Issue Date</mat-label>
                <input class="tda-form-control" formControlName="licenceIssueDate" matInput [matDatepicker]="issueDate"
                  placeholder="Passport Expiry Date" (click)="issueDate.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
                <mat-datepicker #issueDate></mat-datepicker>
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'licenceIssueDate'"></kt-error>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Expiry Date</mat-label>
                <input class="tda-form-control" formControlName="licenceExpiryDate" matInput
                  [matDatepicker]="expiryDate" placeholder="Passport Expiry Date" (click)="expiryDate.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
                <mat-datepicker #expiryDate></mat-datepicker>
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'licenceExpiryDate'"></kt-error>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>BN Name Ar</mat-label>
                <input class="tda-form-control arabicTextBox" formControlName="BNnameAr" placeholder="BN Name Ar"
                  matInput type="text" />
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'BNnameAr'"></kt-error>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>BN Name En</mat-label>
                <input class="tda-form-control englishTextBox" formControlName="BNnameEn" placeholder="BN Name En"
                  matInput type="text" />
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'BNnameEn'"></kt-error>
            </div>
          </div>
        </div>
      </div>
      <div
        *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.InehritanceRepresentative) || (this.StakeHolderForm.value.type.id == stakeholderEnum.Individual)">
        <div class="row">

          <div class="col-md-6"
            *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.InehritanceRepresentative)">
            <mat-form-field appearance="outline">
              <mat-label>Select Inheritance Representative</mat-label>
              <mat-select placeholder="" formControlName="InheritanceRepresentative"
                (ngModelChange)="onInheritanceRepresentativeChanged()">
                <mat-option *ngFor="let type of inheritenceRepresentative | async" [value]="type">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.fullNameEn : type.fullNameAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="StakeHolderForm" [fieldName]="'InheritanceRepresentative'"></kt-error>
          </div>
          <div class="col-md-6"
            *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.InehritanceRepresentative)">
            <div class="formTableButton">
              <button class="btn btn-danger btn-sm" aria-label="Close" mat-dialog-close
                (click)="open(addStakeHoldersPopup)">
                Add Inheritance Representative
              </button></div>
          </div>

          <div class="col-md-6" *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.Individual)">
            <mat-form-field appearance="outline">
              <mat-label>Select your individuals</mat-label>
              <mat-select placeholder="" formControlName="individualEntities"
                (ngModelChange)="onIndividualEntitiesChanged()">
                <mat-option *ngFor="let type of individuals | async" [value]="type">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.fullNameEn : type.fullNameAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="StakeHolderForm" [fieldName]="'individualEntities'"></kt-error>
          </div>
          <div class="col-md-4" *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.Individual)">
            <div class="formTableButton">
              <button class="btn btn-danger btn-sm" aria-label="Close" mat-dialog-close
                (click)="open(addStakeHoldersPopup)">
                <!--
                  [routerLink]="['/pages/business-licensing/add-stakeholders']"
                  -->
                Add Individual
              </button></div>

          </div>
          <div class="col-md-6" *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.Individual)">
            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <input disabled class="tda-form-control kt-font-brand" matInput type="text" placeholder="Type"
                [value]="userDetail?.isRegistered == true ? 'Registered' : 'Not Registered' " />
            </mat-form-field>
          </div>
          <div class="col-md-6" *ngIf="(this.StakeHolderForm.value.type.id == stakeholderEnum.Individual)">&nbsp;</div>


          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID </mat-label>
              <input disabled class="tda-form-control" matInput type="text"
                [value]="userDetail?.userAttributes.citizenId" [textMask]="{mask: emiratesIDMask}"
                placeholder="000-0000-0000000-0" />
            </mat-form-field>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID Expiry Date</mat-label>
              <input disabled class="tda-form-control" matInput [matDatepicker]="emiexpiryDate2"
                [value]="userDetail?.userAttributes.emiratesIdexpiry" placeholder="Emirates ID Expiry Date"
                (click)="emiexpiryDate2.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="emiexpiryDate2"></mat-datepicker-toggle>
              <mat-datepicker #emiexpiryDate2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" [value]="userDetail?.userAttributes.nameAr"
                matInput type="text" placeholder="Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Father Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput
                [value]="userDetail?.userAttributes.fatherNameAr" type="text" placeholder="Father Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Grandfather Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                [value]="userDetail?.userAttributes.grandFatherNameAr" placeholder="Grandfather Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Family Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                [value]="userDetail?.userAttributes.familyNameAr" placeholder="Family Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Full name En</mat-label>
              <input disabled class="tda-form-control englishTextBox" matInput type="text"
                [value]="userDetail?.fullNameEn" placeholder="Full name En" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input disabled class="tda-form-control" matInput type="text" [value]="userDetail?.mobileNo"
                placeholder="00971xxxxxxx" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input disabled class="tda-form-control" matInput type="email" [value]="userDetail?.userEmail"
                placeholder="Email" autocomplete="off" />
            </mat-form-field>
            <!-- <kt-error [formName]="externalUserIndivisual" [fieldName]="'email'"></kt-error> -->
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select disabled placeholder="" [value]="userDetail?.userAttributes.nationalityCode">
                <mat-option *ngFor="let type of nationalities | async" [value]="type.id">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport No.</mat-label>
              <input disabled class="tda-form-control" matInput [value]="userDetail?.userAttributes.passportNo"
                placeholder="Passport no without dashes" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport Expiry Date</mat-label>
              <input disabled matInput [matDatepicker]="pedco2" [value]="userDetail?.userAttributes.passportExpiryAt"
                placeholder="Passport Expiry Date" (click)="pedco2.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="pedco2"></mat-datepicker-toggle>
              <mat-datepicker #pedco2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Share</mat-label>
            <input class="tda-form-control" matInput type="number" formControlName="shares" placeholder="shares" />
          </mat-form-field>
          <kt-error [formName]="StakeHolderForm" [fieldName]="'shares'"></kt-error>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Relationship Type</mat-label>
            <mat-select placeholder="" formControlName="ddlStakeHolderRelationshipType">
              <mat-option *ngFor="let type of stakeholderRelationship | async" [value]="type">
                {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <kt-error [formName]="StakeHolderForm" [fieldName]="'ddlStakeHolderRelationshipType'"></kt-error>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="display: block;">
      <div class="row">
        <div class="col-md-12 text-center">

          <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
          <button aria-label="Close" type="button" (click)="addstakeholder('saveandclose')" (click)="modal.dismiss('Cross click')"
            class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">Save & Close</button>
          <button (click)="addstakeholder('addmore')" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
            Add More
          </button>

        </div>
      </div>
    </div>
  </div>
</ng-template>




<!--begin::Modal Popup for View Access Rights-->
<ng-template #addStakeHoldersPopup let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>Are you sure you want to leave this page?</p>
      <p>Your data will be saved as draft.</p>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button aria-label="Close" (click)="modal.dismiss('Cross click')"
          class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">No</button>
        <!-- <button [routerLink]="['/pages/stakeholders/add-stakeholders-individual']"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10" aria-label="Close"
          (click)="(modal.dismiss('Cross click')) + '' + (closeAllMatDialog())">
          Yes
      </button> -->

      </div>
    </div>
  </div>
</ng-template>