<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        View Modified BN
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="kt-section__content notes">
        <div class="row">
          <div class="col-md-12">
            <br>
            <button (click)="openDialog('viewBNInfo')" class="btn btn-primary btn-sm"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': bnInfoloading}">
              View Submitted Request
            </button>
            &nbsp;
            <button (click)="openViewActions()" class="btn btn-primary btn-sm">View Actions</button>
            <br>
          </div>
        </div>
        <br><br>
        <!--:: begin Application Info-->
        <div class="row applicationRefInfo">
          <div class="col-md-4">
            <p><strong>BN: <span class="kt-font-danger kt-font-lg">BN-11</span></strong></p>
          </div>
          <div class="col-md-4 text-center">
            <p><strong>BN Name Ar: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
          </div>
          <div class="col-md-4 text-right">
            <p><strong>BN Name En: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
          </div>
        </div>
        <!--:: end Application Info-->

        <!--begin::Divider-->
        <div class="kt-login__divider">
          <div class="kt-divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <br>
        <!--end::Divider-->
        <!--:: begin Notes-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <!--::begin Notes Accordion-->
            <kt-notes-history-modal></kt-notes-history-modal>
            <!--::end Notes Accordion-->
          </div>
        </div>
        <!--:: end Notes-->

        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <!--begin:: Accordian-->
            <mat-accordion>
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Application Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Application Info-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="wizardBorder">
                      <p><strong>
                          Previous Application Info
                        </strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>BN Type</mat-label>
                            <mat-select placeholder="">
                              <mat-option value="option">1</mat-option>
                              <mat-option value="option">2</mat-option>
                              <mat-option value="option">3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Legal Type</mat-label>
                            <mat-select placeholder="">
                              <mat-option value="option">1</mat-option>
                              <mat-option value="option">2</mat-option>
                              <mat-option value="option">3</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>
                          Modified Application Info
                        </strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <mat-form-field appearance="outline">
                                  <mat-label>BN Type</mat-label>
                                  <mat-select placeholder="">
                                    <mat-option value="option">1</mat-option>
                                    <mat-option value="option">2</mat-option>
                                    <mat-option value="option">3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                            </tr>

                          </table>
                        </div>



                        <div class="col-md-6">
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <mat-form-field appearance="outline">
                                  <mat-label>Legal Type</mat-label>
                                  <mat-select placeholder="">
                                    <mat-option value="option">1</mat-option>
                                    <mat-option value="option">2</mat-option>
                                    <mat-option value="option">3</mat-option>
                                  </mat-select>
                                </mat-form-field>
                              </td>
                            </tr>

                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Business Activity
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <!--Business Activity-->
                <div class="row">
                  <div class="col-md-12">
                    <!--Material DataTable Section-->
                    <div class="kt-section">
                      <div class="example-header">
                        <div class="row">
                          <div class="col-md-9">

                          </div>

                          <div class="col-md-3 text-right">
                            <mat-form-field>
                              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                                placeholder="Search">
                            </mat-form-field>
                          </div>
                        </div>

                      </div>
                      <!--begin: Datatable -->
                      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">


                          <ng-container matColumnDef="isic4">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> ISIC4</mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="arDescription">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.arDescription}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="enDescription">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.enDescription}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="activityGroup">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.activityGroup}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="editView">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <strong
                                [ngClass]=" (row.editView =='Deleted' ? 'kt-font-danger' : '') + '' + (row.editView =='Added' ? 'kt-font-success' : '') ">
                                <span>{{row. editView}}</span>
                              </strong>
                              &nbsp;&nbsp;
                              <mat-checkbox class="blsCheckbox" [color]="'primary'"> </mat-checkbox>

                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
                        </mat-table>
                        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                    </div>
                    <!--end: Datatable -->


                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Business Names
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <!--Business Name-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="wizardBorder">
                      <p><strong>
                          Previous Business Name
                        </strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>BN 1 Arabic</mat-label>
                            <input class="tda-form-control arabicTextBox" matInput type="text"
                              placeholder="BN 1 Arabic" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>BN 1 English</mat-label>
                            <input class="tda-form-control englishTextBox" matInput type="text"
                              placeholder="BN 1 English" />
                          </mat-form-field>
                        </div>


                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>BN 2 Arabic</mat-label>
                            <input class="tda-form-control arabicTextBox" matInput type="text"
                              placeholder="BN 2 Arabic" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>BN 2 English</mat-label>
                            <input class="tda-form-control englishTextBox" matInput type="text"
                              placeholder="BN 2 English" />
                          </mat-form-field>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>
                          Modified Business Name
                        </strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <div class="row">
                        <div class="col-md-6">
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <mat-form-field appearance="outline">
                                  <mat-label>BN 1 Arabic</mat-label>
                                  <input class="tda-form-control arabicTextBox" matInput type="text"
                                    placeholder="BN 1 Arabic" />
                                </mat-form-field>
                              </td>
                            </tr>

                          </table>
                        </div>
                        <div class="col-md-6">
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <mat-form-field appearance="outline">
                                  <mat-label>BN 1 English</mat-label>
                                  <input class="tda-form-control englishTextBox" matInput type="text"
                                    placeholder="BN 1 English" />
                                </mat-form-field>
                              </td>
                            </tr>

                          </table>
                        </div>
                        <div class="col-md-6">
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <mat-form-field appearance="outline">
                                  <mat-label>BN 2 Arabic</mat-label>
                                  <input class="tda-form-control arabicTextBox" matInput type="text"
                                    placeholder="BN 2 Arabic" />
                                </mat-form-field>
                              </td>
                            </tr>

                          </table>
                        </div>
                        <div class="col-md-6">
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <mat-form-field appearance="outline">
                                  <mat-label>BN 2 English</mat-label>
                                  <input class="tda-form-control englishTextBox" matInput type="text"
                                    placeholder="BN 2 English" />
                                </mat-form-field>
                              </td>
                            </tr>

                          </table>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Stakeholders Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Stakeholders Info-->
                <div class="row">
                  <div class="col-md-12">
                    <!--Material DataTable Section-->
                    <div class="kt-section">
                      <div class="example-header">
                        <div class="row">
                          <div class="col-md-9">

                          </div>

                          <div class="col-md-3 text-right">
                            <mat-form-field>
                              <input class="tda-form-control" matInput
                                (keyup)="stakeHoldersapplyFilter7($event.target.value)" placeholder="Search">
                            </mat-form-field>
                          </div>
                        </div>

                      </div>
                      <!--begin: Datatable -->
                      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                        <mat-table matSort [dataSource]="stakeHoldersdataSource7" class="tdaMetronicBorderedTable">


                          <ng-container matColumnDef="orderNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Order No </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.orderNo}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="relationship">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.relationship}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="nameAr">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name Ar </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="nameEn">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="share">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Share % </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.share}} </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="registered">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.registered}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="editView">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">

                              <strong
                                [ngClass]=" (row.editView =='Deleted' ? 'kt-font-danger' : '') + '' + (row.editView =='Added' ? 'kt-font-success' : '') ">
                                <span>{{row. editView}}</span>
                              </strong>
                              &nbsp;&nbsp;
                              <span matTooltip="View" [matTooltipPosition]="position.value"
                                class="kt-font-success cursor"> <i class="flaticon-eye view"></i></span>
                              &nbsp;&nbsp;
                              <mat-checkbox class="blsCheckbox" [color]="'primary'"> </mat-checkbox>
                            </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="stakeHoldersdisplayedColumns7"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: stakeHoldersdisplayedColumns7;"></mat-row>
                        </mat-table>
                        <mat-paginator #stakeHoldersmatPaginator7 [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                      </div>
                    </div>
                    <!--end: Datatable -->
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Attachments
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <!--Attachments-->
                <div class="row">

                  <div class="col-md-6 ">
                    <div class="wizardBorder">
                      <p><strong>Previous Attachment</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <table class="reviewAttachments">
                        <tr>

                          <td>
                            <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                          </td>
                        </tr>
                        <tr>

                          <td> Passport Copy</td>
                        </tr>
                        <tr>

                          <td> Resident Visa Copy</td>
                        </tr>
                        <tr>

                          <td> GCC ID Copy</td>
                        </tr>
                        <tr>

                          <td>Business License Copy</td>
                        </tr>
                        <tr>

                          <td> Emirates</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="wizardBorder">
                      <p><strong>Modified Attachment</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <table class="reviewAttachments">
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>

                          </td>
                          <td>
                            <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> Passport Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> Resident Visa Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> GCC ID Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td>Business License Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> Emirates</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!--end:: Accordian-->
          </div>
        </div>

        <!--:: begin Footer-->
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="wizardBorder actionButtons">
              <p><strong>Internal Action</strong></p>
              <!--begin::Divider-->
              <div class="kt-login__divider">
                <div class="kt-divider">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!--end::Divider-->
              <br>
              <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="wizardBorder actionButtons">
              <p><strong>Customer Action</strong></p>
              <!--begin::Divider-->
              <div class="kt-login__divider">
                <div class="kt-divider">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!--end::Divider-->
              <br>
              <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="wizardBorder actionButtons">
              <p><strong>Proceed Request</strong></p>
              <!--begin::Divider-->
              <div class="kt-login__divider">
                <div class="kt-divider">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!--end::Divider-->
              <br>
              <button [routerLink]="['/pages/business-license/business-names/manage-business-names']"
                class="btn btn-success btn-sm">Payment is due</button>
              <br>
              <button [routerLink]="['/pages/business-license/business-names/manage-business-names']"
                class="btn btn-danger btn-sm">Back</button>
            </div>
          </div>
        </div>
        <!--:: end Footer-->
      </div>
    </div>

  </div>



  <!--begin::Modal Show Certificate-->
  <ng-template #showAttachments let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="../../../../../assets/media/emirates-id-card-f.jpg" alt="Show Attachments">
      </div>
    </div>
  </ng-template>