<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-user"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.TITLE.MRD' | translate}}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header tda-modal-body">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/admin/add-role']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'roles', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable roles-definitions">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter" [hiddenColumns]="[4,5]">
          <!-- Role Name AR -->
          <ng-container matColumnDef="nameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameAr' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
          </ng-container>
          <!-- Role Name EN -->
          <ng-container matColumnDef="nameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameEn' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
          </ng-container>
          <!-- Remarks-->
          <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.REMARKS' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.remarks}} </mat-cell>
          </ng-container>
          <!--Type -->
          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.TYPE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">
                {{ this.translationService.getSelectedLanguage() =="en" ? row.typeNameEn: row.typeNameAr}}
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="linkedUser">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERALWORDS.LINKEDUSER' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button type="button" class="btn btn-bold btn-label-brand btn-sm"
                [disabled]="row.roleId==this.CommonEnum.superUserRoleID"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': row.linkUserLoading}"
                (click)="openLinkedRoleUsersDialog(row)">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="accessRights">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ACCESSRIGHTS' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button type="button" class="btn btn-sm btn-danger btn-sm"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': row.treeLoading}"
                (click)="openAccessRightTree(modapPopupStep3, row)">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" [checked]="row.isActive" (change)="isActiveRole(row.roleId)"
                    [disabled]="row.roleId==this.CommonEnum.superUserRoleID">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>
<!--begin::Modal Popup for View Access Rights-->
<ng-template #modapPopupStep3 let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{ 'PAGESMODULE.ROLEDEFINATIONS.VAR' | translate }} ::
        {{ this.translationService.getSelectedLanguage() =="en" ? this.roleName.nameEn: this.roleName.nameAr}}</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="">
        <div class="tdaTreeView">
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
                (change)="todoLeafItemSelectionToggle(node)">
                <mat-icon class="mat-icon-rtl-mirror">
                  folder
                </mat-icon>
                {{  this.translationService.getSelectedLanguage() =="en" ? node.itemEn : node.itemAr}}
              </mat-checkbox>
            </mat-tree-node>
            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
                </mat-icon>
              </button>
              <mat-checkbox [checked]="descendantsAllSelected(node)"
                [indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
                <mat-icon class="mat-icon-rtl-mirror rootIcon">
                  {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
                </mat-icon>
                {{  this.translationService.getSelectedLanguage() =="en" ? node.itemEn : node.itemAr}}
              </mat-checkbox>
            </mat-tree-node>
          </mat-tree>
        </div>
        <div class="modal-footer" style="display: block;">
          <div class="row">
            <div class="col-md-12 text-center">
              <button
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': rolePersmissionLoader}"
                id="kt_login_signin_submit" (click)="saveRolePermission()"
                class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">{{ 'GENERALWORDS.SAVE' | translate }}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>