.messageScreen {
  max-width: 1000px;
}
.notActiveID {
  display: none;
}
.activeID {
  display: block;
}
mat-form-field {
  width: 100%;
}
.radioButtonGroup {
  width: 100%;
  tr {
    td {
      text-align: center;
      display: block;
      float: left;
      padding: 0 5px;
      div {
        width: 100%;
        word-break: break-all;
      }
    }
  }
}
::ng-deep .mat-horizontal-stepper-header {
  &[ng-reflect-selected="true"].mat-step-header {
    background-color: rgba(0, 0, 0, 0.12) !important;
    &::after,
    &::before {
      visibility: hidden !important;
    }
  }
  &[ng-reflect-selected="false"].mat-step-header {
    background-color: #fff !important;
  }
}

//input outline color
::ng-deep .successValid.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0abb87 !important;
  border-color: #0abb87;
  background-image: url("../../../assets/media/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.325rem);
  background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}
// mat-label normal state style
::ng-deep .successValid .mat-form-field-label {
  color: #0abb87 !important;
  // color: $mainColor!important;
}

//input outline color
::ng-deep .successInValid.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ff0000 !important;
}
// mat-label normal state style
::ng-deep .successInValid .mat-form-field-label {
  color: #ff0000 !important;
  // color: $mainColor!important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}
.customAttachment {
  table {
    width: 100%;
    tr {
      td {
        width: 50%;
        padding: 10px;
        display: block;
        float: left;
        &:nth-child(2n+1){
          clear: left;
        }
        .custom-file-label {
          &::after {
            background: #e9921b;
            color: #fff;
          }
        }
      }
    }
  }
  .attachmentsThumbnail {
    text-align: center;
    position: relative;
    img {
      max-width: 350px;
      max-height: 220px;
      width: 100%;
      margin: 0px auto 10px;
      border-radius: 8px;
      border: 1px solid #e2e5ec;
    }
    .successTick {
      position: absolute;
      top: -20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      right: 10px;
      z-index: 5;
      background: rgba(255, 255, 255, 0.9);
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      img {
        border: 0;
        margin: 0;
        width: 60%;
      }
    }
  }
}
table.genderTable {
  width: 150px;
  tr {
    td {
      padding: 5px 0;
    }
  }
}
@media (max-width: 767px) {
  table.genderTable {
    margin: 0 auto;
  }
}
// .customAttachment {
// 	.customAttImg {
// 		position: relative;
// 		.custom-file {
// 			bottom: 20px;
// 			position: absolute;
// 			.custom-file-label {
// 				border: 0;
// 				border-radius: 0;
// 				background: none;
// 				left: auto;
// 				&::after {
// 					font-family: "Font Awesome 5 Free";
// 					content: "\f743";
// 					border-radius: 0;
// 				}
// 				&::before {
// 					font-family: "Font Awesome 5 Free";
// 					content: "\f743";
// 					border-radius: 0;
// 				}
// 			}
// 		}
// 		.attachmentsThumbnail {
// 			text-align: center;
// 			img {
// 				max-width: 200px;
// 				width: 100%;
// 				margin: 10px auto 20px;
// 			}
// 		}
// 	}
// }