.messageScreen {
  max-width: 1000px;
}

.notActiveID {
  display: none;
}

.activeID {
  display: block;
}

mat-form-field {
  width: 100%;
}

::ng-deep .mat-horizontal-stepper-header[ng-reflect-selected="true"].mat-step-header {
  background-color: rgba(0, 0, 0, 0.12) !important;
}

::ng-deep .mat-horizontal-stepper-header[ng-reflect-selected="true"].mat-step-header::after, ::ng-deep .mat-horizontal-stepper-header[ng-reflect-selected="true"].mat-step-header::before {
  visibility: hidden !important;
}

::ng-deep .mat-horizontal-stepper-header[ng-reflect-selected="false"].mat-step-header {
  background-color: #fff !important;
}

::ng-deep .successValid.ng-valid .mat-form-field-outline {
  color: #0abb87 !important;
  border-color: #0abb87;
  background-image: url("../../../assets/media/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.325rem);
  background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}

::ng-deep .successValid.ng-valid .mat-form-field-label {
  color: #0abb87 !important;
}

::ng-deep .successValid.ng-invalid .mat-form-field-outline {
  color: #ff0000 !important;
}

::ng-deep .successValid.ng-invalid .mat-form-field-label {
  color: #ff0000 !important;
}

::ng-deep .successValid .mat-form-field-infix {
  padding-right: 25px !important;
}

.mat-horizontal-content-container {
  padding: 0 !important;
}

::ng-deep .readonly {
  pointer-events: none;
  cursor: not-allowed;
}
/*# sourceMappingURL=register.component.css.map */