<!--begin::Modal Popup for View Button (Linked User)-->
<div class="modal-content tda-modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">{{ 'GENERALWORDS.VisitedPages' | translate }}</h4>
    <button aria-label="Close" class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>

  </div>
  <div class="modal-body tda-modal-body">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-default btn-sm  mb-4"
          (click)="exporter.exportTable('xlsx',{fileName:'Visited Pages', Props: {Author: 'BLS system'}})">
          {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
        </button>
      </div>
      <div class="col-md-6 text-right">
        <mat-form-field>
          <mat-label>
            {{'GENERALWORDS.SEARCH' | translate }}
          </mat-label>
          <input class="tda-form-control" matInput (keyup)="applyFilterstepTwo($event.target.value)"
            placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
        </mat-form-field>
      </div>
    </div>
    <!--begin: Datatable  -->
    <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
      <mat-table matSort [dataSource]="stepTwo" class="tdaMetronicBorderedTable" matTableExporter #exporter="matTableExporter">
        <ng-container matColumnDef="pageName">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGESMODULE.LOGINLOGUTHISTORY.PageName' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ this.translationService.getSelectedLanguage() =="en" ? row.nameEn: row.nameAr}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.VisitTime' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{ row.dateTime |  date:'d/M/yyyy, h:mm a'}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsstepTwo"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsstepTwo;"></mat-row>
      </mat-table>
      <mat-paginator class="tdaMobilePaginator" #matPaginatorstepTwo [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

    <!--end: Datatable -->
  </div>
</div>