table {
  width: 100%;
  tr {
    td{
      min-height: 25px;
      .btn {
        padding: 2px 11px;
    }
    }
  }
}

table.grid {
  tr {
    td,
    th {
      &:nth-child(3),
      &:nth-child(1) {
        text-align: center;
      }
    }
  }
}
table.allowedExtension {
  tr {
    td,
    th {
      &:nth-child(2) {
        text-align: center;
      }
    }
  }
}
