<!-- <form class="tda-form"> -->
<div class="tda-form">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">

    <!--begin::Portlet-->
    <div class="kt-portlet">
      <div class="kt-portlet__head kt-portlet__head--lg">
        <div class="kt-portlet__head-label">
          <span class="kt-portlet__head-icon">
            <i class="kt-font-brand flaticon-diagram"></i>
          </span>
          <h3 class="kt-portlet__head-title">
            {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.BJP' | translate }}
            <!-- Business License Parameters -->
          </h3>
        </div>
      </div>
      <!--begin::Form-->
      <div class="kt-portlet__body">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.SELECTPARAMETERS' | translate }}
              </mat-label>
              <mat-select [(ngModel)]="parameterCondition"
                (ngModelChange)="GetBusinessLicenseParameters(parameterCondition)">
                <mat-option *ngFor="let type of parameterConditionDDL | async" [value]="type.id">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn: type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>

          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6">
            <strong
              *ngIf="((parameterCondition == this.businessLicenseParameterEnum.BusinessNames) || (parameterCondition == this.businessLicenseParameterEnum.BusinessLicense))">
              {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.PPEE' | translate }}
            </strong>
            <strong *ngIf="(parameterCondition == this.businessLicenseParameterEnum.InitialApprovals)">
              {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.PER' | translate }}

              <br>
              <small>
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.DAYS' | translate }}
              </small>
            </strong>
            <!--Add Text field-->
            <form class="tda-form" [formGroup]="PeriodPerEachExtensionFormGroup"
              (ngSubmit)="submitPeriodPerEachExtension()" autocomplete="off">
              <table>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>
                        {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.PPER' | translate }}
                      </mat-label>
                      <input matInput formControlName="PPEEperiodBLP"
                        placeholder="{{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.PPER' | translate }}" type="number">
                    </mat-form-field>
                    <kt-error [formName]="PeriodPerEachExtensionFormGroup" [fieldName]="'PPEEperiodBLP'"></kt-error>
                  </td>
                  <td> <button type="submit" class="btn btn-sm btn-success kt-margin-l-10">
                      {{ 'GENERALWORDS.ADD' | translate }}</button></td>
                </tr>
              </table>
            </form>
            <!--Add Grid-->
            <table class="table table-bordered grid">
              <thead>
                <tr>
                  <td>
                    {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.NO' | translate }}
                  </td>
                  <td>
                    {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.EXT' | translate }}
                  </td>
                  <td>
                    {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACT' | translate }}
                  </td>
                </tr>
              </thead>
              <tr *ngFor="let extensionDays of ExtensionInDaysArray; index as i;">
                <td>{{i+1}}</td>
                <td>{{extensionDays.value}}</td>
                <td><button type="button" (click)="removePeriodPerEachExtension(i)"
                    class="btn btn-sm btn-danger">x</button></td>
              </tr>
            </table>
          </div>
          <div class="col-md-6">
            <strong
              *ngIf="((parameterCondition == this.businessLicenseParameterEnum.BusinessNames) || (parameterCondition == this.businessLicenseParameterEnum.BusinessLicense))">
              {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.IP' | translate }}
            </strong>
            <strong
              *ngIf="(parameterCondition == this.businessLicenseParameterEnum.InitialApprovals)">{{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.IP' | translate }}
              <br><small>
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.DAYS' | translate }}</small>
            </strong>
            <!--Add Text field-->
            <form class="tda-form" [formGroup]="IssuancePeriodFormGroup" (ngSubmit)="submitIssuancePeriod()"
              autocomplete="off">
              <table>
                <tr>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>
                        {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.IP' | translate }}
                      </mat-label>
                      <input formControlName="IssuancePeriodBLP" matInput
                        placeholder="{{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.IP' | translate }}" type="number">
                    </mat-form-field>
                    <kt-error [formName]="IssuancePeriodFormGroup" [fieldName]="'IssuancePeriodBLP'"></kt-error>
                  </td>
                  <td> <button type="submit"
                      class="btn btn-sm btn-success kt-margin-l-10">{{ 'GENERALWORDS.ADD' | translate }}</button></td>
                </tr>
              </table>
            </form>
            <!--Add Grid-->
            <table class="table table-bordered grid">
              <thead>
                <tr>
                  <td>
                    {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.NO' | translate }}
                  </td>
                  <td>
                    {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.IP' | translate }}</td>
                  <td>
                    {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACT' | translate }}
                  </td>
                </tr>
              </thead>
              <tr *ngFor="let periodDays of PeriodInDays; index as i;">
                <td>{{i +1}}</td>
                <td>{{periodDays.value}}</td>
                <td>
                  <button type="button" (click)="removeIssuancePeriod(i)" class="btn btn-sm btn-danger">x</button>
                </td>
              </tr>
            </table>
          </div>
          <form class="tda-form" [formGroup]="extensionFormGroup" (ngSubmit)="submitExtensions()" autocomplete="off">
            <div class="col-md-6">
              <strong
                *ngIf="(parameterCondition == this.businessLicenseParameterEnum.BusinessNames) || (parameterCondition == this.businessLicenseParameterEnum.BusinessLicense)">
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.NOAE' | translate }}

                <small *ngIf="parameterCondition == this.businessLicenseParameterEnum.BusinessNames">
                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.IABLWITHOUT' | translate }}
                </small>
                <small *ngIf="parameterCondition == this.businessLicenseParameterEnum.BusinessLicense">

                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.BLWITHOUT' | translate }}
                </small>
              </strong>
              <strong *ngIf="parameterCondition == this.businessLicenseParameterEnum.InitialApprovals">
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.GRADEPERIOID' | translate }}

                <br><small>
                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.BJP' | translate }}
                </small>
              </strong>

              <mat-form-field appearance="outline">
                <mat-label
                  *ngIf="(parameterCondition == this.businessLicenseParameterEnum.BusinessNames) || (parameterCondition == this.businessLicenseParameterEnum.BusinessLicense)">

                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ALLOWEDPERIOD' | translate }}

                </mat-label>
                <mat-label *ngIf="parameterCondition == this.businessLicenseParameterEnum.InitialApprovals">

                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.GRADEPERIOID' | translate }}
                </mat-label>
                <input matInput formControlName="allowedExtension"
                  [placeholder]=""
                  type="number">
                  <!-- parameterCondition == this.businessLicenseParameterEnum.InitialApprovals ? '{{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.GRADEPERIOID' | translate }}' : '{{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ALLOWEDPERIOD' | translate }}' -->
              </mat-form-field>
              <kt-error [formName]="extensionFormGroup" [fieldName]="'allowedExtension'"></kt-error>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <strong>
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.AUTOCANCELATION' | translate }}

              </strong>
              <mat-form-field appearance="outline">
                <mat-label>
                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACP' | translate }}
                </mat-label>
                <input matInput formControlName="autoCancellationPeriodReturned"
                  placeholder=" {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACP' | translate }}" type="number">
              </mat-form-field>
              <kt-error [formName]="extensionFormGroup" [fieldName]="'autoCancellationPeriodReturned'"></kt-error>
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-6">
              <strong>
                {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACPD' | translate }}
              </strong>
              <mat-form-field appearance="outline">
                <mat-label>
                  {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACT' | translate }}
                </mat-label>
                <input matInput formControlName="autoCancellationPeriodPayments"
                  placeholder=" {{ 'PAGESMODULE.BUSINESSLICENSEPARAMETERS.ACP' | translate }}" type="number">
              </mat-form-field>
              <kt-error [formName]="extensionFormGroup" [fieldName]="'autoCancellationPeriodPayments'"></kt-error>
            </div>

            <div class="col-md-12 text-center">
              <div class="kt-portlet__foot">
                <div class="kt-form__actions">
                  <button
                    class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                  <button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                    {{ 'GENERALWORDS.SUBMIT' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <!--end::Form-->
    </div>
    <!--end::Portlet-->

  </div>
</div>

<!-- </form> -->