<div class="kt-portlet kt-portlet--mobile loginLogoutHistory">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-line-chart"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				{{'PAGESMODULE.LOGINLOGUTHISTORY.Title' | translate}}
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body">
		<mat-tab-group (selectedTabChange)="tabChange($event.index)">
			<mat-tab label="{{'PAGESMODULE.LOGINLOGUTHISTORY.TDAStaff' | translate}}">
				<!--begin: TDA Staff -->
				<form class="tda-form" [formGroup]="TDAStaffLoginLogoutHistory" (ngSubmit)="TDAStaffLoginLogoutHistorySubmit()"
					autocomplete="off">
					<div class="row">
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.EmployeeName' | translate}}
								</mat-label>
								<input matInput type="text" placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.EmployeeName' | translate}}"
									formControlName="employeeName">
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'employeeName'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{ 'GENERALWORDS.USERNAME' | translate }}</mat-label>
								<input matInput type="text" placeholder="{{ 'GENERALWORDS.USERNAME' | translate }}"
									formControlName="username">
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'username'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>
									{{ 'GENERALWORDS.MOBILE' | translate }}
								</mat-label>
								<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
									[textMask]="{mask: mobileNoMask}" autocomplete="off" formControlName="mobileNo" />
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'mobileNo'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline" (click)="openAccessRightTree(modapPopupStep3)">
								<mat-label>
									{{'PAGESMODULE.LOGINLOGUTHISTORY.PageName' | translate}}
								</mat-label>
								<mat-select multiple *ngIf="pageNames" readonly class="AccessRightTree" formControlName="pageNo">
									<mat-option *ngFor="let type of pageNames" [value]="type.value">
										{{ this.translationService.getSelectedLanguage() =="en" ? type.itemEn: type.itemAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.SessionType' | translate}}</mat-label>
								<mat-select multiple formControlName="sessionType">
									<mat-option *ngFor="let sessionType of typeSession | async" [value]="sessionType.id">
										{{ this.translationService.getSelectedLanguage() =="en" ? sessionType.valueEn : sessionType.valueAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'sessionType'"></kt-error>
						</div>
						<div class="col-md-3 onBehalfCheckbox">
							<mat-checkbox [color]="'primary'" formControlName="onBehalfUsername">
								{{'PAGESMODULE.LOGINLOGUTHISTORY.OnBehalfLogin' | translate}}
							</mat-checkbox>
						</div>
						<div class="col-md-3" *ngIf='this.TDAStaffLoginLogoutHistory.value.onBehalfUsername'>
							<mat-form-field appearance="outline">
								<mat-label>

									{{'PAGESMODULE.LOGINLOGUTHISTORY.CustomerMobileNo' | translate}}</mat-label>
								<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
									[textMask]="{mask: mobileNoMask}" autocomplete="off" formControlName="customerMobileNo" />

								<!-- <input matInput type="text" placeholder="00971xxxxxxx" formControlName="customerMobileNo"> -->
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'customerMobileNo'"></kt-error>
						</div>
						<div class="col-md-3" *ngIf='this.TDAStaffLoginLogoutHistory.value.onBehalfUsername'>
							<mat-form-field appearance="outline">
								<mat-label>
									{{'PAGESMODULE.LOGINLOGUTHISTORY.BeneficiaryType' | translate}}
								</mat-label>
								<mat-select multiple formControlName="beneficiaryType">
									<mat-option *ngFor="let BNType of typeBN | async" [value]="BNType.id">
										{{ this.translationService.getSelectedLanguage() =="en" ? BNType.valueEn : BNType.valueAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'beneficiaryType'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>
									{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}</mat-label>
								<input matInput [matDatepicker]="dateFrom"
									placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}" (click)="dateFrom.open()"
									readonly formControlName="fromDate">
								<mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
								<mat-datepicker #dateFrom></mat-datepicker>
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'fromDate'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>
									{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}</mat-label>
								<input matInput [matDatepicker]="dateTo"
									placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}" (click)="dateTo.open()" readonly
									formControlName="toDate">
								<mat-datepicker-toggle matSuffix [for]="dateTo"></mat-datepicker-toggle>
								<mat-datepicker #dateTo></mat-datepicker>
							</mat-form-field>
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'toDate'"></kt-error>
						</div>
						<div class="col-md-3">
							<label class="igxLabel">
								{{'PAGESMODULE.LOGINLOGUTHISTORY.Timefrom' | translate}}</label>
							<igx-time-picker #timeFrom1 format="HH:mm" mode="dropdown" formControlName="fromTime">
								<ng-template igxTimePickerActions>
									<div class="container action-buttons">
										<button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
											igxButton="flat" (click)="timeFrom1.cancelButtonClick()">
											{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
										<button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
											igxButton="flat" (click)="timeFrom1.okButtonClick()">
											{{ 'GENERALWORDS.OK' | translate }}</button>
									</div>
								</ng-template>
							</igx-time-picker>
							<!-- <input [ngxTimepicker]="timeFrom" placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Timefrom' | translate}}" class="timePicker" readonly>
							<ngx-material-timepicker #timeFrom></ngx-material-timepicker> -->
							<!-- <ngx-time-picker [(selectedTime)]="timeFrom" placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Timefrom' | translate}}" readonly class="ngxTimePicker"
								formControlName="fromTime">
							</ngx-time-picker> -->
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'fromTime'"></kt-error>
						</div>
						<div class="col-md-3">
							<label class="igxLabel">
								{{'PAGESMODULE.LOGINLOGUTHISTORY.Timeto' | translate}}</label>
							<igx-time-picker #timeTo1 format="HH:mm" mode="dropdown" formControlName="toTime">
								<ng-template igxTimePickerActions>
									<div class="container action-buttons">
										<button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
											igxButton="flat" (click)="timeTo1.cancelButtonClick()">
											{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
										<button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
											igxButton="flat" (click)="timeTo1.okButtonClick()">
											{{ 'GENERALWORDS.OK' | translate }}</button>
									</div>
								</ng-template>
							</igx-time-picker>
							<!-- <input [ngxTimepicker]="timeTo" placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Timeto' | translate}}" class="timePicker" readonly>
							<ngx-material-timepicker #timeTo></ngx-material-timepicker> -->
							<!-- <ngx-time-picker [(selectedTime)]="timeTo" placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Timeto' | translate}}" readonly class="ngxTimePicker"
								formControlName="toTime">
							</ngx-time-picker> -->
							<kt-error [formName]="TDAStaffLoginLogoutHistory" [fieldName]="'toTime'"></kt-error>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">&nbsp;</div>
						<div class="col-md-3 text-right">
							<div class="form-group"><br>
								<button type="submit" class="btn btn-primary" [disabled]="loading"
									[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
									{{'PAGESMODULE.LOGINLOGUTHISTORY.ApplyFilter' | translate}}
								</button>
							</div>
						</div>
					</div>
				</form>
				<!--begin::Divider-->
				<div class="kt-login__divider">
					<div class="kt-divider">
						<span></span>
						<span></span>
					</div>
				</div>
				<!--end::Divider-->
				<!--begin: Datatable -->
				<div class="row">
					<div class="col-md-9">
					</div>
					<div class="col-md-3 text-right">
						<mat-form-field>
							<mat-label>
								{{'GENERALWORDS.SEARCH' | translate }}
							</mat-label>
							<input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
								placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
						</mat-form-field>
					</div>
				</div>
				<div class="example-container mat-elevation-z8 tdaMetronicTable">
					<mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
						<ng-container matColumnDef="fullNameEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.EmployeeName' | translate}}</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.fullNameEn : row.fullNameAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="usernameEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.USERNAME' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.usernameEn : row.usernameAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="sessionTypeEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header>

								{{'PAGESMODULE.LOGINLOGUTHISTORY.SessionType' | translate}} </mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.sessionTypeEn : row.sessionTypeAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="userTypeEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.UserMobileType' | translate}} </mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.userTypeEn : row.userTypeAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="dateTime">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.DateTime' | translate}}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ row.dateTime | date:'d/M/yyyy, h:mm a'}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="ip">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.DeviceNameIP' | translate}}
							</mat-header-cell>
							<mat-cell *matCellDef="let row"> {{row.ip}} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="sessionHistoryDetail">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.Pages' | translate}}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button type="button" class="btn btn-bold btn-label-brand btn-sm"
									[disabled]="!(row.sessionType== SessionTypeEnum.Login)"
									(click)="openViewedPagesDialog(row.sessionHistoryDetail)">
									{{ 'GENERALWORDS.VIEW' | translate }}
								</button>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
					</mat-table>
					<mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
					<!-- <mat-paginator #matPaginator7 [length]="totalItems" [pageSize]="pagesize" [pageIndex]="pageNumber" (page)="pageEvent = handlePage($event)"  [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator> -->
				</div>
				<!--end: Datatable -->
				<!--end: TDA Staff-->
			</mat-tab>
			<mat-tab label="{{'PAGESMODULE.LOGINLOGUTHISTORY.OnlineUsers' | translate}}">

				<!--begin: Online Users -->
				<form class="tda-form" [formGroup]="onlineUsersLoginLogoutHistory"
					(ngSubmit)="onlineUsersLoginLogoutHistorySubmit()" autocomplete="off">
					<div class="row">
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'GENERALWORDS.UserType' | translate}}</mat-label>
								<mat-select multiple formControlName="userType">
									<mat-option *ngFor="let onlineUser of typeOnlineUser | async" [value]="onlineUser.id">
										{{ this.translationService.getSelectedLanguage() =="en" ? onlineUser.valueEn : onlineUser.valueAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{ 'GENERALWORDS.USERNAME' | translate }}</mat-label>
								<input matInput type="text" placeholder="{{ 'GENERALWORDS.USERNAME' | translate }}"
									formControlName="username">
							</mat-form-field>
							<kt-error [formName]="onlineUsersLoginLogoutHistory" [fieldName]="'username'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-label>
								<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
									[textMask]="{mask: mobileNoMask}" autocomplete="off" formControlName="mobileNo" />
							</mat-form-field>
							<kt-error [formName]="onlineUsersLoginLogoutHistory" [fieldName]="'mobileNo'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline" (click)="openAccessRightTree(modapPopupStep3)">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.PageName' | translate}}</mat-label>
								<mat-select multiple *ngIf="pageNames" readonly class="AccessRightTree" formControlName="pageNo">
									<mat-option *ngFor="let type of pageNames" [value]="type.value">
										{{ this.translationService.getSelectedLanguage() =="en" ? type.itemEn: type.itemAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.SessionType' | translate}}</mat-label>
								<mat-select multiple formControlName="sessionType">
									<mat-option *ngFor="let sessionType of typeSession | async" [value]="sessionType.id">
										{{ this.translationService.getSelectedLanguage() =="en" ? sessionType.valueEn : sessionType.valueAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}</mat-label>
								<input matInput [matDatepicker]="dateFrom2"
									placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}" (click)="dateFrom2.open()"
									readonly formControlName="fromDate">
								<mat-datepicker-toggle matSuffix [for]="dateFrom"></mat-datepicker-toggle>
								<mat-datepicker #dateFrom2></mat-datepicker>
							</mat-form-field>
							<kt-error [formName]="onlineUsersLoginLogoutHistory" [fieldName]="'fromDate'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}</mat-label>
								<input matInput [matDatepicker]="dateTo2"
									placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}" (click)="dateTo2.open()" readonly
									formControlName="toDate">
								<mat-datepicker-toggle matSuffix [for]="dateTo2"></mat-datepicker-toggle>
								<mat-datepicker #dateTo2></mat-datepicker>
							</mat-form-field>
							<kt-error [formName]="onlineUsersLoginLogoutHistory" [fieldName]="'toDate'"></kt-error>
						</div>
						<div class="col-md-3"></div>
						<div class="col-md-3">
							<label class="igxLabel">{{'PAGESMODULE.LOGINLOGUTHISTORY.Timefrom' | translate}}</label>
							<igx-time-picker #timeFrom2 format="HH:mm" mode="dropdown" formControlName="fromTime">
								<ng-template igxTimePickerActions>
									<div class="container action-buttons">
										<button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
											igxButton="flat"
											(click)="timeFrom2.cancelButtonClick()">{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
										<button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
											igxButton="flat" (click)="timeFrom2.okButtonClick()">{{ 'GENERALWORDS.OK' | translate }}</button>
									</div>
								</ng-template>
							</igx-time-picker>
							<kt-error [formName]="onlineUsersLoginLogoutHistory" [fieldName]="'fromTime'"></kt-error>
						</div>
						<div class="col-md-3">
							<label class="igxLabel">{{'PAGESMODULE.LOGINLOGUTHISTORY.Timeto' | translate}}</label>
							<igx-time-picker #timeTo2 format="HH:mm" mode="dropdown" formControlName="toTime">
								<ng-template igxTimePickerActions>
									<div class="container action-buttons">
										<button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
											igxButton="flat"
											(click)="timeTo2.cancelButtonClick()">{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
										<button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
											igxButton="flat" (click)="timeTo2.okButtonClick()">{{ 'GENERALWORDS.OK' | translate }}</button>
									</div>
								</ng-template>
							</igx-time-picker>
							<kt-error [formName]="onlineUsersLoginLogoutHistory" [fieldName]="'toTime'"></kt-error>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">&nbsp;</div>
						<div class="col-md-3 text-right">
							<div class="form-group"><br>
								<button type="submit" [disabled]="loading"
									[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
									class="btn btn-primary">{{'PAGESMODULE.LOGINLOGUTHISTORY.ApplyFilter' | translate}}</button>
							</div>
						</div>
					</div>
				</form>
				<!--begin: Datatable -->
				<div class="row">
					<div class="col-md-9">
					</div>
					<div class="col-md-3 text-right">
						<mat-form-field>
							<mat-label>
								{{'GENERALWORDS.SEARCH' | translate }}
							</mat-label>
							<input class="tda-form-control" matInput (keyup)="applyFilterOU($event.target.value)"
								placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
						</mat-form-field>
					</div>
				</div>
				<div class="example-container mat-elevation-z8 tdaMetronicTable">
					<mat-table matSort [dataSource]="dataSourceOU" class="tdaMetronicBorderedTable">
						<ng-container matColumnDef="userTypeEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header> User Type</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.userTypeEn : row.userTypeAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="usernameEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.USERNAME' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.usernameEn : row.usernameAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="sessionTypeEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.SessionType' | translate}} </mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.sessionTypeEn : row.sessionTypeAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="dateTime">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.DateTime' | translate}}</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ row.dateTime | date:'d/M/yyyy, h:mm a'}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="sessionHistoryDetail">
							<mat-header-cell *matHeaderCellDef mat-sort-header>{{'PAGESMODULE.LOGINLOGUTHISTORY.Pages' | translate}}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button type="button" class="btn btn-bold btn-label-brand btn-sm"
									[disabled]="!(row.sessionType==SessionTypeEnum.Login)"
									(click)="openViewedPagesDialog(row.sessionHistoryDetail)">
									{{ 'GENERALWORDS.VIEW' | translate }}
								</button>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="displayedColumnsOU"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumnsOU;"></mat-row>
					</mat-table>
					<mat-paginator #matPaginatorOU [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
				</div>
				<!--end: Datatable -->
				<!--end: Online Users -->
			</mat-tab>
			<mat-tab label="{{'PAGESMODULE.MANAGEUSERS.GovernmentEntity' | translate }}">
				<!--begin: Government Entity -->
				<form class="tda-form" [formGroup]="govtEntityLoginLogoutHistory"
					(ngSubmit)="govtEntityLoginLogoutHistorySubmit()" autocomplete="off">
					<div class="row">
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.MANAGEUSERS.GovEntityNameAr' | translate }}</mat-label>
								<mat-select multiple formControlName="govtEntity">
									<mat-option *ngFor="let type of typeGovtEntity" [value]="type.id">
										{{type.valueEn}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{ 'GENERALWORDS.USERNAME' | translate }}</mat-label>
								<input matInput type="text" placeholder="{{ 'GENERALWORDS.USERNAME' | translate }}"
									formControlName="username">
							</mat-form-field>
							<kt-error [formName]="govtEntityLoginLogoutHistory" [fieldName]="'username'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-label>
								<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
									[textMask]="{mask: mobileNoMask}" autocomplete="off" formControlName="mobileNo" />
							</mat-form-field>
							<kt-error [formName]="govtEntityLoginLogoutHistory" [fieldName]="'mobileNo'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline" (click)="openAccessRightTree(modapPopupStep3)">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.PageName' | translate}}</mat-label>
								<mat-select multiple *ngIf="pageNames" readonly class="AccessRightTree" formControlName="pageNo">
									<mat-option *ngFor="let type of pageNames" [value]="type.value">
										{{ this.translationService.getSelectedLanguage() =="en" ? type.itemEn: type.itemAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.SessionType' | translate}}</mat-label>
								<mat-select multiple formControlName="sessionType">
									<mat-option *ngFor="let sessionType of typeSession | async" [value]="sessionType.id">
										{{ this.translationService.getSelectedLanguage() =="en" ? sessionType.valueEn : sessionType.valueAr}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}</mat-label>
								<input matInput [matDatepicker]="dateFrom3"
									placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}" (click)="dateFrom3.open()"
									readonly formControlName="fromDate">
								<mat-datepicker-toggle matSuffix [for]="dateFrom3"></mat-datepicker-toggle>
								<mat-datepicker #dateFrom3></mat-datepicker>
							</mat-form-field>
							<kt-error [formName]="govtEntityLoginLogoutHistory" [fieldName]="'fromDate'"></kt-error>
						</div>
						<div class="col-md-3">
							<mat-form-field appearance="outline">
								<mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}</mat-label>
								<input matInput [matDatepicker]="dateTo3"
									placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}" (click)="dateTo3.open()" readonly
									formControlName="toDate">
								<mat-datepicker-toggle matSuffix [for]="dateTo3"></mat-datepicker-toggle>
								<mat-datepicker #dateTo3></mat-datepicker>
							</mat-form-field>
							<kt-error [formName]="govtEntityLoginLogoutHistory" [fieldName]="'toDate'"></kt-error>
						</div>
						<div class="col-md-3">
						</div>
						<div class="col-md-3">
							<label class="igxLabel">{{'PAGESMODULE.LOGINLOGUTHISTORY.Timefrom' | translate}}</label>
							<igx-time-picker #timeFrom3 format="HH:mm" mode="dropdown" formControlName="fromTime">
								<ng-template igxTimePickerActions>
									<div class="container action-buttons">
										<button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
											igxButton="flat"
											(click)="timeFrom3.cancelButtonClick()">{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
										<button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
											igxButton="flat" (click)="timeFrom3.okButtonClick()">{{ 'GENERALWORDS.OK' | translate }}</button>
									</div>
								</ng-template>
							</igx-time-picker>
							<kt-error [formName]="govtEntityLoginLogoutHistory" [fieldName]="'fromTime'"></kt-error>
						</div>
						<div class="col-md-3">
							<label class="igxLabel">{{'PAGESMODULE.LOGINLOGUTHISTORY.Timeto' | translate}}</label>
							<igx-time-picker #timeTo3 format="HH:mm" mode="dropdown" formControlName="toTime">
								<ng-template igxTimePickerActions>
									<div class="container action-buttons">
										<button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
											type="button" igxButton="flat"
											(click)="timeTo3.cancelButtonClick()">{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
										<button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
											igxButton="flat" (click)="timeTo3.okButtonClick()">{{ 'GENERALWORDS.OK' | translate }}</button>
									</div>
								</ng-template>
							</igx-time-picker>
							<kt-error [formName]="govtEntityLoginLogoutHistory" [fieldName]="'toTime'"></kt-error>
						</div>
					</div>
					<div class="row">
						<div class="col-md-9">&nbsp;</div>
						<div class="col-md-3 text-right">
							<div class="form-group"><br>
								<button type="submit" [disabled]="loading"
									[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
									class="btn btn-primary">{{'PAGESMODULE.LOGINLOGUTHISTORY.ApplyFilter' | translate}}</button>
							</div>
						</div>
					</div>
				</form>
				<!--begin: Datatable -->
				<div class="row">
					<div class="col-md-9">
					</div>
					<div class="col-md-3 text-right">
						<mat-form-field>
							<mat-label>
								{{'GENERALWORDS.SEARCH' | translate }}
							</mat-label>
							<input class="tda-form-control" matInput (keyup)="applyFilterGE($event.target.value)"
								placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
						</mat-form-field>
					</div>
				</div>
				<div class="example-container mat-elevation-z8 tdaMetronicTable">
					<mat-table matSort [dataSource]="dataSourceGE" class="tdaMetronicBorderedTable">
						<ng-container matColumnDef="govtNameEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.MANAGEUSERS.GovernmentEntity' | translate }}</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.govtNameEn : row.govtNameAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="usernameEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.USERNAME' | translate }}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.usernameEn : row.usernameAr}}</mat-cell>
						</ng-container>
						<ng-container matColumnDef="sessionTypeEn">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.SessionType' | translate}} </mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ this.translationService.getSelectedLanguage() =="en" ? row.sessionTypeEn : row.sessionTypeAr}}
							</mat-cell>
						</ng-container>
						<ng-container matColumnDef="dateTime">
							<mat-header-cell *matHeaderCellDef mat-sort-header>
								{{'PAGESMODULE.LOGINLOGUTHISTORY.DateTime' | translate}}</mat-header-cell>
							<mat-cell *matCellDef="let row">
								{{ row.dateTime | date:'d/M/yyyy, h:mm a'}} </mat-cell>
						</ng-container>
						<ng-container matColumnDef="sessionHistoryDetail">
							<mat-header-cell *matHeaderCellDef mat-sort-header>{{'PAGESMODULE.LOGINLOGUTHISTORY.Pages' | translate}}
							</mat-header-cell>
							<mat-cell *matCellDef="let row">
								<button type="button" class="btn btn-bold btn-label-brand btn-sm"
									[disabled]="!(row.sessionType==SessionTypeEnum.Login)"
									(click)="openViewedPagesDialog(row.sessionHistoryDetail)">
									{{ 'GENERALWORDS.VIEW' | translate }}
								</button>
							</mat-cell>
						</ng-container>
						<mat-header-row *matHeaderRowDef="displayedColumnsGE"></mat-header-row>
						<mat-row *matRowDef="let row; columns: displayedColumnsGE;"></mat-row>
					</mat-table>
					<mat-paginator #matPaginatorGE [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
				</div>
				<!--end: Datatable -->
				<!--end: Government Entity -->
			</mat-tab>
		</mat-tab-group>
	</div>
</div>
<!--begin::Modal Popup for View Pages TextBoxes-->
<ng-template #modapPopupStep3 let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">{{ 'PAGESMODULE.ROLEDEFINATIONS.VAR' | translate }} ::
				{{ 'PAGESMODULE.ROLEDEFINATIONS.RoleName' | translate }}</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="">
				<div class="tdaTreeView">
					<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
						<mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
							<button mat-icon-button disabled></button>
							<mat-checkbox class="checklist-leaf-node" [checked]="checklistSelection.isSelected(node)"
								(change)="todoLeafItemSelectionToggle(node)">
								<mat-icon class="mat-icon-rtl-mirror">
									folder
								</mat-icon>
								{{  this.translationService.getSelectedLanguage() =="en" ? node.itemEn : node.itemAr}}
							</mat-checkbox>
						</mat-tree-node>
						<mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
							<button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
								<mat-icon class="mat-icon-rtl-mirror">
									{{treeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
								</mat-icon>
							</button>
							<mat-checkbox [checked]="descendantsAllSelected(node)"
								[indeterminate]="descendantsPartiallySelected(node)" (change)="todoItemSelectionToggle(node)">
								<mat-icon class="mat-icon-rtl-mirror rootIcon">
									{{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
								</mat-icon>
								{{  this.translationService.getSelectedLanguage() =="en" ? node.itemEn : node.itemAr}}
							</mat-checkbox>
						</mat-tree-node>
					</mat-tree>
				</div>
				<div class="modal-footer" style="display: block;">
					<div class="row">
						<div class="col-md-12 text-center">
							<button
								[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': rolePersmissionLoader}"
								id="kt_login_signin_submit" (click)="addRolePermission()"
								class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">{{ 'GENERALWORDS.ADD' | translate }}</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>