.tda-form {
  padding: 25px 10px 0;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}
.onBehalfCheckbox {
  padding-top: 20px;
}
.action-buttons {
  text-align: center;
  padding: 15px 0;
}

::ng-deep .modal-open .mat-select-panel-wrap {
  display: none !important;
}
// .modal-open .modal {
//   z-index: 9999999999 !important;
// }
// .modal-backdrop.show {
//   z-index: 9999999999 !important;
// }