<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Renew Business License
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>
            <!-- <kt-service-details></kt-service-details> -->
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>
                        Basic Info
                      </strong></p>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <p>UAE Citizen</p>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="eied"
                            placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
                          <mat-datepicker #eied></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Father Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Father Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Grandfather Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Grandfather Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Family Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Family Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Full name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nationality</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="number"
                            placeholder="Passport no without dashes" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="ped"
                            placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                          <mat-datepicker #ped></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        Contact Info
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Residence</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Work</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Secondary Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        On Behalf Of
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>HR Code</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business Unit</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Business Unit" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Designation</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
       
 <!--Step 3-->
        <mat-step [stepControl]="forthFormGroup">
          <form [formGroup]="forthFormGroup">
            <ng-template matStepLabel> Status </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes tabGroups">
              <mat-tab-group>
                <!--Blocking Status-->
                <mat-tab label="Blocking Status">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Active</p>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Blocked</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-radio-group>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-radio-button checked value="Full Block" (click)="partialValue(0)">
                              Full Block</mat-radio-button>
                          </div>
                          <div class="col-md-4">
                            <mat-radio-button value="Partial Block" (click)="partialValue(1)">
                              Partial Block</mat-radio-button>
                          </div>
                        </div>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-12"><br>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                    </div>
                  </div>

                  <div class="row" *ngIf="partial == 1">
                    <div class="col-md-6">

                      <mat-form-field appearance="outline">
                        <mat-label>Till Date</mat-label>
                        <input disabled matInput [matDatepicker]="tillDate" placeholder="Till Date"
                          (click)="tillDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="tillDate"></mat-datepicker-toggle>
                        <mat-datepicker #tillDate></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <p class="text-danger"><br><br><strong>3 Days are left to unblock</strong></p>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked by Entity</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked Reasons</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Suspension Status">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Active</p>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Suspended</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input disabled matInput [matDatepicker]="suspendedStartDate" placeholder="Start Date"
                          (click)="suspendedStartDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="suspendedStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #suspendedStartDate></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input disabled matInput [matDatepicker]="suspendedEndDate" placeholder="End Date"
                          (click)="suspendedEndDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="suspendedEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #suspendedEndDate></mat-datepicker>
                      </mat-form-field>

                    </div>

                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked by Entity</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked Reasons</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p class="text-danger"><strong>3 Days are left to release suspension.</strong></p>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Inspection Notes">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>No <strong>Inspection Notes</strong> Found</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your action requried as per <strong>Inspection Notes</strong></p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="alert alert-solid-warning alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Temp till inspection module is completed</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="reportNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Report No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.reportNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="relatedDocs">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Related Docs </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.relatedDocs}} </mat-cell>
                        </ng-container>



                        <ng-container matColumnDef="pending">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pending </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.pending}} </mat-cell>
                        </ng-container>




                        <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
                <mat-tab label="Violations">
                  <br><br>
                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter8($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table matSort [dataSource]="dataSource8" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="refNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.refNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="type">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descAr">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Description Ar </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.descAr}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descEn">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Description En </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.descEn}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fineAmount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dueDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.dueDate}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payLinks">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
                          <mat-cell *matCellDef="let row"> <a href="javascript:;">{{row.payLinks}}</a></mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator8 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
                <mat-tab label="Govt Entities Notes">
                  <br><br>
                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter9($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table matSort [dataSource]="dataSource9" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="refNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.refNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="govtEntity">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Govt Entity</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.govtEntity}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="notesAr">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Notes Ar </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.notesAr}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="notesEn">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Notes En </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.notesEn}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fineAmount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payLinks">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
                          <mat-cell *matCellDef="let row"> <a href="javascript:;">{{row.payLinks}}</a> </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns9"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns9;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator9 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
              </mat-tab-group>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 4-->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>BL Info</ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <div class="row">
                      <div class="col-md-3">
                        <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLR-5</span></strong></p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="kt-section__content notes">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>Address/Location</strong></p>
                      <div class="row">
                        <!--begin:: Radio Buttons-->
                        <div class="col-md-12">
                          <mat-radio-group>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-radio-button checked value="Lease Contract">
                                  Lease Contract</mat-radio-button>
                              </div>


                            </div>
                          </mat-radio-group>
                          <br>
                          <!--begin::Divider-->
                          <div class="kt-login__divider">
                            <div class="kt-divider">
                              <span></span>
                              <span></span>
                            </div>
                          </div>
                          <!--end::Divider-->
                          <br>
                        </div>
                      </div>
                      <!--end:: Radio Buttons-->

                      <div class="leaseContract">
                        <div class="row">
                          <div class="col-md-6">

                            <mat-form-field appearance="outline">
                              <mat-label>Start Date</mat-label>
                              <input disabled matInput [matDatepicker]="dateFrom1" placeholder="Start Date"
                                (click)="dateFrom1.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="dateFrom1"></mat-datepicker-toggle>
                              <mat-datepicker #dateFrom1></mat-datepicker>
                            </mat-form-field>

                          </div>
                          <div class="col-md-6">

                            <mat-form-field appearance="outline">
                              <mat-label>End Date</mat-label>
                              <input disabled matInput [matDatepicker]="dateTo2" placeholder="End Date"
                                (click)="dateTo2.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="dateTo2"></mat-datepicker-toggle>
                              <mat-datepicker #dateTo2></mat-datepicker>
                            </mat-form-field>

                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Building Name</mat-label>
                              <input disabled class="tda-form-control" matInput type="text"
                                placeholder="Building Name" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Annual Rate</mat-label>
                              <input disabled class="tda-form-control" matInput type="text" placeholder="Annual Rate" />
                            </mat-form-field>
                          </div>

                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Building No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Building No" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Unit No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Unit No" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Landlord Owner</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Emirates ID" />
                          </mat-form-field>
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="kt-section__content notes">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>License Master Data</strong></p>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>License No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="License No" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>CBLS No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="CBLS No" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">

                          <mat-form-field appearance="outline">
                            <mat-label>Issue Date</mat-label>
                            <input disabled matInput [matDatepicker]="dateFrom4" placeholder="Issue Date"
                              (click)="dateFrom4.open()" readonly value="25-02-2019">
                            <mat-datepicker-toggle matSuffix [for]="dateFrom4"></mat-datepicker-toggle>
                            <mat-datepicker #dateFrom4></mat-datepicker>
                          </mat-form-field>

                        </div>
                        <div class="col-md-6">

                          <mat-form-field appearance="outline">
                            <mat-label>Expiry Date</mat-label>
                            <input disabled matInput [matDatepicker]="dateTo5" placeholder="Expiry Date"
                              (click)="dateTo5.open()" readonly value="25-02-2021">
                            <mat-datepicker-toggle matSuffix [for]="dateTo5"></mat-datepicker-toggle>
                            <mat-datepicker #dateTo5></mat-datepicker>
                          </mat-form-field>

                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Renewal Period</mat-label>
                            <mat-select [disabled]="disableSelect">
                              <mat-option value="option">1 Year</mat-option>
                              <mat-option value="option">2 Years</mat-option>
                              <mat-option value="option">3 Years</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Chamber Member No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text"
                              placeholder="Chamber Member No" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Commercial Registry No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text"
                              placeholder="Commercial Registry No" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>TRN No</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="TRN No" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="kt-section__content notes">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>License Contact Details</strong></p>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Landline</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Landline" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Mobile</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Mobile" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>P.O Box</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="P.O Box" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input disabled class="tda-form-control" matInput type="email" placeholder="Email" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 5-->
        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel> Renewal Info </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="kt-section__content notes">
                <div class="wizardBorder licenseInfo">

                  <div class="row">
                    <!-- <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>License Certificate</mat-label>
                        <input class="tda-form-control" matInput type="text" placeholder="License Certificate" />
                      </mat-form-field>
                    </div> -->

                    <div class="col-md-6">

                      <mat-form-field appearance="outline">
                        <mat-label>Issue Date</mat-label>
                        <input matInput [matDatepicker]="dateFrom5" placeholder="Issue Date" (click)="dateFrom5.open()"
                          readonly>
                        <mat-datepicker-toggle matSuffix [for]="dateFrom5"></mat-datepicker-toggle>
                        <mat-datepicker #dateFrom5></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">

                      <mat-form-field appearance="outline">
                        <mat-label>Expiry Date</mat-label>
                        <input matInput [matDatepicker]="dateTo6" placeholder="Expiry Date" (click)="dateTo6.open()"
                          readonly>
                        <mat-datepicker-toggle matSuffix [for]="dateTo6"></mat-datepicker-toggle>
                        <mat-datepicker #dateTo6></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Renewal Period</mat-label>
                        <mat-select>
                          <mat-option value="option">1 Year</mat-option>
                          <mat-option value="option">2 Years</mat-option>
                          <mat-option value="option">3 Years</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                      <p><br><br><a (click)="open(showCertificate)" class="pointer"><strong>Review License
                            Certificate</strong></a></p>

                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Notes</mat-label>
                        <textarea matInput placeholder="Notes" rows="3"></textarea>
                      </mat-form-field>
                    </div>

                  </div>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 8-->
        <mat-step [stepControl]="eighthFormGroup">
          <form [formGroup]="eighthFormGroup" class="customAttachment">
            <ng-template matStepLabel>Attachments</ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="row">

              <!--begin:: Documents Attachments -->
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <div class="alert alert-secondary" role="alert">
                    <div class="alert-text">
                      <strong>Please attach the following documents</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <table class="attachments">
                  <tr>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                          <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                        </div>
                        <div class="form-group">
                          <!--UAE Citizen-->
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                            <label class="custom-file-label" for="emCopy">
                              {{emCopy}}
                              <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- <p>{{emCopy}}</p> -->
                    </td>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/emirates-id-card-b.jpg" alt="Emirates ID Card Back">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="embCopy" (change)="getEmbId($event)">
                            <label class="custom-file-label" for="embCopy">{{embCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/falcon-passport1.jpg" alt="Emirates Passport Copy">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="passportCopy"
                              (change)="getPassportCopy($event)">
                            <label class="custom-file-label" for="passportCopy">{{passportCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/visa-dubai-uae.jpg" alt="Emirates Visa Copy">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="visaCopy" (change)="getVisa($event)">
                            <label class="custom-file-label" for="visaCopy">{{visaCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <!--end:: Documents Attachments-->
            </div>
            <br><br>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button type="button" (click)="open(happinessMeterModal)"
                    class="btn btn-primary btn-sm">Submit</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>

</div>

<!--begin::Modal Show Certificate-->
<ng-template #showCertificate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">License Certificate</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="../../../../assets/media/license-certificate.jpg" alt="Show Certificate">
    </div>
  </div>
</ng-template>


<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-business-license/renew-business-license-list']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>