<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Request Initial Approval
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body padding-bottom-zero">
    <!--Material DataTable Section-->
    <div class="kt-section margin-bottom-zero">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/business-license/request-initial-approval/add-initial-approval']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              Add New
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm">
              Export to Excell
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="iarefNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IA/APP No </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a [routerLink]=""><strong>{{row.iarefNo}}</strong></a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="businessNameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.businessNameAr}} </mat-cell>
          </ng-container>



          <ng-container matColumnDef="businessNameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.businessNameEn}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="blno">
            <mat-header-cell *matHeaderCellDef mat-sort-header>BL No</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.blno}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]="(row.statusId == workflowStatusEnum.Approved) ? 'kt-font-brand' : (row.statusId == workflowStatusEnum.Submitted) ? 'kt-font-success' : (row.statusId == workflowStatusEnum.ApproveForCustomerPayment) ? 'kt-font-success' : (row.statusId == workflowStatusEnum.Draft) ? 'kt-font-danger' : (row.statusId == workflowStatusEnum.ReturnedToCustomerWithFeedback) ? 'kt-font-danger' : '' ">
                {{ this.translationService.getSelectedLanguage() =="en" ? row.statusNameEn: row.statusNameAr}}
              </strong>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="daysLeft">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Days Left</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.daysLeft}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">

              <!--Process-->
              <div class="" *ngIf="row.statusId == workflowStatusEnum.ReturnedToCustomerWithFeedback">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span
                        [routerLink]="['/pages/business-license/request-initial-approval/viewed-modified-customer-ia']"
                        matTooltip="Process" [matTooltipPosition]="position.value" class="kt-font-brand cursor">
                        <i class="flaticon-settings"></i></span></td>
                  </tr>
                </table>
              </div>

              <!--View Delete-->
              <div class="" *ngIf="row.statusId == workflowStatusEnum.Draft">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span matTooltip="Delete" [matTooltipPosition]="position.value" class="kt-font-danger cursor">
                        <i class="flaticon-delete"></i></span></td>
                  </tr>
                </table>
              </div>
              <!--Edit Delete Update-->
              <div class="" *ngIf="row.statusId == workflowStatusEnum.Approved">
                <table class="editDeleteUpdate">
                  <tr>
                    <td>
                      <a matTooltip="Extend" [matTooltipPosition]="position.value"
                        [routerLink]="['/pages/business-license/request-initial-approval/extend-initial-approvals']"
                        class="kt-font-success cursor"> <i class="flaticon2-expand"></i></a>
                    </td>
                    <td><a matTooltip="Modify" [matTooltipPosition]="position.value"
                        [routerLink]="['/pages/business-license/request-initial-approval/initial-approvals-modification-list']"
                        class="kt-font-primary cursor">
                        <i class="flaticon-edit"></i></a>
                    </td>
                    <td><span matTooltip="Certificate" [matTooltipPosition]="position.value"
                        (click)="open(certificateModal)" class="kt-font-brand cursor"> <i
                          class="flaticon-file-2"></i></span>
                    </td>
                    <td><a matTooltip="Cancel" [matTooltipPosition]="position.value"
                      [routerLink]="['/pages/business-license/request-initial-approval/cancel-initial-approvals']"
                      class="kt-font-danger cursor"> <i class="flaticon2-cross"></i></a>
                    </td>
                  </tr>
                </table>
              </div>
              <!--View-->
              <div class="" *ngIf="row.editView =='Modied Yes'">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span matTooltip="Modify" [matTooltipPosition]="position.value"
                        (click)="openModifyInitialApprovals()" class="kt-font-primary cursor">
                        <i class="flaticon-edit"></i></span>
                  </tr>
                </table>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
  <!--Expired or Expiring Soon-->
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Expired / Cancelled Initial Approvals
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-sm">
              Export to Excell
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilterOU($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSourceOU" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="iarefNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IA No </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a [routerLink]=""><strong>{{row.iarefNo}}</strong></a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="businessNameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.businessNameAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="businessNameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.businessNameEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Type </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.bnTypeNameEn: row.bnTypeNameAr}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="submissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Submission Date</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{validationMessages.convertUTCDateToLocalDate(row.creationDate) | date:'d/M/yyyy, h:mm a'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]=" ( row.statusId == workflowStatusEnum.Expired ) ? 'kt-font-brand' : ( row.statusId == workflowStatusEnum.Cancelled ) ? 'kt-font-danger' :  ( row.statusId == workflowStatusEnum.Rejected ) ? 'kt-font-danger' : '' ">
                {{ this.translationService.getSelectedLanguage() =="en" ? row.nameEn: row.nameAr}}
              </strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status Date</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{validationMessages.convertUTCDateToLocalDate(row.createdAt) | date:'d/M/yyyy, h:mm a'}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <!--Cancelled-->
              <div class="" *ngIf="row.statusId != workflowStatusEnum.Rejected">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span matTooltip="Certificate" [matTooltipPosition]="position.value"
                        (click)="open(certificateModal)" class="kt-font-brand cursor"> <i
                          class="flaticon-file-2"></i></span></td>
                  </tr>
                </table>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsOU"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsOU;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginatorOU [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>

<!--begin::Modal Popup for Certificate-->
<ng-template #certificateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Certificate</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="text-center certificateTable">
      <tr>
        <td colspan="3">
          <img src="../../../../assets/media/license-certificate.jpg" alt="Certificate" />
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="certificateTable">
          <tr>
            <td><strong><i class="flaticon2-download-1"></i> Download</strong></td>
            <td><strong><i class="flaticon2-new-email"></i> Send Email</strong></td>
            <td><strong><i class="flaticon2-fax"></i> Print</strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>