.notActiveID {
  display: none;
}
.activeID {
  display: block;
}
.mat-form-field {
  width: 100%;
}
.notes {
  .margin-zero {
    margin: 0 !important;
  }
  table.notesGrid {
    font-size: 12px;
    thead {
      tr {
        th {
          font-weight: bold;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: #595d6e;
        }
      }
    }
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      td,
      th {
        vertical-align: middle;
        &:nth-child(1) {
          text-align: center;
          width: 10%;
        }
        &:nth-child(2) {
          width: 22%;
        }
        &:nth-child(3) {
          width: 18%;
        }
        &:nth-child(4) {
          width: 50%;
          ul {
            margin: 0;
            padding: 0 0 0 15px;
            li {
              list-style: none;
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background: #f7f8fa;
        }
      }
    }
  }
}
.viewAllButtonNotes {
  margin: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  width: auto !important;
}
.wizardBorder {
  height: calc(100% - 20px);
}
span {
  i {
    font-size: 16px;
    cursor: pointer;
  }
}
table.wizardDataTable {
  width: 100%;
  tr {
    td {
      text-align: left;
      .mat-checkbox-inner-container {
        top: -4px;
      }
    }
  }
}
table.wizardDataStatus {
  width: 100%;
  tr {
    td {
      padding: 16px 0;
    }
  }
}
.actionButtons {
  margin: 10px 0;
  button {
    min-width: 150px;
    margin: 10px 0;
  }
}

.notesTextarea {
  width: 100%;
}
::ng-deep .mat-horizontal-stepper-header {
  &[ng-reflect-selected="true"].mat-step-header {
    background-color: rgba(0, 0, 0, 0.12) !important;
    &::after,
    &::before {
      visibility: hidden !important;
    }
  }
  &[ng-reflect-selected="false"].mat-step-header {
    background-color: #fff !important;
  }
}
@media (max-width: 1320px) {
  table.wizardDataTable {
    td {
      text-align: left;
      display: block;
      width: 50%;
      float: left;
    }
  }
}
@media (max-width: 1080px) {
  .hidden-1150 {
    display: none !important;
  }
  table.wizardDataStatus tr td {
    padding: 5px 0;
  }
  table.wizardDataTable {
    tr {
      td {
        display: block;
        float: left;
        width: 100%;
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
}
