<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Review IA Request
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <button (click)="openDialog('viewAction')" class="btn btn-primary btn-sm">View Actions</button>
      &nbsp;
      <button (click)="openDialog('viewBNInfo')" class="btn btn-primary btn-sm"
        [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': bnInfoloading}">
        View BN Info
      </button>
      <br><br>
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Submitter Info</ng-template>
            <!--:: begin Application Info-->
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--:: end Application Info-->

            <!--::begin form fields-->
            <kt-submitted-info [user]="this.getBNData?.user" [loginOnBehalf]="this.getBNData?.loginOnBehalf">
            </kt-submitted-info>
            <!--::end form fields-->
            <!--begin:: footer -->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm"
                    [routerLink]="['/pages/business-license/initial-approvals/manage-initial-approvals']">
                    Back
                  </button>
                </div>
              </div>
            </div>
            <!--end:: footer -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>IA Info</ng-template>
            <!--:: begin Application Info-->
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--:: end Application Info-->

            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-6 ">
                <div class="wizardBorder licenseInfo">
                  <!--License Info-->
                  <p><strong>IA Info Data</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <table class="wizardDataTable">

                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Main Area</mat-label>
                          <mat-select>
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Sub Area</mat-label>
                          <mat-select>
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Street</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="Street" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Full Text Adress</mat-label>
                          <input readonly class="tda-form-control" matInput type="text"
                            placeholder="Main Area, Sub Area, Street" value="Main Area, Sub Area, Street" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Parcel ID</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Parcel ID" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Submission Reason</mat-label>
                          <mat-select multiple>
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <p><strong>Google Map Coordinates</strong></p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Longitude</mat-label>
                          <input disabled class="tda-form-control" matInput type="number" placeholder="Longitude" />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Latitude</mat-label>
                          <input disabled class="tda-form-control" matInput type="number" placeholder="Latitude" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Makani No.</mat-label>
                          <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                            placeholder="Makani No." />
                        </mat-form-field>
                      </td>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Building</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Building" />
                        </mat-form-field>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-form-field appearance="outline">
                          <mat-label>Unit</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Unit" />
                        </mat-form-field>
                      </td>
                      <td></td>
                    </tr>

                  </table>

                </div>
              </div>
              <div class="col-md-6 ">
                <div class="wizardBorder licenseInfo">
                  <p><strong>IA Status</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <table class="wizardDataTable wizardDataStatus">
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Main Area
                        </mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Sub Area
                        </mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Street
                        </mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Full Text Address
                        </mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Parcel ID
                        </mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Submission Reasion
                        </mat-checkbox>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Longitude
                        </mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Latitude
                        </mat-checkbox>
                      </td>
                    </tr>
                    <tr>

                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Makani No.
                        </mat-checkbox>
                      </td>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Building
                        </mat-checkbox>
                      </td>
                    </tr>
                    <tr>

                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">
                          Unit
                        </mat-checkbox>
                      </td>
                      <td>

                      </td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <!--:: end Form Fields -->
            <!--begin:: footer -->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>
                    Back
                  </button>
                </div>
              </div>
            </div>
            <!--end:: footer -->
          </form>
        </mat-step>
        <!--Step 3-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>Attachments</ng-template>
            <!--:: begin Application Info-->
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--:: end Application Info-->

            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-12 ">
                <kt-review-atachments [getAttachmentsData]="this.getBNData?.attachments"
                  (updateAttachmentsData)="updateAttachmentsData($event)"></kt-review-atachments>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--begin:: footer -->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"></ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button (click)="attachmentsFormSubmit()" class="btn btn-success btn-sm">
                    Approve IA
                  </button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>
                    Back
                  </button>
                </div>
              </div>
            </div>
            <!--end:: footer -->
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>


<ng-template #rejectReturnAndNotes>
  <div class="applicationRefInfo">
    <div class="row">
      <div class="col-md-3">
        <p><strong>IAN #: <span class="kt-font-danger kt-font-lg">
              IAN-5
            </span></strong></p>
      </div>
      <div class="col-md-3">
        <p><strong>BN #: <span class="kt-font-danger kt-font-lg">
              BN-5
            </span></strong></p>
      </div>
      <div class="col-md-3">
        <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">
              الاسم التجاري
            </span></strong></p>
      </div>
      <div class="col-md-3">
        <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">
              Business Name
            </span></strong></p>
      </div>
    </div>
  </div>
  <!--begin::Divider-->
  <div class="kt-login__divider">
    <div class="kt-divider">
      <span></span>
      <span></span>
    </div>
  </div>
  <br>
  <!--end::Divider-->
  <!--:: begin Notes-->
  <div class="kt-section__content notes">
    <div class="wizardBorder">
      <kt-notes-history-modal [stickyNotes]="stickyNotes" [notes]="this.getBNData?.notes"
        (notesEvent)="notesEvent($event)">
      </kt-notes-history-modal>
    </div>
  </div>
  <!--:: end Notes-->
</ng-template>

<ng-template #footerTemplate>
  <div class="col-md-4 text-center">
    <div class="wizardBorder actionButtons">
      <p><strong>Internal Action</strong></p>
      <!--begin::Divider-->
      <div class="kt-login__divider">
        <div class="kt-divider">
          <span></span>
          <span></span>
        </div>
      </div>
      <!--end::Divider-->
      <br>
      <button class="btn btn-primary btn-sm" (click)="openDialog('fwdAction')">
        Forward for Action
      </button>
      <br>
      <button class="btn btn-primary btn-sm" (click)="openDialog('requestForInspection')">
        Request for Inspection
      </button>
    </div>
  </div>

  <div class="col-md-4 text-center">
    <div class="wizardBorder actionButtons">
      <p><strong>Customer Action</strong></p>
      <!--begin::Divider-->
      <div class="kt-login__divider">
        <div class="kt-divider">
          <span></span>
          <span></span>
        </div>
      </div>
      <!--end::Divider-->
      <br>
      <button class="btn btn-primary btn-sm" (click)="openDialog('returnNotes')">
        Return Back with Notes
      </button>
      <br>
      <button class="btn btn-danger btn-sm" (click)="openDialog('reject')">
        Reject
      </button>
    </div>
  </div>
</ng-template>