<!--begin::Message-->
<div class="row text-center">
  <div class="col-md-12">
    <br><br><br><br>
    <h3 class="text-center kt-font-success">Thank You!</h3>
    <p>Your email has been confirmed.</p>
    <a routerLink="/auth/login-visitor" class="btn btn-primary btn-sm btn-upper">
      Click here to Login
    </a>
  </div>
</div>
<!--begin::Message-->