@media (max-width: 1024px) {
  .rakLogo {
    display: none;
  }
  .kt_header_mobile_toggler_hidden {
    display: none !important;
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=header-mobile.component.css.map */