<!--begin::Body-->
<div class="kt-login__body">
	<div *ngIf="LoginFormPanel">
		<!--begin::Signin-->
		<div class="kt-login__form">
			<div class="kt-login__title">
				<h4>
					{{ 'AUTHMODULE.LOGIN.LoginHeading' | translate }}
				</h4>
			</div>
			<div class="alert alert-danger" role="alert" *ngIf="sessionTypeDiv">
				<div class="alert-icon"><i class="flaticon-questions-circular-button"></i></div>
				<div class="alert-text">{{ 'AUTHMODULE.LOGIN.SESSIONTIMEOUT' | translate }}</div>
			</div>
			<form class="kt-form tda-login" [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()">
				<div class="row">
					<div class="col-md-12">
						<mat-form-field appearance="outline">
							<mat-label>
								{{ 'AUTHMODULE.LOGIN.LabelUserNameEmail' | translate }}
							</mat-label>
							<input class="tda-form-control" matInput type="text"
								placeholder="{{ 'GENERALSENTENCES.EnterUserNameEmail' | translate }}"
								formControlName="usernameoremail" />
						</mat-form-field>
						<kt-error class="red" [formName]="loginForm" [fieldName]="'usernameoremail'"></kt-error>
					</div>
					<div class="col-md-12">
						<mat-form-field appearance="outline">
							<mat-label>
								{{ 'AUTHMODULE.LOGIN.LabelPassword' | translate }}
							</mat-label>
							<input matInput type="password" placeholder="{{ 'GENERALSENTENCES.EnterPassword' | translate }}"
								formControlName="password" />
						</mat-form-field>
						<kt-error class="red" [formName]="loginForm" [fieldName]="'password'"></kt-error>
					</div>
					<div class="col-md-12 text-center">
						<br>
						<ngx-recaptcha2 #captchaElem [siteKey]="siteKey" [hl]="lang" [useGlobalDomain]="false" formControlName="recaptcha">
						</ngx-recaptcha2>
						<!-- [hl]="lang" -->
						<br>
					</div>
					<div class="col-md-12 text-center red">
						{{ statusCode | translate }}
					</div>
				</div>
				<!--begin::Action-->
				<div class="kt-login__actions">
					<a href="javascript:;" routerLink="/auth/forgot-password"
						(click)="this.previousRouteService.setPreviousUrl('/auth/login')" class="kt-link kt-login__link-forgot">
						{{ 'AUTHMODULE.LOGIN.ForgotPassword' | translate }}
					</a>
					<!-- <button class="btn btn-primary" type="submit">Sign In</button> -->
					<button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
						id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">
						{{ 'AUTHMODULE.LOGIN.LoginHeading' | translate }}
					</button>
				</div>
				<!--end::Action-->
			</form>
			<!--end::Form-->
		</div>
	</div>

	<div *ngIf="PinFormPanel">
		<!--begin::Signin-->
		<div class="kt-login__form">
			<div class="kt-login__title">
				<h4>
					{{ 'AUTHMODULE.LOGIN.EnterPinHeading' | translate }}
				</h4>
			</div>
			<!--begin::Form-->
			<form class="kt-form tda-login generate-pin" [formGroup]="TokenForm" autocomplete="off">
				<div class="row">
					<div class="col-md-12">
						<p>
							{{ 'AUTHMODULE.LOGIN.EnterPinMessage' | translate }}
						</p>
					</div>
					<table class="generatePinBoxTable">
						<tr>
							<td>
								<mat-form-field appearance="outline">
									<input class="english" class="english" maxlength="1" #tb1 formControlName="tb1" matInput type="text"
										(keyup)="processKeyUp($event, one)" #zero />
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<input class="english" maxlength="1" formControlName="tb2" matInput type="text"
										(keyup)="processKeyUp($event, two, zero)" #one />
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<input class="english" maxlength="1" formControlName="tb3" matInput type="text" #two
										(keyup)="processKeyUp($event, three, one)" />
								</mat-form-field>
							</td>
							<td>
								<mat-form-field appearance="outline">
									<input class="english" maxlength="1" (keyup)="processKeyUp($event, button, two)" formControlName="tb4"
										matInput type="text" #three />
								</mat-form-field>
							</td>
						</tr>
					</table>
				</div>
				<div class="col-md-12 text-center red">
					<br>
					{{ statusCode | translate }}
				</div>
				<!--begin::Action-->
				<div class="kt-login__actions">
					<a (click)="regeneratePin()" class="kt-link kt-login__link-forgot">
						{{ 'AUTHMODULE.LOGIN.RegeneratePin' | translate }}
					</a>
					<button (click)="goBacktoLogin()" type="button"
						class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto">
						{{ 'AUTHMODULE.LOGIN.BackToLogin' | translate }}
					</button>
					<button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}" #Button
						type="button" id="kt_login_signin_submit" [disabled]="this.loading" (click)="verifyPin()"
						class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">
						{{ 'AUTHMODULE.LOGIN.LoginHeading' | translate }}
					</button>
				</div>
				<!--end::Action-->
			</form>
			<!--end::Form-->
		</div>
	</div>
	<!--end::Body-->
</div>

<ng-template #noPages let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title"></h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">X</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="">
				<p>	{{ 'AUTHMODULE.LOGIN.permissionMessage' | translate }}<br />
					{{ 'AUTHMODULE.LOGIN.pleaseContact' | translate }}</p>
				<div class="modal-footer" style="display: block;">
					<div class="row">
						<div class="col-md-12 text-center">
							<button
								[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': rolePersmissionLoader}"
								id="kt_login_signin_submit" (click)="closeNoPagesModal()"
								class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>