<form class="tda-form" [formGroup]="addAppTypeAttachmentFormGroup" (ngSubmit)="submitAddAppTypeAttachments()" autocomplete="off">
  <div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand flaticon-symbol"></i>
        </span>
        <h3 class="kt-portlet__head-title">
          {{ 'PAGESMODULE.APPLICATIONTYPEATTACHMENT.ADDATA' | translate }} 
          <!-- Add Application Type Attachment -->
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="kt-portlet__head-actions">
            <div class="dropdown dropdown-inline">


            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="kt-portlet__body">
      <!--Material DataTable Section-->
      <div class="kt-section">
        <div class="example-header">
          <div class="row">
            <div class="col-md-3">
              <div class="tda-form">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }} </mat-label>
                  <mat-select formControlName="applicationTypeddl" (ngModelChange)="ApplicationTypeddlChange()">
                    <mat-option *ngFor="let applicationType of ApplicationTypeddl | async" [value]="applicationType">
                      {{ this.translationService.getSelectedLanguage() =="en" ? applicationType.valueEn: applicationType.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addAppTypeAttachmentFormGroup" [fieldName]="'applicationTypeddl'"></kt-error>
              </div>
            </div>
          </div>

        </div>
        <!--begin: Datatable -->
        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
          <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">


            <ng-container matColumnDef="checkBoxes">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;"> <label class="kt-checkbox kt-checkbox--brand d-inline">
                  <input type="checkbox" [checked]="row.isExist"
                    (change)="checkBoxChange(row.id, $event.srcElement.checked)">
                  <span></span>
                </label> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valueAr">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ATTACHMENTAR' | translate }}  </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.valueAr}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="valueEn">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ATTACHMENTEN' | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.valueEn}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="isMandotary">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ISMANDATORY' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;" [style.color]="row.color">
                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                  <label class="mb-0">
                    <input type="checkbox" [checked]="row.isMandatory"
                      (change)="isMandatory(row.id, $event.srcElement.checked)">
                    <span></span>
                  </label>
                </span>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="inputData">
              <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.INPUTDATA' | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;" [style.color]="row.color">
                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                  <label class="mb-0">
                    <input type="checkbox" [checked]="row.inputData"
                      (change)="inputdata(row.id, $event.srcElement.checked)">
                    <span></span>
                  </label>
                </span>
              </mat-cell>
            </ng-container>


            <ng-container matColumnDef="isActive">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }} </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;" [style.color]="row.color">
                <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                  <label class="mb-0">
                    <input type="checkbox" [checked]="row.isActive"
                      (change)="isActive(row.id, $event.srcElement.checked)">
                    <span></span>
                  </label>
                </span>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
          </mat-table>
          <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <!--end: Datatable -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="kt-portlet__foot">
            <!--begin::Action-->
            <div class="kt-login__actions">

              <button type="submit"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                class="btn btn-primary btn-elevate kt-login__btn-primary">{{ 'GENERALWORDS.SUBMIT' | translate }}</button>
            </div>
            <!--end::Action-->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>