<!--begin:: Accordian-->
<mat-accordion>
  <mat-expansion-panel [expanded]="true" *ngFor="let type of serviceInfo">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ this.translationService.getSelectedLanguage() =="en" ? type.titleEn: type.titleAr}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>
      {{ this.translationService.getSelectedLanguage() =="en" ? type.descriptionEn: type.descriptionAr}}
    </p>
  </mat-expansion-panel>
</mat-accordion>
<!--end:: Accordian-->
<br>
<div class="row">
  <div class="col-md-12" [formGroup]="termsConditionForm">
    <mat-checkbox class="blsCheckbox" [color]="'primary'" [formControlName]="'termsCondition'">
      I accept the above service terms and conditions
    </mat-checkbox>
    <kt-error class="red" [formName]="termsConditionForm" [fieldName]="'termsCondition'"></kt-error>
  </div>
</div>

