<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
	<div class="row">
		<div class="col-md-6" *ngIf="LoginFormPanel">
			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head kt-portlet__head--lg">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-user"></i>
						</span> 
						<h3 class="kt-portlet__head-title">
							{{'PAGESMODULE.LOGINLOGUTHISTORY.LoginOnBehalfCustomer' | translate}}
							
						</h3>
					</div>
				</div>
				<!--begin::Form--->
				<form class="tda-form" [formGroup]="loginForm" (ngSubmit)="loginFormSubmit()" autocomplete="off">
					<div class="kt-portlet__body">
						<div class="row">
							<div class="col-md-12">
								<mat-form-field appearance="outline">
									<mat-label>	{{'PAGESMODULE.LOGINLOGUTHISTORY.BeneficiaryType' | translate}}</mat-label>
									<mat-select formControlName="beneficiaryType">
										<mat-option *ngFor="let beneficiary of beneficiaryType | async" [value]="beneficiary.id">
											{{ this.translationService.getSelectedLanguage() =="en" ? beneficiary.valueEn: beneficiary.valueAr}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>
							<div class="col-md-12">
								<!-- class="successValid" -->
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-label>
									<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
										[textMask]="{mask: mobileNoMask}" formControlName="mobileNo" autocomplete="off" />
									<!-- <input class="isvalid" matInput type="text" placeholder="00971xxxxxxx" value="" autocomplete="off" /> -->
								</mat-form-field>

								<div class="col-md-12 text-center">
									<!-- {{ statusCode | translate }} -->
								</div>
							</div>
							<br><br>
							<div class="col-md-12 text-center">
								<div class="kt-portlet__foot">
									<div class="kt-form__actions">
										<button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
											id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">
											{{ 'AUTHMODULE.LOGIN.LoginHeading' | translate }}
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
		<div class="col-md-6 generate-pin" *ngIf="PinFormPanel">
			<!--begin::Portlet-->
			<div class="kt-portlet">
				<div class="kt-portlet__head kt-portlet__head--lg">
					<div class="kt-portlet__head-label">
						<span class="kt-portlet__head-icon">
							<i class="kt-font-brand flaticon2-user"></i>
						</span>
						<h3 class="kt-portlet__head-title">
							{{ 'AUTHMODULE.LOGIN.EnterPinHeading' | translate }}
						</h3>
					</div>
				</div>
				<!--begin::Form-->
				<form class="tda-form" [formGroup]="TokenForm" (ngSubmit)="verifyPin()" autocomplete="off">
					<div class="kt-portlet__body">
						<div class="row">
							<div class="col-md-12">
								<p>{{ 'AUTHMODULE.LOGIN.EnterPinMessage' | translate }}</p>
							</div>
							<table class="generatePinBoxTable">
								<tr>
									<td>
										<mat-form-field appearance="outline">
											<input maxlength="1" #tb1 formControlName="tb1" matInput type="text"
												(keyup)="processKeyUp($event, one)" #zero />
										</mat-form-field>
									</td>
									<td>
										<mat-form-field appearance="outline">
											<input maxlength="1" formControlName="tb2" matInput type="text"
												(keyup)="processKeyUp($event, two, zero)" #one />
										</mat-form-field>
									</td>
									<td>
										<mat-form-field appearance="outline">
											<input maxlength="1" formControlName="tb3" matInput type="text" #two
												(keyup)="processKeyUp($event, three, one)" />
										</mat-form-field>
									</td>
									<td>
										<mat-form-field appearance="outline">
											<input maxlength="1" (keyup)="processKeyUp($event, button, two)" formControlName="tb4" matInput
												type="text" #three />
										</mat-form-field>
									</td>
								</tr>
							</table>
							<div class="col-md-12 text-center">
								<div class="kt-portlet__foot">
									<div class="kt-form__actions">
										<button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
											#Button type="submit" id="kt_login_signin_submit"
											class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">{{ 'AUTHMODULE.LOGIN.LoginHeading' | translate }}</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
				<!--end::Form-->
			</div>
			<!--end::Portlet-->
		</div>
	</div>
</div>

<ng-template #noPages let-modal>
	<div class="modal-content">
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title"></h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<div class="">
				<p>	{{ 'AUTHMODULE.LOGIN.permissionMessage' | translate }}<br />
					{{ 'AUTHMODULE.LOGIN.pleaseContact' | translate }}</p>
				<div class="modal-footer" style="display: block;">
					<div class="row">
						<div class="col-md-12 text-center">
							<button
								[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': rolePersmissionLoader}"
								id="kt_login_signin_submit" (click)="closeNoPagesModal()"
								class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">Close</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</ng-template>