<div class="wrapper">

  <!-- begin:: Page -->
  <ng-container>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/media/rak-logo.jpg" alt="Rak Logo">
          </div>
          <div class="col-md-6 text-right">
            <!-- <a class="language">العربية</a> -->
            <span class="arabicLang language" *ngIf="lang === 'en'" (click)="setLanguage('ar')"
              [ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }">
              العربية
            </span>
            <span class="englishLang language english" *ngIf="lang === 'ar'" (click)="setLanguage('en')"
              [ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }">
              English
            </span>
          </div>
        </div>
      </div>
    </header>
    <!-- begin:: Content -->
    <div class="centerContentMessage">
      <!-- begin:: Content Body -->
      <!--begin::Body-->
      <div class="kt-login__body messageScreen">
        <router-outlet></router-outlet>
      </div>

      <!-- end:: Content Body -->
    </div>
  </ng-container>
  <!-- end:: Page -->
  <div class="push"></div>
</div>
<footer class="footer">
  <div class="container">
    <kt-footer></kt-footer>
  </div>
</footer>