// load base demo styles. for demo purpose, the style will be loaded here
// for production, include the demo base style in /src/index.html file to load the css earlier
@import "../../assets/css/demo1/style.bundle.min.css";

// static skins css
@import "../../assets/css/demo1/skins/header/base/light.css";
@import "../../assets/css/demo1/skins/header/menu/light.css";
@import "../../assets/css/demo1/skins/brand/dark.css";
@import "../../assets/css/demo1/skins/aside/dark.css";

kt-base {
  opacity: 0;
  height: 100%;

  .kt-grid--root {
    height: 100%;
  }
}

.kt-page--loaded {
  kt-base {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
.row {
  margin: 0 !important;
}
header {
  background: #fff;
  padding: 10px;
}
html,
body,
kt-notifications {
  height: 100%;
  .wrapper {
    min-height: calc(100% - 60px);
  }
  .language {
    line-height: 60px;
    color: #e9921b;
    cursor: pointer;
  }
  .english {
    font-weight: normal;
    font-size: 14px;
  }
}

footer {
  background: #fff;
  height: 60px;
}

.messageScreen {
  max-width: 900px !important;
  margin: 20px auto;
  background: none;
  padding: 30px !important;
  background: #fff;
  min-height: 350px;
  width: 90%;
}
.tda-form {
  padding: 20px 0;
}

@media (max-width: 767px) {
  .wrapper {
    .col-md-6 {
      text-align: center;
    }

    .language {
      display: block;
      text-align: center;
    }
  }

  form.kt-login__form {
    .row {
      .col-md-12.text-center {
        text-align: left !important;
      }
    }
  }
}
