<form class="tda-form" [formGroup]="legalTypeAttachmentFormGroup" (ngSubmit)="submitlegalTypeAttachment()"
  autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ADDLEGALTYPEATTACHMENT' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">

              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label> {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.LEGALTYPE' | translate }}</mat-label>
                  <mat-select formControlName="legalTypeddl" (ngModelChange)="ddlLegalTypeChange()">
                    <mat-option *ngFor="let legalType of legalTypeddl | async" [value]="legalType">
                      {{ this.translationService.getSelectedLanguage() =="en" ? legalType.valueEn: legalType.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="legalTypeAttachmentFormGroup" [fieldName]="'legalTypeddl'"></kt-error>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label> {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-label>
                  <mat-select formControlName="applicationTypeddl" (ngModelChange)="ddlApplicationTypeChange()">
                    <mat-option *ngFor="let appType of applicationTypeddl | async" [value]="appType">
                      {{ this.translationService.getSelectedLanguage() =="en" ? appType.valueEn: appType.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="legalTypeAttachmentFormGroup" [fieldName]="'applicationTypeddl'"></kt-error>
              </div>
              <div class="col-md-12">
                <br>
                <!--begin::Divider-->
                <div class="kt-login__divider">
                  <div class="kt-divider">
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <!--end::Divider-->
                <div class="table-responsive table table-striped">
                  <table class="table notesGrid">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ATTACHMENTAR' | translate }}</th>
                        <th>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ATTACHMENTEN' | translate }}</th>
                        <th>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.ISMANDATORY' | translate }}</th>
                        <th>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.INPUTDATA' | translate }}</th>
                        <th>{{ 'GENERALWORDS.ISACTIVE' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let legalAttachment of legalTypeAttachmentGrid; let i = index">
                        <td>
                          <label class="kt-checkbox kt-checkbox--brand d-inline">
                            <input type="checkbox" [checked]="legalAttachment.isExist"
                              (change)="checkBoxChange(i, $event.srcElement.checked)">
                            <span></span>
                          </label>
                        </td>
                        <td>{{legalAttachment.valueAr}}</td>
                        <td>{{legalAttachment.valueEn}}</td>
                        <td> <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                            <label class="mb-0">
                              <input type="checkbox" [checked]="legalAttachment.isMandatory"
                                (change)="isMandatory(i, $event.srcElement.checked)" name="">
                              <span></span>
                            </label>
                          </span></td>
                        <td> <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                            <label class="mb-0">
                              <input type="checkbox" [checked]="legalAttachment.inputData"
                                (change)="inputdata(i, $event.srcElement.checked)" name="">
                              <span></span>
                            </label>
                          </span></td>
                        <td> <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                            <label class="mb-0">
                              <input type="checkbox" [checked]="legalAttachment.isActive"
                                (change)="isActive(i, $event.srcElement.checked)" name="">
                              <span></span>
                            </label>
                          </span></td>

                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
                    <button [routerLink]="['/pages/master-data/legal-type-attachment']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                    <button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>