<form class="tda-form" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.TITLE.AddOrganizationUnit' | translate }}

              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameAr' | translate }}
                  </mat-label>
                  <input class="arabicTextBox" matInput
                    placeholder=" {{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameAr' | translate }}">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameEn' | translate }}
                  </mat-label>
                  <input class="englishTextBox" matInput placeholder="{{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameEn' | translate }}">
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'PAGESMODULE.ORGANIZATIONUNIT.ParentUnitName' | translate }}
                  </mat-label>
                  <mat-select>
                    <mat-option value="option">1</mat-option>
                    <mat-option value="option">2</mat-option>
                    <mat-option value="option">3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'PAGESMODULE.ORGANIZATIONUNIT.OrganizationNameType' | translate }}
                  </mat-label>
                  <mat-select>
                    <mat-option value="option">1</mat-option>
                    <mat-option value="option">2</mat-option>
                    <mat-option value="option">3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->

                    <a [routerLink]="['/pages/admin/organization-structure']"
                      class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </a>
                    <button type="button" [routerLink]="['/pages/admin/organization-structure']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
</form>