<form class="tda-form" [formGroup]="NationalitiesFormGroup" (ngSubmit)="submitNationalities()" autocomplete="off">
  <div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand flaticon-symbol"></i>
        </span>
        <h3 class="kt-portlet__head-title">
          Add Nationality
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="kt-portlet__head-actions">
            <div class="dropdown dropdown-inline">


            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="kt-portlet__body">
      <!--Material DataTable Section-->
      <div class="kt-section">
        <div class="example-header">
          <div class="row">
            <div class="col-md-3">
              <div class="tda-form">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.NATIONALITIES.COUNTRIES' | translate }}</mat-label>
                  <mat-select formControlName="nationalitiesddl" (ngModelChange)="NationalitiesddlChange()">
                    <mat-option *ngFor="let nationality of Nationalitiesddl | async" [value]="nationality">
                      {{ this.translationService.getSelectedLanguage() =="en" ? nationality.valueEn: nationality.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="NationalitiesFormGroup" [fieldName]="'nationalitiesddl'"></kt-error>
              </div>
            </div>
          </div>

        </div>
        <!--begin: Datatable -->
        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
          <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">


            <ng-container matColumnDef="checkBoxes">
              <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
              <mat-cell *matCellDef="let row; let i = index;"> <label class="kt-checkbox kt-checkbox--brand d-inline">
                  <input type="checkbox" [checked]="row.isExist"
                    (change)="checkBoxChange(i, $event.srcElement.checked)">
                  <span></span>
                </label> </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nationalityAr">
              <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.NATIONALITIES.NATIONALITYAR' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.valueAr}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="nationalityEn">
              <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.NATIONALITIES.NATIONALITYEN' | translate }}</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.valueEn}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
          </mat-table>
          <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <!--end: Datatable -->
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="kt-portlet__foot">
            <!--begin::Action-->
            <div class="kt-login__actions">

              <button class="btn btn-primary btn-elevate kt-login__btn-primary"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">{{ 'GENERALWORDS.SUBMIT' | translate }}</button>
            </div>
            <!--end::Action-->
          </div>
        </div>
      </div>
    </div>
  </div>
</form>