<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.MYLEAVES.MML' | translate }}
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/admin/add-leaves']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'My Leaves', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>

          <div class="col-md-6 text-right">
            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder="  {{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter" [hiddenColumns]="[4]">
          <!-- Name AR -->
          <ng-container matColumnDef="Type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.MYLEAVES.TYPE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.valueEn : row.valueAr}}
            </mat-cell>
          </ng-container>
          <!-- Name EN -->
          <ng-container matColumnDef="fromDateTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header> 
              {{ 'PAGESMODULE.MYLEAVES.FDT' | translate }}
           </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="(196==row.typeId)">
                {{row.fromDate| date:'d/M/yyyy': '' : this.translationService.getSelectedLanguage()}}
              </ng-container>
              <ng-container *ngIf="!(196==row.typeId)">
                {{row.fromDate| date:'d/M/yyyy, h:mm a': '' : this.translationService.getSelectedLanguage()}}
              </ng-container>
            </mat-cell>
          </ng-container>
          <!-- Remarks-->
          <ng-container matColumnDef="toDateTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.MYLEAVES.TDT' | translate }}
           </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <ng-container *ngIf="(196==row.typeId)">
                {{row.toDate| date:'d/M/yyyy': '' : this.translationService.getSelectedLanguage()}}
              </ng-container>
              <ng-container *ngIf="!(196==row.typeId)">
                {{row.toDate| date:'d/M/yyyy, h:mm a': '' : this.translationService.getSelectedLanguage()}}
              </ng-container>
            </mat-cell>
          </ng-container>
          <!--Type -->

          <ng-container matColumnDef="Purpose">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.MYLEAVES.PURPOSE' | translate }}
    </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.purpose}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button [routerLink]="['/pages/admin/edit-leaves/'+row.id]" type="button"
                class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>