<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{'PAGESMODULE.PUBLICHOLIDAYS.MPH' | translate}}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">

          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-4">
            <a [routerLink]="['/pages/admin/add-public-holidays']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
               {{ 'GENERALWORDS.ADDNEW' | translate }} </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Holidays', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-8 text-right">
            <table class="filterDataTable">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>{{'PAGESMODULE.PUBLICHOLIDAYS.SELECTYEAR' | translate}}</mat-label>
                    <mat-select [(ngModel)]="year" (ngModelChange)="filterByYear(year)">
                      <mat-option *ngFor="let type of years" [value]="type">
                        {{ this.translationService.getSelectedLanguage() =="en" ? type: type}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>
                      {{'GENERALWORDS.SEARCH' | translate }}
                    </mat-label>
                    <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                      placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter">

          <!-- <ng-container matColumnDef="titleAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Title Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.titleAr}} </mat-cell>
          </ng-container> -->

          <ng-container matColumnDef="titleEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.TITLE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.nameEn : row.nameAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="fromDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fromDate| date:'d/M/yyyy'}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="toDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.toDate| date:'d/M/yyyy'}} </mat-cell>
          </ng-container>



          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" (click)="onEditClick(row.id)" class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header>  {{ 'GENERALWORDS.ISACTIVE' | translate }}  </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" [checked]="row.isActive" (change)="isActive(i, $event.srcElement.checked)">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>

          <!-- <ng-container matColumnDef="delete">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Delete</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">

              
              <span class="kt-font-danger cursor" (click)="onDelete(row.id)"> <i class="flaticon-delete"></i></span>

            </mat-cell>
          </ng-container> -->


          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>