<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-file"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.NATIONALITIES.CAN' | translate }}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
    <div class="kt-portlet__body">
      <div class="kt-section">
        <div class="example-header">
          <div class="row">
            <div class="col-md-6">
              <a [routerLink]="['/pages/nationalities/add-nationality']"class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
                 {{ 'GENERALWORDS.ADDNEW' | translate }}
              </a> &nbsp;
              <button type="button" class="btn btn-default btn-sm" 
              (click)="exporter.exportTable('xlsx',{fileName:'Master Data Definition', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
            <br>
            &nbsp;
          </div>
          <div class="col-md-6 text-right">

          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter">
          <ng-container matColumnDef="Code">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.MASTERDATA.CODE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="NationalityAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.NATIONALITIES.NATIONALITYAR' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nationalityAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="NationalityEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.NATIONALITIES.NATIONALITYEN' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nationalityEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="CountryAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.NATIONALITIES.COUNTRYAR' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.countryAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="CountryEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.NATIONALITIES.COUNTRYEN' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.countryEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button (click)="onEditClick(row)" type="button"
                class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" (change)="CheckboxChange(row.id)" [checked]="row.isActive" checked="checked"
                    name="">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>