<div class="col-md-12">
  <div class="wizardBorder">

    <form class="tda-form" autocomplete="off" [formGroup]="blFilterForm" (ngSubmit)="blFilterFormSubmit()">
      <div class="row">

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Request Date from</mat-label>
            <input matInput [matDatepicker]="requestdateFrom" placeholder="Request Date from"
              formControlName="requestDateFrom" (click)="requestdateFrom.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="requestdateFrom"></mat-datepicker-toggle>
            <mat-datepicker #requestdateFrom></mat-datepicker>
          </mat-form-field>
          <kt-error [formName]="blFilterForm" [fieldName]="'requestDateFrom'"></kt-error>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Request Date to</mat-label>
            <input matInput [matDatepicker]="requestdateTo" placeholder="Request Date to"
              formControlName="requestDateTo" (click)="requestdateTo.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="requestdateTo"></mat-datepicker-toggle>
            <mat-datepicker #requestdateTo></mat-datepicker>
          </mat-form-field>
          <kt-error [formName]="blFilterForm" [fieldName]="'requestDateTo'"></kt-error>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Delayed</mat-label>
            <mat-select multiple formControlName="delayed">
              <mat-option value="">Attending Time</mat-option>
              <mat-option value="">Manager Review</mat-option>
              <mat-option value="">Consultant Review</mat-option>
              <mat-option value="">Customere Resubmit</mat-option>
              <mat-option value="">Total Time Frame</mat-option>
              <mat-option value="">My Review</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Expiring Soon</mat-label>
            <mat-select multiple formControlName="expiringSoon">
              <mat-option value="">Attending Time</mat-option>
              <mat-option value="">Manager Review</mat-option>
              <mat-option value="">Consultant Review</mat-option>
              <mat-option value="">Customere Resubmit</mat-option>
              <mat-option value="">Total Time Frame</mat-option>
              <mat-option value="">My Review</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select multiple formControlName="status">
              <mat-option value="">New BN</mat-option>
              <mat-option value="">Under Process</mat-option>
              <mat-option value="">Pending at Customer</mat-option>
              <mat-option value="">Pending at Manager</mat-option>
              <mat-option value="">Pending at Consultant</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Status Date from</mat-label>
            <input matInput [matDatepicker]="statusdateFrom" placeholder="Status Date from"
              formControlName="statusDateFrom" (click)="statusdateFrom.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="statusdateFrom"></mat-datepicker-toggle>
            <mat-datepicker #statusdateFrom></mat-datepicker>
          </mat-form-field>
          <kt-error [formName]="blFilterForm" [fieldName]="'statusDateFrom'"></kt-error>
        </div>

        <div class="col-md-3">
          <mat-form-field appearance="outline">
            <mat-label>Status Date to</mat-label>
            <input matInput [matDatepicker]="statusdateTo" placeholder="Status Date to" formControlName="statusDateTo"
              (click)="statusdateTo.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="statusdateTo"></mat-datepicker-toggle>
            <mat-datepicker #statusdateTo></mat-datepicker>
          </mat-form-field>
          <kt-error [formName]="blFilterForm" [fieldName]="'statusDateTo'"></kt-error>
        </div>

        <div class="col-md-3 filterButtons">
          <button type="button" class="btn btn-secondary" (click)="resetGridAndForm()"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--dark': resetLoading}">
            Reset Filter
          </button>
          &nbsp;
          <button type="submit" class="btn btn-primary"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
            Apply Filter
          </button>
        </div>

      </div>
    </form>

    <br>
  </div>
</div>

<div></div>