<form class="tda-form" [formGroup]="legalTypeApporvalFormGroup" (ngSubmit)="submitlegalTypeApproval()"
  autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.LEGALTYPEAPPROVAL.ADDLEGALTYPEAPPROVAL' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">

              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label> {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.LEGALTYPE' | translate }}</mat-label>
                  <mat-select formControlName="legalTypeddl" (ngModelChange)="ddlLegalTypeChange()">
                    <mat-option *ngFor="let legalType of legalTypeddl | async" [value]="legalType">
                      {{ this.translationService.getSelectedLanguage() =="en" ? legalType.valueEn: legalType.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="legalTypeApporvalFormGroup" [fieldName]="'legalTypeddl'"></kt-error>
              </div>
              <div class="col-md-3">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-label>
                  <mat-select formControlName="applicationTypeddl" (ngModelChange)="ddlApplicationTypeChange()">
                    <mat-option *ngFor="let appType of applicationTypeddl | async" [value]="appType">
                      {{ this.translationService.getSelectedLanguage() =="en" ? appType.valueEn: appType.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="legalTypeApporvalFormGroup" [fieldName]="'applicationTypeddl'"></kt-error>
              </div>
              <div class="col-md-12">
                <br>
                <!--begin::Divider-->
                <div class="kt-login__divider">
                  <div class="kt-divider">
                    <span></span>
                    <span></span>
                  </div>
                </div>
                <!--end::Divider-->
                <div class="table-responsive table table-striped">
                  <table class="table notesGrid">
                    <thead>
                      <tr>
                        <th>Select</th>
                        <th> {{ 'PAGESMODULE.LEGALTYPEAPPROVAL.GOVTAUTHORITYAR' | translate }}</th>
                        <th> {{ 'PAGESMODULE.LEGALTYPEAPPROVAL.GOVTAUTHORITYEN' | translate }}</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let govtAuthority of govtAuthorityGrid; let i = index">
                        <td>
                          <label class="kt-checkbox kt-checkbox--brand d-inline">
                            <input type="checkbox" [checked]="govtAuthority.isActive"
                              (change)="cbGovtAuthorityChange(i, $event.srcElement.checked)">
                            <span></span>
                          </label>
                        </td>
                        <td>{{govtAuthority.valueAr}}</td>
                        <td>{{govtAuthority.valueEn}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
                    <button [routerLink]="['/pages/master-data/legal-type-approval']" type="button"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                    <button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>