<div class="modal-content">
  <form [formGroup]="rejectForm" autocomplete="off" (ngSubmit)="rejectFormSubmit()">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Rejection Reason :: BN Name</h4><button aria-label="Close"
        class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
      <mat-form-field appearance="outline">
        <mat-label>Reasons</mat-label>
        <!-- *ngFor="let type of typeGenderCode | async"> -->
        <mat-select multiple formControlName="reason">
          <mat-option *ngFor="let type of cancelReasons | async" [value]="type.reasonTypeId">
            {{ this.translationService.getSelectedLanguage() =="en" ? type.reasonEn : type.reasonAr}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <kt-error [formName]="rejectForm" [fieldName]="'reason'"></kt-error>
      <mat-form-field appearance="outline">
        <mat-label>Remarks</mat-label>
        <textarea matInput placeholder="Remarks" rows="5" formControlName="remarks"></textarea>
      </mat-form-field>
      <kt-error [formName]="rejectForm" [fieldName]="'remarks'"></kt-error>
    </div>
    <div class="modal-footer" style="display: block;">
      <div class="row">
        <div class="col-md-12 text-center">

          <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
          <button aria-label="Close" type="button" mat-dialog-close
            class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">Cancel</button>
          <button aria-label="Close" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
            [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
            Submit
          </button>

        </div>
      </div>
    </div>
  </form>
</div>