<form class="tda-form" [formGroup]="loginDocForm" (ngSubmit)="loginDocFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-8">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.LOGINDOCVALIDATION.LDV' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">

              <ng-container formArrayName="loginDoc"
                *ngFor="let item of loginDocForm.controls['loginDoc']['controls']; let i = index">
                <ng-container [formGroupName]="i">
                  <div class="col-md-12">
                    <p>
                      <strong>
                        {{ this.translationService.getSelectedLanguage() =="en" ? labels[i].labelEn : labels[i].labelAr }}
                      </strong>
                    </p>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>
                        {{ this.translationService.getSelectedLanguage() =="en" ? labels[i].beforeExpiryLabelEn : labels[i].beforeExpiryLabelAr }}
                      </mat-label>
                      <input matInput
                        placeholder="{{ this.translationService.getSelectedLanguage() =='en' ? labels[i].beforeExpiryLabelEn : labels[i].beforeExpiryLabelAr }}"
                        type="number" formControlName='notifyBefore'>
                    </mat-form-field>
                    <kt-error [formName]="loginDocForm.controls.loginDoc.controls[i]" [fieldName]="'notifyBefore'">
                    </kt-error>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>
                        {{ this.translationService.getSelectedLanguage() =='en' ? labels[i].afterExpiryLabelEn : labels[i].afterExpiryLabelAr }}
                      </mat-label>
                      <input matInput
                        placeholder="{{ this.translationService.getSelectedLanguage() =='en' ? labels[i].afterExpiryLabelEn : labels[i].afterExpiryLabelAr }}"
                        type="number" formControlName='lockAfter'>
                    </mat-form-field>
                    <kt-error [formName]="loginDocForm.controls.loginDoc.controls[i]" [fieldName]="'lockAfter'">
                    </kt-error>
                  </div>
                </ng-container>
              </ng-container>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <a [routerLink]="['/pages/dashboard']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                    <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>