<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Attachment</h4><button aria-label="Close" class="close" type="button"
      mat-dialog-close><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="http://www.sheenservices.com/uae/wp-content/uploads/2018/07/Emirates-ID.jpg" style="max-width: 500px;"
        alt="">
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
  </div>
</div>
 