<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.TITLE.MMU' | translate }}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/government/add-govt-users']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Manage Master User', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>
      </div> 
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter [hiddenColumns]="[3,4]"
          #exporter="matTableExporter">
          <ng-container matColumnDef="fullNameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'GENERALWORDS.NAMEAR' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fullNameAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="fullNameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'GENERALWORDS.NAMEEN' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fullNameEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="userName">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.USERNAME' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="linkedUser">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.LINKEDUSER' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button class="btn btn-bold btn-label-brand btn-sm"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': row.linkedUserloading}"
                (click)="openLinkedRoleUsersDialog(row,row.userId)">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button (click)="onEditClick(row)" type="button"
                class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" (change)="CheckboxChange(row.userId)" [checked]="row.isActive" name="">
                  <span>{{row.isActive}}</span>
                </label>
              </span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>