<!--begin::Modal Popup for View Button (Linked User)-->
<div class="modal-content tda-modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> {{ 'PAGESMODULE.TDAUSERPROFILE.LMR' | translate }} :: {{ 'GENERALWORDS.USERNAME' | translate }}</h4>
    <button aria-label="Close" class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>

  </div>
  <div class="modal-body tda-modal-body">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-bold btn-sm mb-4"
          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
          <span aria-hidden="true" (click)="confirmSelected()">
            {{ 'GENERALWORDS.CONFIRMSELECTED' | translate }}
          </span>
        </button>
      </div>
      <div class="col-md-6 text-right">
        <mat-form-field>
          <mat-label>
            {{'GENERALWORDS.SEARCH' | translate }}
          </mat-label>
          <input class="tda-form-control" matInput (keyup)="applyFilterstepThree($event.target.value)"
            placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
        </mat-form-field>
      </div>
    </div> 
    <!--begin: Datatable -->
    <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
      <mat-table matSort [dataSource]="stepThree" class="tdaMetronicBorderedTable">
        <!-- Select -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <label class="kt-checkbox kt-checkbox--brand d-inline">
              <input type="checkbox" (change)="linkMoreUser(row.id, $event.srcElement.checked)">
              <span></span>
            </label>
          </mat-cell>
        </ng-container>
        <!-- Name Ar -->
        <ng-container matColumnDef="nameAr">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameAr' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
        </ng-container>
        <!-- Full Name En -->
        <ng-container matColumnDef="nameEn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameEn' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsstepThree"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsstepThree;"></mat-row>
      </mat-table>
      <mat-paginator class="tdaMobilePaginator" #matPaginatorstepThree [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <!--end: Datatable -->
  </div>
</div>