<!-- begin: Header -->
<div ktHeader #ktHeader class="kt-header kt-grid__item" [ngClass]="htmlClassService.getClasses('header', true)"
	id="kt_header">
	<ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async"
		height="3px"></ngb-progressbar>
	<!-- begin: Header Menu -->
	<kt-menu-horizontal *ngIf="menuHeaderDisplay" class="col-md-6"></kt-menu-horizontal>
	<!-- end: Header Menu -->
	<kt-topbar></kt-topbar>
	<!-- end:: Header Topbar -->
</div>
<!-- end: Header -->