:host ::ng-deep .kt-loading-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
}

:host ::ng-deep .kt-loading-bar .progress-bar {
  background-color: #e9921b;
}

:host ::ng-deep .kt-header__topbar-item {
  height: 100%;
}

@media (min-width: 1025px) {
  :host ::ng-deep .kt-header__topbar, :host ::ng-deep .kt-header__topbar-item-wrapper {
    height: 100%;
  }
}
/*# sourceMappingURL=header.component.css.map */