<form class="tda-form" [formGroup]="businessActivityGroups" (ngSubmit)="businessActivityGroupsFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.BUSINESSACTIVITY.ABAG' | translate }}
                
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.MASTERDATA.CODE' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'PAGESMODULE.MASTERDATA.CODE' | translate }}" type="text" formControlName="code">
                </mat-form-field>
                <kt-error [formName]="businessActivityGroups" [fieldName]="'code'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}</mat-label>
                  <textarea class="arabicTextBox" matInput placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}" rows="3" formControlName="descriptionAr"></textarea>
                </mat-form-field>
                <kt-error [formName]="businessActivityGroups" [fieldName]="'descriptionAr'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-label>
                  <textarea class="englishTextBox" matInput placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}" rows="3" formControlName="descriptionEn"></textarea>
                </mat-form-field>
                <kt-error [formName]="businessActivityGroups" [fieldName]="'descriptionEn'"></kt-error>
              </div>

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]=true>{{ 'GENERALWORDS.ACTIVE' | translate }}</mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]=false>{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <a [routerLink]="['/pages/admin/business-activity-groups']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">Cancel</a>
                    <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10" [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>