<mat-dialog-content>
  <div class="modal-content" [formGroup]="StakeHolderForm">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Stakeholders</h4><button aria-label="Close" class="close"
        type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select placeholder="" formControlName="type" (ngModelChange)="onStakeholderTypesChanged()">
              <mat-option *ngFor="let type of stakeholderTypes | async" [value]="type.id">
                {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
              </mat-option>
            </mat-select>
            <!-- <mat-select placeholder="Type">
              <mat-option value="1" (click)="setRadioButtonCondition(0)">Individual</mat-option>
              <mat-option value="2" (click)="setRadioButtonCondition(1)">Gov Entity</mat-option>
              <mat-option value="3" (click)="setRadioButtonCondition(2)">License</mat-option>
              <mat-option value="4" (click)="setRadioButtonCondition(3)">Inheritance Representative</mat-option>
            </mat-select> -->
          </mat-form-field>
          <kt-error [formName]="StakeHolderForm" [fieldName]="'type'"></kt-error>
        </div>
        <div class="col-md-6"></div>
      </div>
      <div [ngClass]="this.StakeHolderForm.value.type == stakeholderEnum.Individual ? 'activeID' : 'notActiveID'">
        <div class="row">

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Select your individuals</mat-label>
              <mat-select placeholder="" formControlName="individualEntities">
                <mat-option *ngFor="let type of individuals | async" [value]="type.stakeHolderId">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.fullNameEn : type.fullNameAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="StakeHolderForm" [fieldName]="'individualEntities'"></kt-error>
          </div>
          <div class="col-md-4">
            <div class="formTableButton">
              <button class="btn btn-danger btn-sm" aria-label="Close" mat-dialog-close
                (click)="open(addStakeHoldersPopup)">
                <!--
                [routerLink]="['/pages/business-licensing/add-stakeholders']"
                -->
                Add Individual
              </button></div>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Type</mat-label>
              <input disabled class="tda-form-control kt-font-brand" matInput type="text" placeholder="Type"
                value="Registered / Not Registered" />
            </mat-form-field>
          </div>
          <div class="col-md-6">&nbsp;</div>
          <div class="col-md-6">
            <mat-form-field appearance="outline"
              [ngClass]="this.StakeHolderForm.value.type == stakeholderEnum.Individual ? 'activeID' : 'notActiveID'">
              <mat-label>Emirates ID</mat-label>
              <input disabled class="tda-form-control" matInput type="text" [textMask]="{mask: emiratesIDMask}"
                placeholder="000-0000-0000000-0" />
            </mat-form-field>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID Expiry Date</mat-label>
              <input disabled class="tda-form-control" matInput [matDatepicker]="emiexpiryDate"
                placeholder="Emirates ID Expiry Date" (click)="emiexpiryDate.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="emiexpiryDate"></mat-datepicker-toggle>
              <mat-datepicker #emiexpiryDate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput type="text" placeholder="Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Father Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                placeholder="Father Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Grandfather Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                placeholder="Grandfather Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Family Name Ar</mat-label>
              <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                placeholder="Family Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Full name En</mat-label>
              <input disabled class="tda-form-control englishTextBox" matInput type="text" placeholder="Full name En" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input disabled class="tda-form-control" matInput type="text" placeholder="00971xxxxxxx" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input disabled class="tda-form-control" matInput type="email" placeholder="Email" autocomplete="off" />
            </mat-form-field>
            <!-- <kt-error [formName]="externalUserIndivisual" [fieldName]="'email'"></kt-error> -->
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select placeholder="Nationality" [disabled]="disableSelect">
                <mat-option value="option">1</mat-option>
                <mat-option value="option">2</mat-option>
                <mat-option value="option">3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport No.</mat-label>
              <input disabled class="tda-form-control" matInput type="number"
                placeholder="Passport no without dashes" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport Expiry Date</mat-label>
              <input disabled matInput [matDatepicker]="pedco" placeholder="Passport Expiry Date" (click)="pedco.open()"
                readonly>
              <mat-datepicker-toggle matSuffix [for]="pedco"></mat-datepicker-toggle>
              <mat-datepicker #pedco></mat-datepicker>
            </mat-form-field>
          </div>

        </div>
      </div>
      <div [ngClass]="this.StakeHolderForm.value.type == stakeholderEnum.GovAuthority ? 'activeID' : 'notActiveID'">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Govt Entity Name</mat-label>
              <mat-select placeholder="" formControlName="govtEntity">
                <mat-option *ngFor="let type of govtEntity | async" [value]="type.id">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="StakeHolderForm" [fieldName]="'govtEntity'"></kt-error>
          </div>
        </div>
      </div>
      <div [ngClass]="this.StakeHolderForm.value.type == stakeholderEnum.License ? 'activeID' : 'notActiveID'">
        <div class="row">

          <div class="col-md-12">
            <br>
            <mat-radio-group>
              <div class="row">
                <div class="col-md-12">
                  <mat-radio-group formControlName="businessNamesTypes">
                    <mat-radio-button *ngFor="let type of businessNameTypes" (click)="setRadioButtonCondition(type.id)"
                      [value]="type.id"
                      [checked]="this.businessNameTypes[0].id == this.StakeHolderForm.value.businessNamesTypes">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-radio-button>
                  </mat-radio-group>
                  <kt-error [formName]="StakeHolderForm" [fieldName]="'businessNamesTypes'"></kt-error>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>
        <div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>License No</mat-label>
                <input class="tda-form-control" placeholder="License No" formControlName="licenceNumber" matInput
                  type="text" />
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'licenceNumber'"></kt-error>
            </div>
            <div *ngIf="(this.StakeHolderForm.value.businessNamesTypes == this.businessNamesTypesEnum.LocalTDABranch)" class="col-md-1">
              <div class="formTableButton"> <button (click)="getHeadOfficeLicenseNoData()"
                  class="btn btn-danger btn-sm"> <i class="kt-font-brand flaticon-search"></i></button></div>

            </div>
            <div *ngIf="(this.StakeHolderForm.value.businessNamesTypes == this.businessNamesTypesEnum.LocalTDABranch)" class="col-md-5"></div>

            <div *ngIf="!(this.StakeHolderForm.value.businessNamesTypes == this.businessNamesTypesEnum.LocalTDABranch)" class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Issuing Authority</mat-label>
                <mat-select placeholder="Issuance Authority" formControlName="ddlIssueanceAuthority">
                  <mat-option *ngFor="let type of issueanceAuthority | async" [value]="type.id">
                    {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'ddlIssueanceAuthority'"></kt-error>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Issue Date</mat-label>
                <input class="tda-form-control" formControlName="licenceIssueDate" matInput [matDatepicker]="issueDate"
                  placeholder="Passport Expiry Date" (click)="issueDate.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
                <mat-datepicker #issueDate></mat-datepicker>
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'licenceIssueDate'"></kt-error>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Expiry Date</mat-label>
                <input class="tda-form-control" formControlName="licenceExpiryDate" matInput
                  [matDatepicker]="expiryDate" placeholder="Passport Expiry Date" (click)="expiryDate.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
                <mat-datepicker #expiryDate></mat-datepicker>
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'licenceExpiryDate'"></kt-error>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>BN Name Ar</mat-label>
                <input class="tda-form-control arabicTextBox" formControlName="BNnameAr" placeholder="BN Name Ar"
                  matInput type="text" />
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'BNnameAr'"></kt-error>
            </div>
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>BN Name En</mat-label>
                <input class="tda-form-control englishTextBox" formControlName="BNnameEn" placeholder="BN Name En"
                  matInput type="text" />
              </mat-form-field>
              <kt-error [formName]="StakeHolderForm" [fieldName]="'BNnameEn'"></kt-error>
            </div>
          </div>
        </div>
      </div>
      <div
        [ngClass]="this.StakeHolderForm.value.type == stakeholderEnum.InehritanceRepresentative ? 'activeID' : 'notActiveID'">
        <div class="row">

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Select Inheritance Representative</mat-label>
              <mat-select placeholder="" formControlName="InheritanceRepresentative">
                <mat-option *ngFor="let type of inheritenceRepresentative | async" [value]="type.stakeHolderId">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.fullNameEn : type.fullNameAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="StakeHolderForm" [fieldName]="'InheritanceRepresentative'"></kt-error>
          </div>
          <div class="col-md-6">
            <div class="formTableButton">
              <button class="btn btn-danger btn-sm" aria-label="Close" mat-dialog-close
                (click)="open(addStakeHoldersPopup)">
                <!--
                [routerLink]="['/pages/business-licensing/add-stakeholders']"
                -->
                Add Inheritance Representative
              </button></div>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID</mat-label>
              <input class="tda-form-control" matInput type="text" [textMask]="{mask: emiratesIDMask}"
                placeholder="000-0000-0000000-0" />
            </mat-form-field>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID Expiry Date</mat-label>
              <input class="tda-form-control" matInput [matDatepicker]="emiexpiryDate2"
                placeholder="Emirates ID Expiry Date" (click)="emiexpiryDate2.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="emiexpiryDate2"></mat-datepicker-toggle>
              <mat-datepicker #emiexpiryDate2></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Father Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Father Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Grandfather Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Grandfather Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Family Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Family Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Full name En</mat-label>
              <input class="tda-form-control englishTextBox" matInput type="text" placeholder="Full name En" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="00971xxxxxxx" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input class="tda-form-control" matInput type="email" placeholder="Email" autocomplete="off" />
            </mat-form-field>
            <!-- <kt-error [formName]="externalUserIndivisual" [fieldName]="'email'"></kt-error> -->
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select placeholder="Nationality" [disabled]="disableSelect">
                <mat-option value="option">1</mat-option>
                <mat-option value="option">2</mat-option>
                <mat-option value="option">3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport No.</mat-label>
              <input class="tda-form-control" matInput type="number" placeholder="Passport no without dashes" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport Expiry Date</mat-label>
              <input matInput [matDatepicker]="pedco2" placeholder="Passport Expiry Date" (click)="pedco2.open()"
                readonly>
              <mat-datepicker-toggle matSuffix [for]="pedco2"></mat-datepicker-toggle>
              <mat-datepicker #pedco2></mat-datepicker>
            </mat-form-field>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Share</mat-label>
            <input class="tda-form-control" matInput type="text" formControlName="type" placeholder="shares" />
          </mat-form-field>
          <kt-error [formName]="StakeHolderForm" [fieldName]="'shares'"></kt-error>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Relationship Type</mat-label>
            <mat-select placeholder="" formControlName="ddlStakeHolderRelationshipType">
              <mat-option *ngFor="let type of stakeholderRelationship | async" [value]="type.id">
                {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <kt-error [formName]="StakeHolderForm" [fieldName]="'ddlStakeHolderRelationshipType'"></kt-error>
        </div>
      </div>
    </div>
    <div class="modal-footer" style="display: block;">
      <div class="row">
        <div class="col-md-12 text-center">

          <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
          <button aria-label="Close" type="button" mat-dialog-close
            class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">Save & Close</button>
          <button (click)="addstakeholder()"
            class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
            Add More
          </button>

        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>




<!--begin::Modal Popup for View Access Rights-->
<ng-template #addStakeHoldersPopup let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <p>Are you sure you want to leave this page?</p>
      <p>Your data will be saved as draft.</p>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button aria-label="Close" (click)="modal.dismiss('Cross click')"
          class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">No</button>
        <!-- <button [routerLink]="['/pages/stakeholders/add-stakeholders-individual']"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10" aria-label="Close"
          (click)="(modal.dismiss('Cross click')) + '' + (closeAllMatDialog())">
          Yes
      </button> -->

      </div>
    </div>
  </div>
</ng-template>