<mat-dialog-content>
  <form [formGroup]="requestForInspectionForm" autocomplete="off" (ngSubmit)="requestForInspectionFormSubmit()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Request for Inspection</h4><button aria-label="Close"
          class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
      </div>
      <div class="modal-body">
        <table class="text-center rejectedReason">

          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Remarks</mat-label>
                <textarea matInput placeholder="Remarks" rows="3"></textarea>
              </mat-form-field>
              <kt-error [formName]="requestForInspectionForm" [fieldName]="'remarks'"></kt-error>
            </td>
          </tr>

        </table>
      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row">
          <div class="col-md-12 text-center">
            <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
            <button aria-label="Close" type="button" mat-dialog-close
              class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">Cancel</button>
            <button aria-label="Close" mat-dialog-close class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>