<div class="kt-section__content notes">
  <div class="row">
    <div class="col-md-12">
      <div class="wizardBorder licenseInfo tda-form">
        <p><strong>
            Basic Info
          </strong></p>
        <br>
        <div class="row">
          <div class="col-md-6">
            <p></p>
            <mat-radio-button name="uaeCitizen" checked>UAE Citizen</mat-radio-button>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID</mat-label>
              <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID"
                [value]="user?.citizenId" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Emirates ID Expiry Date</mat-label>
              <input disabled class="tda-form-control" matInput [matDatepicker]="eied" [value]="user?.emiratesIdexpiry"
                placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
              <mat-datepicker #eied></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" disabled matInput type="text" [value]="user?.nameAr"
                placeholder="Name Ar" />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Father Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" disabled matInput type="text" [value]="user?.fatherNameAr"
                placeholder="Father Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Grandfather Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                [value]="user?.grandFatherNameAr" placeholder="Grandfather Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Family Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" disabled matInput type="text" [value]="user?.familyNameAr"
                placeholder="Family Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Full name En</mat-label>
              <input class="tda-form-control englishTextBox" disabled matInput type="text" placeholder="Full name En"
                [value]="this.translationService.getSelectedLanguage() =='en' ?  user?.fullNameEn : user?.fullNameAr" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Nationality</mat-label>
              <mat-select disabled placeholder="" [value]="user?.nationalityCode">
                <mat-option *ngFor="let type of nationalities | async" [value]="type.id">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport No.</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="user?.passportNo"
                placeholder="Passport no without dashes" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Passport Expiry Date</mat-label>
              <input disabled class="tda-form-control" matInput [matDatepicker]="ped" [value]="user?.passportExpiryAt"
                placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
              <mat-datepicker #ped></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kt-section__content notes">
  <div class="row">
    <div class="col-md-12">
      <div class="wizardBorder tda-form">
        <p><strong>
            Contact Info
          </strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Phone Residence</mat-label>
              <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence"
                [value]="user?.phoneResidence" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Phone Work</mat-label>
              <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work"
                [value]="user?.phoneWork" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Secondary Mobile No.</mat-label>
              <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx"
                [value]="user?.secMobileNo" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Fax No.</mat-label>
              <input class="tda-form-control" disabled matInput type="text" placeholder="Title" [value]="user?.faxNo" />
            </mat-form-field>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="kt-section__content notes" *ngIf="loginOnBehalf">
  <div class="row">
    <div class="col-md-12">
      <div class="wizardBorder ">
        <p><strong>
            On Behalf Of
          </strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Name Ar</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="loginOnBehalf?.fullNameAr" placeholder="Name Ar" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Name En</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="loginOnBehalf?.fullNameEn" placeholder="Name En" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>HR Code</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="loginOnBehalf?.hrcode" placeholder="HR Code" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Business Unit</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="this.translationService.getSelectedLanguage() =='en' ?  loginOnBehalf?.nameEn : loginOnBehalf?.nameAr" placeholder="Business Unit" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Designation</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="loginOnBehalf?.designation" placeholder="Designation" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="loginOnBehalf?.userEmail" placeholder="Email" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile No.</mat-label>
              <input class="tda-form-control" disabled matInput type="text" [value]="loginOnBehalf?.mobileNo" placeholder="Mobile No." />
            </mat-form-field>
          </div>
          <div class="col-md-6"></div>
        </div>
      </div>
    </div>
  </div>
</div>