<div class="row">
  <div class="col-md-12"><button (click)="openSubmittedBNRequest()" class="btn btn-primary btn-sm">
      View Submitted BN Info</button></div>
</div>
<br>
<div class="kt-section__content notes" [formGroup]="InitialInfoForm">
  <div class="row">
    <div class="col-md-12">
      <div class="applicationRefInfo">
        <div class="row">

          <div class="col-md-3">
            <p><strong>IAN #: <span class="kt-font-danger kt-font-lg">{{model.refNo}}</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN #: <span class="kt-font-danger kt-font-lg">{{model.bnRef}}</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">{{model.bnNameAr}}</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">{{model.bnNameEn}}</span></strong></p>
          </div>
        </div>
      </div>
      <br>
      <div class="wizardBorder licenseInfo">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Main Area</mat-label>
              <mat-select formControlName="mainArea">
                <mat-option *ngFor="let type of mainArea | async" [value]="type">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'mainArea'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Sub Area</mat-label>
              <mat-select formControlName="subArea">
                <mat-option *ngFor="let type of subArea | async" [value]="type">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'subArea'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Street</mat-label>
              <input class="tda-form-control" formControlName="street" matInput type="text" placeholder="Street" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'street'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Full Text Adress</mat-label>
              <input readonly class="tda-form-control" matInput type="text" formControlName="address"
                placeholder="Main Area, Sub Area, Street" value="( (this.translationService.getSelectedLanguage() =='en') ? (this.InitialInfoForm.value.mainArea?.valueEn + ',' + this.InitialInfoForm.value.subArea?.valueEn + ',' + this.InitialInfoForm.value.street) : (this.InitialInfoForm.value.mainArea?.valueAr + ',' + this.InitialInfoForm.value.subArea?.valueAr + ',' + this.InitialInfoForm.value.street) )" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'address'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Parcel ID</mat-label>
              <input class="tda-form-control" matInput type="text" formControlName="parcelID" placeholder="Parcel ID" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'parcelID'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Submission Reason</mat-label>
              <mat-select formControlName="reason">
                <mat-option *ngFor="let type of reasonsType | async" [value]="type">
                  {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'reason'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Branch Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" (keypress)="validationMessages.allowAr($event)" formControlName="branchNameAr" matInput type="text"
                placeholder="Branch Name Ar" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'branchNameAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Branch Name En</mat-label>
              <input class="tda-form-control" matInput type="text" formControlName="branchNameEn"
                placeholder="Branch Name En" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'branchNameEn'"></kt-error>
          </div>
          <div class="col-md-12">
            <br>
            <p><strong>Google Map Coordinates</strong></p>
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>Longitude</mat-label>
              <input class="tda-form-control" matInput type="number" formControlName="longitude"
                placeholder="Longitude" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'longitude'"></kt-error>
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>Latitude</mat-label>
              <input class="tda-form-control" matInput type="number" formControlName="latitude"
                placeholder="Latitude" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'latitude'"></kt-error>
          </div>
          <div class="col-md-2">
            <div class="formTableButton"> <button class="btn btn-danger btn-sm"><i
                  class="flaticon-placeholder-2"></i></button>
            </div>
          </div>


          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Makani No.</mat-label>
              <input class="tda-form-control arabicTextBox" matInput type="text" formControlName="makhniNo"
                placeholder="Makani No." />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'makhniNo'"></kt-error>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Building</mat-label>
              <input class="tda-form-control" matInput type="text" formControlName="building" placeholder="Building" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'building'"></kt-error>
          </div>
          <div class="col-md-4">
            <mat-form-field appearance="outline">
              <mat-label>Unit</mat-label>
              <input class="tda-form-control" matInput type="text" formControlName="unit" placeholder="Unit" />
            </mat-form-field>
            <kt-error [formName]="InitialInfoForm" [fieldName]="'unit'"></kt-error>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>