.notActiveID {
  display: none;
}
.activeID {
  display: block;
}
mat-form-field {
  width: 100%;
}
.formTableButton {
  position: relative;
  top: 18px;
  color: #fff;
  button {
    i {
      color: #fff !important;
    }
  }
}
.actionButtons {
  border: none !important;
  margin: 10px 0;
  button, a {
    min-width: 150px;
    margin: 10px 0;
    &:hover{
      color:#fff;
    }
  }
}
.attachments {
	max-width: 750px;
	margin: 0 auto;
}
.customAttachment {
  table {
    width: 100%;
    tr {
      td {
        padding: 10px;
        vertical-align: bottom;
        .custom-file-label {
          &::after {
            background: #e9921b;
            color: #fff;
          }
        }
      }
    }
  }
  .attachmentsThumbnail {
    text-align: center;
    position: relative;
    img {
      max-width: 350px;
      width: 100%;
      margin: 0px auto 10px;
      border-radius: 8px;
      border: 1px solid #e2e5ec;
    }
    .successTick {
      position: absolute;
      top: -20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      right: 10px;
      z-index: 5;
      background: rgba(255, 255, 255, 0.9);
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      img {
        border: 0;
        margin: 0;
        width: 60%;
      }
    }
  }
}
//input outline color
::ng-deep .successValid.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #0abb87 !important;
  border-color: #0abb87;
  background-image: url("../../../../../../assets/media/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.325rem);
  background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}
// mat-label normal state style
::ng-deep .successValid .mat-form-field-label {
  color: #0abb87 !important;
  // color: $mainColor!important;
}

//input outline color
::ng-deep .successInValid.mat-form-field-appearance-outline .mat-form-field-outline {
  color: #ff0000 !important;

}
// mat-label normal state style
::ng-deep .successInValid .mat-form-field-label {
  color: #ff0000 !important;
  // color: $mainColor!important;
}
