<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-line-chart"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				{{'PAGESMODULE.RRREQUEST.ReviewRequestUser' | translate}}:
			</h3>
		</div>
	</div>
	<div class="kt-portlet__body">
		<div class="kt-section">
			<!--begin:: Repeated Content for Every Step -->
			<div class="row applicationRefInfo">
				<div class="col-md-4">
					<p><strong>{{'PAGESMODULE.RRREQUEST.ApplicationRef' | translate}}: <span
								class="kt-font-danger kt-font-lg">{{userDetail.userId}}</span></strong>
					</p>
				</div>
				<div class="col-md-4 text-center">
					<p>
						<strong>
							{{'PAGESMODULE.REGISTRATIONREQUEST.ApplicationType' | translate}}:
							<span class="kt-font-danger kt-font-lg">
								{{ userDetail.userTypeNavigation.id==this.userTypeEnum.Document_Clearance_company ? 'Company' : 'Individual'}}
							</span>
						</strong>
					</p>
				</div>
				<div class="col-md-4 text-right">
					<p><strong>{{'PAGESMODULE.RRREQUEST.SubmissionDate' | translate}}:
							<span class="kt-font-danger kt-font-lg">
								{{ validationMessages.convertUTCDateToLocalDate(userDetail.createdAt) | date:'d/M/yyyy, h:mm a'}}
							</span>
						</strong>
					</p>
				</div>
			</div>
			<br>
			<!--begin::Divider-->
			<div class="kt-login__divider">
				<div class="kt-divider">
					<span></span>
					<span></span>
				</div>
			</div>
			<!--end::Divider-->
			<br>
			<mat-horizontal-stepper labelPosition="bottom" #stepper>
				<!--Step 1-->
				<mat-step [stepControl]="firstFormGroup">
					<form [formGroup]="firstFormGroup" autocomplete="off">
						<ng-template matStepLabel class="'first-stepper'">{{ 'REGISTERMODULE.BASICINFO' | translate }}</ng-template>
						<div class="kt-section__content notes">
							<div class="row">
								<div class="col-md-12">
									<div class="wizardBorder licenseInfo">
										<div class="row">
											<ng-container *ngIf="userDetail.userTypeNavigation.id==this.userTypeEnum.Document_Clearance_company">
												<div class="col-md-6">
													<mat-form-field appearance="outline">
														<mat-label>{{'GENERALWORDS.LICENSENO' | translate }}</mat-label>
														<input class="tda-form-control" disabled matInput
															placeholder="{{'GENERALWORDS.LICENSENO' | translate }}"
															[value]="userDetail.userAttributes.licenseNumber" />
													</mat-form-field>
												</div>
												<div class="col-md-6"></div>
												<div class="col-md-6">
													<mat-form-field appearance="outline" class="">
														<mat-label>{{'GENERALWORDS.LICENSEEXPIRY' | translate }}</mat-label>
														<input class="tda-form-control" disabled matInput [matDatepicker]="led"
															[value]="userDetail.userAttributes.licenseExpiryAt" placeholder="" (click)="led.open()"
															readonly>
														<mat-datepicker-toggle matSuffix [for]="led"></mat-datepicker-toggle>
														<mat-datepicker #led></mat-datepicker>
													</mat-form-field>
												</div>
												<div class="col-md-6">
													<mat-form-field appearance="outline">
														<mat-label>{{'GENERALWORDS.ISSUANCE' | translate }}</mat-label>
														<mat-select [value]="userDetail.userAttributes.issuanceEmirates" disabled>
															<mat-option *ngFor="let type of emirates | async" [value]="type.id">
																{{type.valueEn}}
															</mat-option>
														</mat-select>
													</mat-form-field>
												</div>

												<div class="col-md-6">
													<mat-form-field appearance="outline">
														<mat-label>{{'GENERALWORDS.BNNAMEAR' | translate }}</mat-label>
														<input class="tda-form-control arabicTextBox" disabled matInput type="text"
															[value]="userDetail.userAttributes.bnnameAr"
															placeholder="{{'GENERALWORDS.BNNAMEAR' | translate }}" />
													</mat-form-field>
												</div>
												<div class="col-md-6">
													<mat-form-field appearance="outline">
														<mat-label>{{'GENERALWORDS.BNNAMEEN' | translate }}</mat-label>
														<input class="tda-form-control englishTextBox" disabled matInput type="text"
															placeholder="{{'GENERALWORDS.BNNAMEEN' | translate }}"
															[value]="userDetail.userAttributes.bnnameEn" />
													</mat-form-field>
												</div>
											</ng-container>

											<div class="col-md-6">
												<mat-radio-button value="UAE Citizen" checked>
													{{this.translationService.getSelectedLanguage() == 'en' ? userDetail.userTypeNavigation.valueEn: userDetail.userTypeNavigation.valueAr}}
												</mat-radio-button>
											</div>
											<div class="col-md-6"></div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>
														{{ ((this.userTypeEnum.UAE_Citizen==this.userDetail.userTypeNavigation.id) || (this.userTypeEnum.Resident_in_UAE==this.userDetail.userTypeNavigation.id)) ? ('GENERALWORDS.EMIRATESID' | translate):( 'GENERALWORDS.UID' | translate) }}
													</mat-label>
													<input class="tda-form-control" matInput type="text"
														[value]="userDetail.userAttributes.citizenId" disabled [textMask]="{mask: emiratesIDMask}"
														placeholder="000-0000-0000000-0" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>
														{{ ((this.userTypeEnum.UAE_Citizen==this.userDetail.userTypeNavigation.id) || (this.userTypeEnum.Resident_in_UAE==this.userDetail.userTypeNavigation.id)) ? ('GENERALWORDS.EMIRATESEXPIRY' | translate):( 'GENERALWORDS.UIDEXPIRY' | translate) }}
													</mat-label>
													<input disabled class="tda-form-control" matInput [matDatepicker]="pedEmirate"
														[value]="userDetail.userAttributes.emiratesIdexpiry"
														placeholder="{{ 'GENERALWORDS.PASSPORTEXPIRY' | translate }}" (click)="pedEmirate.open()"
														readonly>
													<mat-datepicker-toggle matSuffix [for]="pedEmirate"></mat-datepicker-toggle>
													<mat-datepicker #pedEmirate></mat-datepicker>
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.NAMEAR' | translate }}</mat-label>
													<input class="tda-form-control arabicTextBox" disabled matInput type="text"
														[value]="userDetail.userAttributes.nameAr"
														placeholder="{{ 'GENERALWORDS.NAMEAR' | translate }}" />
												</mat-form-field>
											</div>

											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.FNAMEAR' | translate }}</mat-label>
													<input class="tda-form-control arabicTextBox" disabled matInput type="text"
														[value]="userDetail.userAttributes.fatherNameAr"
														placeholder="{{ 'GENERALWORDS.FNAMEAR' | translate }}" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label> {{ 'GENERALWORDS.GNAMEAR' | translate }}</mat-label>
													<input class="tda-form-control arabicTextBox" disabled matInput type="text"
														[value]="userDetail.userAttributes.grandFatherNameAr"
														placeholder=" {{ 'GENERALWORDS.GNAMEAR' | translate }}" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.FMNAMEAR' | translate }}</mat-label>
													<input class="tda-form-control arabicTextBox" disabled matInput type="text"
														[value]="userDetail.userAttributes.familyNameAr"
														placeholder="{{ 'GENERALWORDS.FMNAMEAR' | translate }}" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.FULLNAME' | translate }}</mat-label>
													<input class="tda-form-control englishTextBox" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.FULLNAME' | translate }}" [value]="userDetail.fullNameEn" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.NATIONALITY' | translate }}</mat-label>
													<mat-select disabled [value]="userDetail.userAttributes.nationalityCode">
														<mat-option *ngFor="let type of typeNationalities | async" [value]="type.id">
															{{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.PASSPORT' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														[value]="userDetail.userAttributes.passportNo" placeholder="Passport no without dashes" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.PASSPORTEXPIRY' | translate }}</mat-label>
													<input disabled class="tda-form-control" matInput [matDatepicker]="ped"
														[value]="userDetail.userAttributes.passportExpiryAt"
														placeholder="{{ 'GENERALWORDS.PASSPORTEXPIRY' | translate }}" (click)="ped.open()" readonly>
													<mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
													<mat-datepicker #ped></mat-datepicker>
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{'GENERALWORDS.EMAIL' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text" [value]="userDetail.userEmail"
														placeholder="{{'GENERALWORDS.EMAIL' | translate }}" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{'GENERALWORDS.MOBILE' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text" [value]="userDetail.mobileNo"
														placeholder="{{'GENERALWORDS.MOBILE' | translate }}" />
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--begin:: Repeated Buttons Divs for Every Step -->
						<div class="row">
							<div class="col-md-4 text-center">
							</div>
							<div class="col-md-4 text-center">
							</div>
							<div class="col-md-4 text-right">
								<div class="wizardBorder actionButtons">
									<button matStepperNext class="btn btn-primary btn-sm">{{ 'GENERALWORDS.NEXT' | translate }}</button>
								</div>
							</div>
						</div>
						<!--end:: Repeated Content for Every Step -->
					</form>
				</mat-step>
				<!--Step 2-->
				<mat-step [stepControl]="secondFormGroup">
					<form [formGroup]="secondFormGroup" autocomplete="off">
						<ng-template matStepLabel>{{ 'GENERALWORDS.ATTACHMENTS' | translate }}</ng-template>
						<div class="kt-section__content notes">

							<div class="row">
								<div class="col-md-12 ">
									<div class="wizardBorder">
										<p><strong>{{ 'GENERALWORDS.ATTACHMENTS' | translate }}</strong></p>
										<!--begin::Divider-->
										<div class="kt-login__divider">
											<div class="kt-divider">
												<span></span>
												<span></span>
											</div>
										</div>
										<!--end::Divider-->
										<br>
										<table class="reviewAttachments">
											<tr *ngFor="let attachment of userDetail.attachmentsLog">
												<td>
													<span (click)="open(attachmentModal, attachment)"
														class="pointer">{{attachment.attachmentName}}</span>
												</td>
												<td>
													<mat-form-field appearance="outline" [hidden]="!attachment.inputData" >
														<mat-label>{{ 'GENERALWORDS.ENTERDATA' | translate }}</mat-label>
														<input matInput placeholder="{{ 'GENERALWORDS.ENTERDATA' | translate }}" [value]="attachment.inputData" disabled>
													</mat-form-field>
												</td>
											</tr>
										</table>
									</div>
								</div>
							</div>
						</div>
						<!--begin:: Repeated Buttons Divs for Every Step -->
						<div class="row">
							<div class="col-md-4">
								<div class="wizardBorder actionButtons">
									<button class="btn btn-danger btn-sm"
										matStepperPrevious>{{ 'GENERALWORDS.BACK' | translate }}</button>
								</div>
							</div>
							<div class="col-md-4 text-center">
							</div>
							<div class="col-md-4 text-right">
								<div class="wizardBorder actionButtons">
									<button matStepperNext class="btn btn-primary btn-sm">{{ 'GENERALWORDS.NEXT' | translate }}</button>
								</div>
							</div>
						</div>
						<!--end:: Repeated Content for Every Step -->
					</form>
				</mat-step>

				<!--Step 4-->
				<mat-step [stepControl]="fourthFormGroup">
					<form [formGroup]="fourthFormGroup" autocomplete="off">
						<ng-template matStepLabel>{{ 'REGISTERMODULE.JOBSPONSOR' | translate }} </ng-template>
						<div class="kt-section__content notes">
							<div class="row">
								<div class="col-md-12">
									<div class="wizardBorder jobInfo">
										<div class="row">
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.DESIGNATION' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.DESIGNATION' | translate }}"
														[value]="userDetail.userAttributes.designation" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.OCCUPATION' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.OCCUPATION' | translate }}"
														[value]="userDetail.userAttributes.ocuupation" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.SPONSORNAME' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.SPONSORNAME' | translate }}"
														[value]="userDetail.userAttributes.sponsorName" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.SPONSORTYPE' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.SPONSORTYPE' | translate }}"
														[value]="userDetail.userAttributes.sponsorType" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.TITLE' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.TITLE' | translate }}"
														[value]="userDetail.userAttributes.title" />
												</mat-form-field>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--begin:: Repeated Buttons Divs for Every Step -->
						<div class="row">
							<div class="col-md-4">
								<div class="wizardBorder actionButtons">
									<button class="btn btn-danger btn-sm"
										matStepperPrevious>{{ 'GENERALWORDS.BACK' | translate }}</button>
								</div>
							</div>
							<div class="col-md-4 text-center">
							</div>
							<div class="col-md-4 text-right">
								<div class="wizardBorder actionButtons">
									<button matStepperNext class="btn btn-primary btn-sm">{{ 'GENERALWORDS.NEXT' | translate }}</button>
								</div>
							</div>
						</div>
						<!--end:: Repeated Content for Every Step -->
					</form>
				</mat-step>
				<!--Step 5-->
				<mat-step [stepControl]="fifthFormGroup">
					<form [formGroup]="fifthFormGroup" autocomplete="off">
						<ng-template matStepLabel>{{ 'REGISTERMODULE.CONTACTINFO' | translate }}</ng-template>
						<div class="kt-section__content notes">
							<div class="row">
								<div class="col-md-12">
									<div class="wizardBorder contactInfo">
										<div class="row">
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.PHONERESIDENCE' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.PHONERESIDENCE' | translate }}"
														[value]="userDetail.userAttributes.phoneResidence" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.PHONEWORK' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.PHONEWORK' | translate }}"
														[value]="userDetail.userAttributes.phoneWork" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.SECONDARYMOBILENO' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text" placeholder="00971-00-000-0000"
														[value]="userDetail.userAttributes.secMobileNo" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.FAX' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.FAX' | translate }}"
														[value]="userDetail.userAttributes.faxNo" />
												</mat-form-field>
											</div>
											<div class="col-md-6"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--begin:: Repeated Buttons Divs for Every Step -->
						<div class="row">
							<div class="col-md-4">
								<div class="wizardBorder actionButtons">
									<button class="btn btn-danger btn-sm"
										matStepperPrevious>{{ 'GENERALWORDS.BACK' | translate }}</button>
								</div>
							</div>
							<div class="col-md-4 text-center">
							</div>
							<div class="col-md-4 text-right">
								<div class="wizardBorder actionButtons">
									<button matStepperNext class="btn btn-primary btn-sm">{{ 'GENERALWORDS.NEXT' | translate }}</button>
								</div>
							</div>
						</div>
						<!--end:: Repeated Content for Every Step -->
					</form>
				</mat-step>
				<!--Step 6-->
				<mat-step [stepControl]="sixthFormGroup">
					<form [formGroup]="sixthFormGroup" autocomplete="off">
						<ng-template matStepLabel>{{ 'GENERALWORDS.ADDRESS' | translate }}</ng-template>
						<div class="kt-section__content notes">
							<div class="row">
								<div class="col-md-12">
									<div class="wizardBorder addressInfo">
										<div class="row">
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.EMIRATES' | translate }}</mat-label>
													<mat-select [value]="userDetail.userAttributes.issuanceEmirates" disabled>
														<mat-option *ngFor="let type of emirates | async" [value]="type.id">
															{{type.valueEn}}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.MAINAREA' | translate }}</mat-label>
													<mat-select [value]="userDetail.userAttributes.mainArea" disabled>
														<mat-option *ngFor="let type of mainArea | async" [value]="type.id">
															{{type.valueEn}}
														</mat-option>
													</mat-select>
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.SUBAREA' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.SUBAREA' | translate }}"
														[value]="userDetail.userAttributes.subArea" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.STREET' | translate }} </mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.STREET' | translate }} "
														[value]="userDetail.userAttributes.street" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.BUILDING' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.BUILDING' | translate }}"
														[value]="userDetail.userAttributes.building" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.POBOX' | translate }}</mat-label>
													<input class="tda-form-control" disabled matInput type="text"
														placeholder="{{ 'GENERALWORDS.POBOX' | translate }}"
														[value]="userDetail.userAttributes.pobox" />
												</mat-form-field>
											</div>
											<div class="col-md-6">
												<mat-form-field appearance="outline">
													<mat-label>{{ 'GENERALWORDS.REMARKS' | translate }}</mat-label>
													<textarea matInput placeholder="{{ 'GENERALWORDS.REMARKS' | translate }}" disabled rows="5"
														[value]="userDetail.userAttributes.remarks"></textarea>
												</mat-form-field>
											</div>
											<div class="col-md-6"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!--begin:: Repeated Buttons Divs for Every Step -->
						<div class="row">
							<div class="col-md-4">
								<div class="wizardBorder actionButtons">
									<button class="btn btn-danger btn-sm"
										matStepperPrevious>{{ 'GENERALWORDS.BACK' | translate }}</button>
								</div>
							</div>
							<div class="col-md-4 text-center">
							</div>
							<div class="col-md-4 text-right">
							</div>
						</div>
						<!--end:: Repeated Content for Every Step -->
					</form>
				</mat-step>
			</mat-horizontal-stepper>
		</div>
	</div>
</div>


<!--begin::Modal Popup for View Access Rights-->
<ng-template #attachmentModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'GENERALWORDS.ATTACHMENTS' | translate }}</h4>
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<div class="kt-portlet">
			<div class="kt-portlet__body tdaTreeView  padding-bottom-zero">
				<div class="text-center">
					<img src="{{attachmentUrl}}" style="max-width: 500px;">
				</div>
			</div>
		</div>
	</div>
</ng-template>