.notActiveID {
  display: none;
}
.activeID {
  display: block;
}
.tda-form {
  padding: 25px 10px 0;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}

.action-buttons {
  text-align: center;
  padding: 15px 0;
}
