<form class="tda-form" [formGroup]="leaveForm" (ngSubmit)="leaveFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.MYLEAVES.ADDLEAVES' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>{{ 'PAGESMODULE.MYLEAVES.LEAVETYPE' | translate }}</label>
                  <mat-radio-group formControlName="typeId">
                    <div class="row">
                      <div class="col-md-3" *ngFor="let type of leaveType | async">
                        <mat-radio-button [value]="type.id" (change)="changeLeaveType(type.id)">
                          {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                        </mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-12" *ngIf="!(this.setLeave==197)">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}</mat-label>
                  <!-- <input matInput placeholder="Purpose" type="text" formControlName="fromDate"> -->
                  <input matInput [matDatepicker]="dateFrom3" formControlName="fromDate"
                    placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}" (click)="dateFrom3.open()"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateFrom3"></mat-datepicker-toggle>
                  <mat-datepicker #dateFrom3></mat-datepicker>
                </mat-form-field>
                <kt-error [formName]="leaveForm" [fieldName]="'fromDate'"></kt-error>
              </div>

              <div class="col-md-12" *ngIf="!(this.setLeave==197)">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}</mat-label>
                  <input matInput [matDatepicker]="dateTo3" formControlName="toDate"
                    placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}" (click)="dateTo3.open()"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateTo3"></mat-datepicker-toggle>
                  <mat-datepicker #dateTo3></mat-datepicker>
                </mat-form-field>
                <kt-error [formName]="leaveForm" [fieldName]="'toDate'"></kt-error>
              </div>

              <div class="col-md-12" *ngIf="(this.setLeave==197)">
                <mat-form-field appearance="outline">
                  <mat-label>Date</mat-label>
                  <input matInput [matDatepicker]="date" formControlName="date" placeholder="Date from"
                    (click)="date.open()" readonly>
                  <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
                  <mat-datepicker #date></mat-datepicker>
                </mat-form-field>
                <kt-error [formName]="leaveForm" [fieldName]="'date'"></kt-error>
              </div>
              <div class="col-md-12" *ngIf="(this.setLeave==197)">
                <div class="form-group">
                  <label class="igxLabel">{{'PAGESMODULE.LOGINLOGUTHISTORY.Timefrom' | translate}}</label>
                  <igx-time-picker #timeFrom2 format="HH:mm" mode="dropdown" formControlName="fromTime">
                    <ng-template igxTimePickerActions>
                      <div class="container action-buttons">
                        <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                          igxButton="flat"
                          (click)="timeFrom2.cancelButtonClick()">{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                        <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                          igxButton="flat"
                          (click)="timeFrom2.okButtonClick()">{{ 'GENERALWORDS.OK' | translate }}</button>
                      </div>
                    </ng-template>
                  </igx-time-picker>
                  <kt-error [formName]="leaveForm" [fieldName]="'fromTime'"></kt-error>
                </div>
              </div>
              <div class="col-md-12" *ngIf="(this.setLeave==197)">
                <div class="form-group">
                  <label class="igxLabel">{{'PAGESMODULE.LOGINLOGUTHISTORY.Timeto' | translate}}</label>
                  <igx-time-picker #timeTo2 format="HH:mm" mode="dropdown" formControlName="toTime">
                    <ng-template igxTimePickerActions>
                      <div class="container action-buttons">
                        <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                          igxButton="flat"
                          (click)="timeTo2.cancelButtonClick()">{{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                        <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                          igxButton="flat"
                          (click)="timeTo2.okButtonClick()">{{ 'GENERALWORDS.OK' | translate }}</button>
                      </div>
                    </ng-template>
                  </igx-time-picker>
                  <kt-error [formName]="leaveForm" [fieldName]="'toTime'"></kt-error>
                </div>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.MYLEAVES.PURPOSE' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'PAGESMODULE.MYLEAVES.PURPOSE' | translate }}" type="text"
                    formControlName="purpose">
                </mat-form-field>
                <kt-error [formName]="leaveForm" [fieldName]="'purpose'"></kt-error>
              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->
                    <button [routerLink]="['/pages/admin/my-leaves-management']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>