       <!--:: begin Form Fields-->
       <div class="kt-section">
        <div class="wizardBorder">
          <div class="example-header">
            <div class="row">
              <div class="col-md-9"> </div>

              <div class="col-md-3 text-right">
                <mat-form-field>
                  <input class="tda-form-control" matInput (keyup)="stakeHoldersapplyFilter7($event.target.value)"
                    placeholder="Search">
                </mat-form-field>
              </div>
            </div>

          </div>
          <!--begin: Datatable -->
          <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
            <mat-table matSort [dataSource]="stakeHoldersdataSource7" class="tdaMetronicBorderedTable">

              <ng-container matColumnDef="orderNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Order No </mat-header-cell>
                <mat-cell *matCellDef="let row; let i = index;">
                  {{i+1}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="type">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{ this.translationService.getSelectedLanguage() =="en" ?row.stakeHolderTypeEn : row.stakeHolderTypeAr}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="relationship">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{ this.translationService.getSelectedLanguage() =="en" ?row.relationShipTypeEn : row.relationShipTypeAr}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nameAr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name Ar </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{row.nameAr}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="nameEn">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{row.nameEn}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="share">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Share % </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{row.sharePrct}}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="registered">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  {{ row.isRegistered ? 'Yes' : 'No' }}
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="editView">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span matTooltip="View" [matTooltipPosition]="position.value" class="kt-font-success cursor">
                    <i class="flaticon-eye view"></i>
                  </span>
                  &nbsp;&nbsp;
                  <mat-checkbox class="blsCheckbox" [color]="'primary'" [checked]="row.isChecked"
                    (change)="updateStakeholderInfoValue(row.id)"> </mat-checkbox>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="stakeHoldersdisplayedColumns7"></mat-header-row>
              <mat-row *matRowDef="let row; columns: stakeHoldersdisplayedColumns7;"></mat-row>
            </mat-table>
            <mat-paginator #stakeHoldersmatPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </div>
      <!--:: end Form Fields -->