<div class="kt-section__content notes">
  <div class="row">
    <div class="col-md-12">
      <div class="wizardBorder ">
        <!--Material DataTable Section-->
        <div class="kt-section margin-bottom-zero">
          <div class="example-header">
            <div class="row">
              <div class="col-md-9">

              </div>
              <div class="col-md-3 text-right">
                <mat-form-field>
                  <input class="tda-form-control" matInput (keyup)="applyFilter8($event.target.value)"
                    placeholder="Search">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--begin: Datatable -->
          <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
            <mat-table matSort [dataSource]="dataSource8" class="tdaMetronicBorderedTable">
              <ng-container matColumnDef="bnrefNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header> BN/APP No </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <a [routerLink]=""><strong>{{row.bnrefNo}}</strong>
                  </a>
                </mat-cell>
              </ng-container>

              <ng-container matColumnDef="businessNameAr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.businessNameAr}} </mat-cell>
              </ng-container>



              <ng-container matColumnDef="businessNameEn">
                <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.businessNameEn}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="ianumber">
                <mat-header-cell *matHeaderCellDef mat-sort-header>IA No</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.ianumber}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="blno">
                <mat-header-cell *matHeaderCellDef mat-sort-header>BL No</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.blno}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <strong
                    [ngClass]=" ( row.statusId == workflowStatusEnum.Approved ) ? 'kt-font-brand' :  ( row.statusId == workflowStatusEnum.Submitted ) ? 'kt-font-success' : ( row.statusId == workflowStatusEnum.Draft ) ? 'kt-font-danger' :  ( row.statusId == workflowStatusEnum.ReturnedToCustomerWithFeedback ) ? 'kt-font-danger' : '' ">
                    {{ this.translationService.getSelectedLanguage() =="en" ? row.nameEn: row.nameAr}}
                  </strong>
                </mat-cell>
              </ng-container>


              <ng-container matColumnDef="daysLeft">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Days Left</mat-header-cell>
                <mat-cell *matCellDef="let row">
                  <span *ngIf="row.daysLeft =='10'" class="btn btn-sm btn-no-cursor btn-red">
                    {{row.daysLeft}}</span>
                  <span *ngIf="row.daysLeft !='10'"> {{row.daysLeft}}</span>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="editView">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                <mat-cell *matCellDef="let row" [style.color]="row.color">
                  <mat-radio-button (click)="selectedBN(row)" value="New">
                  </mat-radio-button>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
            </mat-table>
            <mat-paginator #matPaginator8 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <!--end: Datatable -->
      </div>
    </div>
  </div>
</div>
<!--begin:: Repeated Buttons Divs for Every Step -->