<div class="kt-grid kt-grid--hor kt-grid--root kt-login kt-login--v1" id="kt_login">
	<div
		class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
		<!--begin::Aside-->
		<div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
			style="background-image: url(./assets/media/bg/rask-bg.jpg);">
			<div class="kt-grid__item">
				<a href="javascript:;" class="kt-login__logo">
					<img class="auth-logo" src="./assets/media/logos/raktda-logo.png">
				</a>
			</div>
			<div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
				<div class="kt-grid__item kt-grid__item--middle">
					<h3 class="kt-login__title">{{ 'GENERALSENTENCES.WELCOMETORASALKHAIMAH' | translate }} </h3>
					<h4 class="kt-login__subtitle">{{ 'GENERALSENTENCES.LOGINTAGLINE' | translate }}</h4>
				</div>
			</div>
			<div class="kt-grid__item">
				<div class="kt-login__info">
					<div class="kt-login__copyright">
						&copy; {{today|date:'yyyy'}} {{ 'GENERALSENTENCES.FOOTER' | translate }}
					</div>
					<!-- <div class="kt-login__menu">
						<a href="javascript:;" class="kt-link">Privacy</a>
						<a href="javascript:;" class="kt-link">Legal</a>
						<a href="javascript:;" class="kt-link">Contact</a>
					</div> -->
				</div>
			</div>
		</div>
		<!--begin::Aside-->

		<!--begin::Content-->
		<div class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1 kt-login__wrapper">
			<div class="text-right">
				<!-- <a class="language">العربية</a> -->
				<span class="arabicLang kt-header__topbar-icon themeBranding" id="langen" *ngIf="lang === 'en'" (click)="setLanguage('ar')"
					[ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }">
					العربية
				</span>
				<span class="englishLang kt-header__topbar-icon themeBranding" id="langar" *ngIf="lang === 'ar'" (click)="setLanguage('en')"
					[ngClass]="{ 'kt-header__topbar-icon--brand' : iconType === 'brand' }">
					English
				</span>
			</div>
			<router-outlet></router-outlet>
		</div>
		<!--end::Content-->
	</div>
</div>