// import login css
@import "../../assets/css/demo1/pages/login/login-1.min.css";
@import "../../assets/css/demo1/style.bundle.min.css";

kt-auth,
.kt-login {
  height: 100%;

  .mat-form-field {
    width: 100%;
  }

  // add extra right padding when displaying spinner in button
  .kt-spinner {
    padding-right: 3rem !important;
  }
}
.auth-logo {
  max-width: 200px;
  max-height: 100px;
}
.kt-login.kt-login--v1 .kt-login__aside {
  padding: 3rem 3.5rem;
}
/*Login Page*/
.tda-login,
.tda-forgot-pwd,
.tda-signUp {
  .mat-form-field-appearance-legacy {
    .mat-form-field-underline {
      display: none;
    }
  }
  .form-group .mat-form-field-label {
    padding: 15px;
  }
}
.kt-form .form-group .tda-form-control {
  background-color: rgba(247, 247, 249, 0.7);
  padding: 15px;
  border-radius: 5px;
}
.mat-form-field-appearance-legacy.mat-form-field-can-float
  .mat-input-server:focus
  + .mat-form-field-label-wrapper
  .mat-form-field-label,
.mat-form-field-appearance-legacy.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  // transform: translateY(-1.88125em) scale(0.75) perspective(100px) translateZ(2.001px);
}
.generatePinBoxTable {
  width: 250px;
  margin: 0 auto;
}
/*Custom SignUp*/
.customSignUp {
  
  margin: 0 auto;
  background: none;
  .kt-portlet {
    box-shadow: none;
  }
  .kt-portlet .kt-portlet__body {
    padding: 0;
  }
  .row {
    margin: 0;
  }
}
.mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  padding: 5px 1em !important;
}

@media (max-width: 1024px) {
  .kt-login.kt-login--v1 .kt-login__aside {
    .kt-grid > .kt-grid__item {
      width: 90%;
      max-width: 480px;
      margin: 0 auto;
      text-align: center;
    }
  }
  .kt-login.kt-login--v1 .kt-login__aside .kt-login__info .kt-login__copyright {
    margin: 0 auto;
  }
  .auth-logo {
    max-width: 150px;
    max-height: 75px;
    margin: 0 auto;
  }
  a.language {
    display: block;
    text-align: center;
  }
}
