@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");
@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-Black.ttf") format("truetype"), url("fonts/Cairo-Black.svg#Cairo-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-Light.ttf") format("truetype"), url("fonts/Cairo-Light.svg#Cairo-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-Bold.ttf") format("truetype"), url("fonts/Cairo-Bold.svg#Cairo-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-SemiBold.ttf") format("truetype"), url("fonts/Cairo-SemiBold.svg#Cairo-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-Regular.ttf") format("truetype"), url("fonts/Cairo-Regular.svg#Cairo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("fonts/Cairo-ExtraLight.ttf") format("truetype"), url("fonts/Cairo-ExtraLight.svg#Cairo-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

* {
  direction: rtl !important;
  font-family: "Cairo" !important;
}

body {
  direction: rtl !important;
  font-family: "Cairo" !important;
}

.englishLang {
  font-family: "Poppins", sans-serif !important;
}

.englishTextBox {
  font-family: "Poppins", sans-serif !important;
  text-align: left !important;
}

.material-icons {
  font-family: "Material Icons" !important;
}

.la {
  font-family: "LineAwesome" !important;
}

.mat-ink-bar {
  display: none !important;
}

.mat-form-field-label-wrapper .mat-form-field-label mat-label {
  background: #fff;
  padding: 0 0px 0 10px;
}

.tda-login .mat-form-field-appearance-outline.mat-form-field-can-float
.mat-input-server:focus
+ .mat-form-field-label-wrapper
.mat-form-field-label,
.tda-login .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.tda-forgot-pwd .mat-form-field-appearance-outline.mat-form-field-can-float
.mat-input-server:focus
+ .mat-form-field-label-wrapper
.mat-form-field-label,
.tda-forgot-pwd .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateX(0) translateY(-1.59375em) scale(0.75);
          transform: translateX(0) translateY(-1.59375em) scale(0.75);
}

.mat-form-field-appearance-outline .mat-form-field-outline-start {
  border-radius: 0 5px 5px 0;
  border-left-style: none;
  border-right-style: solid;
  max-width: 4.75px;
}

.mat-form-field-appearance-outline .mat-form-field-outline-end {
  border-radius: 5px 0 0 5px;
  border-right-style: none;
  border-left-style: solid;
}

.mat-form-field {
  text-align: right;
}

.mat-form-field-appearance-outline.mat-form-field-can-float
.mat-input-server:focus
+ .mat-form-field-label-wrapper
.mat-form-field-label,
.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  -webkit-transform: translateX(0) translateY(-1.59375em) scale(0.75);
          transform: translateX(0) translateY(-1.59375em) scale(0.75);
}

.mat-radio-label-content {
  padding-left: 8px;
  padding-right: 8px;
}

/*Registration Content*/
.customAttachment table tr td {
  text-align: right;
  float: right;
}

.radioButtonGroup {
  width: 100%;
}

.radioButtonGroup tr td {
  float: right !important;
}

.custom-file-label::after {
  left: 0;
  right: unset;
}

.customAttachment .attachmentsThumbnail .successTick {
  left: 10px;
  right: unset;
}

.kt-aside--fixed .kt-wrapper {
  padding-left: 0;
}

.kt-aside--enabled .kt-header.kt-header--fixed {
  left: 0;
}

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-outline-gap {
  padding: 0 30px !important;
}

.mat-form-field {
  line-height: normal;
}

.mat-paginator-navigation-next,
.mat-paginator-navigation-previous,
.kt-notification .kt-notification__item:after,
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__ver-arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.mat-select-panel {
  direction: ltr !important;
  left: 30px;
  position: relative;
}

.generatePinBoxTable {
  direction: ltr !important;
}

.generatePinBoxTable .mat-form-field-appearance-outline .mat-form-field-outline-gap {
  display: none !important;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 3px 0 10px 0px;
}

.mat-form-field-label-wrapper {
  top: -1.5em;
}

.mat-select-arrow {
  position: relative;
  top: 7px;
}

kt-user-profile .dropdown-menu.dropdown-menu-anim {
  -webkit-transform: translate(0, 64px) !important;
          transform: translate(0, 64px) !important;
}

.osMenu {
  width: 125px;
  padding: 5px 5px 5px 5px;
}

.custom-file-label .kt-spinner {
  right: auto !important;
  left: 3px;
}

.kt-spinner.kt-spinner--sm.kt-spinner--right:before {
  right: auto !important;
  left: 3px;
}

.mat-paginator-page-size .mat-paginator-page-size-label {
  display: none !important;
}

.mat-paginator-range-label {
  direction: ltr !important;
}

.custom-file-input:lang(en) ~ .custom-file-label::after {
  content: "استعراض" !important;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  font-size: inherit;
  line-height: 3em;
  height: 3em;
  text-align: right;
}

@media (max-width: 767px) {
  .kt-portlet__body .kt-section .example-header {
    text-align: right;
  }
  .kt-portlet__body .kt-section .example-header .col-md-3,
  .kt-portlet__body .kt-section .example-header .col-md-6,
  .kt-portlet__body .kt-section .example-header .col-md-4,
  .kt-portlet__body .kt-section .example-header .col-md-8,
  .kt-portlet__body .kt-section .example-header .col-md-9 {
    text-align: right !important;
  }
}
/*# sourceMappingURL=ar.css.map */