<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        View Modified IA
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="kt-section__content notes">
        <div class="row">
          <div class="col-md-12">
            <br>
            <button (click)="openBusinessModifications()" class="btn btn-primary btn-sm">View Submitted Request</button>
            &nbsp;
            <button (click)="openSubmittedBNRequest()" class="btn btn-primary btn-sm">View BN Info</button>

            <br>
          </div>
        </div>
        <br><br>
        <!--:: begin Application Info-->
        <div class="row applicationRefInfo">
          <div class="col-md-3">
            <p><strong>IA: <span class="kt-font-danger kt-font-lg">IA-11</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN: <span class="kt-font-danger kt-font-lg">BN-11</span></strong></p>
          </div>
          <div class="col-md-3 text-center">
            <p><strong>BN Name Ar: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
          </div>
          <div class="col-md-3 text-right">
            <p><strong>BN Name En: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
          </div>
        </div>
        <!--:: end Application Info-->

        <!--begin::Divider-->
        <div class="kt-login__divider">
          <div class="kt-divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <br>
        <!--end::Divider-->

        <!--::begin Notes Accordion-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <kt-notes-history-modal></kt-notes-history-modal>
          </div>
        </div>
        <!--::end Notes Accordion-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <!--begin:: Accordian-->
            <mat-accordion>
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Submitter Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="kt-section__content notes">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="wizardBorder licenseInfo">
                        <p><strong>
                            Basic Info
                          </strong></p>
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <p>UAE Citizen</p>
                          </div>
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Emirates ID</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Emirates ID Expiry Date</mat-label>
                              <input disabled class="tda-form-control" matInput [matDatepicker]="eied"
                                placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
                              <mat-datepicker #eied></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Name Ar" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Father Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Father Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Grandfather Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Grandfather Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Family Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Family Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Full name En</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="Full name En" />

                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Nationality</mat-label>
                              <mat-select [disabled]="disableSelect">
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Passport No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="number"
                                placeholder="Passport no without dashes" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Passport Expiry Date</mat-label>
                              <input disabled class="tda-form-control" matInput [matDatepicker]="ped"
                                placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                              <mat-datepicker #ped></mat-datepicker>
                            </mat-form-field>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                </div>

                <div class="kt-section__content notes">

                  <div class="row">
                    <div class="col-md-12">

                      <div class="wizardBorder ">
                        <p><strong>
                            Contact Info
                          </strong></p>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Phone Residence</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="Phone Residence" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Phone Work</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Secondary Mobile No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="00971xxxxxxx" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Fax No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6"></div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>

                <div class="kt-section__content notes">

                  <div class="row">
                    <div class="col-md-12">

                      <div class="wizardBorder ">
                        <p><strong>
                            On Behalf Of
                          </strong></p>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Name Ar</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Name En</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>HR Code</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Business Unit</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="Business Unit" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Designation</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Mobile No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6"></div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IA Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Business Name-->
                <div class="row">
                  <div class="col-md-12">
                    <div>

                      <div>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Main Area</mat-label>
                              <mat-select>
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Sub Area</mat-label>
                              <mat-select>
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Street</mat-label>
                              <mat-select>
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Full Text Adress</mat-label>
                              <input readonly class="tda-form-control" matInput type="text"
                                placeholder="Main Area, Sub Area, Street" value="Main Area, Sub Area, Street" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Parcel ID</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Parcel ID" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Submission Reason</mat-label>
                              <mat-select multiple>
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <br>
                            <p><strong>Google Map Coordinates</strong></p>
                          </div>
                          <div class="col-md-5">
                            <mat-form-field appearance="outline">
                              <mat-label>Longitude</mat-label>
                              <input class="tda-form-control" matInput type="number" placeholder="Longitude" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-5">
                            <mat-form-field appearance="outline">
                              <mat-label>Latitude</mat-label>
                              <input class="tda-form-control" matInput type="number" placeholder="Latitude" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-2">
                            <div class="formTableButton"> <button class="btn btn-danger btn-sm"><i
                                  class="flaticon-placeholder-2"></i></button>
                            </div>
                          </div>

                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Makani No.</mat-label>
                              <input class="tda-form-control arabicTextBox" matInput type="text"
                                placeholder="Makani No." />
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Building</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Building" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-4">
                            <mat-form-field appearance="outline">
                              <mat-label>Unit</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Unit" />
                            </mat-form-field>
                          </div>
                        </div>


                      </div>
                    </div>
                  </div>

                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Attachments
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Attachments-->
                <div class="row">
                  <div class="col-md-12">
                    <table class="attachments">
                      <tr>
                        <td>
                          <div class="customAttImg">
                            <div class="text-center attachmentsThumbnail">
                              <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                              <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">
                            </div>
                            <div class="form-group">
                              <!--UAE Citizen-->
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                                <label class="custom-file-label" for="emCopy">
                                  {{emCopy}}
                                  <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                                </label>
                              </div>
                            </div>
                          </div>
                          <!-- <p>{{emCopy}}</p> -->
                        </td>
                        <td>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!--end:: Accordian-->
          </div>
        </div>
        <!--:: begin Footer-->
        <div class="row">
          <div class="col-md-4 text-center">
          </div>
          <div class="col-md-4 text-center">
            <br><br>
            <button class="btn btn-primary"
              [routerLink]="['/pages/business-license/request-initial-approval/initial-approvals']">Submit</button>
          </div>
          <div class="col-md-4 text-center">

          </div>
        </div>
        <!--:: end Footer-->
      </div>
    </div>

  </div>