//input outline color
::ng-deep .successValid.ng-valid .mat-form-field-outline {
  color: #0abb87 !important;
  border-color: #0abb87;
  background-image: url("../../../../assets/media/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.325rem);
  background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}
// mat-label normal state style
::ng-deep .successValid.ng-valid .mat-form-field-label {
  color: #0abb87 !important;
  // color: $mainColor!important;
}


//input outline color
::ng-deep .successValid.ng-invalid .mat-form-field-outline {
  color: #ff0000 !important;

}
// mat-label normal state style
::ng-deep .successValid.ng-invalid .mat-form-field-label {
  color: #ff0000 !important;
  // color: $mainColor!important;
}

::ng-deep .successValid .mat-form-field-infix
{
	padding-right: 25px !important;
}

.custom-file {
	.imgFileLoader {
		&.kt-spinner--sm {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 22;
			text-align: center;
		}
		&.kt-spinner--right {
			&::before {
				right: 5px;
			}
		}
	}
	.custom-file-label {
		&::after {
			padding-right: 30px;
		}
	}
}
// .custom-file {
// 	&::after {
// 		position: absolute;
// 		top: 0;
// 		right: 0;
// 		bottom: 0;
// 		z-index: 3;
// 		display: block;
// 		height: calc(1.5em + 1.3rem);
// 		padding: 0.65rem 1rem;
// 		line-height: 1.5;
// 		color: #495057;
// 		content: "Browse";
// 		background-color: #f7f8fa;
// 		border-left: inherit;
// 		border-radius: 0 4px 4px 0;
// 	}
// }
