<!--begin::Body-->
<div class="kt-login__body">
  <!--begin::Signin-->
  <div class="kt-login__form">
    <div class="kt-login__title">
      <h4>
        Activate your account
      </h4>
    </div>
    <!--begin::Form-->
    <form class="kt-form tda-forgot-pwd" action="abcd.html" novalidate="novalidate" autocomplete="off">
      <div class="form-group">
        <p>
          Your account must be active
          <br>
          Please enter your register email address and mobile number.
        </p>
        <mat-form-field>
          <mat-label>
            Register email address
          </mat-label>
          <input class="tda-form-control" matInput type="email" placeholder="Register email address" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Register Mobile No.
          </mat-label>
          <input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
            [textMask]="{mask: mobileNoMask}" />
        </mat-form-field>
      </div>
      <!--begin::Action-->
      <div class="kt-login__actions text-center">
        <button type="button" class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto">
          Cancel
        </button>
        <button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto">
          Verify
        </button>
      </div>
      <!--end::Action-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Signin-->
</div>
<!--end::Body-->