<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Renew Business License
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="applicationRefInfo">
        <div class="row">
          <div class="col-md-3">
            <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
          </div>
          <div class="col-md-3">
            <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
          </div>
         
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <a [routerLink]="['/pages/business-license/request-business-license/renew-business-license']"
            class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
            Add New
          </a> &nbsp;
          <a [routerLink]="['/pages/business-license/request-business-license/business-license']" class="btn btn-default btn-sm">
            Back to Business License
          </a>
        </div>

        <div class="col-md-6 text-right">
          <mat-form-field>
            <input class="tda-form-control" matInput (keyup)="applyFilterstepTwo($event.target.value)"
              placeholder="Search">
          </mat-form-field>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
        <mat-table matSort [dataSource]="stepTwo" class="tdaMetronicBorderedTable">


          <ng-container matColumnDef="applicationNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Application No </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.applicationNo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="submissionReason">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Submission Reason </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.submissionReason}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="requestStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Request Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]=" (row.requestStatus =='Approved' ? 'kt-font-brand' : '') + '' + (row.requestStatus =='Submitted' ? 'kt-font-success' : '') ">
                {{row.requestStatus}}</strong>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="requestDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.requestDate}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <div class="text-center">

                <button class="close eye kt-font-success" requestDate="button"><span aria-hidden="true"
                   ><i class="flaticon-eye view"></i></span></button>
              </div>

            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsstepTwo"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsstepTwo;"></mat-row>
        </mat-table>
        <mat-paginator class="tdaMobilePaginator" #matPaginatorstepTwo [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <!--end: Datatable -->
    </div>
  </div>

</div>