//input outline color
::ng-deep .successValid.ng-valid .mat-form-field-outline {
  color: #0abb87 !important;
  border-color: #0abb87;
  background-image: url("../../../../assets/media/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.325rem);
  background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}
// mat-label normal state style
::ng-deep .successValid.ng-valid .mat-form-field-label {
  color: #0abb87 !important;
  // color: $mainColor!important;
}

//input outline color
::ng-deep .successValid.ng-invalid .mat-form-field-outline {
  color: #ff0000 !important;
}
// mat-label normal state style
::ng-deep .successValid.ng-invalid .mat-form-field-label {
  color: #ff0000 !important;
  // color: $mainColor!important;
}

::ng-deep .successValid .mat-form-field-infix {
  padding-right: 25px !important;
}

.padding-bottom-zero {
  padding-bottom: 0 !important;
}
.margin-bottom-zero {
  margin-bottom: 0 !important;
}

.example-tree-invisible {
  display: none;
}

.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}
table.listOfPhysicalComputers {
  tr {
    td {
      vertical-align: text-top;
    }
  }
}
@media (max-width: 767px) {
  table.listOfPhysicalComputers {
    width: 100%;
    tr {
      td {
        display: block;
        float: left;
        width: 100%;
        &:nth-child(3) {
          text-align: right;
        }
      }
    }
  }
}
::ng-deep .selectedUnit {
  .mat-radio-label {
    color: #7a2436;
  }
  .mat-radio-outer-circle {
    border-color: #7a2436 !important;
  }
  .mat-radio-inner-circle {
    background: #7a2436 !important;
    transform: scale(0.5);
  }
}
