<form class="tda-form" [formGroup]="addTDAUser" (ngSubmit)="addTDAUserFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                <!-- {{ userId==null ? 'Add User' : 'Edit User' }} -->
                {{ userId ? ('PAGESMODULE.MANAGEUSERS.EditUser' | translate) : ('PAGESMODULE.MANAGEUSERS.AddUser' | translate) }}
              </h3>
            </div>
          </div>
          <!---begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{'GENERALWORDS.FULLNAMEAR' | translate}}</mat-label>
                  <input class="arabicTextBox" matInput placeholder="{{'GENERALWORDS.FULLNAMEAR' | translate}}"
                    (keypress)="validationMessages.allowAr($event)" formControlName="fullNameAr">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'fullNameAr'"></kt-error>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.FULLNAME' | translate }}</mat-label>
                  <input class="englishTextBox" matInput placeholder="{{ 'GENERALWORDS.FULLNAME' | translate }}"
                    formControlName="fullNameEn" (keypress)="validationMessages.allowEn($event)">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'fullNameEn'"></kt-error>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.NATIONALITY' | translate }}</mat-label>
                  <mat-select formControlName="nationality">
                    <mat-option *ngFor="let type of typeNationalities | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'nationality'"></kt-error>
              </div>
              <div class="col-md-6">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.GENDER' | translate }}</mat-label>
                  <mat-radio-group formControlName="gender">
                    <div class="row">
                      <div class="col-md-3" *ngFor="let type of typeGenderCode | async">
                        <mat-radio-button [value]="type.id">
                          {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                        </mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>

          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
  <!--Master Login Credentials-->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-6">
                <div class="validated">
                  <!-- <div class="valid-feedback">Success! You've done it.</div> -->
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'GENERALWORDS.USERNAME' | translate }}</mat-label>
                    <input matInput placeholder="{{ 'GENERALWORDS.USERNAME' | translate }}" formControlName="username"
                      type="text">
                  </mat-form-field>
                  <kt-error [formName]="addTDAUser" [fieldName]="'username'"></kt-error>
                </div>
              </div>
              <div class="col-md-6">
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.PASSWORD' | translate }} <span class="red">*</span></mat-label>
                  <input matInput type="password" placeholder="{{ 'GENERALWORDS.PASSWORD' | translate }}"
                    formControlName="password">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'password'"></kt-error>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.CONFIRMPWD' | translate }} <span class="red">*</span></mat-label>
                  <input matInput type="password" placeholder="{{ 'GENERALWORDS.CONFIRMPWD' | translate }}"
                    formControlName="confirmPassword">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'confirmPassword'"></kt-error>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
  <!--Contact Person Information-->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-6">
                <table style="width: 100%;">
                  <tr>
                    <td>
                      <mat-form-field appearance="outline">
                        <mat-label>
                          {{ 'PAGESMODULE.TDAUSERPROFILE.BelongtoBusinessUnit' | translate }}
                        </mat-label>
                        <input matInput
                          placeholder="{{ 'PAGESMODULE.TDAUSERPROFILE.BelongtoBusinessUnit' | translate }}" readonly
                          formControlName="businessUnitName">
                        <!-- <input matInput placeholder="{{ 'PAGESMODULE.TDAUSERPROFILE.BelongtoBusinessUnit' | translate }}" readonly> -->
                      </mat-form-field>
                      <kt-error [formName]="addTDAUser" [fieldName]="'businessUnitCode'"></kt-error>
                    </td>
                    <td class="text-center"><button type="button" class="btn btn-sm btn-danger btn-sm"
                        (click)="open(modapPopupStep3)">+</button></td>
                  </tr>
                </table>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{'PAGESMODULE.TDAUSERPROFILE.Designation' | translate }}
                  </mat-label>
                  <mat-select formControlName="designation">
                    <mat-option *ngFor="let type of typeDesignation | async" [value]="type.id">
                      {{type.valueEn}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'designation'"></kt-error>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'GENERALWORDS.HRCODE' | translate }}
                  </mat-label>
                  <input matInput placeholder="{{ 'GENERALWORDS.HRCODE' | translate }}" formControlName="hrCode">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'hrCode'"></kt-error>
              </div>
              <div class="col-md-6">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button value="true" checked>
                          {{ 'GENERALWORDS.ACTIVE' | translate }}
                        </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button value="false">
                          {{ 'GENERALWORDS.NOTACTIVE' | translate }}
                        </mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'GENERALWORDS.EMAIL' | translate }}
                  </mat-label>
                  <input matInput placeholder="{{ 'GENERALWORDS.EMAIL' | translate }}" formControlName="email">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'email'"></kt-error>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'GENERALWORDS.MOBILE' | translate }}
                  </mat-label>
                  <input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
                    [textMask]="{mask: mobileNoMask}" formControlName="mobileNo" />
                  <!-- <input matInput placeholder="00971-00-000-0000" formControlName="mobileNo" [readonly]="userId" > -->
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'mobileNo'"></kt-error>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'GENERALWORDS.LANDLINENO' | translate }}
                  </mat-label>
                  <input matInput placeholder="{{ 'GENERALWORDS.LANDLINENO' | translate }}"
                    formControlName="landlineNo">
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'landlineNo'"></kt-error>
              </div>
              <div class="col-md-6">
                <div class="example-container">
                  <mat-label>
                    {{ 'GENERALSENTENCES.PREFEREDLANG' | translate }}
                  </mat-label>
                  <mat-radio-group formControlName="preferedLanguage">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button value="ar" checked>
                          {{ 'GENERALWORDS.ARABIC' | translate }}
                        </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button value="en">
                          {{ 'GENERALWORDS.ENGLISH' | translate }}
                        </mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
  <!--List of Physical Commuters-->
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-12">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <label>
                  {{ 'PAGESMODULE.TDAUSERPROFILE.ListPhysicalComputers' | translate }}
                </label>
                <table class="listOfPhysicalComputers">
                  <tr formArrayName="physicalDevices"
                    *ngFor="let item of addTDAUser.controls['physicalDevices']['controls']; let i = index">
                    <td [formGroupName]="i">
                      <mat-form-field appearance="outline">
                        <mat-label>
                          {{ 'GENERALWORDS.NAME' | translate }}
                        </mat-label>
                        <input matInput placeholder="{{ 'GENERALWORDS.NAME' | translate }}"
                          formControlName='deviceName'>
                      </mat-form-field>
                      <kt-error [formName]="addTDAUser.controls.physicalDevices.controls[i]" [fieldName]="'deviceName'">
                      </kt-error>
                    </td>

                    <td [formGroupName]="i">
                      <mat-form-field appearance="outline">
                        <mat-label>
                          {{ 'PAGESMODULE.TDAUSERPROFILE.MacAddress' | translate }}
                        </mat-label>

                        <input matInput type="text" [textMask]="{mask: macAddressMask}" placeholder="00-00-00-00-00-00"
                          formControlName='macAddress' autocomplete="off" />

                        <!-- <input matInput placeholder="Mac Address" formControlName='macAddress'> -->
                      </mat-form-field>

                    </td>
                    <td [formGroupName]="i">
                      <button _ngcontent-pnj-c11="" (click)="this.lastIndex==i?addDevice(i):removeDevice(i)"
                        [ngClass]="lastIndex==i ? 'btn-success' : 'btn-danger'"
                        class="btn btn-sm btn-icon btn-icon-md ng-star-inserted" type="button">
                        <i _ngcontent-pnj-c11="" [class]="lastIndex==i? 'la la-plus' : 'la la-minus'"></i>
                      </button>
                    </td>
                  </tr>

                </table>
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'GENERALWORDS.REMARKS' | translate }}
                  </mat-label>
                  <textarea matInput placeholder="{{ 'GENERALWORDS.REMARKS' | translate }}" rows="5"
                    formControlName="remarks"></textarea>
                </mat-form-field>
                <kt-error [formName]="addTDAUser" [fieldName]="'remarks'"></kt-error>


              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add User</button> -->

                    <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10" type="submit"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                    <button type="button" [routerLink]="['/pages/admin/tda-users-profile']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.CANCEL' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
</form>
<!--begin::Modal Popup for View Access Rights-->
<ng-template #modapPopupStep3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">
      {{ 'PAGESMODULE.TDAUSERPROFILE.BelongtoBusinessUnit' | translate }}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-portlet">
      <div class="kt-portlet__body tdaTreeView  padding-bottom-zero">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
          <!-- This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>

            <mat-radio-button [ngClass]="(node.id==treeValue)?'selectedUnit':''" (change)="changeNode(node.id)">
              {{ this.translationService.getSelectedLanguage() =="en" ? node.nameEn : node.nameAr}}
            </mat-radio-button>
            <!-- <div (contextmenu)="onRightClick(node)">{{node.nameEn}}</div> -->
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.nameEn">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
              </mat-icon>
            </button>
            <mat-radio-button [ngClass]="(node.id==treeValue)?'selectedUnit':''" (change)="changeNode(node.id)">
              {{ this.translationService.getSelectedLanguage() =="en" ? node.nameEn : node.nameAr}}
            </mat-radio-button>
          </mat-tree-node>
        </mat-tree>
        <br><br>
      </div>
    </div>
  </div>
</ng-template>