<form class="tda-form" [formGroup]="addSubUserForm" (ngSubmit)="addSubUserFormSubmit()" autocomplete="off">
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="row">
			<div class="col-md-12">
				<!--begin::Portlet-->
				<div class="kt-portlet">
					<div class="kt-portlet__head kt-portlet__head--lg">
						<div class="kt-portlet__head-label">
							<span class="kt-portlet__head-icon">
								<i class="kt-font-brand flaticon2-user"></i>
							</span>
							<h3 class="kt-portlet__head-title">
								<!-- {{ userId==null ? 'Add Sub Account User' : 'Edit Sub Account User' }} -->
								{{ userId ? ('PAGESMODULE.GOVERNMENT.ESU' | translate) : ('PAGESMODULE.GOVERNMENT.ASU' | translate) }}
							</h3>
						</div>
					</div>
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!--Master Login Credentials-->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="row">
			<div class="col-md-12">
				<!--begin::Portlet-->
				<div class="kt-portlet">
					<!--begin::Form-->
					<div class="kt-portlet__body">
						<div class="form-group form-group-last">
							<div class="alert alert-secondary" role="alert">
								<div class="alert-text">
									<strong>{{'PAGESMODULE.GOVERNMENT.SALC' | translate}}</strong>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="validated">
									<mat-form-field appearance="outline" class="successValid">
										<mat-label>{{ 'GENERALWORDS.USERNAME' | translate }}</mat-label>
										<input matInput placeholder="{{ 'GENERALWORDS.USERNAME' | translate }}" formControlName="username">
									</mat-form-field>
									<kt-error [formName]="addSubUserForm" [fieldName]="'username'"></kt-error>
								</div>
							</div>
							<div class="col-md-6">
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.PASSWORD' | translate }} <span class="red">*</span></mat-label>
									<input matInput placeholder="{{ 'GENERALWORDS.PASSWORD' | translate }}" type="password"
										formControlName="password">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'password'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.CONFIRMPWD' | translate }} <span class="red">*</span></mat-label>
									<input matInput placeholder="{{ 'GENERALWORDS.CONFIRMPWD' | translate }}" type="password"
										formControlName="confirmPassword">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'confirmPassword'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>User Role</mat-label>
									<mat-select multiple formControlName="userRole">
										<mat-option *ngFor="let userRoles of this.userRole" [value]="userRoles.id">
											{{ translationService.getSelectedLanguage() =="en" ? this.userRoles.nameEn : this.userRoles.nameAr}}
										</mat-option>
									</mat-select>
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'userRole'"></kt-error>
							</div>
						</div>
					</div>
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!--Attachment-->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="row">
			<div class="col-md-12">
				<!--begin::Portlet-->
				<div class="kt-portlet">
					<!--begin::Form-->
					<div class="kt-portlet__body customAttachment">
						<div class="form-group form-group-last">
							<div class="alert alert-secondary" role="alert">
								<div class="alert-text">
									<strong>{{ 'GENERALSENTENCES.AttachDocuments' | translate }}</strong>
								</div>
							</div>
						</div>
						<div class="row" formArrayName="attachments">
							<div class="col-md-6" *ngFor="let comp of addSubUserForm.get('attachments')['controls']; let i=index">
								<label *ngIf="(this.userId && this.getUserResponse.attachmentsLog[i]); else getAttachmentsTypeLabel">
									{{ translationService.getSelectedLanguage() =="en" 
                          ? this.getUserResponse.attachmentsLog[i].valueEn
                          : this.getUserResponse.attachmentsLog[i].valueAr
                }}
								</label>
								<ng-template #getAttachmentsTypeLabel>
									{{ translationService.getSelectedLanguage() =="en" 
                  ? this.getAttachmentsType[i].valueEn
                  : this.getAttachmentsType[i].valueAr
                }}
								</ng-template>
								<div class="custom-file" [formGroupName]="i">
									<input type="file" class="custom-file-input" (change)="getFile($event, i)" [disabled]="isDisabled"
										accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*">
									<input class="custom-file-label w-100" placeholder="Select Attachment"
										formControlName="attachmentName">
									<mat-form-field appearance="outline" [hidden]="!this.getAttachmentsType[i].inputData"
										*ngIf="getAttachmentsType[i]?.inputData">
										<mat-label>{{ 'GENERALWORDS.ENTERDATA' | translate }}</mat-label>
										<input matInput placeholder="{{ 'GENERALWORDS.ENTERDATA' | translate }}" formControlName="inputData">
									</mat-form-field>
									<input class="custom-file-label w-100"
										placeholder="{{ 'GENERALWORDS.SELECTATTACHMENTS' | translate }}" formControlName="attachmentName">
									<label class="custom-file-label bg-transparent" for="customFile">
										<span class="imgFileLoader" *ngIf="isLoading[i]?.loading"
											[ngClass]="isLoading[i].loading===true?'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':''"></span>
									</label>
									<kt-error [formName]="this.addSubUserForm.controls.attachments.controls[i]"
										[fieldName]="'attachmentSize'">
									</kt-error>
									<kt-error [formName]="this.addSubUserForm.controls.attachments.controls[i]"
										[fieldName]="'attachmentName'">
									</kt-error>
								</div>
							</div>
						</div>
					</div>
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
	<!--Contact Person Information-->
	<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
		<div class="row">
			<div class="col-md-12">
				<!--begin::Portlet-->
				<div class="kt-portlet">
					<!--begin::Form-->
					<div class="kt-portlet__body">
						<div class="form-group form-group-last">
							<div class="alert alert-secondary" role="alert">
								<div class="alert-text">
									<strong>{{'PAGESMODULE.GOVERNMENT.SAI' | translate}}</strong>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.NAMEAR' | translate }}</mat-label>
									<input class="arabicTextBox" matInput placeholder="{{ 'GENERALWORDS.NAMEAR' | translate }}"
										formControlName="nameAr" (keypress)="validationMessages.allowAr($event)">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'nameAr'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{'GENERALWORDS.NAMEEN' | translate }}</mat-label>
									<input class="englishTextBox" matInput placeholder="{{'GENERALWORDS.NAMEEN' | translate }}"
										(keypress)="validationMessages.allowEn($event)" formControlName="nameEn">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'nameEn'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.EMIRATESID' | translate }}</mat-label>
									<input class="tda-form-control" matInput type="text" [textMask]="{mask: emiratesIDMask}"
										placeholder="000-0000-0000000-0" formControlName="citizenID" autocomplete="off" />
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'citizenID'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.EMIRATESEXPIRY' | translate }}</mat-label>
									<input matInput [matDatepicker]="ped" [min]="minDate"
										placeholder="{{ 'GENERALWORDS.EMIRATESEXPIRY' | translate }}" formControlName="emiratesIDExpiry"
										(click)="ped.open()" readonly>
									<mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
									<mat-datepicker #ped></mat-datepicker>
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'emiratesIDExpiry'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{'PAGESMODULE.MANAGEUSERS.RRole' | translate }}</mat-label>
									<input matInput placeholder="{{'PAGESMODULE.MANAGEUSERS.RRole' | translate }}"
										formControlName="representativeRole">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'representativeRole'"></kt-error>
							</div>
							<div class="col-md-6">
								<div class="example-container">
									<mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
									<mat-radio-group formControlName="isActive">
										<div class="row">
											<div class="col-md-3">
												<mat-radio-button [value]=true>{{ 'GENERALWORDS.ACTIVE' | translate }}
												</mat-radio-button>
											</div>
											<div class="col-md-3">
												<mat-radio-button [value]=false>{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
											</div>
										</div>
									</mat-radio-group>
									<kt-error [formName]="addSubUserForm" [fieldName]="'isActive'"></kt-error>
								</div>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{'PAGESMODULE.MANAGEUSERS.Department' | translate }}</mat-label>
									<input matInput placeholder="{{'PAGESMODULE.MANAGEUSERS.Department' | translate }}"
										formControlName="department">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'department'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline" class="successValid">
									<mat-label>{{ 'GENERALWORDS.EMAIL' | translate }}</mat-label>
									<input matInput placeholder="{{ 'GENERALWORDS.EMAIL' | translate }}" formControlName="email">
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'email'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-form-field appearance="outline">
									<mat-label>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-label>
									<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
										[textMask]="{mask: mobileNoMask}" autocomplete="off" formControlName="mobileNo" />
									<!-- <input matInput placeholder="00971xxxxxxx" formControlName="mobileNo"> -->
								</mat-form-field>
								<kt-error [formName]="addSubUserForm" [fieldName]="'mobileNo'"></kt-error>
							</div>
							<div class="col-md-6">
								<mat-label>{{ 'GENERALSENTENCES.PREFEREDLANG' | translate }}</mat-label>
								<div class="example-container">
									<mat-radio-group formControlName="preferedLanguage">
										<div class="row">
											<div class="col-md-3">
												<mat-radio-button value="ar">{{ 'GENERALWORDS.ARABIC' | translate }}</mat-radio-button>
											</div>
											<div class="col-md-3">
												<mat-radio-button value="en">{{ 'GENERALWORDS.ENGLISH' | translate }} </mat-radio-button>
											</div>
										</div>
									</mat-radio-group>
									<kt-error [formName]="addSubUserForm" [fieldName]="'preferedLanguage'"></kt-error>
								</div>
							</div>
							<div class="col-md-6">
								<div class="example-container">
									<mat-label>{{ 'GENERALWORDS.GENDER' | translate }}</mat-label>
									<mat-radio-group formControlName="gender">
										<div class="row">
											<div class="col-md-3" *ngFor="let type of typeGenderCode | async">
												<mat-radio-button [value]="type.id">
													{{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
												</mat-radio-button>
											</div>
										</div>
									</mat-radio-group>
								</div>
							</div>
							<div class="col-md-12 text-center">
								<div class="kt-portlet__foot">
									<div class="kt-form__actions">

										<button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
											[ngClass]="loading===true?'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':''">
											{{ 'GENERALWORDS.SUBMIT' | translate }}
										</button>
										<a [routerLink]="['/pages/government/manage-sub-users']"
											class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--end::Form-->
				</div>
				<!--end::Portlet-->
			</div>
		</div>
	</div>
</form>