<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Add Initial Approval
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <mat-horizontal-stepper labelPosition="bottom" #IAStepper linear>
        <!--Step 1-->
        <mat-step [stepControl]="firstServiceInfoForm" [completed]="false">
          <form [formGroup]="firstServiceInfoForm" autocomplete="off">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>

            <kt-service-details [termsConditionForm]="firstServiceInfoForm"
              [serviceInfo]="(this.serviceInfoAndUserInfo | async)?.serviceInfo">
            </kt-service-details>

            <div class="row">
              <div class="col-md-4 text-center"> </div>
              <div class="col-md-4 text-center"> </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-primary btn-sm"
                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    (click)="firstServiceInfoFormSubmit()">
                    Next
                  </button>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup" [completed]="false">
          <form [formGroup]="secondFormGroup" autocomplete="off">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <kt-submitted-info [user]="(this.serviceInfoAndUserInfo | async)?.user"
              [loginOnBehalf]="(this.serviceInfoAndUserInfo | async)?.loginOnBehalf">
            </kt-submitted-info>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center"> </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                    class="btn btn-primary btn-sm" (click)="secondSubmitterInfoFormSubmit()">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 3-->
        <mat-step [stepControl]="thirdFormGroup" [completed]="false">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel> BN</ng-template>

            <kt-bn-list (bnListValues)="bnListValuesClick($event)"></kt-bn-list>

            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button (click)="thirdBNListSubmit()" class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 6-->
        <mat-step [stepControl]="fourthFormGroup" [completed]="false">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>IA Info</ng-template>

            <kt-ia-info [InitialInfoForm]="fourthFormGroup" [model]="IAInfoModel"></kt-ia-info>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button (click)="fourthIAInfoSubmit()" class="btn btn-primary btn-sm">Next</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 8-->
        <mat-step [stepControl]="seventhFormGroup" [completed]="false">
          <form [formGroup]="seventhFormGroup" class="customAttachment" autocomplete="off">
            <ng-template matStepLabel>Attachments</ng-template>
            <div class="row">
              <div class="col-md-12"><button (click)="openSubmittedBNRequest()" class="btn btn-primary btn-sm">
                  View Submitted BN Info</button></div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">

                <div class="col-md-3">
                  <p><strong>IAN #: <span class="kt-font-danger kt-font-lg">{{IAInfoModel.refNo}}</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">{{IAInfoModel.bnRef}}</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">{{IAInfoModel.bnNameAr}}</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">{{IAInfoModel.bnNameEn}}</span></strong></p>
                </div>
              </div>
            </div>
            <br>

            <div class="row" *ngIf="seventhFormGroup?.value?.attachments?.length">
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <div class="alert alert-secondary" role="alert">
                    <div class="alert-text">
                      <strong>Please attach the following documents</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" formArrayName="attachments">
                <table class="attachmentsTable">
                  <tr>
                    <td *ngFor="let comp of seventhFormGroup.get('attachments')['controls']; let i=index">
                      <label>
                        {{ translationService.getSelectedLanguage() =="en" 
                                  ? this.getAttachmentsType[i].valueEn
                                  : this.getAttachmentsType[i].valueAr
                                }}
                      </label>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img
                            [src]="_DomSanitizationService.bypassSecurityTrustUrl(seventhFormGroup.value.attachments[i].attachmentURL?seventhFormGroup.value.attachments[i].attachmentURL:'../../../assets/media/icons/clip.svg')"
                            alt='{{ translationService.getSelectedLanguage() =="en" 
                            ? this.getAttachmentsType[i].valueEn
                            : this.getAttachmentsType[i].valueAr
                          }}' class="attachment">
                          <div class="successTick" *ngIf="this.isTick[i].tick==true">
                            <img class="" src="../../../assets/media/icons/tick.svg" alt="">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="custom-file" [formGroupName]="i">
                            <input type="file" class="custom-file-input" (change)="getFile($event, i)"
                              [disabled]="isDisabled"
                              accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*">
                            <mat-form-field appearance="outline" [hidden]="!this.getAttachmentsType[i].inputData">
                              <mat-label>Enter Data</mat-label>
                              <input matInput placeholder="Enter Data" formControlName="inputData">
                            </mat-form-field>
                            <input id="customFile" class="custom-file-label w-100"
                              placeholder="GENERALWORDS.SELECTATTACHMENTS" formControlName="attachmentName">
                            <label class="custom-file-label bg-transparent" for="customFile">
                              <span class="imgFileLoader"
                                [ngClass]="isLoading[i].loading===true?'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':''"></span>
                            </label>
                            <kt-error [formName]="this.seventhFormGroup.controls.attachments.controls[i]"
                              [fieldName]="'attachmentSize'">
                            </kt-error>
                            <kt-error [formName]="this.seventhFormGroup.controls.attachments.controls[i]"
                              [fieldName]="'attachmentName'">
                            </kt-error>
                          </div>
                        </div>
                      </div>

                    </td>
                  </tr>
                </table>

                <div class="col-md-6"
                  *ngFor="let comp of seventhFormGroup.get('attachments')['controls']; let i=index">

                </div>
              </div>
            </div>
            <br><br>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button (click)="seventhAttachmentSubmit()" class="btn btn-primary btn-sm">Submit</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>

</div>

<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-initial-approval/initial-approvals']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>