<!-- begin:: Footer -->
<div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
	<div class="kt-container" [ngClass]="{'kt-container--fluid': fluid}">
		<div class="kt-footer__copyright">
			<p>&copy; {{today | date:'yyyy'}}&nbsp; <a href="" target="_blank"
					class="kt-link">{{ 'GENERALSENTENCES.FOOTER' | translate }}</a></p>

		</div>
	</div>
</div>
<!-- end:: Footer -->