<div class="kt-section__content notes tda-form" [formGroup]="businessNamesAvailablityForm">
  <div class="row">
    <div class="col-md-12">
      <div class="wizardBorder licenseInfo">
        <div class="row">
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>BN 1 Arabic</mat-label>
              <input class="tda-form-control arabicTextBox" formControlName="BNArabic1" matInput type="text"
                placeholder="BN 1 Arabic" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNArabic1'"></kt-error>
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>BN 1 English</mat-label>
              <input class="tda-form-control englishTextBox" formControlName="BNEnglish1" matInput type="text"
                placeholder="BN 1 English" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNEnglish1'"></kt-error>
          </div>
          <div class="col-md-2" *ngIf="this.BusinessNamesData &&  this.BusinessNamesData.isHide">
            <div class="formTableButton">
              <button class="btn btn-danger btn-sm" type="button"
                [ngClass]="{'btnGreenColor': checkAvailablityarray[0]}" (click)="checkAvailablity(0)">
                Check Availability
              </button>
            </div>
            <!-- <button class="btn btn-primary btn-sm formTableButton">Check Availability</button> -->
          </div>

          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>BN 2 Arabic</mat-label>
              <input class="tda-form-control arabicTextBox" formControlName="BNArabic2" matInput type="text"
                placeholder="BN 2 Arabic" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNArabic2'"></kt-error>
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>BN 2 English</mat-label>
              <input class="tda-form-control englishTextBox" formControlName="BNEnglish2" matInput type="text"
                placeholder="BN 2 English" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNEnglish2'"></kt-error>
          </div>
          <div class="col-md-2" *ngIf="this.BusinessNamesData &&  this.BusinessNamesData.isHide">
            <div class="formTableButton">
              <button type="button" [ngClass]="{'btnGreenColor': checkAvailablityarray[1]}"
                class="btn btn-danger btn-sm" (click)="checkAvailablity(1)">
                Check Availability
              </button>
            </div>
            <!-- <button class="btn btn-primary btn-sm formTableButton">Check Availability</button> -->
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>BN 3 Arabic</mat-label>
              <input class="tda-form-control arabicTextBox" formControlName="BNArabic3" matInput type="text"
                placeholder="BN 3 Arabic" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNArabic3'"></kt-error>
          </div>
          <div class="col-md-5">
            <mat-form-field appearance="outline">
              <mat-label>BN 3 English</mat-label>
              <input class="tda-form-control englishTextBox" formControlName="BNEnglish3" matInput type="text"
                placeholder="BN 3 English" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNEnglish3'"></kt-error>
          </div>
          <div class="col-md-2" *ngIf="this.BusinessNamesData &&  this.BusinessNamesData.isHide">
            <div class="formTableButton"> <button type="button" [ngClass]="{'btnGreenColor': checkAvailablityarray[2]}"
                (click)="checkAvailablity(2)" class="btn btn-danger btn-sm">
                Check Availability
              </button>
            </div>
            <!-- <button class="btn btn-primary btn-sm formTableButton">Check Availability</button> -->
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Short Name Ar</mat-label>
              <input class="tda-form-control arabicTextBox" formControlName="BNShortNameArabic" matInput type="text"
                placeholder="Short Name Ar" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNShortNameArabic'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Short Name En</mat-label>
              <input class="tda-form-control englishTextBox" formControlName="BNShortNameEnglish" matInput type="text"
                placeholder="Short Name En" />
            </mat-form-field>
            <kt-error [formName]="businessNamesAvailablityForm" [fieldName]="'BNShortNameEnglish'"></kt-error>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>