<mat-dialog-content>
  <form [formGroup]="forwardForActionForm" autocomplete="off" (ngSubmit)="forwardForActionFormSubmit()">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
          Forward for Action
        </h4>
        <button aria-label="Close" class="close" type="button" mat-dialog-close>
          <span aria-hidden="true">
            ×
          </span>
        </button>
      </div>
      <div class="modal-body">

        <table class="text-center rejectedReason">
          <tr>

            <td>
              <mat-radio-group formControlName="forwardForAction" [disabled]="(this.managerOrConsultant) ? true : false">
                <div class="row">
                  <div class="col-md-6">
                    <mat-radio-button [value]=this.workFlowCode.ToManager>
                      Forward to Manager
                    </mat-radio-button>
                  </div>
                  <div class="col-md-6">
                    <mat-radio-button [value]=this.workFlowCode.ToConsultant>
                      Forward to Consultant
                    </mat-radio-button>
                  </div>
                </div>
              </mat-radio-group>
            </td>

          </tr>
          <tr>

            <td>
              <mat-form-field appearance="outline">
                <mat-label>TDA Users</mat-label>
                <mat-select formControlName="tdaUser">
                  <mat-option *ngFor="let type of tdaUsers | async" [value]="type.userId">
                    {{ this.translationService.getSelectedLanguage() =="en" ? type.fullNameEn : type.fullNameAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <kt-error [formName]="forwardForActionForm" [fieldName]="'tdaUser'"></kt-error>
            </td>

          </tr>
          <tr>

            <td>
              <mat-form-field appearance="outline">
                <mat-label>Designation</mat-label>
                <mat-select formControlName="designation">
                  <mat-option *ngFor="let type of designations | async" [value]="type.id">
                    {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <kt-error [formName]="forwardForActionForm" [fieldName]="'designation'"></kt-error>
            </td>

          </tr>
          <tr>

            <td>
              <mat-form-field appearance="outline">
                <mat-label>Remarks</mat-label>
                <textarea matInput placeholder="Remarks" rows="3" formControlName="remarks"></textarea>
              </mat-form-field>
              <kt-error [formName]="forwardForActionForm" [fieldName]="'remarks'"></kt-error>
            </td>

          </tr>
        </table>

      </div>
      <div class="modal-footer" style="display: block;">
        <div class="row">
          <div class="col-md-12 text-center">
            <button aria-label="Close" type="button" mat-dialog-close
              class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">
              Cancel
            </button>
            <button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
              [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
              Submit
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>