::ng-deep .modal-dialog {
  max-width: 600px !important;
}
.mat-form-field {
  width: 100%;
}
table.reviewAttachments {
  width: 100%;
  tr {
    td {
      &:nth-child(1){ width: 6%;}
      &:nth-child(2){ width: 94%;}
      label {
        margin-bottom: 0;
      }
    }
  }
}
.notes {
  .margin-zero {
    margin: 0 !important;
  }
  table.notesGrid {
    font-size: 12px;
    thead {
      tr {
        th {
          font-weight: bold;
          padding-top: 1rem;
          padding-bottom: 1rem;
          color: #595d6e;
        }
      }
    }
    tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.12);
      td,
      th {
        vertical-align: middle;
        &:nth-child(1) {
          text-align: center;
          width: 10%;
        }
        &:nth-child(2) {
          width: 22%;
        }
        &:nth-child(3) {
          width: 18%;
        }
        &:nth-child(4) {
          width: 50%;
          ul {
            margin: 0;
            padding: 0 0 0 15px;
            li {
              list-style: none;
            }
          }
        }
      }
    }
    tbody {
      tr {
        &:nth-child(even) {
          background: #f7f8fa;
        }
      }
    }
  }
}
.viewAllButtonNotes {
  margin: 0 !important;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  width: auto !important;
}
.notActiveID {
  display: none;
}
.activeID {
  display: block;
}
.mat-form-field {
  width: 100%;
}
mat-expansion-panel-header {
  font-weight: bold;
}
.formTableButton {
  position: relative;
  top: 18px;
  color: #fff;
  button {
    i {
      color: #fff !important;
    }
  }
}

.actionButtons {
  
  margin: 10px 0;
  button {
    min-width: 150px;
    margin: 10px 0;
  }
}

::ng-deep .mat-horizontal-stepper-header {
  &[ng-reflect-selected="true"].mat-step-header {
    background-color: rgba(0, 0, 0, 0.12) !important;
    &::after,
    &::before {
      visibility: hidden !important;
    }
  }
  &[ng-reflect-selected="false"].mat-step-header {
    background-color: #fff !important;
  }
}
img {
  max-width: 100%;
}
.attachments {
  max-width: 750px;
  margin: 0 auto;
}
span {
  i {
    font-size: 14px;
    cursor: pointer;
  }
}

.customAttachment {
  table {
    width: 100%;
    tr {
      td {
        padding: 10px;
        vertical-align: bottom;
        .custom-file-label {
          &::after {
            background: #e9921b;
            color: #fff;
          }
        }
      }
    }
  }
  .attachmentsThumbnail {
    text-align: center;
    position: relative;
    img {
      max-width: 350px;
      width: 100%;
      margin: 0px auto 10px;
      border-radius: 8px;
      border: 1px solid #e2e5ec;
    }
    .successTick {
      position: absolute;
      top: -20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      right: 10px;
      z-index: 5;
      background: rgba(255, 255, 255, 0.9);
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      img {
        border: 0;
        margin: 0;
        width: 60%;
      }
    }
  }
}
@media (max-width: 1320px) {
}
@media (max-width: 1080px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
}
