<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        View Modified IA
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="kt-section__content notes">
        <div class="row">
          <div class="col-md-12">
            <br>
            <button (click)="openBusinessModifications()" class="btn btn-primary btn-sm">View Submitted Request</button>
            &nbsp;
            <button (click)="openSubmittedBNRequest()" class="btn btn-primary btn-sm">View BN Info</button>
            &nbsp;
            <button (click)="openViewActions()" class="btn btn-primary btn-sm">View Actions</button>
            <br>
          </div>
        </div>
        <br><br>
        <!--:: begin Application Info-->
        <div class="applicationRefInfo">
          <div class="row">
            <div class="col-md-3">
              <p><strong>IAN #: <span class="kt-font-danger kt-font-lg">IAN-5</span></strong></p>
            </div>
            <div class="col-md-3">
              <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
            </div>
            <div class="col-md-3">
              <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
            </div>
            <div class="col-md-3">
              <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
            </div>
          </div>
        </div>
        <!--:: end Application Info-->

        <!--begin::Divider-->
        <div class="kt-login__divider">
          <div class="kt-divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <br>
        <!--end::Divider-->

        <!--::begin Notes Accordion-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <kt-notes-history-modal></kt-notes-history-modal>

          </div>
        </div>
        <!--::end Notes Accordion-->

        <!--end::Divider-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <!--begin:: Accordian-->
            <mat-accordion>
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Submitter Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="kt-section__content notes">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="wizardBorder licenseInfo">
                        <p><strong>
                            Basic Info
                          </strong></p>
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <p>UAE Citizen</p>
                          </div>
                          <div class="col-md-6"></div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Emirates ID</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Emirates ID Expiry Date</mat-label>
                              <input disabled class="tda-form-control" matInput [matDatepicker]="eied"
                                placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
                              <mat-datepicker #eied></mat-datepicker>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Name Ar" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Father Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Father Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Grandfather Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Grandfather Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Family Name Ar</mat-label>
                              <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                                placeholder="Family Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Full name En</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="Full name En" />

                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Nationality</mat-label>
                              <mat-select  [disabled]="disableSelect">
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Passport No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="number"
                                placeholder="Passport no without dashes" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Passport Expiry Date</mat-label>
                              <input disabled class="tda-form-control" matInput [matDatepicker]="ped"
                                placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                              <mat-datepicker #ped></mat-datepicker>
                            </mat-form-field>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                </div>

                <div class="kt-section__content notes">

                  <div class="row">
                    <div class="col-md-12">

                      <div class="wizardBorder ">
                        <p><strong>
                            Contact Info
                          </strong></p>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Phone Residence</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="Phone Residence" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Phone Work</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Secondary Mobile No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="00971xxxxxxx" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Fax No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6"></div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>

                <div class="kt-section__content notes">

                  <div class="row">
                    <div class="col-md-12">

                      <div class="wizardBorder ">
                        <p><strong>
                            On Behalf Of
                          </strong></p>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Name Ar</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Name En</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>HR Code</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Business Unit</mat-label>
                              <input class="tda-form-control" disabled matInput type="text"
                                placeholder="Business Unit" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Designation</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Email</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Mobile No.</mat-label>
                              <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6"></div>
                        </div>


                      </div>
                    </div>

                  </div>
                </div>
              </mat-expansion-panel>


              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    IA Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Business Name-->
                <div class="row">
                  <div class="col-md-6">
                    <div class="wizardBorder">
                      <p><strong>
                          Previous IA Info
                        </strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <div>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Main Area</mat-label>
                              <mat-select [disabled]="disableSelect">
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Sub Area</mat-label>
                              <mat-select [disabled]="disableSelect">
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-12">
                            <br>
                            <p><strong>Google Map Coordinates</strong></p>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Longitude</mat-label>
                              <input disabled class="tda-form-control" matInput type="number" placeholder="Longitude" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Latitude</mat-label>
                              <input disabled class="tda-form-control" matInput type="number" placeholder="Latitude" />
                            </mat-form-field>
                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>
                          Modified IA Info
                        </strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <div>
                        <div class="row">
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>Main Area</mat-label>
                                    <mat-select >
                                      <mat-option value="option">1</mat-option>
                                      <mat-option value="option">2</mat-option>
                                      <mat-option value="option">3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>

                          </div>
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>Sub Area</mat-label>
                                    <mat-select >
                                      <mat-option value="option">1</mat-option>
                                      <mat-option value="option">2</mat-option>
                                      <mat-option value="option">3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>

                          </div>

                          <div class="col-md-12">
                            <br>
                            <p><strong>Google Map Coordinates</strong></p>
                          </div>
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>Longitude</mat-label>
                                    <input class="tda-form-control" matInput type="number" placeholder="Longitude" />
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>

                          </div>
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>Latitude</mat-label>
                                    <input class="tda-form-control" matInput type="number" placeholder="Latitude" />
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>

                          </div>

                        </div>


                      </div>
                    </div>
                  </div>
                </div>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Attachments
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <!--Attachments-->
                <div class="row">

                  <div class="col-md-6 ">
                    <div class="wizardBorder">
                      <p><strong>Previous Attachment</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <table class="reviewAttachments">
                        <tr>

                          <td>
                            <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                          </td>
                        </tr>
                        <tr>

                          <td> Passport Copy</td>
                        </tr>
                        <tr>

                          <td> Resident Visa Copy</td>
                        </tr>
                        <tr>

                          <td> GCC ID Copy</td>
                        </tr>
                        <tr>

                          <td>Business License Copy</td>
                        </tr>
                        <tr>

                          <td> Emirates</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                  <div class="col-md-6 ">
                    <div class="wizardBorder">
                      <p><strong>Modified Attachment</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                      <table class="reviewAttachments">
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>

                          </td>
                          <td>
                            <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> Passport Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> Resident Visa Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> GCC ID Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td>Business License Copy</td>
                        </tr>
                        <tr>
                          <td>
                            <mat-checkbox class="blsCheckbox" [color]="'primary'">

                            </mat-checkbox>
                          </td>
                          <td> Emirates</td>
                        </tr>
                      </table>
                    </div>
                  </div>

                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!--end:: Accordian-->
          </div>
        </div>

        <!--:: begin Footer-->
        <div class="row">
          <div class="col-md-4 text-center">
            <div class="wizardBorder actionButtons">
              <p><strong>Internal Action</strong></p>
              <!--begin::Divider-->
              <div class="kt-login__divider">
                <div class="kt-divider">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!--end::Divider-->
              <br>
              <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
              <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for Inspection</button>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="wizardBorder actionButtons">
              <p><strong>Customer Action</strong></p>
              <!--begin::Divider-->
              <div class="kt-login__divider">
                <div class="kt-divider">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!--end::Divider-->

              <br>
              <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
            </div>
          </div>

          <div class="col-md-4 text-center">
            <div class="wizardBorder actionButtons">
              <p><strong>Proceed Request</strong></p>
              <!--begin::Divider-->
              <div class="kt-login__divider">
                <div class="kt-divider">
                  <span></span>
                  <span></span>
                </div>
              </div>
              <!--end::Divider-->
              <br>
              <button [routerLink]="['/pages/business-license/initial-approvals/manage-initial-approvals']"
                class="btn btn-success btn-sm">Approve IA</button>
              <br>
              <button [routerLink]="['/pages/business-license/initial-approvals/manage-initial-approvals']"
                class="btn btn-danger btn-sm">Back</button>
            </div>
          </div>
        </div>
        <!--:: end Footer-->
      </div>
    </div>

  </div>



  <!--begin::Modal Show Certificate-->
  <ng-template #showAttachments let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="../../../../assets/media/Emirates-ID.jpg" alt="Show Attachments">
      </div>
    </div>
  </ng-template>