<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        View Modified BN
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="kt-section__content notes">
        <div class="row">
          <div class="col-md-12">
            <br>
            <button (click)="openBusinessModifications()" class="btn btn-primary btn-sm">View Submitted Request</button>
            &nbsp;
            <button (click)="openViewActions()" class="btn btn-primary btn-sm">View Actions</button>
            <br>
          </div>
        </div>
        <br><br>
        <!--:: begin Application Info-->
        <div class="row applicationRefInfo">
          <div class="col-md-4">
            <p><strong>BN: <span class="kt-font-danger kt-font-lg">BN-11</span></strong></p>
          </div>
          <div class="col-md-4 text-center">
            <p><strong>BN Name Ar: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
          </div>
          <div class="col-md-4 text-right">
            <p><strong>BN Name En: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
          </div>
        </div>
        <!--:: end Application Info-->

        <!--begin::Divider-->
        <div class="kt-login__divider">
          <div class="kt-divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <br>
        <!--end::Divider-->
        <!--:: begin Notes-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <!--::begin Notes Accordion-->
            <!-- <kt-notes-history-modal></kt-notes-history-modal> -->
            <!--::end Notes Accordion-->
          </div>
        </div>
        <!--:: end Notes-->
        <div class="kt-section__content notes">
          <div class="wizardBorder">
            <!--begin:: Accordian-->
            <mat-accordion>
              <mat-expansion-panel [expanded]="false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Application Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Application Info-->
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline" class="successInValid">
                      <mat-label>Emirates ID/ UID</mat-label>
                      <input class="tda-form-control" autocomplete="off" matInput type="text"
                        [textMask]="{mask: emiratesIDMask}" placeholder="000-0000-0000000-0" />
                    </mat-form-field>
                  </div>

                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Business Activity
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <!--Business Activity-->
                <div class="row">
                  <div class="col-md-12">
                    <!--Material DataTable Section-->
                    <div class="kt-section">
                      <div class="example-header">
                        <div class="row">
                          <div class="col-md-9">
                          </div>
                          <div class="col-md-3 text-right">
                            <mat-form-field>
                              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                                placeholder="Search">
                            </mat-form-field>
                          </div>
                        </div>

                      </div>
                      <!--begin: Datatable -->
                      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">


                          <ng-container matColumnDef="isic4">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISIC' | translate }} </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="arDescription">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.arDescription}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="enDescription">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.enDescription}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="activityGroup">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.activityGroup}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="editView">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <table class="editDeleteUpdate centerTable">
                                <tr>
                                  <td>
                                    <span matTooltip="Modify" [matTooltipPosition]="position.value"
                                      (click)="openAddNewActivities()" class="kt-font-primary cursor">
                                      <i class="flaticon2-add-square"></i></span>
                                  </td>
                                  <td>
                                    <span matTooltip="Delete" [matTooltipPosition]="position.value"
                                      class="kt-font-danger cursor">
                                      <i class="flaticon-delete"></i></span>
                                  </td>
                                </tr>
                              </table>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
                        </mat-table>
                        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                    </div>
                    <!--end: Datatable -->
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Business Names
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Business Name-->
                <div class="row">
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="successInValid">
                      <mat-label>BN 1 Arabic</mat-label>
                      <input class="tda-form-control" autocomplete="off" matInput type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="successInValid">
                      <mat-label>BN 1 English</mat-label>
                      <input class="tda-form-control" autocomplete="off" matInput type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="successInValid">
                      <mat-label>BN 2 Arabic</mat-label>
                      <input class="tda-form-control" autocomplete="off" matInput type="text" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-3">
                    <mat-form-field appearance="outline" class="successInValid">
                      <mat-label>BN 2 English</mat-label>
                      <input class="tda-form-control" autocomplete="off" matInput type="text" />
                    </mat-form-field>
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Stakeholders Info
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <!--Stakeholders Info-->
                <div class="row">
                  <div class="col-md-12">

                    <!--Material DataTable Section-->
                    <div class="kt-section">
                      <div class="example-header">
                        <div class="row">
                          <div class="col-md-9">
                          </div>

                          <div class="col-md-3 text-right">
                            <mat-form-field>
                              <input class="tda-form-control" matInput
                                (keyup)="stakeHoldersapplyFilter7($event.target.value)" placeholder="Search">
                            </mat-form-field>
                          </div>
                        </div>

                      </div>
                      <!--begin: Datatable -->
                      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                        <mat-table matSort [dataSource]="stakeHoldersdataSource7" class="tdaMetronicBorderedTable">


                          <ng-container matColumnDef="orderNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Order No </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.orderNo}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="type">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="relationship">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.relationship}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="nameAr">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name Ar </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="nameEn">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="share">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Share % </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.share}} </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="registered">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.registered}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="editView">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                            <mat-cell *matCellDef="let row">

                              <table class="editDeleteUpdate centerTable">
                                <tr>
                                  <td>
                                    <span matTooltip="Modify" [matTooltipPosition]="position.value"
                                      (click)="openAddStakeHolders()" class="kt-font-primary cursor">
                                      <i class="flaticon2-add-square"></i></span>
                                  </td>
                                  <td>
                                    <span matTooltip="Delete" [matTooltipPosition]="position.value"
                                      class="kt-font-danger cursor">
                                      <i class="flaticon-delete"></i></span>
                                  </td>
                                </tr>
                              </table>
                            </mat-cell>
                          </ng-container>

                          <mat-header-row *matHeaderRowDef="stakeHoldersdisplayedColumns7"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: stakeHoldersdisplayedColumns7;"></mat-row>
                        </mat-table>
                        <mat-paginator #stakeHoldersmatPaginator7 [pageSizeOptions]="[5, 10, 25, 100]">
                        </mat-paginator>
                      </div>
                    </div>
                    <!--end: Datatable -->
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Attachments
                  </mat-panel-title>

                </mat-expansion-panel-header>
                <!--Attachments-->
                <div class="row">
                  <!-- <div class="col-md-12">
                  <div class="wizardBorder">
                    <table class="reviewAttachments">
                      <tr>
                        <td>
                          <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                        </td>
                        <td> <strong>
                            <span matTooltip="Modify" [matTooltipPosition]="position.value"
                              (click)="openModifyBusinessNames()" class="kt-font-primary cursor">
                              <i class="flaticon-edit"></i></span>
                          </strong></td>
                      </tr>
                    </table>
                  </div>
                </div> -->
                  <div class="col-md-12">
                    <table class="attachments">
                      <tr>
                        <td>
                          <div class="customAttImg">
                            <div class="text-center attachmentsThumbnail">
                              <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                              <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                            </div>
                            <div class="form-group">
                              <!--UAE Citizen-->
                              <div class="custom-file">
                                <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                                <label class="custom-file-label" for="emCopy">
                                  {{emCopy}}
                                  <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                                </label>
                              </div>
                            </div>
                          </div>
                          <!-- <p>{{emCopy}}</p> -->
                        </td>
                        <td>

                        </td>
                      </tr>

                    </table>
                  </div>
                </div>
              </mat-expansion-panel>
            </mat-accordion>
            <!--end:: Accordian-->
          </div>
        </div>
        <!--:: begin Footer-->
        <div class="row">
          <div class="col-md-4 text-center">

          </div>

          <div class="col-md-4 text-center">
            <br><br>
            <button class="btn btn-primary" [routerLink]="['/pages/business-license/request-business-name/business-names']">Submit</button>
          </div>

          <div class="col-md-4 text-center">

          </div>
        </div>
        <!--:: end Footer-->
      </div>
    </div>

  </div>



  <!--begin::Modal Show Certificate-->
  <ng-template #showAttachments let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="../../../../assets/media/Emirates-ID.jpg" alt="Show Attachments">
      </div>
    </div>
  </ng-template>