<!--begin::Message-->
<div class="row text-center">
  <div class="col-md-12">
    <br><br>
    <p><strong>Thank You for signing up.</strong><br>
      You will recieve message on your mobile with<br>your application Reference Number.</p>
    <h3 class="text-center kt-font-success">#587462</h3>
    <a href="/auth/login" class="btn btn-primary btn-sm btn-upper">Home</a>
  </div>
</div>
<!--begin::Message-->