<mat-dialog-content>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        Business Names
      </h4>
      <button aria-label="Close" class="close" type="button" mat-dialog-close>
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" autocomplete="off">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <kt-submitted-info [user]="this.getBNData.user" [loginOnBehalf]="this.getBNData?.loginOnBehalf">
            </kt-submitted-info>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4 text-center">
              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup" autocomplete="off">
            <ng-template matStepLabel>Application Info</ng-template>
            <div class="kt-section__content notes">
              <div class="applicationRefInfo">
                <p><strong>Application Ref #: <span class="kt-font-danger kt-font-lg">
                      {{this.getBNData.applicationRefNo}}
                    </span></strong>
                </p>
              </div>
              <br>
              <kt-application-info [businessNameTypes]="this.businessLicenseService.businessNameTypes | async"
                [ApplicationInfoForm]="thirdFormGroup" [BNData]="this.getBNData.applicationData">
              </kt-application-info>
            </div>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 3-->
        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup" autocomplete="off">
            <ng-template matStepLabel>Business Activity</ng-template>
            <div class="kt-section__content notes">

              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <p><strong>Application Ref #: <span class="kt-font-danger kt-font-lg">
                          {{this.getBNData.applicationRefNo}}
                        </span></strong>
                    </p>
                  </div>
                  <br>
                  <kt-review-business-activity [getBusinessActivity]="this.getBNData.businessActivity">
                  </kt-review-business-activity>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 4-->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup" autocomplete="off">
            <ng-template matStepLabel>Business Name</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <p><strong>Application Ref #: <span class="kt-font-danger kt-font-lg">
                          {{this.getBNData.applicationRefNo}}
                        </span></strong>
                    </p>
                  </div>
                  <br>
                  <kt-business-names-availability [businessNamesAvailablityForm]="fourthFormGroup"
                    [BusinessNamesData]="this.getBNData.businessName">
                  </kt-business-names-availability>

                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 5-->
        <mat-step [stepControl]="seventhFormGroup">
          <form [formGroup]="seventhFormGroup" autocomplete="off">
            <ng-template matStepLabel>Stakeholders Info</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <p><strong>Application Ref #: <span class="kt-font-danger kt-font-lg">
                          {{this.getBNData.applicationRefNo}}
                        </span></strong>
                    </p>
                  </div>
                  <br>
                  <kt-review-stakeholder [getStakeholder]="this.getBNData.stakeHolders"></kt-review-stakeholder>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 6-->
        <mat-step [stepControl]="eighthFormGroup">
          <form [formGroup]="eighthFormGroup" class="customAttachment" autocomplete="off">
            <ng-template matStepLabel>Attachments</ng-template>
            <div class="applicationRefInfo">
              <p><strong>Application Ref #: <span class="kt-font-danger kt-font-lg">
                    {{this.getBNData.applicationRefNo}}
                  </span></strong></p>
            </div>
            <br>
            <!--:: begin Form Fields-->
            <kt-review-atachments [getAttachmentsData]="this.getBNData.attachments"></kt-review-atachments>
            <!--:: end Form Fields -->
            <br><br>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button aria-label="Close" mat-dialog-close class="btn btn-primary btn-sm">Close</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>