<form class="tda-form" [formGroup]="addModule" (ngSubmit)="addModuleFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-file"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ ID ? ('PAGESMODULE.MODULEDEFINATIONS.EDITMODULE' | translate) : ('PAGESMODULE.MODULEDEFINATIONS.ADDMODULE' | translate) }}
                <!-- {{ ID ? 'Edit Module' : 'Add Module' }} -->
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label> {{'PAGESMODULE.MODULEDEFINATIONS.MNAR' | translate}}</mat-label>
                  <input class="arabicTextBox" matInput (keypress)="validationMessages.allowAr($event)"
                    placeholder=" {{'PAGESMODULE.MODULEDEFINATIONS.MNAR' | translate}}" type="text"
                    formControlName='moduleNameAr'>
                </mat-form-field>
                <kt-error [formName]="addModule" [fieldName]="'moduleNameAr'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label> {{'PAGESMODULE.MODULEDEFINATIONS.MNEN' | translate}}</mat-label>
                  <input class="englishTextBox" matInput
                    placeholder=" {{'PAGESMODULE.MODULEDEFINATIONS.MNEN' | translate}}" type="text"
                    (keypress)="validationMessages.allowEn($event)" formControlName='moduleNameEn'>
                </mat-form-field>
                <kt-error [formName]="addModule" [fieldName]="'moduleNameEn'"></kt-error>
              </div>
              <div class="col-md-12">
                <div class="modulesIcons">
                  <mat-form-field appearance="outline">
                    <mat-label> {{'PAGESMODULE.MODULEDEFINATIONS.ModulesIcons' | translate}}</mat-label>
                    <mat-select formControlName='icon'>
                      <mat-option value="flaticon-email-black-circular-button"><i
                          class="flaticon-email-black-circular-button"></i>
                        flaticon-email-black-circular-button
                      </mat-option>
                      <mat-option value="flaticon-map"><i class="flaticon-map"></i>
                        flaticon-map
                      </mat-option>
                      <mat-option value="flaticon-alert-off"><i class="flaticon-alert-off"></i>
                        flaticon-alert-off
                      </mat-option>
                      <mat-option value="flaticon-alert"><i class="flaticon-alert"></i>
                        flaticon-alert
                      </mat-option>
                      <mat-option value="flaticon-computer"><i class="flaticon-computer"></i>
                        flaticon-computer
                      </mat-option>
                      <mat-option value="flaticon-responsive"><i class="flaticon-responsive"></i>
                        flaticon-responsive
                      </mat-option>
                      <mat-option value="flaticon-presentation"><i class="flaticon-presentation"></i>
                        flaticon-presentation
                      </mat-option>
                      <mat-option value="flaticon-arrows"><i class="flaticon-arrows"></i>
                        flaticon-arrows
                      </mat-option>
                      <mat-option value="flaticon-rocket"><i class="flaticon-rocket"></i>
                        flaticon-rocket
                      </mat-option>
                      <mat-option value="flaticon-reply"><i class="flaticon-reply"></i>
                        flaticon-reply
                      </mat-option>
                      <mat-option value="flaticon-gift"><i class="flaticon-gift"></i>
                        flaticon-gift
                      </mat-option>
                      <mat-option value="flaticon-confetti"><i class="flaticon-confetti"></i>
                        flaticon-confetti
                      </mat-option>
                      <mat-option value="flaticon-piggy-bank"><i class="flaticon-piggy-bank"></i>
                        flaticon-piggy-bank
                      </mat-option>
                      <mat-option value="flaticon-support"><i class="flaticon-support"></i>
                        flaticon-support
                      </mat-option>
                      <mat-option value="flaticon-delete"><i class="flaticon-delete"></i>
                        flaticon-delete
                      </mat-option>
                      <mat-option value="flaticon-eye"><i class="flaticon-eye"></i>
                        flaticon-eye
                      </mat-option>
                      <mat-option value="flaticon-multimedia"><i class="flaticon-multimedia"></i>
                        flaticon-multimedia
                      </mat-option>
                      <mat-option value="flaticon-whatsapp"><i class="flaticon-whatsapp"></i>
                        flaticon-whatsapp
                      </mat-option>
                      <mat-option value="flaticon-multimedia-2"><i class="flaticon-multimedia-2"></i>
                        flaticon-multimedia-2
                      </mat-option>
                      <mat-option value="flaticon-email"><i class="flaticon-email"></i>
                        flaticon-email
                      </mat-option>
                      <mat-option value="flaticon-presentation-1"><i class="flaticon-presentation-1"></i>
                        flaticon-presentation-1
                      </mat-option>
                      <mat-option value="flaticon-trophy"><i class="flaticon-trophy"></i>
                        flaticon-trophy
                      </mat-option>
                      <mat-option value="flaticon-psd"><i class="flaticon-psd"></i>
                        flaticon-psd
                      </mat-option>
                      <mat-option value="flaticon-layer"><i class="flaticon-layer"></i>
                        flaticon-layer
                      </mat-option>
                      <mat-option value="flaticon-doc"><i class="flaticon-doc"></i>
                        flaticon-doc
                      </mat-option>
                      <mat-option value="flaticon-file"><i class="flaticon-file"></i>
                        flaticon-file
                      </mat-option>
                      <mat-option value="flaticon-network"><i class="flaticon-network"></i>
                        flaticon-network
                      </mat-option>
                      <mat-option value="flaticon-bus-stop"><i class="flaticon-bus-stop"></i>
                        flaticon-bus-stop
                      </mat-option>
                      <mat-option value="flaticon-globe"><i class="flaticon-globe"></i>
                        flaticon-globe
                      </mat-option>
                      <mat-option value="flaticon-upload"><i class="flaticon-upload"></i>
                        flaticon-upload
                      </mat-option>
                      <mat-option value="flaticon-squares"><i class="flaticon-squares"></i>
                        flaticon-squares
                      </mat-option>
                      <mat-option value="flaticon-technology"><i class="flaticon-technology"></i>
                        flaticon-technology
                      </mat-option>
                      <mat-option value="flaticon-up-arrow"><i class="flaticon-up-arrow"></i>
                        flaticon-up-arrow
                      </mat-option>
                      <mat-option value="flaticon-browser"><i class="flaticon-browser"></i>
                        flaticon-browser
                      </mat-option>
                      <mat-option value="flaticon-speech-bubble"><i class="flaticon-speech-bubble"></i>
                        flaticon-speech-bubble
                      </mat-option>
                      <mat-option value="flaticon-coins"><i class="flaticon-coins"></i>
                        flaticon-coins
                      </mat-option>
                      <mat-option value="flaticon-open-box"><i class="flaticon-open-box"></i>
                        flaticon-open-box
                      </mat-option>
                      <mat-option value="flaticon-speech-bubble-1"><i class="flaticon-speech-bubble-1"></i>
                        flaticon-speech-bubble-1
                      </mat-option>
                      <mat-option value="flaticon-attachment"><i class="flaticon-attachment"></i>
                        flaticon-attachment
                      </mat-option>
                      <mat-option value="flaticon-photo-camera"><i class="flaticon-photo-camera"></i>
                        flaticon-photo-camera
                      </mat-option>
                      <mat-option value="flaticon-skype-logo"><i class="flaticon-skype-logo"></i>
                        flaticon-skype-logo
                      </mat-option>
                      <mat-option value="flaticon-linkedin-logo"><i class="flaticon-linkedin-logo"></i>
                        flaticon-linkedin-logo
                      </mat-option>
                      <mat-option value="flaticon-twitter-logo"><i class="flaticon-twitter-logo"></i>
                        flaticon-twitter-logo
                      </mat-option>
                      <mat-option value="flaticon-facebook-letter-logo"><i class="flaticon-facebook-letter-logo"></i>
                        flaticon-facebook-letter-logo
                      </mat-option>
                      <mat-option value="flaticon-calendar-with-a-clock-time-tools"><i
                          class="flaticon-calendar-with-a-clock-time-tools"></i>
                        flaticon-calendar-with-a-clock-time-tools
                      </mat-option>
                      <mat-option value="flaticon-youtube"><i class="flaticon-youtube"></i>
                        flaticon-youtube
                      </mat-option>
                      <mat-option value="flaticon-add-circular-button"><i class="flaticon-add-circular-button"></i>
                        flaticon-add-circular-button
                      </mat-option>
                      <mat-option value="flaticon-more-v2"><i class="flaticon-more-v2"></i>
                        flaticon-more-v2
                      </mat-option>
                      <mat-option value="flaticon-search"><i class="flaticon-search"></i>
                        flaticon-search
                      </mat-option>
                      <mat-option value="flaticon-search-magnifier-interface-symbol"><i
                          class="flaticon-search-magnifier-interface-symbol"></i>
                        flaticon-search-magnifier-interface-symbol
                      </mat-option>
                      <mat-option value="flaticon-questions-circular-button"><i
                          class="flaticon-questions-circular-button"></i>
                        flaticon-questions-circular-button
                      </mat-option>
                      <mat-option value="flaticon-refresh"><i class="flaticon-refresh"></i>
                        flaticon-refresh
                      </mat-option>
                      <mat-option value="flaticon-logout"><i class="flaticon-logout"></i>
                        flaticon-logout
                      </mat-option>
                      <mat-option value="flaticon-event-calendar-symbol"><i class="flaticon-event-calendar-symbol"></i>
                        flaticon-event-calendar-symbol
                      </mat-option>
                      <mat-option value="flaticon-laptop"><i class="flaticon-laptop"></i>
                        flaticon-laptop
                      </mat-option>
                      <mat-option value="flaticon-tool"><i class="flaticon-tool"></i>
                        flaticon-tool
                      </mat-option>
                      <mat-option value="flaticon-graphic"><i class="flaticon-graphic"></i>
                        flaticon-graphic
                      </mat-option>
                      <mat-option value="flaticon-symbol"><i class="flaticon-symbol"></i>
                        flaticon-symbol
                      </mat-option>
                      <mat-option value="flaticon-graphic-1"><i class="flaticon-graphic-1"></i>
                        flaticon-graphic-1
                      </mat-option>
                      <mat-option value="flaticon-clock"><i class="flaticon-clock"></i>
                        flaticon-clock
                      </mat-option>
                      <mat-option value="flaticon-squares-1"><i class="flaticon-squares-1"></i>
                        flaticon-squares-1
                      </mat-option>
                      <mat-option value="flaticon-black"><i class="flaticon-black"></i>
                        flaticon-black
                      </mat-option>
                      <mat-option value="flaticon-book"><i class="flaticon-book"></i>
                        flaticon-book
                      </mat-option>
                      <mat-option value="flaticon-cogwheel"><i class="flaticon-cogwheel"></i>
                        flaticon-cogwheel
                      </mat-option>
                      <mat-option value="flaticon-exclamation"><i class="flaticon-exclamation"></i>
                        flaticon-exclamation
                      </mat-option>
                      <mat-option value="flaticon-add-label-button"><i class="flaticon-add-label-button"></i>
                        flaticon-add-label-button
                      </mat-option>
                      <mat-option value="flaticon-delete-1"><i class="flaticon-delete-1"></i>
                        flaticon-delete-1
                      </mat-option>
                      <mat-option value="flaticon-interface"><i class="flaticon-interface"></i>
                        flaticon-interface
                      </mat-option>
                      <mat-option value="flaticon-more"><i class="flaticon-more"></i>
                        flaticon-more
                      </mat-option>
                      <mat-option value="flaticon-warning-sign"><i class="flaticon-warning-sign"></i>
                        flaticon-warning-sign
                      </mat-option>
                      <mat-option value="flaticon-calendar"><i class="flaticon-calendar"></i>
                        flaticon-calendar
                      </mat-option>
                      <mat-option value="flaticon-instagram-logo"><i class="flaticon-instagram-logo"></i>
                        flaticon-instagram-logo
                      </mat-option>
                      <mat-option value="flaticon-linkedin"><i class="flaticon-linkedin"></i>
                        flaticon-linkedin
                      </mat-option>
                      <mat-option value="flaticon-facebook-logo-button"><i class="flaticon-facebook-logo-button"></i>
                        flaticon-facebook-logo-button
                      </mat-option>
                      <mat-option value="flaticon-twitter-logo-button"><i class="flaticon-twitter-logo-button"></i>
                        flaticon-twitter-logo-button
                      </mat-option>
                      <mat-option value="flaticon-cancel"><i class="flaticon-cancel"></i>
                        flaticon-cancel
                      </mat-option>
                      <mat-option value="flaticon-exclamation-square"><i class="flaticon-exclamation-square"></i>
                        flaticon-exclamation-square
                      </mat-option>
                      <mat-option value="flaticon-buildings"><i class="flaticon-buildings"></i>
                        flaticon-buildings
                      </mat-option>
                      <mat-option value="flaticon-danger"><i class="flaticon-danger"></i>
                        flaticon-danger
                      </mat-option>
                      <mat-option value="flaticon-technology-1"><i class="flaticon-technology-1"></i>
                        flaticon-technology-1
                      </mat-option>
                      <mat-option value="flaticon-letter-g"><i class="flaticon-letter-g"></i>
                        flaticon-letter-g
                      </mat-option>
                      <mat-option value="flaticon-interface-1"><i class="flaticon-interface-1"></i>
                        flaticon-interface-1
                      </mat-option>
                      <mat-option value="flaticon-circle"><i class="flaticon-circle"></i>
                        flaticon-circle
                      </mat-option>
                      <mat-option value="flaticon-pin"><i class="flaticon-pin"></i>
                        flaticon-pin
                      </mat-option>
                      <mat-option value="flaticon-close"><i class="flaticon-close"></i>
                        flaticon-close
                      </mat-option>
                      <mat-option value="flaticon-clock-1"><i class="flaticon-clock-1"></i>
                        flaticon-clock-1
                      </mat-option>
                      <mat-option value="flaticon-apps"><i class="flaticon-apps"></i>
                        flaticon-apps
                      </mat-option>
                      <mat-option value="flaticon-user"><i class="flaticon-user"></i>
                        flaticon-user
                      </mat-option>
                      <mat-option value="flaticon-menu-button"><i class="flaticon-menu-button"></i>
                        flaticon-menu-button
                      </mat-option>
                      <mat-option value="flaticon-settings"><i class="flaticon-settings"></i>
                        flaticon-settings
                      </mat-option>
                      <mat-option value="flaticon-home"><i class="flaticon-home"></i>
                        flaticon-home
                      </mat-option>
                      <mat-option value="flaticon-clock-2"><i class="flaticon-clock-2"></i>
                        flaticon-clock-2
                      </mat-option>
                      <mat-option value="flaticon-lifebuoy"><i class="flaticon-lifebuoy"></i>
                        flaticon-lifebuoy
                      </mat-option>
                      <mat-option value="flaticon-cogwheel-1"><i class="flaticon-cogwheel-1"></i>
                        flaticon-cogwheel-1
                      </mat-option>
                      <mat-option value="flaticon-paper-plane"><i class="flaticon-paper-plane"></i>
                        flaticon-paper-plane
                      </mat-option>
                      <mat-option value="flaticon-statistics"><i class="flaticon-statistics"></i>
                        flaticon-statistics
                      </mat-option>
                      <mat-option value="flaticon-diagram"><i class="flaticon-diagram"></i>
                        flaticon-diagram
                      </mat-option>
                      <mat-option value="flaticon-line-graph"><i class="flaticon-line-graph"></i>
                        flaticon-line-graph
                      </mat-option>
                      <mat-option value="flaticon-customer"><i class="flaticon-customer"></i>
                        flaticon-customer
                      </mat-option>
                      <mat-option value="flaticon-visible"><i class="flaticon-visible"></i>
                        flaticon-visible
                      </mat-option>
                      <mat-option value="flaticon-shopping-basket"><i class="flaticon-shopping-basket"></i>
                        flaticon-shopping-basket
                      </mat-option>
                      <mat-option value="flaticon-price-tag"><i class="flaticon-price-tag"></i>
                        flaticon-price-tag
                      </mat-option>
                      <mat-option value="flaticon-businesswoman"><i class="flaticon-businesswoman"></i>
                        flaticon-businesswoman
                      </mat-option>
                      <mat-option value="flaticon-medal"><i class="flaticon-medal"></i>
                        flaticon-medal
                      </mat-option>
                      <mat-option value="flaticon-like"><i class="flaticon-like"></i>
                        flaticon-like
                      </mat-option>
                      <mat-option value="flaticon-edit"><i class="flaticon-edit"></i>
                        flaticon-edit
                      </mat-option>
                      <mat-option value="flaticon-avatar"><i class="flaticon-avatar"></i>
                        flaticon-avatar
                      </mat-option>
                      <mat-option value="flaticon-download"><i class="flaticon-download"></i>
                        flaticon-download
                      </mat-option>
                      <mat-option value="flaticon-home-1"><i class="flaticon-home-1"></i>
                        flaticon-home-1
                      </mat-option>
                      <mat-option value="flaticon-mail"><i class="flaticon-mail"></i>
                        flaticon-mail
                      </mat-option>
                      <mat-option value="flaticon-mail-1"><i class="flaticon-mail-1"></i>
                        flaticon-mail-1
                      </mat-option>
                      <mat-option value="flaticon-warning"><i class="flaticon-warning"></i>
                        flaticon-warning
                      </mat-option>
                      <mat-option value="flaticon-cart"><i class="flaticon-cart"></i>
                        flaticon-cart
                      </mat-option>
                      <mat-option value="flaticon-bag"><i class="flaticon-bag"></i>
                        flaticon-bag
                      </mat-option>
                      <mat-option value="flaticon-pie-chart"><i class="flaticon-pie-chart"></i>
                        flaticon-pie-chart
                      </mat-option>
                      <mat-option value="flaticon-graph"><i class="flaticon-graph"></i>
                        flaticon-graph
                      </mat-option>
                      <mat-option value="flaticon-interface-2"><i class="flaticon-interface-2"></i>
                        flaticon-interface-2
                      </mat-option>
                      <mat-option value="flaticon-chat"><i class="flaticon-chat"></i>
                        flaticon-chat
                      </mat-option>
                      <mat-option value="flaticon-envelope"><i class="flaticon-envelope"></i>
                        flaticon-envelope
                      </mat-option>
                      <mat-option value="flaticon-chat-1"><i class="flaticon-chat-1"></i>
                        flaticon-chat-1
                      </mat-option>
                      <mat-option value="flaticon-interface-3"><i class="flaticon-interface-3"></i>
                        flaticon-interface-3
                      </mat-option>
                      <mat-option value="flaticon-background"><i class="flaticon-background"></i>
                        flaticon-background
                      </mat-option>
                      <mat-option value="flaticon-file-1"><i class="flaticon-file-1"></i>
                        flaticon-file-1
                      </mat-option>
                      <mat-option value="flaticon-interface-4"><i class="flaticon-interface-4"></i>
                        flaticon-interface-4
                      </mat-option>
                      <mat-option value="flaticon-multimedia-3"><i class="flaticon-multimedia-3"></i>
                        flaticon-multimedia-3
                      </mat-option>
                      <mat-option value="flaticon-list"><i class="flaticon-list"></i>
                        flaticon-list
                      </mat-option>
                      <mat-option value="flaticon-time"><i class="flaticon-time"></i>
                        flaticon-time
                      </mat-option>
                      <mat-option value="flaticon-profile"><i class="flaticon-profile"></i>
                        flaticon-profile
                      </mat-option>
                      <mat-option value="flaticon-imac"><i class="flaticon-imac"></i>
                        flaticon-imac
                      </mat-option>
                      <mat-option value="flaticon-medical"><i class="flaticon-medical"></i>
                        flaticon-medical
                      </mat-option>
                      <mat-option value="flaticon-music"><i class="flaticon-music"></i>
                        flaticon-music
                      </mat-option>
                      <mat-option value="flaticon-plus"><i class="flaticon-plus"></i>
                        flaticon-plus
                      </mat-option>
                      <mat-option value="flaticon-exclamation-1"><i class="flaticon-exclamation-1"></i>
                        flaticon-exclamation-1
                      </mat-option>
                      <mat-option value="flaticon-info"><i class="flaticon-info"></i>
                        flaticon-info
                      </mat-option>
                      <mat-option value="flaticon-menu-1"><i class="flaticon-menu-1"></i>
                        flaticon-menu-1
                      </mat-option>
                      <mat-option value="flaticon-menu-2"><i class="flaticon-menu-2"></i>
                        flaticon-menu-2
                      </mat-option>
                      <mat-option value="flaticon-share"><i class="flaticon-share"></i>
                        flaticon-share
                      </mat-option>
                      <mat-option value="flaticon-interface-5"><i class="flaticon-interface-5"></i>
                        flaticon-interface-5
                      </mat-option>
                      <mat-option value="flaticon-signs"><i class="flaticon-signs"></i>
                        flaticon-signs
                      </mat-option>
                      <mat-option value="flaticon-tabs"><i class="flaticon-tabs"></i>
                        flaticon-tabs
                      </mat-option>
                      <mat-option value="flaticon-multimedia-4"><i class="flaticon-multimedia-4"></i>
                        flaticon-multimedia-4
                      </mat-option>
                      <mat-option value="flaticon-upload-1"><i class="flaticon-upload-1"></i>
                        flaticon-upload-1
                      </mat-option>
                      <mat-option value="flaticon-web"><i class="flaticon-web"></i>
                        flaticon-web
                      </mat-option>
                      <mat-option value="flaticon-placeholder"><i class="flaticon-placeholder"></i>
                        flaticon-placeholder
                      </mat-option>
                      <mat-option value="flaticon-placeholder-1"><i class="flaticon-placeholder-1"></i>
                        flaticon-placeholder-1
                      </mat-option>
                      <mat-option value="flaticon-layers"><i class="flaticon-layers"></i>
                        flaticon-layers
                      </mat-option>
                      <mat-option value="flaticon-interface-6"><i class="flaticon-interface-6"></i>
                        flaticon-interface-6
                      </mat-option>
                      <mat-option value="flaticon-interface-7"><i class="flaticon-interface-7"></i>
                        flaticon-interface-7
                      </mat-option>
                      <mat-option value="flaticon-interface-8"><i class="flaticon-interface-8"></i>
                        flaticon-interface-8
                      </mat-option>
                      <mat-option value="flaticon-tool-1"><i class="flaticon-tool-1"></i>
                        flaticon-tool-1
                      </mat-option>
                      <mat-option value="flaticon-settings-1"><i class="flaticon-settings-1"></i>
                        flaticon-settings-1
                      </mat-option>
                      <mat-option value="flaticon-alarm"><i class="flaticon-alarm"></i>
                        flaticon-alarm
                      </mat-option>
                      <mat-option value="flaticon-search-1"><i class="flaticon-search-1"></i>
                        flaticon-search-1
                      </mat-option>
                      <mat-option value="flaticon-time-1"><i class="flaticon-time-1"></i>
                        flaticon-time-1
                      </mat-option>
                      <mat-option value="flaticon-stopwatch"><i class="flaticon-stopwatch"></i>
                        flaticon-stopwatch
                      </mat-option>
                      <mat-option value="flaticon-folder"><i class="flaticon-folder"></i>
                        flaticon-folder
                      </mat-option>
                      <mat-option value="flaticon-folder-1"><i class="flaticon-folder-1"></i>
                        flaticon-folder-1
                      </mat-option>
                      <mat-option value="flaticon-folder-2"><i class="flaticon-folder-2"></i>
                        flaticon-folder-2
                      </mat-option>
                      <mat-option value="flaticon-folder-3"><i class="flaticon-folder-3"></i>
                        flaticon-folder-3
                      </mat-option>
                      <mat-option value="flaticon-file-2"><i class="flaticon-file-2"></i>
                        flaticon-file-2
                      </mat-option>
                      <mat-option value="flaticon-list-1"><i class="flaticon-list-1"></i>
                        flaticon-list-1
                      </mat-option>
                      <mat-option value="flaticon-list-2"><i class="flaticon-list-2"></i>
                        flaticon-list-2
                      </mat-option>
                      <mat-option value="flaticon-calendar-1"><i class="flaticon-calendar-1"></i>
                        flaticon-calendar-1
                      </mat-option>
                      <mat-option value="flaticon-time-2"><i class="flaticon-time-2"></i>
                        flaticon-time-2
                      </mat-option>
                      <mat-option value="flaticon-interface-9"><i class="flaticon-interface-9"></i>
                        flaticon-interface-9
                      </mat-option>
                      <mat-option value="flaticon-app"><i class="flaticon-app"></i>
                        flaticon-app
                      </mat-option>
                      <mat-option value="flaticon-suitcase"><i class="flaticon-suitcase"></i>
                        flaticon-suitcase
                      </mat-option>
                      <mat-option value="flaticon-grid-menu-v2"><i class="flaticon-grid-menu-v2"></i>
                        flaticon-grid-menu-v2
                      </mat-option>
                      <mat-option value="flaticon-more-v6"><i class="flaticon-more-v6"></i>
                        flaticon-more-v6
                      </mat-option>
                      <mat-option value="flaticon-more-v5"><i class="flaticon-more-v5"></i>
                        flaticon-more-v5
                      </mat-option>
                      <mat-option value="flaticon-add"><i class="flaticon-add"></i>
                        flaticon-add
                      </mat-option>
                      <mat-option value="flaticon-multimedia-5"><i class="flaticon-multimedia-5"></i>
                        flaticon-multimedia-5
                      </mat-option>
                      <mat-option value="flaticon-more-v4"><i class="flaticon-more-v4"></i>
                        flaticon-more-v4
                      </mat-option>
                      <mat-option value="flaticon-placeholder-2"><i class="flaticon-placeholder-2"></i>
                        flaticon-placeholder-2
                      </mat-option>
                      <mat-option value="flaticon-map-location"><i class="flaticon-map-location"></i>
                        flaticon-map-location
                      </mat-option>
                      <mat-option value="flaticon-users"><i class="flaticon-users"></i>
                        flaticon-users
                      </mat-option>
                      <mat-option value="flaticon-profile-1"><i class="flaticon-profile-1"></i>
                        flaticon-profile-1
                      </mat-option>
                      <mat-option value="flaticon-lock"><i class="flaticon-lock"></i>
                        flaticon-lock
                      </mat-option>
                      <mat-option value="flaticon-sound"><i class="flaticon-sound"></i>
                        flaticon-sound
                      </mat-option>
                      <mat-option value="flaticon-star"><i class="flaticon-star"></i>
                        flaticon-star
                      </mat-option>
                      <mat-option value="flaticon-placeholder-3"><i class="flaticon-placeholder-3"></i>
                        flaticon-placeholder-3
                      </mat-option>
                      <mat-option value="flaticon-bell"><i class="flaticon-bell"></i>
                        flaticon-bell
                      </mat-option>
                      <mat-option value="flaticon-paper-plane-1"><i class="flaticon-paper-plane-1"></i>
                        flaticon-paper-plane-1
                      </mat-option>
                      <mat-option value="flaticon-users-1"><i class="flaticon-users-1"></i>
                        flaticon-users-1
                      </mat-option>
                      <mat-option value="flaticon-more-1"><i class="flaticon-more-1"></i>
                        flaticon-more-1
                      </mat-option>
                      <mat-option value="flaticon-up-arrow-1"><i class="flaticon-up-arrow-1"></i>
                        flaticon-up-arrow-1
                      </mat-option>
                      <mat-option value="flaticon-grid-menu"><i class="flaticon-grid-menu"></i>
                        flaticon-grid-menu
                      </mat-option>
                      <mat-option value="flaticon-alarm-1"><i class="flaticon-alarm-1"></i>
                        flaticon-alarm-1
                      </mat-option>
                      <mat-option value="flaticon-earth-globe"><i class="flaticon-earth-globe"></i>
                        flaticon-earth-globe
                      </mat-option>
                      <mat-option value="flaticon-alert-1"><i class="flaticon-alert-1"></i>
                        flaticon-alert-1
                      </mat-option>
                      <mat-option value="flaticon-internet"><i class="flaticon-internet"></i>
                        flaticon-internet
                      </mat-option>
                      <mat-option value="flaticon-user-ok"><i class="flaticon-user-ok"></i>
                        flaticon-user-ok
                      </mat-option>
                      <mat-option value="flaticon-user-add"><i class="flaticon-user-add"></i>
                        flaticon-user-add
                      </mat-option>
                      <mat-option value="flaticon-user-settings"><i class="flaticon-user-settings"></i>
                        flaticon-user-settings
                      </mat-option>
                      <mat-option value="flaticon-truck"><i class="flaticon-truck"></i>
                        flaticon-truck
                      </mat-option>
                      <mat-option value="flaticon-analytics"><i class="flaticon-analytics"></i>
                        flaticon-analytics
                      </mat-option>
                      <mat-option value="flaticon-notes"><i class="flaticon-notes"></i>
                        flaticon-notes
                      </mat-option>
                      <mat-option value="flaticon-tea-cup"><i class="flaticon-tea-cup"></i>
                        flaticon-tea-cup
                      </mat-option>
                      <mat-option value="flaticon-exclamation-2"><i class="flaticon-exclamation-2"></i>
                        flaticon-exclamation-2
                      </mat-option>
                      <mat-option value="flaticon-technology-2"><i class="flaticon-technology-2"></i>
                        flaticon-technology-2
                      </mat-option>
                      <mat-option value="flaticon-location"><i class="flaticon-location"></i>
                        flaticon-location
                      </mat-option>
                      <mat-option value="flaticon-edit-1"><i class="flaticon-edit-1"></i>
                        flaticon-edit-1
                      </mat-option>
                      <mat-option value="flaticon-home-2"><i class="flaticon-home-2"></i>
                        flaticon-home-2
                      </mat-option>
                      <mat-option value="flaticon-dashboard"><i class="flaticon-dashboard"></i>
                        flaticon-dashboard
                      </mat-option>
                      <mat-option value="flaticon-information"><i class="flaticon-information"></i>
                        flaticon-information
                      </mat-option>
                      <mat-option value="flaticon-light"><i class="flaticon-light"></i>
                        flaticon-light
                      </mat-option>
                      <mat-option value="flaticon-car"><i class="flaticon-car"></i>
                        flaticon-car
                      </mat-option>
                      <mat-option value="flaticon-business"><i class="flaticon-business"></i>
                        flaticon-business
                      </mat-option>
                      <mat-option value="flaticon-squares-2"><i class="flaticon-squares-2"></i>
                        flaticon-squares-2
                      </mat-option>
                      <mat-option value="flaticon-signs-1"><i class="flaticon-signs-1"></i>
                        flaticon-signs-1
                      </mat-option>
                      <mat-option value="flaticon-mark"><i class="flaticon-mark"></i>
                        flaticon-mark
                      </mat-option>
                      <mat-option value="flaticon-squares-3"><i class="flaticon-squares-3"></i>
                        flaticon-squares-3
                      </mat-option>
                      <mat-option value="flaticon-comment"><i class="flaticon-comment"></i>
                        flaticon-comment
                      </mat-option>
                      <mat-option value="flaticon-shapes"><i class="flaticon-shapes"></i>
                        flaticon-shapes
                      </mat-option>
                      <mat-option value="flaticon-clipboard"><i class="flaticon-clipboard"></i>
                        flaticon-clipboard
                      </mat-option>
                      <mat-option value="flaticon-squares-4"><i class="flaticon-squares-4"></i>
                        flaticon-squares-4
                      </mat-option>
                      <mat-option value="flaticon-delete-2"><i class="flaticon-delete-2"></i>
                        flaticon-delete-2
                      </mat-option>
                      <mat-option value="flaticon-bell-1"><i class="flaticon-bell-1"></i>
                        flaticon-bell-1
                      </mat-option>
                      <mat-option value="flaticon-list-3"><i class="flaticon-list-3"></i>
                        flaticon-list-3
                      </mat-option>
                      <mat-option value="flaticon-infinity"><i class="flaticon-infinity"></i>
                        flaticon-infinity
                      </mat-option>
                      <mat-option value="flaticon-chat-2"><i class="flaticon-chat-2"></i>
                        flaticon-chat-2
                      </mat-option>
                      <mat-option value="flaticon-calendar-2"><i class="flaticon-calendar-2"></i>
                        flaticon-calendar-2
                      </mat-option>
                      <mat-option value="flaticon-signs-2"><i class="flaticon-signs-2"></i>
                        flaticon-signs-2
                      </mat-option>
                      <mat-option value="flaticon-time-3"><i class="flaticon-time-3"></i>
                        flaticon-time-3
                      </mat-option>
                      <mat-option value="flaticon-calendar-3"><i class="flaticon-calendar-3"></i>
                        flaticon-calendar-3
                      </mat-option>
                      <mat-option value="flaticon-interface-10"><i class="flaticon-interface-10"></i>
                        flaticon-interface-10
                      </mat-option>
                      <mat-option value="flaticon-interface-11"><i class="flaticon-interface-11"></i>
                        flaticon-interface-11
                      </mat-option>
                      <mat-option value="flaticon-folder-4"><i class="flaticon-folder-4"></i>
                        flaticon-folder-4
                      </mat-option>
                      <mat-option value="flaticon-alert-2"><i class="flaticon-alert-2"></i>
                        flaticon-alert-2
                      </mat-option>
                      <mat-option value="flaticon-cogwheel-2"><i class="flaticon-cogwheel-2"></i>
                        flaticon-cogwheel-2
                      </mat-option>
                      <mat-option value="flaticon-graphic-2"><i class="flaticon-graphic-2"></i>
                        flaticon-graphic-2
                      </mat-option>
                      <mat-option value="flaticon-rotate"><i class="flaticon-rotate"></i>
                        flaticon-rotate
                      </mat-option>
                      <mat-option value="flaticon-feed"><i class="flaticon-feed"></i>
                        flaticon-feed
                      </mat-option>
                      <mat-option value="flaticon-safe-shield-protection"><i
                          class="flaticon-safe-shield-protection"></i>
                        flaticon-safe-shield-protection
                      </mat-option>
                      <mat-option value="flaticon-security"><i class="flaticon-security"></i>
                        flaticon-security
                      </mat-option>
                      <mat-option value="flaticon-download-1"><i class="flaticon-download-1"></i>
                        flaticon-download-1
                      </mat-option>
                      <mat-option value="flaticon-pie-chart-1"><i class="flaticon-pie-chart-1"></i>
                        flaticon-pie-chart-1
                      </mat-option>
                      <mat-option value="flaticon-notepad"><i class="flaticon-notepad"></i>
                        flaticon-notepad
                      </mat-option>
                      <mat-option value="flaticon2-notification"><i class="flaticon2-notification"></i>
                        flaticon2-notification
                      </mat-option>
                      <mat-option value="flaticon2-settings"><i class="flaticon2-settings"></i>
                        flaticon2-settings
                      </mat-option>
                      <mat-option value="flaticon2-search"><i class="flaticon2-search"></i>
                        flaticon2-search
                      </mat-option>
                      <mat-option value="flaticon2-delete"><i class="flaticon2-delete"></i>
                        flaticon2-delete
                      </mat-option>
                      <mat-option value="flaticon2-psd"><i class="flaticon2-psd"></i>
                        flaticon2-psd
                      </mat-option>
                      <mat-option value="flaticon2-list"><i class="flaticon2-list"></i>
                        flaticon2-list
                      </mat-option>
                      <mat-option value="flaticon2-box"><i class="flaticon2-box"></i>
                        flaticon2-box
                      </mat-option>
                      <mat-option value="flaticon2-download"><i class="flaticon2-download"></i>
                        flaticon2-download
                      </mat-option>
                      <mat-option value="flaticon2-shield"><i class="flaticon2-shield"></i>
                        flaticon2-shield
                      </mat-option>
                      <mat-option value="flaticon2-paperplane"><i class="flaticon2-paperplane"></i>
                        flaticon2-paperplane
                      </mat-option>
                      <mat-option value="flaticon2-avatar"><i class="flaticon2-avatar"></i>
                        flaticon2-avatar
                      </mat-option>
                      <mat-option value="flaticon2-bell"><i class="flaticon2-bell"></i>
                        flaticon2-bell
                      </mat-option>
                      <mat-option value="flaticon2-fax"><i class="flaticon2-fax"></i>
                        flaticon2-fax
                      </mat-option>
                      <mat-option value="flaticon2-chart2"><i class="flaticon2-chart2"></i>
                        flaticon2-chart2
                      </mat-option>
                      <mat-option value="flaticon2-supermarket"><i class="flaticon2-supermarket"></i>
                        flaticon2-supermarket
                      </mat-option>
                      <mat-option value="flaticon2-phone"><i class="flaticon2-phone"></i>
                        flaticon2-phone
                      </mat-option>
                      <mat-option value="flaticon2-envelope"><i class="flaticon2-envelope"></i>
                        flaticon2-envelope
                      </mat-option>
                      <mat-option value="flaticon2-pin"><i class="flaticon2-pin"></i>
                        flaticon2-pin
                      </mat-option>
                      <mat-option value="flaticon2-chat"><i class="flaticon2-chat"></i>
                        flaticon2-chat
                      </mat-option>
                      <mat-option value="flaticon2-chart"><i class="flaticon2-chart"></i>
                        flaticon2-chart
                      </mat-option>
                      <mat-option value="flaticon2-infographic"><i class="flaticon2-infographic"></i>
                        flaticon2-infographic
                      </mat-option>
                      <mat-option value="flaticon2-grids"><i class="flaticon2-grids"></i>
                        flaticon2-grids
                      </mat-option>
                      <mat-option value="flaticon2-menu"><i class="flaticon2-menu"></i>
                        flaticon2-menu
                      </mat-option>
                      <mat-option value="flaticon2-plus"><i class="flaticon2-plus"></i>
                        flaticon2-plus
                      </mat-option>
                      <mat-option value="flaticon2-list-1"><i class="flaticon2-list-1"></i>
                        flaticon2-list-1
                      </mat-option>
                      <mat-option value="flaticon2-talk"><i class="flaticon2-talk"></i>
                        flaticon2-talk
                      </mat-option>
                      <mat-option value="flaticon2-file"><i class="flaticon2-file"></i>
                        flaticon2-file
                      </mat-option>
                      <mat-option value="flaticon2-user"><i class="flaticon2-user"></i>
                        flaticon2-user
                      </mat-option>
                      <mat-option value="flaticon2-line-chart"><i class="flaticon2-line-chart"></i>
                        flaticon2-line-chart
                      </mat-option>
                      <mat-option value="flaticon2-percentage"><i class="flaticon2-percentage"></i>
                        flaticon2-percentage
                      </mat-option>
                      <mat-option value="flaticon2-menu-1"><i class="flaticon2-menu-1"></i>
                        flaticon2-menu-1
                      </mat-option>
                      <mat-option value="flaticon2-paper-plane"><i class="flaticon2-paper-plane"></i>
                        flaticon2-paper-plane
                      </mat-option>
                      <mat-option value="flaticon2-menu-2"><i class="flaticon2-menu-2"></i>
                        flaticon2-menu-2
                      </mat-option>
                      <mat-option value="flaticon2-shopping-cart"><i class="flaticon2-shopping-cart"></i>
                        flaticon2-shopping-cart
                      </mat-option>
                      <mat-option value="flaticon2-pie-chart"><i class="flaticon2-pie-chart"></i>
                        flaticon2-pie-chart
                      </mat-option>
                      <mat-option value="flaticon2-box-1"><i class="flaticon2-box-1"></i>
                        flaticon2-box-1
                      </mat-option>
                      <mat-option value="flaticon2-map"><i class="flaticon2-map"></i>
                        flaticon2-map
                      </mat-option>
                      <mat-option value="flaticon2-favourite"><i class="flaticon2-favourite"></i>
                        flaticon2-favourite
                      </mat-option>
                      <mat-option value="flaticon2-checking"><i class="flaticon2-checking"></i>
                        flaticon2-checking
                      </mat-option>
                      <mat-option value="flaticon2-safe"><i class="flaticon2-safe"></i>
                        flaticon2-safe
                      </mat-option>
                      <mat-option value="flaticon2-heart-rate-monitor"><i class="flaticon2-heart-rate-monitor"></i>
                        flaticon2-heart-rate-monitor
                      </mat-option>
                      <mat-option value="flaticon2-layers"><i class="flaticon2-layers"></i>
                        flaticon2-layers
                      </mat-option>
                      <mat-option value="flaticon2-delivery-package"><i class="flaticon2-delivery-package"></i>
                        flaticon2-delivery-package
                      </mat-option>
                      <mat-option value="flaticon2-sms"><i class="flaticon2-sms"></i>
                        flaticon2-sms
                      </mat-option>
                      <mat-option value="flaticon2-image-file"><i class="flaticon2-image-file"></i>
                        flaticon2-image-file
                      </mat-option>
                      <mat-option value="flaticon2-plus-1"><i class="flaticon2-plus-1"></i>
                        flaticon2-plus-1
                      </mat-option>
                      <mat-option value="flaticon2-send"><i class="flaticon2-send"></i>
                        flaticon2-send
                      </mat-option>
                      <mat-option value="flaticon2-graphic-design"><i class="flaticon2-graphic-design"></i>
                        flaticon2-graphic-design
                      </mat-option>
                      <mat-option value="flaticon2-cup"><i class="flaticon2-cup"></i>
                        flaticon2-cup
                      </mat-option>
                      <mat-option value="flaticon2-website"><i class="flaticon2-website"></i>
                        flaticon2-website
                      </mat-option>
                      <mat-option value="flaticon2-gift"><i class="flaticon2-gift"></i>
                        flaticon2-gift
                      </mat-option>
                      <mat-option value="flaticon2-chronometer"><i class="flaticon2-chronometer"></i>
                        flaticon2-chronometer
                      </mat-option>
                      <mat-option value="flaticon2-bar-chart"><i class="flaticon2-bar-chart"></i>
                        flaticon2-bar-chart
                      </mat-option>
                      <mat-option value="flaticon2-browser"><i class="flaticon2-browser"></i>
                        flaticon2-browser
                      </mat-option>
                      <mat-option value="flaticon2-digital-marketing"><i class="flaticon2-digital-marketing"></i>
                        flaticon2-digital-marketing
                      </mat-option>
                      <mat-option value="flaticon2-calendar"><i class="flaticon2-calendar"></i>
                        flaticon2-calendar
                      </mat-option>
                      <mat-option value="flaticon2-calendar-1"><i class="flaticon2-calendar-1"></i>
                        flaticon2-calendar-1
                      </mat-option>
                      <mat-option value="flaticon2-rocket"><i class="flaticon2-rocket"></i>
                        flaticon2-rocket
                      </mat-option>
                      <mat-option value="flaticon2-analytics"><i class="flaticon2-analytics"></i>
                        flaticon2-analytics
                      </mat-option>
                      <mat-option value="flaticon2-pie-chart-1"><i class="flaticon2-pie-chart-1"></i>
                        flaticon2-pie-chart-1
                      </mat-option>
                      <mat-option value="flaticon2-pie-chart-2"><i class="flaticon2-pie-chart-2"></i>
                        flaticon2-pie-chart-2
                      </mat-option>
                      <mat-option value="flaticon2-analytics-1"><i class="flaticon2-analytics-1"></i>
                        flaticon2-analytics-1
                      </mat-option>
                      <mat-option value="flaticon2-google-drive-file"><i class="flaticon2-google-drive-file"></i>
                        flaticon2-google-drive-file
                      </mat-option>
                      <mat-option value="flaticon2-pie-chart-3"><i class="flaticon2-pie-chart-3"></i>
                        flaticon2-pie-chart-3
                      </mat-option>
                      <mat-option value="flaticon2-poll-symbol"><i class="flaticon2-poll-symbol"></i>
                        flaticon2-poll-symbol
                      </mat-option>
                      <mat-option value="flaticon2-gear"><i class="flaticon2-gear"></i>
                        flaticon2-gear
                      </mat-option>
                      <mat-option value="flaticon2-magnifier-tool"><i class="flaticon2-magnifier-tool"></i>
                        flaticon2-magnifier-tool
                      </mat-option>
                      <mat-option value="flaticon2-add"><i class="flaticon2-add"></i>
                        flaticon2-add
                      </mat-option>
                      <mat-option value="flaticon2-cube"><i class="flaticon2-cube"></i>
                        flaticon2-cube
                      </mat-option>
                      <mat-option value="flaticon2-gift-1"><i class="flaticon2-gift-1"></i>
                        flaticon2-gift-1
                      </mat-option>
                      <mat-option value="flaticon2-list-2"><i class="flaticon2-list-2"></i>
                        flaticon2-list-2
                      </mat-option>
                      <mat-option value="flaticon2-shopping-cart-1"><i class="flaticon2-shopping-cart-1"></i>
                        flaticon2-shopping-cart-1
                      </mat-option>
                      <mat-option value="flaticon2-calendar-2"><i class="flaticon2-calendar-2"></i>
                        flaticon2-calendar-2
                      </mat-option>
                      <mat-option value="flaticon2-laptop"><i class="flaticon2-laptop"></i>
                        flaticon2-laptop
                      </mat-option>
                      <mat-option value="flaticon2-cube-1"><i class="flaticon2-cube-1"></i>
                        flaticon2-cube-1
                      </mat-option>
                      <mat-option value="flaticon2-layers-1"><i class="flaticon2-layers-1"></i>
                        flaticon2-layers-1
                      </mat-option>
                      <mat-option value="flaticon2-chat-1"><i class="flaticon2-chat-1"></i>
                        flaticon2-chat-1
                      </mat-option>
                      <mat-option value="flaticon2-copy"><i class="flaticon2-copy"></i>
                        flaticon2-copy
                      </mat-option>
                      <mat-option value="flaticon2-paper"><i class="flaticon2-paper"></i>
                        flaticon2-paper
                      </mat-option>
                      <mat-option value="flaticon2-hospital"><i class="flaticon2-hospital"></i>
                        flaticon2-hospital
                      </mat-option>
                      <mat-option value="flaticon2-calendar-3"><i class="flaticon2-calendar-3"></i>
                        flaticon2-calendar-3
                      </mat-option>
                      <mat-option value="flaticon2-speaker"><i class="flaticon2-speaker"></i>
                        flaticon2-speaker
                      </mat-option>
                      <mat-option value="flaticon2-pie-chart-4"><i class="flaticon2-pie-chart-4"></i>
                        flaticon2-pie-chart-4
                      </mat-option>
                      <mat-option value="flaticon2-schedule"><i class="flaticon2-schedule"></i>
                        flaticon2-schedule
                      </mat-option>
                      <mat-option value="flaticon2-expand"><i class="flaticon2-expand"></i>
                        flaticon2-expand
                      </mat-option>
                      <mat-option value="flaticon2-menu-3"><i class="flaticon2-menu-3"></i>
                        flaticon2-menu-3
                      </mat-option>
                      <mat-option value="flaticon2-download-1"><i class="flaticon2-download-1"></i>
                        flaticon2-download-1
                      </mat-option>
                      <mat-option value="flaticon2-help"><i class="flaticon2-help"></i>
                        flaticon2-help
                      </mat-option>
                      <mat-option value="flaticon2-list-3"><i class="flaticon2-list-3"></i>
                        flaticon2-list-3
                      </mat-option>
                      <mat-option value="flaticon2-notepad"><i class="flaticon2-notepad"></i>
                        flaticon2-notepad
                      </mat-option>
                      <mat-option value="flaticon2-graph"><i class="flaticon2-graph"></i>
                        flaticon2-graph
                      </mat-option>
                      <mat-option value="flaticon2-browser-1"><i class="flaticon2-browser-1"></i>
                        flaticon2-browser-1
                      </mat-option>
                      <mat-option value="flaticon2-photograph"><i class="flaticon2-photograph"></i>
                        flaticon2-photograph
                      </mat-option>
                      <mat-option value="flaticon2-browser-2"><i class="flaticon2-browser-2"></i>
                        flaticon2-browser-2
                      </mat-option>
                      <mat-option value="flaticon2-hourglass"><i class="flaticon2-hourglass"></i>
                        flaticon2-hourglass
                      </mat-option>
                      <mat-option value="flaticon2-mail"><i class="flaticon2-mail"></i>
                        flaticon2-mail
                      </mat-option>
                      <mat-option value="flaticon2-cardiogram"><i class="flaticon2-cardiogram"></i>
                        flaticon2-cardiogram
                      </mat-option>
                      <mat-option value="flaticon2-document"><i class="flaticon2-document"></i>
                        flaticon2-document
                      </mat-option>
                      <mat-option value="flaticon2-contract"><i class="flaticon2-contract"></i>
                        flaticon2-contract
                      </mat-option>
                      <mat-option value="flaticon2-graph-1"><i class="flaticon2-graph-1"></i>
                        flaticon2-graph-1
                      </mat-option>
                      <mat-option value="flaticon2-graphic"><i class="flaticon2-graphic"></i>
                        flaticon2-graphic
                      </mat-option>
                      <mat-option value="flaticon2-position"><i class="flaticon2-position"></i>
                        flaticon2-position
                      </mat-option>
                      <mat-option value="flaticon2-soft-icons"><i class="flaticon2-soft-icons"></i>
                        flaticon2-soft-icons
                      </mat-option>
                      <mat-option value="flaticon2-circle-vol-2"><i class="flaticon2-circle-vol-2"></i>
                        flaticon2-circle-vol-2
                      </mat-option>
                      <mat-option value="flaticon2-rocket-1"><i class="flaticon2-rocket-1"></i>
                        flaticon2-rocket-1
                      </mat-option>
                      <mat-option value="flaticon2-lorry"><i class="flaticon2-lorry"></i>
                        flaticon2-lorry
                      </mat-option>
                      <mat-option value="flaticon2-cd"><i class="flaticon2-cd"></i>
                        flaticon2-cd
                      </mat-option>
                      <mat-option value="flaticon2-file-1"><i class="flaticon2-file-1"></i>
                        flaticon2-file-1
                      </mat-option>
                      <mat-option value="flaticon2-reload"><i class="flaticon2-reload"></i>
                        flaticon2-reload
                      </mat-option>
                      <mat-option value="flaticon2-placeholder"><i class="flaticon2-placeholder"></i>
                        flaticon2-placeholder
                      </mat-option>
                      <mat-option value="flaticon2-refresh"><i class="flaticon2-refresh"></i>
                        flaticon2-refresh
                      </mat-option>
                      <mat-option value="flaticon2-medical-records"><i class="flaticon2-medical-records"></i>
                        flaticon2-medical-records
                      </mat-option>
                      <mat-option value="flaticon2-rectangular"><i class="flaticon2-rectangular"></i>
                        flaticon2-rectangular
                      </mat-option>
                      <mat-option value="flaticon2-medical-records-1"><i class="flaticon2-medical-records-1"></i>
                        flaticon2-medical-records-1
                      </mat-option>
                      <mat-option value="flaticon2-indent-dots"><i class="flaticon2-indent-dots"></i>
                        flaticon2-indent-dots
                      </mat-option>
                      <mat-option value="flaticon2-search-1"><i class="flaticon2-search-1"></i>
                        flaticon2-search-1
                      </mat-option>
                      <mat-option value="flaticon2-edit"><i class="flaticon2-edit"></i>
                        flaticon2-edit
                      </mat-option>
                      <mat-option value="flaticon2-new-email"><i class="flaticon2-new-email"></i>
                        flaticon2-new-email
                      </mat-option>
                      <mat-option value="flaticon2-calendar-4"><i class="flaticon2-calendar-4"></i>
                        flaticon2-calendar-4
                      </mat-option>
                      <mat-option value="flaticon2-add-circular-button"><i class="flaticon2-add-circular-button"></i>
                        flaticon2-add-circular-button
                      </mat-option>
                      <mat-option value="flaticon2-close-cross"><i class="flaticon2-close-cross"></i>
                        flaticon2-close-cross
                      </mat-option>
                      <mat-option value="flaticon2-attention"><i class="flaticon2-attention"></i>
                        flaticon2-attention
                      </mat-option>
                      <mat-option value="flaticon2-information"><i class="flaticon2-information"></i>
                        flaticon2-information
                      </mat-option>
                      <mat-option value="flaticon2-rocket-2"><i class="flaticon2-rocket-2"></i>
                        flaticon2-rocket-2
                      </mat-option>
                      <mat-option value="flaticon2-maps"><i class="flaticon2-maps"></i>
                        flaticon2-maps
                      </mat-option>
                      <mat-option value="flaticon2-link"><i class="flaticon2-link"></i>
                        flaticon2-link
                      </mat-option>
                      <mat-option value="flaticon2-download-symbol"><i class="flaticon2-download-symbol"></i>
                        flaticon2-download-symbol
                      </mat-option>
                      <mat-option value="flaticon2-power"><i class="flaticon2-power"></i>
                        flaticon2-power
                      </mat-option>
                      <mat-option value="flaticon2-console"><i class="flaticon2-console"></i>
                        flaticon2-console
                      </mat-option>
                      <mat-option value="flaticon2-open-text-book"><i class="flaticon2-open-text-book"></i>
                        flaticon2-open-text-book
                      </mat-option>
                      <mat-option value="flaticon2-download-2"><i class="flaticon2-download-2"></i>
                        flaticon2-download-2
                      </mat-option>
                      <mat-option value="flaticon2-zig-zag-line-sign"><i class="flaticon2-zig-zag-line-sign"></i>
                        flaticon2-zig-zag-line-sign
                      </mat-option>
                      <mat-option value="flaticon2-tools-and-utensils"><i class="flaticon2-tools-and-utensils"></i>
                        flaticon2-tools-and-utensils
                      </mat-option>
                      <mat-option value="flaticon2-crisp-icons"><i class="flaticon2-crisp-icons"></i>
                        flaticon2-crisp-icons
                      </mat-option>
                      <mat-option value="flaticon2-trash"><i class="flaticon2-trash"></i>
                        flaticon2-trash
                      </mat-option>
                      <mat-option value="flaticon2-lock"><i class="flaticon2-lock"></i>
                        flaticon2-lock
                      </mat-option>
                      <mat-option value="flaticon2-bell-1"><i class="flaticon2-bell-1"></i>
                        flaticon2-bell-1
                      </mat-option>
                      <mat-option value="flaticon2-bell-alarm-symbol"><i class="flaticon2-bell-alarm-symbol"></i>
                        flaticon2-bell-alarm-symbol
                      </mat-option>
                      <mat-option value="flaticon2-setup"><i class="flaticon2-setup"></i>
                        flaticon2-setup
                      </mat-option>
                      <mat-option value="flaticon2-menu-4"><i class="flaticon2-menu-4"></i>
                        flaticon2-menu-4
                      </mat-option>
                      <mat-option value="flaticon2-architecture-and-city"><i
                          class="flaticon2-architecture-and-city"></i>
                        flaticon2-architecture-and-city
                      </mat-option>
                      <mat-option value="flaticon2-shelter"><i class="flaticon2-shelter"></i>
                        flaticon2-shelter
                      </mat-option>
                      <mat-option value="flaticon2-add-1"><i class="flaticon2-add-1"></i>
                        flaticon2-add-1
                      </mat-option>
                      <mat-option value="flaticon2-checkmark"><i class="flaticon2-checkmark"></i>
                        flaticon2-checkmark
                      </mat-option>
                      <mat-option value="flaticon2-circular-arrow"><i class="flaticon2-circular-arrow"></i>
                        flaticon2-circular-arrow
                      </mat-option>
                      <mat-option value="flaticon2-user-outline-symbol"><i class="flaticon2-user-outline-symbol"></i>
                        flaticon2-user-outline-symbol
                      </mat-option>
                      <mat-option value="flaticon2-rhombus"><i class="flaticon2-rhombus"></i>
                        flaticon2-rhombus
                      </mat-option>
                      <mat-option value="flaticon2-crisp-icons-1"><i class="flaticon2-crisp-icons-1"></i>
                        flaticon2-crisp-icons-1
                      </mat-option>
                      <mat-option value="flaticon2-soft-icons-1"><i class="flaticon2-soft-icons-1"></i>
                        flaticon2-soft-icons-1
                      </mat-option>
                      <mat-option value="flaticon2-hexagonal"><i class="flaticon2-hexagonal"></i>
                        flaticon2-hexagonal
                      </mat-option>
                      <mat-option value="flaticon2-time"><i class="flaticon2-time"></i>
                        flaticon2-time
                      </mat-option>
                      <mat-option value="flaticon2-contrast"><i class="flaticon2-contrast"></i>
                        flaticon2-contrast
                      </mat-option>
                      <mat-option value="flaticon2-note"><i class="flaticon2-note"></i>
                        flaticon2-note
                      </mat-option>
                      <mat-option value="flaticon2-telegram-logo"><i class="flaticon2-telegram-logo"></i>
                        flaticon2-telegram-logo
                      </mat-option>
                      <mat-option value="flaticon2-hangouts-logo"><i class="flaticon2-hangouts-logo"></i>
                        flaticon2-hangouts-logo
                      </mat-option>
                      <mat-option value="flaticon2-analytics-2"><i class="flaticon2-analytics-2"></i>
                        flaticon2-analytics-2
                      </mat-option>
                      <mat-option value="flaticon2-wifi"><i class="flaticon2-wifi"></i>
                        flaticon2-wifi
                      </mat-option>
                      <mat-option value="flaticon2-protected"><i class="flaticon2-protected"></i>
                        flaticon2-protected
                      </mat-option>
                      <mat-option value="flaticon2-drop"><i class="flaticon2-drop"></i>
                        flaticon2-drop
                      </mat-option>
                      <mat-option value="flaticon2-mail-1"><i class="flaticon2-mail-1"></i>
                        flaticon2-mail-1
                      </mat-option>
                      <mat-option value="flaticon2-delivery-truck"><i class="flaticon2-delivery-truck"></i>
                        flaticon2-delivery-truck
                      </mat-option>
                      <mat-option value="flaticon2-writing"><i class="flaticon2-writing"></i>
                        flaticon2-writing
                      </mat-option>
                      <mat-option value="flaticon2-calendar-5"><i class="flaticon2-calendar-5"></i>
                        flaticon2-calendar-5
                      </mat-option>
                      <mat-option value="flaticon2-protection"><i class="flaticon2-protection"></i>
                        flaticon2-protection
                      </mat-option>
                      <mat-option value="flaticon2-calendar-6"><i class="flaticon2-calendar-6"></i>
                        flaticon2-calendar-6
                      </mat-option>
                      <mat-option value="flaticon2-calendar-7"><i class="flaticon2-calendar-7"></i>
                        flaticon2-calendar-7
                      </mat-option>
                      <mat-option value="flaticon2-calendar-8"><i class="flaticon2-calendar-8"></i>
                        flaticon2-calendar-8
                      </mat-option>
                      <mat-option value="flaticon2-bell-2"><i class="flaticon2-bell-2"></i>
                        flaticon2-bell-2
                      </mat-option>
                      <mat-option value="flaticon2-hourglass-1"><i class="flaticon2-hourglass-1"></i>
                        flaticon2-hourglass-1
                      </mat-option>
                      <mat-option value="flaticon2-next"><i class="flaticon2-next"></i>
                        flaticon2-next
                      </mat-option>
                      <mat-option value="flaticon2-chat-2"><i class="flaticon2-chat-2"></i>
                        flaticon2-chat-2
                      </mat-option>
                      <mat-option value="flaticon2-correct"><i class="flaticon2-correct"></i>
                        flaticon2-correct
                      </mat-option>
                      <mat-option value="flaticon2-right-arrow"><i class="flaticon2-right-arrow"></i>
                        flaticon2-right-arrow
                      </mat-option>
                      <mat-option value="flaticon2-down-arrow"><i class="flaticon2-down-arrow"></i>
                        flaticon2-down-arrow
                      </mat-option>
                      <mat-option value="flaticon2-photo-camera"><i class="flaticon2-photo-camera"></i>
                        flaticon2-photo-camera
                      </mat-option>
                      <mat-option value="flaticon2-fast-next"><i class="flaticon2-fast-next"></i>
                        flaticon2-fast-next
                      </mat-option>
                      <mat-option value="flaticon2-fast-back"><i class="flaticon2-fast-back"></i>
                        flaticon2-fast-back
                      </mat-option>
                      <mat-option value="flaticon2-down"><i class="flaticon2-down"></i>
                        flaticon2-down
                      </mat-option>
                      <mat-option value="flaticon2-back"><i class="flaticon2-back"></i>
                        flaticon2-back
                      </mat-option>
                      <mat-option value="flaticon2-up"><i class="flaticon2-up"></i>
                        flaticon2-up
                      </mat-option>
                      <mat-option value="flaticon2-arrow-down"><i class="flaticon2-arrow-down"></i>
                        flaticon2-arrow-down
                      </mat-option>
                      <mat-option value="flaticon2-arrow-up"><i class="flaticon2-arrow-up"></i>
                        flaticon2-arrow-up
                      </mat-option>
                      <mat-option value="flaticon2-accept"><i class="flaticon2-accept"></i>
                        flaticon2-accept
                      </mat-option>
                      <mat-option value="flaticon2-sort"><i class="flaticon2-sort"></i>
                        flaticon2-sort
                      </mat-option>
                      <mat-option value="flaticon2-arrow"><i class="flaticon2-arrow"></i>
                        flaticon2-arrow
                      </mat-option>
                      <mat-option value="flaticon2-back-1"><i class="flaticon2-back-1"></i>
                        flaticon2-back-1
                      </mat-option>
                      <mat-option value="flaticon2-add-square"><i class="flaticon2-add-square"></i>
                        flaticon2-add-square
                      </mat-option>
                      <mat-option value="flaticon2-quotation-mark"><i class="flaticon2-quotation-mark"></i>
                        flaticon2-quotation-mark
                      </mat-option>
                      <mat-option value="flaticon2-clip-symbol"><i class="flaticon2-clip-symbol"></i>
                        flaticon2-clip-symbol
                      </mat-option>
                      <mat-option value="flaticon2-check-mark"><i class="flaticon2-check-mark"></i>
                        flaticon2-check-mark
                      </mat-option>
                      <mat-option value="flaticon2-folder"><i class="flaticon2-folder"></i>
                        flaticon2-folder
                      </mat-option>
                      <mat-option value="flaticon2-cancel-music"><i class="flaticon2-cancel-music"></i>
                        flaticon2-cancel-music
                      </mat-option>
                      <mat-option value="flaticon2-cross"><i class="flaticon2-cross"></i>
                        flaticon2-cross
                      </mat-option>
                      <mat-option value="flaticon2-pen"><i class="flaticon2-pen"></i>
                        flaticon2-pen
                      </mat-option>
                      <mat-option value="flaticon2-email"><i class="flaticon2-email"></i>
                        flaticon2-email
                      </mat-option>
                      <mat-option value="flaticon2-graph-2"><i class="flaticon2-graph-2"></i>
                        flaticon2-graph-2
                      </mat-option>
                      <mat-option value="flaticon2-open-box"><i class="flaticon2-open-box"></i>
                        flaticon2-open-box
                      </mat-option>
                      <mat-option value="flaticon2-files-and-folders"><i class="flaticon2-files-and-folders"></i>
                        flaticon2-files-and-folders
                      </mat-option>
                      <mat-option value="flaticon2-ui"><i class="flaticon2-ui"></i>
                        flaticon2-ui
                      </mat-option>
                      <mat-option value="flaticon2-sheet"><i class="flaticon2-sheet"></i>
                        flaticon2-sheet
                      </mat-option>
                      <mat-option value="flaticon2-dashboard"><i class="flaticon2-dashboard"></i>
                        flaticon2-dashboard
                      </mat-option>
                      <mat-option value="flaticon2-user-1"><i class="flaticon2-user-1"></i>
                        flaticon2-user-1
                      </mat-option>
                      <mat-option value="flaticon2-group"><i class="flaticon2-group"></i>
                        flaticon2-group
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.TYPE' | translate }}</mat-label>
                  <mat-select formControlName='type'>
                    <mat-option *ngFor="let type of typeddl | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn: type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addModule" [fieldName]="'type'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.MODULEDEFINATIONS.Application' | translate}}</mat-label>
                  <mat-select placeholder="Application" formControlName='application'>
                    <mat-option *ngFor="let applications of applicationsddl | async" [value]="applications.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? applications.valueEn: applications.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addModule" [fieldName]="'application'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.ORDERSEQUENCE' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'GENERALWORDS.ORDERSEQUENCE' | translate }}" type="number" formControlName='orderSequenceModule'>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.REMARKS' | translate }}</mat-label>
                  <textarea matInput placeholder="{{ 'GENERALWORDS.REMARKS' | translate }}" rows="5"
                    formControlName='remarks'></textarea>
                </mat-form-field>
                <kt-error [formName]="addModule" [fieldName]="'remarks'"></kt-error>
              </div>
              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName='isActive'>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]="true">{{ 'GENERALWORDS.ACTIVE' | translate }} </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]="false">{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                  <kt-error [formName]="addModule" [fieldName]="'isActive'"></kt-error>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">

                    <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      type="submit">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                    <a [routerLink]="['/pages/modules/modules-definition']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
</form>