<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.TITLE.OrganizationStruc' | translate }}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">

      <br>
      <div class="tdaTreeView">
        <mat-tree [dataSource]="dataSource" [treeControl]="treeControl"
          [dir]="this.translationService.getSelectedLanguage() =='en'?'ltr':'rtl'">
          <!-- - This is the tree node template for leaf nodes -->
          <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
            <!-- use a disabled button to provide padding for tree leaf -->
            <button mat-icon-button disabled></button>
            <mat-icon class="mat-icon-rtl-mirror">
              folder
            </mat-icon>
            <span (contextmenu)="onRightClick(node, $event)">
              <a>{{ this.translationService.getSelectedLanguage() =="en" ? node.nameEn : node.nameAr}}</a>
            </span>
            <!-- <div (contextmenu)="onRightClick(node)">{{node.nameEn}}</div> -->
          </mat-tree-node>
          <!-- This is the tree node template for expandable nodes -->
          <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.nameEn">
              <mat-icon class="mat-icon-rtl-mirror">
                {{treeControl.isExpanded(node) ? 'indeterminate_check_box' : 'add_box'}}
              </mat-icon>
            </button>
            <mat-icon class="mat-icon-rtl-mirror rootIcon">
              {{treeControl.isExpanded(node) ? 'folder_open' : 'folder'}}
            </mat-icon>
            <span (contextmenu)="onRightClick(node, $event)">
              <!-- (contextmenu)="onRightClick(node, $event)" -->
              <a> {{ this.translationService.getSelectedLanguage() =="en" ? node.nameEn : node.nameAr}} </a>
            </span>
          </mat-tree-node>
        </mat-tree>

        <!---Popup Action-->
        <div *ngIf="showContextMenu" class="osMenu" [ngStyle]="{'left': coordinates.left, 'top': coordinates.top}">

          <div class="closeButton"><span (click)="hideShowContextMenu()">x</span></div>
          <span class="listOS">
            <a (click)="openOrganizationalForm(OrganizationalChartForm, 'add')">
              {{ 'GENERALWORDS.ADD' | translate }}</a>
            <a (click)="openOrganizationalForm(OrganizationalChartForm, 'edit')">
              {{ 'GENERALWORDS.EDIT' | translate }}</a>
            <a (click)="deleteNode()"> {{ 'GENERALWORDS.DEL' | translate }}</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<ng-template #OrganizationalChartForm let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{this.action=='add' ? 'Add' : 'Edit'}} {{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnit' | translate }}
      </h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="tda-form" [formGroup]="organizationalUnitForm" (ngSubmit)="organizationalUnitFormSubmit()"
        autocomplete="off">
        <div class="row">
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameAr' | translate }}</mat-label>
              <input class="arabicTextBox" matInput (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameAr' | translate }}"
                formControlName="organizationUnitNameAr">
            </mat-form-field>
            <kt-error [formName]="organizationalUnitForm" [fieldName]="'organizationUnitNameAr'"></kt-error>
          </div>
          <div class="col-md-12">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameEn' | translate }}</mat-label>
              <input class="englishTextBox" matInput
                placeholder="{{ 'PAGESMODULE.ORGANIZATIONUNIT.OrgUnitNameAr' | translate }}"
                (keypress)="validationMessages.allowEn($event)" formControlName="organizationUnitNameEn">
            </mat-form-field>
            <kt-error [formName]="organizationalUnitForm" [fieldName]="'organizationUnitNameEn'"></kt-error>
          </div>

          <div class="col-md-12 text-center">
            <div class="kt-portlet__foot">
              <div class="kt-form__actions">
                <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                  [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                  {{ 'GENERALWORDS.SUBMIT' | translate }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</ng-template>