<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Cancel Business License
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Services Info</ng-template>
            <!-- <kt-service-details></kt-service-details> -->
            <br>
            <div class="modal-footer" style="display: block;">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4 text-right">
                  <button matStepperNext class="btn btn-primary">Next</button>
                </div>
              </div>
            </div>
          </form>
        </mat-step>

        <!--Step 2-->
        <mat-step [stepControl]="forthFormGroup">
          <form [formGroup]="forthFormGroup">
            <ng-template matStepLabel> Status </ng-template>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes tabGroups">
              <mat-tab-group>
                <!--Blocking Status-->
                <mat-tab label="Blocking Status">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Active</p>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Blocked</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-radio-group>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-radio-button checked value="Full Block" (click)="partialValue(0)">
                              Full Block</mat-radio-button>
                          </div>
                          <div class="col-md-4">
                            <mat-radio-button value="Partial Block" (click)="partialValue(1)">
                              Partial Block</mat-radio-button>
                          </div>
                        </div>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-12"><br>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                    </div>
                  </div>

                  <div class="row" *ngIf="partial == 1">
                    <div class="col-md-6">

                      <mat-form-field appearance="outline">
                        <mat-label>Till Date</mat-label>
                        <input disabled matInput [matDatepicker]="tillDate" placeholder="Till Date"
                          (click)="tillDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="tillDate"></mat-datepicker-toggle>
                        <mat-datepicker #tillDate></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <p class="text-danger"><br><br><strong>3 Days are left to unblock</strong></p>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked by Entity</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked Reasons</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Suspension Status">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Active</p>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Suspended</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input disabled matInput [matDatepicker]="suspendedStartDate" placeholder="Start Date"
                          (click)="suspendedStartDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="suspendedStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #suspendedStartDate></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input disabled matInput [matDatepicker]="suspendedEndDate" placeholder="End Date"
                          (click)="suspendedEndDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="suspendedEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #suspendedEndDate></mat-datepicker>
                      </mat-form-field>

                    </div>

                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked by Entity</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked Reasons</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p class="text-danger"><strong>3 Days are left to release suspension.</strong></p>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Inspection Notes">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>No <strong>Inspection Notes</strong> Found</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your action requried as per <strong>Inspection Notes</strong></p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="alert alert-solid-warning alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Temp till inspection module is completed</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="reportNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Report No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.reportNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="relatedDocs">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Related Docs </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.relatedDocs}} </mat-cell>
                        </ng-container>



                        <ng-container matColumnDef="pending">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pending </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.pending}} </mat-cell>
                        </ng-container>




                        <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
                <mat-tab label="Violations">
                  <br><br>
                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter8($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table matSort [dataSource]="dataSource8" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="refNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.refNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="type">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descAr">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Description Ar </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.descAr}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descEn">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Description En </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.descEn}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fineAmount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dueDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.dueDate}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payLinks">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
                          <mat-cell *matCellDef="let row"> <a href="javascript:;">{{row.payLinks}}</a></mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator8 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
                <mat-tab label="Govt Entities Notes">
                  <br><br>
                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter9($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table matSort [dataSource]="dataSource9" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="refNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.refNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="govtEntity">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Govt Entity</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.govtEntity}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="notesAr">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Notes Ar </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.notesAr}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="notesEn">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Notes En </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.notesEn}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fineAmount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payLinks">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
                          <mat-cell *matCellDef="let row"> <a href="javascript:;">{{row.payLinks}}</a> </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns9"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns9;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator9 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
              </mat-tab-group>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="modal-footer" style="display: block;">
              <div class="row">
                <div class="col-md-4">
                  <button class="btn btn-danger" matStepperPrevious>Back</button>
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4 text-right">
                  <button matStepperNext class="btn btn-primary">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Cancel Business License</ng-template>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>

            <div class="row">
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>BL No</mat-label>
                  <input disabled matInput placeholder="BL No" value="BL-3">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>IA No</mat-label>
                  <input disabled matInput placeholder="IA No" value="IA-3">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>BN Reservation No</mat-label>
                  <input disabled matInput placeholder="BN Reservation No" value="BN-3">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>BN Name Ar</mat-label>
                  <input class="arabicTextBox" disabled matInput placeholder="BN Name Ar" value="الاسم التجاري">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>BN Name En</mat-label>
                  <input disabled matInput placeholder="BN Name En" value="Business License">
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Select Reason</mat-label>
                  <mat-select multiple>
                    <mat-option value="option">1</mat-option>
                    <mat-option value="option">2</mat-option>
                    <mat-option value="option">3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field appearance="outline">
                  <mat-label>Remarks</mat-label>
                  <textarea matInput placeholder="Remarks" rows="3"></textarea>
                </mat-form-field>
              </div>
              <div class="col-md-12">
                <table>
                  <tr>
                    <td>
                      <mat-checkbox [color]="'primary'"></mat-checkbox>
                    </td>
                    <td>
                      <p>By canceling this BL the linked business name will be released and if it is
                        expired it will be available for other customer and same will be for the linked IA.</p>
                    </td>
                  </tr>
                </table>
              </div>
              <!-- <div class="col-md-6"></div>
              <div class="col-md-6"></div> -->

            </div>

            <div class="modal-footer" style="display: block;">
              <div class="row">
                <div class="col-md-4">
                  <div class="actionButtons">
                    <button class="btn btn-danger" matStepperPrevious>Back</button>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                </div>
                <div class="col-md-4 text-right">
                  <button type="button" (click)="open(happinessMeterModal)" class="btn btn-primary">Submit</button>

                </div>
              </div>
            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</div>








<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-business-license/business-license']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>