table {
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}
table.rejectedReason {
  tr {
    td {
      vertical-align: top;
      p {
        padding: 0 5px;
      }
    }
  }
}
.row {
  margin: 0;
}
::ng-deep .mat-form-field {
  width: 100%;
}
::ng-deep .mat-checkbox-layout .mat-checkbox-label {
  font-size: 13px;
}
