<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-file"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.MODULEDEFINATIONS.MSMD' | translate}}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/modules/add-sub-modules']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Manage Sub Modules Definition', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-6 text-right">
            <table class="filterDataTable">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label> {{ 'PAGESMODULE.MODULEDEFINATIONS.FilterModule' | translate}}</mat-label>
                    <mat-select [(ngModel)]="moduleId" (ngModelChange)="filterByModuleName(moduleId)">
                      <mat-option *ngFor="let type of typeModuleName | async" [value]="type.id">
                        {{ this.translationService.getSelectedLanguage() =="en" ? type.nameEn: type.nameAr}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>
                      {{'GENERALWORDS.SEARCH' | translate }}
                    </mat-label>
                    <input class="tda-form-control" matInput id="subModuleDefinition"
                      (keyup)="applyFilter7($event.target.value)" placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </div> 
      </div>
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter" [hiddenColumns]="[6]">
          <ng-container matColumnDef="nameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.MODULEDEFINATIONS.SMNAR' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="nameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.MODULEDEFINATIONS.SMNEN' | translate}}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="remarks">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.REMARKS' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.remarks}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="moduleNameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.MODULEDEFINATIONS.LinkedModule' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.moduleNameEn}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="typeNameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.MODULEDEFINATIONS.ModuleType' | translate}} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">
                {{row.typeNameEn}}
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ordersequence">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'GENERALWORDS.ORDERSEQUENCE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              {{row.ordersequence}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button (click)="onEditClick(row)" type="button"
                class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" (change)="CheckboxChange(row.id)" [checked]="row.isActive">
                  <span>{{row.isActive}}</span>
                </label>
              </span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>