@import url(/Users/omairlatif/aaaaaa/BLS/bls-web/src/assets/css/demo1/style.bundle.min.css);
@import url(/Users/omairlatif/aaaaaa/BLS/bls-web/src/assets/css/demo1/skins/header/base/light.css);
@import url(/Users/omairlatif/aaaaaa/BLS/bls-web/src/assets/css/demo1/skins/header/menu/light.css);
@import url(/Users/omairlatif/aaaaaa/BLS/bls-web/src/assets/css/demo1/skins/brand/dark.css);
@import url(/Users/omairlatif/aaaaaa/BLS/bls-web/src/assets/css/demo1/skins/aside/dark.css);
kt-base {
  opacity: 0;
  height: 100%;
}

kt-base .kt-grid--root {
  height: 100%;
}

.kt-page--loaded kt-base {
  opacity: 1;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
/*# sourceMappingURL=base.component.css.map */