// load base demo styles. for demo purpose, the style will be loaded here
// for production, include the demo base style in /src/index.html file to load the css earlier
@import "../../../assets/css/demo1/style.bundle.min.css";

// static skins css
@import "../../../assets/css/demo1/skins/header/base/light.css";
@import "../../../assets/css/demo1/skins/header/menu/light.css";
@import "../../../assets/css/demo1/skins/brand/dark.css";
@import "../../../assets/css/demo1/skins/aside/dark.css";

kt-base {
	opacity: 0;
	height: 100%;

	.kt-grid--root {
		height: 100%;
	}
}

.kt-page--loaded {
	kt-base {
		opacity: 1;
		transition: opacity 1s ease-in-out;
	}
}
