   <!--:: begin Form Fields-->
   <div class="wizardBorder ">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-9">
          </div>

          <div class="col-md-3 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">

          <ng-container matColumnDef="isic4">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ISIC4 # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="arDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.descriptionAr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="enDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.descriptionEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="activityGroup">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.activityUsageEn : row.activityUsageAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <mat-checkbox class="blsCheckbox" [color]="'primary'" type="checkbox" [checked]="row.isChecked"
                (change)="updatebusinessActivityValue(row.id)">
              </mat-checkbox>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->

  </div>
  <!--:: end Form Fields -->