<!--begin::Modal Popup for View Button (Lined User)-->
<div class="modal-content tda-modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'GENERALWORDS.LINKEDUSER' | translate }} ::
			{{ 'PAGESMODULE.ROLEDEFINATIONS.RoleName' | translate }}</h4>
		<button aria-label="Close" class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
	</div>
	<div class="modal-body tda-modal-body">
		<div class="row">
			<div class="col-md-6">
				<button type="button" class="btn btn-primary btn-bold btn-sm mb-4"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
					(click)="openLinkedRoleMoreUsersDialog(roleId)">
					{{ 'GENERALWORDS.LINKNEWUSER' | translate }}
				</button>
				&nbsp;
				<button type="button" class="btn btn-default btn-sm  mb-4"
					(click)="exporter.exportTable('xlsx',{fileName:'linked users', Props: {Author: 'BLS system'}})">
					{{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
				</button>
			</div>
			<div class="col-md-6 text-right">
				<mat-form-field>
					<mat-label>
						{{'GENERALWORDS.SEARCH' | translate }}
					</mat-label>
					<input class="tda-form-control" matInput (keyup)="applyFilterstepTwo($event.target.value)"
						placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
				</mat-form-field>
			</div>
		</div>
		<!--begin: Datatable  -->
		<div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
			<mat-table matSort [dataSource]="stepTwo" class="tdaMetronicBorderedTable" matTableExporter #exporter="matTableExporter">
				<!-- Name Ar -->
				<ng-container matColumnDef="userNameAr">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{'GENERALWORDS.FULLNAMEAR' | translate}}
					</mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.fullNameAr}} </mat-cell>
				</ng-container>
				<!-- Full Name En -->
				<ng-container matColumnDef="userNameEn">
					<mat-header-cell *matHeaderCellDef mat-sort-header> Full Name En </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.fullNameEn}} </mat-cell>
				</ng-container>
				<!-- Username-->
				<ng-container matColumnDef="username">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.USERNAME' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
				</ng-container>
				<!--Type -->
				<ng-container matColumnDef="type">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.TYPE' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let row">
						<span class="kt-badge  kt-badge--success kt-badge--inline kt-badge--pill">
							{{ this.translationService.getSelectedLanguage() =="en" ? row.typeNameEn: row.typeNameAr}}
						</span>
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="isActive">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let row" [style.color]="row.color">
						<span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
							<label class="mb-0">
								<input type="checkbox" [checked]="row.isActive" (change)="isActiveUserRole(row.userId, $event)">
								<span>{{row.isActive}}</span>
							</label>
						</span>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumnsstepTwo"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumnsstepTwo;"></mat-row>
			</mat-table>
			<mat-paginator class="tdaMobilePaginator" #matPaginatorstepTwo [pageSizeOptions]="[5, 10, 25, 100]">
			</mat-paginator>
		</div>
		<!--end: Datatable -->
	</div>
</div>