<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon-symbol"></i>
      </span>
      <h3 class="kt-portlet__head-title">

        {{ 'PAGESMODULE.NATIONALITIES.MNATIONALITIES' | translate }}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">


          </div>

        </div>
      </div>
    </div>

  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/admin/add-nationalities']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button
              (click)="exporter.exportTable('xlsx',{fileName:'Manage Nationalities', Props: {Author: 'BLS system'}})"
              type="button" class="btn btn-default btn-sm">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>

          <div class="col-md-6 text-right">
            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder=" {{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort #exporter="matTableExporter" [hiddenColumns]="[3]" matTableExporter [dataSource]="dataSource7"
          class="tdaMetronicBorderedTable">


          <ng-container matColumnDef="countries">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.NATIONALITIES.COUNTRIES' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.applicationTypeEn: row.applicationTypeAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nationalityAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.NATIONALITIES.NATIONALITYAR' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.valueAr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nationalityEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.NATIONALITIES.NATIONALITYEN' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.valueEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" (change)="isActiveChanged(row.id, $event.srcElement.checked)"
                    [checked]="row.isActive" name="">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>