<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon-users-1"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Manage Business Activity Groups
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/admin/add-business-activity-groups']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
               {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Business Activity Groups', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)" placeholder=" {{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter" [hiddenColumns]="[3,4]">

          <ng-container matColumnDef="code">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.MASTERDATA.CODE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.code}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="descriptionAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.descriptionAr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="descriptionEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.descriptionEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" [checked]="row.isActive" (change)="isActiveBusinessGroup(row.id)">
                  <span>{{row.isActive}}</span>
                </label>
              </span>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDIT' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <button type="button" class="btn btn-sm btn-danger btn-sm"
                [routerLink]="['/pages/admin/edit-business-activity-groups/'+row.id]">View</button>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>