<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Modify Business License
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>
            <!-- <kt-service-details></kt-service-details> -->
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>
                        Basic Info
                      </strong></p>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <p>UAE Citizen</p>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="eied"
                            placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
                          <mat-datepicker #eied></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Father Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Father Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Grandfather Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Grandfather Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Family Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Family Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Full name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nationality</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="number"
                            placeholder="Passport no without dashes" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="ped"
                            placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                          <mat-datepicker #ped></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        Contact Info
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Residence</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Work</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Secondary Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        On Behalf Of
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>HR Code</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business Unit</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Business Unit" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Designation</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 3-->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel> Status Info </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes tabGroups">
              <kt-modify-bl-status-info></kt-modify-bl-status-info>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 4-->
        <mat-step [stepControl]="forthFormGroup">
          <form [formGroup]="forthFormGroup">
            <ng-template matStepLabel> Modify Info </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="kt-section__content notes">

                <div class="row">
                  <div class="col-md-4">
                    <div class="wizardBorder">
                      <p><strong>Modification in Business Name</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <mat-list role="list">
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="" class="blsCheckbox" [color]="'primary'">
                            Application Info
                          </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="" class="blsCheckbox" [color]="'primary'">
                            Business Activity
                          </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="checkedBLS" class="blsCheckbox" [color]="'primary'">
                            BN
                          </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="checkedBLS" class="blsCheckbox" [color]="'primary'">
                            Stakeholders
                          </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="" class="blsCheckbox" [color]="'primary'">
                            Attachments
                          </mat-checkbox>
                        </mat-list-item>
                      </mat-list>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="wizardBorder">
                      <p><strong>Modification in Initial Approval</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <mat-list role="list">
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="" class="blsCheckbox" [color]="'primary'">
                            IA Info
                          </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="checkedBLS" class="blsCheckbox" [color]="'primary'">
                            Attachments
                          </mat-checkbox>
                        </mat-list-item>

                      </mat-list>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="wizardBorder">
                      <p><strong>Modification in Business License</strong></p>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <mat-list role="list">
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="" class="blsCheckbox" [color]="'primary'">
                            BL Info
                          </mat-checkbox>
                        </mat-list-item>
                        <mat-list-item role="listitem">
                          <mat-checkbox [checked]="" class="blsCheckbox" [color]="'primary'">
                            Attachments
                          </mat-checkbox>
                        </mat-list-item>

                      </mat-list>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 5-->
        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel> BN Info </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="kt-section__content notes">

                <kt-modify-bn-info></kt-modify-bn-info>

              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 6-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel> IA Info </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="kt-section__content notes">

                <kt-modify-ia-info></kt-modify-ia-info>

              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 7-->
        <mat-step [stepControl]="seventhFormGroup">
          <form [formGroup]="seventhFormGroup">
            <ng-template matStepLabel> BL Info </ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">BLM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="kt-section__content notes">

                <kt-modify-bl-info></kt-modify-bl-info>

              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button type="button" (click)="open(happinessMeterModal)"
                    class="btn btn-primary btn-sm">Submit</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</div>

<!--begin::Modal Show Certificate-->
<ng-template #showCertificate let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">License Certificate</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="../../../../assets/media/license-certificate.jpg" alt="Show Certificate">
    </div>
  </div>
</ng-template>


<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-business-license/business-license-modification-list']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>