<form class="tda-form" [formGroup]="addAppReasonForm" (ngSubmit)="addAppReasonFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                Add Application Type :: Reasons
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPTYPEREASONS.REASONTYPE' | translate }}</mat-label>
                  <mat-select formControlName="reasonTypeId">
                    <mat-option *ngFor="let type of reasonTypesName | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addAppReasonForm" [fieldName]="'reasonTypeId'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-label>
                  <mat-select formControlName="appTypeIdReason">
                    <mat-option *ngFor="let type of appTypesName | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addAppReasonForm" [fieldName]="'appTypeIdReason'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPTYPEREASONS.DESCAR' | translate }}</mat-label>
                  <input class="arabicTextBox" matInput placeholder="{{ 'PAGESMODULE.APPTYPEREASONS.DESCAR' | translate }}" type="text" formControlName="reasonAr">
                </mat-form-field>
                <kt-error [formName]="addAppReasonForm" [fieldName]="'reasonAr'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPTYPEREASONS.DESCEN' | translate }}</mat-label>
                  <input class="englishTextBox" matInput placeholder="{{ 'PAGESMODULE.APPTYPEREASONS.DESCEN' | translate }}" type="text" formControlName="reasonEn">
                </mat-form-field>
                <kt-error [formName]="addAppReasonForm" [fieldName]="'reasonEn'"></kt-error>
              </div>

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]=true>{{ 'GENERALWORDS.ACTIVE' | translate }} </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]=false>{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <a [routerLink]="['/pages/master-data/application-type-reasons']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>