<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Extended Initial Approval
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="row applicationRefInfo">
        <div class="col-md-2">
          <p>IA No: <strong class="kt-font-danger"><span>IA-11</span></strong></p>
        </div>
        <div class="col-md-3 text-center">
          <p>BN No: <strong class="kt-font-danger"><span>BN-11</span></strong></p>
        </div>
        <div class="col-md-3 text-center">
          <p>BN Name Ar: <strong class="kt-font-danger"><span>الاسم التجاري</span></strong></p>
        </div>
        <div class="col-md-4 text-right">
          <p>BN Name En: <strong class="kt-font-danger"><span>Initial Approvals</span></strong></p>
        </div>
      </div>
      <br>
     
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Services Info</ng-template>
            <kt-service-details></kt-service-details>
            <br>
            <div class="modal-footer" style="display: block;">
              <div class="row">
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4 text-right">
                  <button matStepperNext class="btn btn-primary">Next</button>
                </div>
              </div>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Extend Initial Approval</ng-template>
            <table class="text-center extendedBusinessNames">
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>IA No</mat-label>
                    <input disabled matInput placeholder="IA No" value="IA-3">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>BN No</mat-label>
                    <input disabled matInput placeholder="BN Reservation No" value="BN-3">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>BN Name Ar</mat-label>
                    <input class="arabicTextBox" disabled matInput placeholder="BN Name Ar" value="الاسم التجاري">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>BN Name En</mat-label>
                    <input disabled matInput placeholder="BN Name En" value="Business Name">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Extend Days</mat-label>
                    <mat-select>
                      <mat-option value="option">30</mat-option>
                      <mat-option value="option">60</mat-option>
                      <mat-option value="option">90</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <div>


              <div class="modal-footer" style="display: block;">
                <div class="row">
                  <div class="col-md-4">
                    <div class="actionButtons">
                      <button class="btn btn-danger" matStepperPrevious>Back</button>
                    </div>
                  </div>
                  <div class="col-md-4 text-center">
                  </div>
                  <div class="col-md-4 text-right">
                    <button  (click)="open(happinessMeterModal)" class="btn btn-primary">
                      Submit
                    </button>

                  </div>
                </div>
              </div>

            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</div>


<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-initial-approval/initial-approvals']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>