<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Rejection Reason :: {{ 'GENERALWORDS.USERNAME' | translate }}</h4>
    <button aria-label="Close" class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <table class="text-center rejectedReason">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Reference No.</mat-label>
            <input matInput placeholder="Reference No.">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>Reasons</mat-label>
            <mat-select multiple>
              <mat-option *ngFor="let reasons of reasonsList" [value]="reasons">{{reasons}}</mat-option>
            </mat-select>
          </mat-form-field>
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">

        <button aria-label="Close" mat-dialog-close class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          {{ 'GENERALWORDS.SUBMIT' | translate }}
        </button>
        <button aria-label="Close" type="button" mat-dialog-close type="button"
          class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
      </div>
    </div>
  </div>
</div>