<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Request Business License
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body padding-bottom-zero">
    <!--Material DataTable Section-->
    <div class="kt-section margin-bottom-zero">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/business-license/request-business-license/add-business-license']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              Add New
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm">
              Export to Excell
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="iaAppNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BL/APP No </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a [routerLink]=""><strong
                  [ngClass]=" (row.iaAppNo =='Draft' ? 'kt-font-brand' : '') + '' + (row.iaAppNo =='Submitted' ? 'kt-font-success' : '') ">
                  {{row.iaAppNo}}</strong>
              </a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bnAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnAr}} </mat-cell>
          </ng-container>



          <ng-container matColumnDef="bnEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnEn}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="iaNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header>IA No</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.iaNo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]=" (row.status =='Approved' ? 'kt-font-brand' : '') + '' + (row.status =='Submitted' ? 'kt-font-success' : '') + '' + (row.status =='payment is due' ? 'kt-font-success' : '') + '' + (row.status =='Draft' ? 'kt-font-danger' : '') + '' + (row.status =='Returned' ? 'kt-font-danger' : '') ">
                {{row.status}} </strong>
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="daysLeft">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Days Left</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.daysLeft}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">

              <!--Returned-->
              <div class="" *ngIf="row.editView =='Returned'">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span [routerLink]="['/pages/business-license/request-business-license/viewed-modified-customer-bl']"
                        matTooltip="Process" [matTooltipPosition]="position.value" class="kt-font-brand cursor">
                        <i class="flaticon-settings"></i></span></td>
                  </tr>
                </table>
              </div>

              <!--Process-->
              <div class="" *ngIf="row.editView =='Process'">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span matTooltip="Payment Process" [matTooltipPosition]="position.value"
                        class="kt-font-brand cursor">
                        <i class="flaticon-settings"></i></span></td>
                  </tr>
                </table>
              </div>

              <!--View Delete-->
              <div class="" *ngIf="row.editView =='viewDelete'">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span matTooltip="Delete" [matTooltipPosition]="position.value" class="kt-font-danger cursor">
                        <i class="flaticon-delete"></i></span></td>
                  </tr>
                </table>
              </div>
              <!--Edit Delete Update-->
              <div class="" *ngIf="row.editView =='editDeleteUpdate'">
                <table class="editDeleteUpdate">
                  <tr>
                    <td>
                      <a matTooltip="Renew" [matTooltipPosition]="position.value"
                        [routerLink]="['/pages/business-license/request-business-license/renew-business-license-list']"
                        class="kt-font-success cursor"> <i class="flaticon-refresh"></i></a>
                    </td>
                    <td><a matTooltip="Modify" [matTooltipPosition]="position.value"
                        [routerLink]="['/pages/business-license/request-business-license/business-license-modification-list']"
                        class="kt-font-primary cursor">
                        <i class="flaticon-edit"></i></a></td>
                    <td><span matTooltip="Certificate" [matTooltipPosition]="position.value"
                        (click)="open(certificateModal)" class="kt-font-brand cursor"> <i
                          class="flaticon-file-2"></i></span></td>
                    <td>
                      <!-- <span matTooltip="Cancel" [matTooltipPosition]="position.value"
                        (click)="openCancelInitialApprovals()" class="kt-font-danger cursor"> <i
                          class="flaticon2-cross"></i></span> -->
                        
                          <a matTooltip="Cancel" [matTooltipPosition]="position.value"
                          [routerLink]="['/pages/business-license/request-business-license/cancel-business-license']"
                          class="kt-font-danger cursor">
                          <i class="flaticon2-cross"></i></a>
                        </td>
                  </tr>
                </table>
              </div>
              <!--View-->
              <div class="" *ngIf="row.editView =='Modied Yes'">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><a matTooltip="Modify" [matTooltipPosition]="position.value"
                      [routerLink]="['/pages/business-license/request-business-license/business-license-modification-list']"
                      class="kt-font-primary cursor">
                      <i class="flaticon-edit"></i></a>
                  </tr>
                </table>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
  <!--Expired or Expiring Soon-->
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Expired / Cancelled Business License
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-sm">
              Export to Excell
            </button>
          </div>
          <div class="col-md-6 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilterOU($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSourceOU" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="iaAppNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BL No </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a [routerLink]=""><strong
                  [ngClass]=" (row.iaAppNo =='Draft' ? 'kt-font-brand' : '') + '' + (row.iaAppNo =='Submitted' ? 'kt-font-success' : '') ">
                  {{row.iaAppNo}}</strong></a>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="iaNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> IA No </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.iaNo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="submissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Submission Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.submissionDate}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>

            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]=" (row.status =='Expired' ? 'kt-font-brand' : '') + '' + (row.status =='Cancelled' ? 'kt-font-danger' : '')  + '' + (row.status =='Rejected' ? 'kt-font-danger' : '')">
                {{row.status}}
              </strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.statusDate}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <!--Cancelled-->
              <div class="" *ngIf="row.editView !=='Rejected'">
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td *ngIf="row.editView =='Expired'">
                      <a matTooltip="Renew" [matTooltipPosition]="position.value"
                        [routerLink]="['/pages/business-license/request-business-license/renew-business-license-list']"
                        class="kt-font-success cursor"> <i class="flaticon-refresh"></i></a>
                    </td>
                    <td><span matTooltip="Certificate" [matTooltipPosition]="position.value"
                        (click)="open(certificateModal)" class="kt-font-brand cursor"> <i
                          class="flaticon-file-2"></i></span></td>
                  </tr>
                </table>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsOU"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsOU;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginatorOU [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>

<!--begin::Modal Popup for Certificate-->
<ng-template #certificateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Certificate</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="text-center certificateTable">
      <tr>
        <td colspan="3">
          <img src="../../../../assets/media/license-certificate.jpg" alt="Certificate" />
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="certificateTable">
          <tr>
            <td><strong><i class="flaticon2-download-1"></i> Download</strong></td>
            <td><strong><i class="flaticon2-new-email"></i> Send Email</strong></td>
            <td><strong><i class="flaticon2-fax"></i> Print</strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>