.mat-form-field {
  width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  width: auto !important;
}
.wizardBorder {
  height: calc(100% - 20px);
}
span {
  i {
    font-size: 16px;
    cursor: pointer;
  }
}
table.wizardDataTable {
  width: 100%;
  tr {
    td {
      text-align: left;
      .mat-checkbox-inner-container {
        top: -4px;
      }
    }
  }
}
table.wizardDataStatus {
  width: 100%;
  tr {
    td {
      padding: 16px 0;
    }
  }
}
.actionButtons {
  margin: 10px 0;
  button {
    min-width: 150px;
    margin: 10px 0;
  }
}

.notesTextarea {
  width: 100%;
}
::ng-deep .mat-horizontal-stepper-header {
  &[ng-reflect-selected="true"].mat-step-header {
    background-color: rgba(0, 0, 0, 0.12) !important;
    &::after,
    &::before {
      visibility: hidden !important;
    }
  }
  &[ng-reflect-selected="false"].mat-step-header {
    background-color: #fff !important;
  }
}
@media (max-width: 1320px) {
  table.wizardDataTable {
    td {
      text-align: left;
      display: block;
      width: 50%;
      float: left;
    }
  }
} 
@media (max-width: 1080px) {
  .hidden-1150 {
    display: none !important;
  }
  table.wizardDataStatus tr td {
    padding: 5px 0;
  }
  table.wizardDataTable {
    tr {
      td {
        display: block;
        float: left;
        width: 100%;
        .mat-form-field {
          width: 100%;
        }
      }
    }
  }
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
}
