<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Review IA Request
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="row">
        <div class="col-md-12">
          <br>
          <button (click)="openBusinessModifications()" class="btn btn-primary btn-sm">View Submitted Request</button>
          &nbsp;
          <button (click)="openSubmittedBNRequest()" class="btn btn-primary btn-sm">View BN Info</button>
          &nbsp;
          <button (click)="openViewActions()" class="btn btn-primary btn-sm">View Actions</button>
          <br>
        </div>
      </div>
      <br><br>
      <!--:: begin Application Info-->
      <div class="row applicationRefInfo">
        <div class="col-md-3">
          <p><strong>IA: <span class="kt-font-danger kt-font-lg">IA-11</span></strong></p>
        </div>
        <div class="col-md-3">
          <p><strong>BN: <span class="kt-font-danger kt-font-lg">BN-11</span></strong></p>
        </div>
        <div class="col-md-3 text-center">
          <p><strong>BN Name Ar: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
        </div>
        <div class="col-md-3 text-right">
          <p><strong>BN Name En: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
        </div>
      </div>
      <!--:: end Application Info-->


      <!--begin::Divider-->
      <div class="kt-login__divider">
        <div class="kt-divider">
          <span></span>
          <span></span>
        </div>
      </div>
      <br>
      <!--end::Divider-->
      <div class="kt-section__content notes">
        <div class="wizardBorder">
          <kt-notes-history-modal></kt-notes-history-modal>

        </div>
      </div>

      <!--content-->
      <div class="wizardBorder">
        <div class="row">
          <div class="col-md-12">
            <p><strong>IA Extension Detail</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <br>
            <table class="reviewAttachments">
              <tr>
                <td>
                  <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                    [color]="'primary'">

                  </mat-checkbox>

                </td>
                <td>
                  Initial Reservation Period: 30 Days
                </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                    [color]="'primary'">

                  </mat-checkbox>
                </td>
                <td> Days Left: 10 Days </td>
              </tr>
              <tr>
                <td>
                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                  </mat-checkbox>
                </td>
                <td> Extension Request: 60 Days </td>
              </tr>

            </table>

          </div>
        </div>
      </div>
      <!--end content-->
      <!--:: begin Footer-->
      <div class="row">
        <div class="col-md-4 text-center">
          <div class="wizardBorder actionButtons">
            <p><strong>Internal Action</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <br>
            <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
            <br>
            <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for Inspection</button>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="wizardBorder actionButtons">
            <p><strong>Customer Action</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <br>
            <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
          </div>
        </div>

        <div class="col-md-4 text-center">
          <div class="wizardBorder actionButtons">
            <p><strong>Proceed Request</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <br>
            <button [routerLink]="['/pages/business-license/initial-approvals/manage-initial-approvals']"
              class="btn btn-success btn-sm">Approve Exttension</button>
            <br>
            <button [routerLink]="['/pages/business-license/initial-approvals/manage-initial-approvals']"
              class="btn btn-danger btn-sm">Back</button>
          </div>
        </div>
      </div>
      <!--:: end Footer-->

    </div>
  </div>

</div>