<!--begin::Message-->
<div class="row text-center">
  <div class="col-md-12">
    <br><br><br><br>
    <h3 class="text-center kt-font-success">{{ 'PAGESMODULE.NOTIFICATIONSPAGES.CONGRATS' | translate }}</h3>
    <p>{{ 'PAGESMODULE.NOTIFICATIONSPAGES.SUCCESSMSG1' | translate }}<strong><span class="kt-font-primary"> Ref#: {{refID}}
        </span></strong> {{ 'PAGESMODULE.NOTIFICATIONSPAGES.SUCCESSMSG2' | translate }}<br>
        {{ 'PAGESMODULE.NOTIFICATIONSPAGES.SENTMSG' | translate }}</p>

  </div>
</div>
<!--begin::Message-->