<!-- <link *ngIf="selectedLanguage=='ar'" rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-rtl/3.4.0/css/bootstrap-rtl.css" /> -->
<kt-splash-screen *ngIf="loader"></kt-splash-screen>
<router-outlet></router-outlet>