<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Extended Business Name
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="row applicationRefInfo">
        <div class="col-md-4">
          <p>BN No: <strong class="kt-font-danger"><span>BN-11</span></strong></p>
        </div>
        <div class="col-md-4 text-center">
          <p>BN Name Ar: <strong class="kt-font-danger"><span>الاسم التجاري</span></strong></p>
        </div>
        <div class="col-md-4 text-right">
          <p>BN Name En: <strong class="kt-font-danger"><span>Business Name</span></strong></p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <a [routerLink]="['/pages/business-license/request-business-name/extend-business-extension']"
            class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
            Add New
          </a> &nbsp;
          <a [routerLink]="['/pages/business-license/request-business-name/business-names']" class="btn btn-default btn-sm">
            Back to Business Names
          </a>
        </div>

        <div class="col-md-6 text-right">
          <mat-form-field>
            <input class="tda-form-control" matInput (keyup)="applyFilterstepTwo($event.target.value)"
              placeholder="Search">
          </mat-form-field>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
        <mat-table matSort [dataSource]="stepTwo" class="tdaMetronicBorderedTable">


          <ng-container matColumnDef="applicationNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Application No </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.applicationNo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="extendDays">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Extend Days </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.extendDays}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="requestStatus">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Request Status </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]=" (row.requestStatus =='Approved' ? 'kt-font-brand' : '') + '' + (row.requestStatus =='Submitted' ? 'kt-font-success' : '') ">
                {{row.requestStatus}}</strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="requestDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Request Date </mat-header-cell>
            <mat-cell *matCellDef="let row">{{row.requestDate}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <div *ngIf="row.requestStatus =='Submitted'">
                <span matTooltip="Cancel" [matTooltipPosition]="position.value" class="kt-font-danger "> <i
                    class="flaticon2-cross cursor"></i></span>
              </div>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsstepTwo"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsstepTwo;"></mat-row>
        </mat-table>
        <mat-paginator class="tdaMobilePaginator" #matPaginatorstepTwo [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>
      <!--end: Datatable -->
    </div>
  </div>

</div>