.kt-user-card.kt-user-card--skin-dark.kt-notification-item-padding-x.theme1bgc {
  background-color: #f1f1f1;
}

.kt-user-card.kt-user-card--skin-dark.kt-notification-item-padding-x.theme1bgc .kt-user-card__name {
  color: inherit;
}
/*# sourceMappingURL=user-profile.component.css.map */