<div ngbDropdown placement="bottom-right" class="kt-header__topbar-item kt-header__topbar-item--user">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">
		<div matTooltip="{{'GENERALWORDS.MYPROFILE' | translate }}" class="kt-header__topbar-user"
			[ngClass]="{'kt-header__topbar-icon': icon}">
			<span class="kt-header__topbar-welcome kt-hidden-mobile">{{'GENERALWORDS.HI' | translate }},</span>
			<span
				class="kt-header__topbar-username kt-hidden-mobile">{{ this.translationService.getSelectedLanguage() =="en" ? user.FullNameEn: user.FullNameAr}}</span>
			<i *ngIf="icon" class="flaticon2-user-outline-symbol"></i>
			<img *ngIf="avatar" alt="Pic" src="./assets/media/users/300_25.jpg">
			<span *ngIf="badge"
				class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">{{user.fullname|firstLetter}}</span>
		</div>
	</div>
	<div ngbDropdownMenu
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">
		<!--begin: Head -->
		<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x theme1bgc">
			<div class="kt-user-card__avatar">
				<img alt="Pic" src="./assets/media/users/300_25.jpg" />
			</div>
			<div class="kt-user-card__name">
				{{ this.translationService.getSelectedLanguage() =="en" ? user.FullNameEn: user.FullNameAr}}
			</div>
			<div class="kt-user-card__badge">
				<span class="btn btn-success btn-sm btn-bold btn-font-md">
					23 {{'GENERALWORDS.MSG' | translate }}
				</span>
			</div>
		</div>
		<!--end: Head -->
		<!--begin: Navigation -->
		<div class="kt-notification">
			<a routerLink="profile" href="javascript:;" class="kt-notification__item">
				<div class="kt-notification__item-icon">
					<i class="flaticon2-calendar-3 kt-font-success"></i>
				</div>
				<div class="kt-notification__item-details">
					<div class="kt-notification__item-title kt-font-bold">
						{{'GENERALWORDS.MYPROFILE' | translate }}
					</div>
					<div class="kt-notification__item-time">
						{{'GENERALWORDS.ACCOUNTSETTING' | translate }}
					</div>
				</div>
			</a>
			<div class="kt-notification__custom">
				<a href="javascript:;" routerLinkActive="router-link-active" (click)="logout()"
					class="btn btn-outline-brand btn-upper btn-sm btn-bold">
					{{'GENERALWORDS.SIGNOUT' | translate }}
				</a>
			</div>
		</div>
		<!--end: Navigation -->
	</div>
</div>