.kt-user-card {
	&.kt-user-card--skin-dark {
		&.kt-notification-item-padding-x {
			&.theme1bgc {
				// background-color: #9f233c;
				background-color: #f1f1f1;
				// background-image: url(./assets/media/misc/bg-1.jpg)
				.kt-user-card__name {
					color: inherit;
				}
			}
		}
	}
}
