<div class="wizardBorder">
  <p><strong>Attachment Reviews</strong></p>
  <!--begin::Divider-->
  <div class="kt-login__divider">
    <div class="kt-divider">
      <span></span>
      <span></span>
    </div>
  </div>
  <!--end::Divider-->
  <br>
  <table class="reviewAttachments">
    <tr *ngFor="let type of this.getAttachmentsData">
      <td *ngIf="getAttachmentsData.isHide">
        <mat-checkbox class="blsCheckbox" [color]="'primary'" [checked]="type.isChecked"
          (change)="updateAttachmentInfoValue(type.id)">
        </mat-checkbox>
      </td>
      <td>
        <span (click)="openDialog('attachment', type.attachmentUrl)" class="pointer">
          {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
        </span>
      </td>
    </tr>
  </table>
</div>