<div class="modal-content">
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">{{ 'GENERALWORDS.LINKEDUSER' | translate }} ::
			{{ 'PAGESMODULE.ROLEDEFINATIONS.RoleName' | translate }}</h4><button aria-label="Close" class="close"
			type="button" mat-dialog-close><span _ngcontent-jhy-c13="" aria-hidden="true">×</span></button>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-md-6">
				<!-- <button type="button" class="btn btn-default btn-sm  mb-4" (
					(click)="exporter.exportTable('xlsx',{fileName:'Linked User Role Name', Props: {Author: 'BLS system'}})">
					{{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
				</button> -->

				<button type="button" class="btn btn-primary btn-bold btn-sm mb-4"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
					<span aria-hidden="true" (click)="confirmSelected()">
						{{ 'GENERALWORDS.CONFIRMSELECTED' | translate }}
					</span>
				</button>
			</div>
			<div class="col-md-6 text-right">
				<mat-form-field>
					<mat-label>
						{{'GENERALWORDS.SEARCH' | translate }}
					</mat-label>
					<input class="tda-form-control" matInput (keyup)="applyFilterstepTwo($event.target.value)"
						placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
				</mat-form-field>
			</div>
		</div>
		<div class="example-container mat-elevation-z8 tdaMetronicTable">
			<mat-table matSort matTableExporter [dataSource]="stepTwo" class="tdaMetronicBorderedTable" #exporter="matTableExporter">
				<ng-container matColumnDef="fullNameAr">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{'GENERALWORDS.NAMEAR' | translate }} </mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.fullNameAr}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="fullNameEn">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.FULLNAME' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let row"> {{row.fullNameEn}} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="roleName">
					<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleName' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let row">
						<div class="dropDownFullWidth">
							<mat-form-field>
								<!-- <mat-label>{{ 'PAGESMODULE.ROLEDEFINATIONS.RoleName' | translate }}</mat-label> -->
								<mat-select multiple [(ngModel)]="row.roles" (ngModelChange)="rolesChanged(row.roles,row.userId)">
									<mat-option *ngFor="let roleNames of rolesList | async" [value]="roleNames.id">{{roleNames.nameEn}}
									</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
					
					</mat-cell>
				</ng-container>
				<ng-container matColumnDef="isActive">
					<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERALWORDS.ISACTIVE' | translate }}
					</mat-header-cell>
					<mat-cell *matCellDef="let row" [style.color]="row.color">
						<span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
							<label class="mb-0">
								<input type="checkbox" (change)="CheckboxChange(row.userId)" [checked]="row.isActive" name="">
								<span>{{row.isActive}}</span>
							</label>
						</span>
					</mat-cell>
				</ng-container>
				<mat-header-row *matHeaderRowDef="displayedColumnsstepTwo"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumnsstepTwo;"></mat-row>
			</mat-table>
			<mat-paginator #matPaginatorstepTwo [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
		</div>
	</div>
</div>