<mat-tab-group>
  <!--begin:: IA Info-->
  <mat-tab label="IA Info">
    <div class="wizardBorder licenseInfo">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Main Area</mat-label>
            <mat-select>
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Sub Area</mat-label>
            <mat-select>
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Street</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="Street" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Full Text Adress</mat-label>
            <input readonly class="tda-form-control" matInput type="text" placeholder="Main Area, Sub Area, Street"
              value="Main Area, Sub Area, Street" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Parcel ID</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="Parcel ID" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Submission Reason</mat-label>
            <mat-select multiple>
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <br>
          <p><strong>Google Map Coordinates</strong></p>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline">
            <mat-label>Longitude</mat-label>
            <input class="tda-form-control" matInput type="number" placeholder="Longitude" />
          </mat-form-field>
        </div>
        <div class="col-md-5">
          <mat-form-field appearance="outline">
            <mat-label>Latitude</mat-label>
            <input class="tda-form-control" matInput type="number" placeholder="Latitude" />
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <div class="formTableButton"> <button class="btn btn-danger btn-sm"><i
                class="flaticon-placeholder-2"></i></button>
          </div>
        </div>


        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Makani No.</mat-label>
            <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Makani No." />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Building</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="Building" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>Unit</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="Unit" />
          </mat-form-field>
        </div>
      </div>


    </div>
  </mat-tab>
  <!--end:: IA Info-->
  <!--begin:: Attachments-->
  <mat-tab label="Attachments">

    <!--:: begin Form Fields-->
    <div class="row">
      <div class="col-md-12"><br><br></div>
      <!--begin:: Documents Attachments -->
      <div class="col-md-12 text-center">
        <div class="form-group">
          <div class="alert alert-secondary" role="alert">
            <div class="alert-text">
              <strong>Please attach the following documents</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br><br>
        <div class="customAttachment">
          <table class="attachments">
            <tr>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                    <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                  </div>
                  <div class="form-group">
                    <!--UAE Citizen-->
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                      <label class="custom-file-label" for="emCopy">
                        {{emCopy}}
                        <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                      </label>
                    </div>
                  </div>
                </div>
                <!-- <p>{{emCopy}}</p> -->
              </td>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/emirates-id-card-b.jpg" alt="Emirates ID Card Back">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="embCopy" (change)="getEmbId($event)">
                      <label class="custom-file-label" for="embCopy">{{embCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/falcon-passport1.jpg" alt="Emirates Passport Copy">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="passportCopy" (change)="getPassportCopy($event)">
                      <label class="custom-file-label" for="passportCopy">{{passportCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/visa-dubai-uae.jpg" alt="Emirates Visa Copy">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="visaCopy" (change)="getVisa($event)">
                      <label class="custom-file-label" for="visaCopy">{{visaCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <!--end:: Documents Attachments-->
    </div>
    <!--:: end Form Fields -->
  </mat-tab>
  <!--end:: Attachments-->

</mat-tab-group>