<!--begin::Body-->
<div class="kt-login__body">

  <!--begin::Signin-->
  <div class="kt-login__form">
    <div class="kt-login__title">
      <h4>
        {{ 'AUTHMODULE.RESETPASSWORD.TITLE' | translate }}
      </h4>
    </div>
    <!--begin::Form-->
    <form class="kt-form tda-login" [formGroup]="resetPasswordForm" (ngSubmit)="resetPasswordFormSubmit()" autocomplete="off">
      <div class="row">
        <div class="col-md-12">
          <p>
            {{ 'AUTHMODULE.RESETPASSWORD.DESC' | translate }}
          </p>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'GENERALWORDS.NEWPWD' | translate }}
              <span class="red">*</span></mat-label>
            <input matInput type="password" placeholder="{{ 'GENERALSENTENCES.EnterNewPassword' | translate }}"
              formControlName="newPassword" />
          </mat-form-field>
          <kt-error [formName]="resetPasswordForm" [fieldName]="'newPassword'"></kt-error>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline">
            <mat-label>
              {{ 'GENERALWORDS.CONFIRMPWD' | translate }}
              <span class="red">*</span></mat-label>
            <input matInput type="password" placeholder="{{ 'GENERALWORDS.CONFIRMPWD' | translate }}"
              formControlName="confirmPassword" />
          </mat-form-field>
          <kt-error [formName]="resetPasswordForm" [fieldName]="'confirmPassword'"></kt-error>
        </div>
      </div>
      <!--begin::Action-->
      <div class="kt-login__actions">
        <button class="btn btn-primary btn-elevate kt-login__btn-primary"
          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
          {{ 'AUTHMODULE.RESETPASSWORD.TITLE' | translate }}
        </button>
        <!-- <a [routerLink]="['/auth/login']" class="btn btn-primary btn-elevate kt-login__btn-primary">Update Password</a> -->
      </div>
      <!--end::Action-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Signin-->
</div>
<!--end::Body-->