<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Review BL Request
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
    
      <button class="btn btn-primary btn-sm">View IA Info </button>
      &nbsp;
      <button class="btn btn-primary btn-sm">View BN Info </button>
      &nbsp;
      <button class="btn btn-primary btn-sm">View Actions </button>
      <br><br>
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Submitter Info</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BLN #: <span class="kt-font-danger kt-font-lg">BLN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->

            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->
            <!--::begin form fields-->
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder licenseInfo">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-radio-button value="UAE Citizen" checked>UAE Citizen </mat-radio-button>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID</mat-label>
                          <input class="tda-form-control" disabled matInput type="number" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="emiexpiryDateSubmitterInfo"
                            placeholder="Emirates ID Expiry Date" (click)="emiexpiryDateSubmitterInfo.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="emiexpiryDateSubmitterInfo" SubmitterInfo>
                          </mat-datepicker-toggle>
                          <mat-datepicker #emiexpiryDateSubmitterInfo></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Name Ar" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Father Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Father Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Grandfather Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Grandfather Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Family Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Family Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Full name En" />

                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nationality</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="number"
                            placeholder="Passport no without dashes" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="pedSubmitterInfo"
                            placeholder="Passport Expiry Date" (click)="pedSubmitterInfo.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="pedSubmitterInfo"></mat-datepicker-toggle>
                          <mat-datepicker #pedSubmitterInfo></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        Contact Info
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Residence</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Work</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Secondary Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <div class="wizardBorder ">
                    <p><strong>
                        On Behalf Of
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>HR Code</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business Unit</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Business Unit" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Designation</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6"></div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
            <!--::end form fields-->
            <!--begin:: footer -->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm"
                    [routerLink]="['/pages/business-license/manage-business-license']">Back</button>
                </div>
              </div>
            </div>
            <!--end:: footer -->
          </form>
        </mat-step>
        <!--Step 4-->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>BL Info</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->


            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->

            <!--:: begin Form Fields-->
            <div class="kt-section__content notes">
              <div class="row">

                <div class="col-md-6 ">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>Address/Location</strong></p>
                    <!--begin::Divider-->
                    <div class="kt-login__divider">
                      <div class="kt-divider">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <!--end::Divider-->
                    <br>
                    <div class="row">
                      <!--begin:: Radio Buttons-->
                      <div class="col-md-12">
                        <mat-radio-group>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-radio-button checked value="Lease Contract">
                                Lease Contract</mat-radio-button>
                            </div>
                          </div>
                        </mat-radio-group>
                      </div>
                    </div>
                    <!--end:: Radio Buttons-->

                    <div class="leaseContract">
                      <div class="row">
                        <div class="col-md-6">

                          <mat-form-field appearance="outline">
                            <mat-label>Start Date</mat-label>
                            <input disabled matInput [matDatepicker]="dateFrom1" placeholder="Start Date"
                              (click)="dateFrom1.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dateFrom1"></mat-datepicker-toggle>
                            <mat-datepicker #dateFrom1></mat-datepicker>
                          </mat-form-field>

                        </div>
                        <div class="col-md-6">

                          <mat-form-field appearance="outline">
                            <mat-label>End Date</mat-label>
                            <input disabled matInput [matDatepicker]="dateTo2" placeholder="End Date"
                              (click)="dateTo2.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dateTo2"></mat-datepicker-toggle>
                            <mat-datepicker #dateTo2></mat-datepicker>
                          </mat-form-field>

                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Building Name</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Building Name" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Annual Rate</mat-label>
                            <input disabled class="tda-form-control" matInput type="text" placeholder="Annual Rate" />
                          </mat-form-field>
                        </div>

                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Building No</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Building No" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Unit No</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Unit No" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Landlord Owner</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                    </div>

                  </div>

                </div>
                <div class="col-md-6 ">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>Address/Location</strong></p>
                    <!--begin::Divider-->
                    <div class="kt-login__divider">
                      <div class="kt-divider">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <!--end::Divider-->
                    <br>
                    <table class="wizardDataTable wizardDataStatus">
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Start Date
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            End Date
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Building Name
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Annual Rate
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Building No
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Unit No
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Landlord Owner
                          </mat-checkbox>
                        </td>
                        <td>

                        </td>
                      </tr>

                    </table>

                  </div>
                </div>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Form Fields-->
            <div class="kt-section__content notes">
              <div class="row">

                <div class="col-md-6 ">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>License Master Data</strong></p>
                    <!--begin::Divider-->
                    <div class="kt-login__divider">
                      <div class="kt-divider">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <!--end::Divider-->
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>License No</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="License No" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>CBLS No</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="CBLS No" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">

                        <mat-form-field appearance="outline">
                          <mat-label>Issue Date</mat-label>
                          <input matInput [matDatepicker]="dateFrom4" placeholder="Issue Date"
                            (click)="dateFrom4.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="dateFrom4"></mat-datepicker-toggle>
                          <mat-datepicker #dateFrom4></mat-datepicker>
                        </mat-form-field>

                      </div>
                      <div class="col-md-6">

                        <mat-form-field appearance="outline">
                          <mat-label>Expiry Date</mat-label>
                          <input matInput [matDatepicker]="dateTo5" placeholder="Expiry Date" (click)="dateTo5.open()"
                            readonly>
                          <mat-datepicker-toggle matSuffix [for]="dateTo5"></mat-datepicker-toggle>
                          <mat-datepicker #dateTo5></mat-datepicker>
                        </mat-form-field>

                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business License Period</mat-label>
                          <mat-select>
                            <mat-option value="option">1 Year</mat-option>
                            <mat-option value="option">2 Years</mat-option>
                            <mat-option value="option">3 Years</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Chamber Member No</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="Chamber Member No" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Commercial Registry No</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="Commercial Registry No" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>TRN No</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="TRN No" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 ">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>License Master Data</strong></p>
                    <!--begin::Divider-->
                    <div class="kt-login__divider">
                      <div class="kt-divider">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <!--end::Divider-->
                    <br>
                    <table class="wizardDataTable wizardDataStatus">
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            License No
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            CBLS No
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Issue Date
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Expiry Date
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Business License Period
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Chamber Member No
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Commercial Registry No
                          </mat-checkbox>
                        </td>

                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            TRN No
                          </mat-checkbox>
                        </td>

                      </tr>
                    </table>

                  </div>
                </div>
              </div>
            </div>
            <!--:: end Form Fields -->


            <!--:: begin Form Fields-->
            <div class="kt-section__content notes">
              <div class="row">

                <div class="col-md-6 ">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>License Contact Details</strong></p>
                    <!--begin::Divider-->
                    <div class="kt-login__divider">
                      <div class="kt-divider">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <!--end::Divider-->
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Landline</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="Landline" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="Mobile" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>P.O Box</mat-label>
                          <input class="tda-form-control" matInput type="text" placeholder="P.O Box" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" matInput type="email" placeholder="Email" />
                        </mat-form-field>
                      </div>
                    </div>
                  </div>

                </div>
                <div class="col-md-6 ">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>License Contact Details</strong></p>
                    <!--begin::Divider-->
                    <div class="kt-login__divider">
                      <div class="kt-divider">
                        <span></span>
                        <span></span>
                      </div>
                    </div>
                    <!--end::Divider-->
                    <br>
                    <table class="wizardDataTable wizardDataStatus">
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Landline
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Mobile
                          </mat-checkbox>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            P.O Box
                          </mat-checkbox>
                        </td>
                        <td>
                          <mat-checkbox class="blsCheckbox" [color]="'primary'">
                            Email
                          </mat-checkbox>
                        </td>
                      </tr>

                    </table>

                  </div>
                </div>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
        <!--Step 6-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>Attachments</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->
            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->
            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-12 ">
                <div class="wizardBorder">
                  <p><strong>Attachment Reviews</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <table class="reviewAttachments">
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>

                      </td>
                      <td>
                        <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> Passport Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> Resident Visa Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> GCC ID Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td>Business License Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> Emirates</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button [routerLink]="['/pages/business-license/manage-business-license']"
                    class="btn btn-success btn-sm">Approve BL</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>

</div>


<!--begin::Modal Show Certificate-->
<ng-template #showAttachments let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="../../../../assets/media/Emirates-ID.jpg" alt="Show Attachments">
    </div>
  </div>
</ng-template>