.mat-form-field {
  width: 100%;
  max-width: 100%;
  min-width: 180px;
}
.tda-form {
  padding: 25px 10px 0;
}
.mat-form-field-wrapper {
  padding-bottom: 0;
}
.onBehalfCheckbox {
  padding-top: 20px;
}
mat-tab-body-wrapper {
  height: 100%;
}
.filterButtons {
  padding: 10px;
  text-align: center;
}