<div class="kt-portlet kt-portlet--mobile loginLogoutHistory">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-graph-2"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Manage Business Names
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <mat-tab-group (selectedTabChange)="tabChange($event.index)">
      <mat-tab label="New BN">
        <div class="row" *ngIf="tabIndex==0">
          <kt-filter-bl (getFilters)="getFilters($event)"></kt-filter-bl>
        </div>
        <kt-manage-new-bn [blData]="blData">
        </kt-manage-new-bn>
      </mat-tab>

      <mat-tab label="Extend BN">
        <div class="row" *ngIf="tabIndex==1">
          <kt-filter-bl (getFilters)="getFilters($event)"></kt-filter-bl>
        </div>
        <kt-manage-extend-bn [blData]="blData" (getFilters)="getFilters($event)">
        </kt-manage-extend-bn>
      </mat-tab>

      <mat-tab label="Modified BN">
        <div class="row" *ngIf="tabIndex==2">
          <kt-filter-bl (getFilters)="getFilters($event)"></kt-filter-bl>
        </div>
        <kt-manage-modified-bn [blData]="blData" (getFilters)="getFilters($event)">
        </kt-manage-modified-bn>
      </mat-tab>

      <mat-tab label="Cancelled BN">
        <kt-manage-cancelled-bn></kt-manage-cancelled-bn>
      </mat-tab>

      <mat-tab label="Approved BN">
        <div class="row" *ngIf="tabIndex==4">
          <kt-filter-bl (getFilters)="getFilters($event)"></kt-filter-bl>
        </div>
        <kt-manage-approved-bn [blData]="blData"></kt-manage-approved-bn>
      </mat-tab>

    </mat-tab-group>
  </div>
</div>