<div class="kt-portlet kt-portlet--mobile loginLogoutHistory">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-graph-2"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Manage Initial Approvals
      </h3>
    </div>

  </div>
  <div class="kt-portlet__body">
    <mat-tab-group (selectedTabChange)="tabChange($event.index)">

      <mat-tab label="New IA">
        <div class="row" *ngIf="tabIndex==0">
          <kt-filter-bl (getFilters)="getFilters($event)"></kt-filter-bl>
        </div>
        <kt-manage-new-ia></kt-manage-new-ia>
      </mat-tab>

      <mat-tab label="Extend IA">
        <kt-manage-extend-ia></kt-manage-extend-ia>
      </mat-tab>

      <mat-tab label="Modified IA">
        <kt-manage-modified-ia></kt-manage-modified-ia>
      </mat-tab>

      <mat-tab label="Cancelled IA">
        <kt-manage-cancelled-ia></kt-manage-cancelled-ia>
      </mat-tab>

      <mat-tab label="Approved IA">
        <kt-manage-approved-ia></kt-manage-approved-ia>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>