<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Manage Inheritance Representative
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/stakeholders/add-representative-stakeholders']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"  (click)="exporter.exportTable('xlsx',{fileName:'Inheritance Representative', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>

          <div class="col-md-6 text-right">
            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable"  matTableExporter #exporter="matTableExporter" [hiddenColumns]="[5]">
          <ng-container matColumnDef="nameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.NAMEAR' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fullNameAr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.fullNameEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="emid">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EMIRATESID' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.citizenId}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nationality">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.NATIONALITY' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.nationalityEn : row.nationalityAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="mobile">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Mobile </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.mobileNo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button [routerLink]="['/pages/stakeholders/edit-representative-stakeholders/'+row.stakeHolderId]" type="button"
                class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>