<!--begin::Message-->
<div class="row text-center">
    <div class="col-md-12">
      <br><br><br><br>
      <h3 class="text-center kt-font-success">Thank You!</h3>
      <p>Your information submitted succesfully</p>
    </div>
  </div>
  <!--begin::Message-->