<!--begin::Modal Popup for View Button (Lined User)-->
<div class="modal-content tda-modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Linked more User :: {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleName' | translate }}</h4>
    <button aria-label="Close" class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body tda-modal-body">
    <div class="row">
      <div class="col-md-6">
        <button type="button" class="btn btn-primary btn-bold btn-sm mb-4"
          [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
          <span aria-hidden="true" (click)="confirmSelected()">
            {{ 'GENERALWORDS.CONFIRMSELECTED' | translate }}
          </span>
        </button>
        &nbsp;
        <button type="button" class="btn btn-default btn-sm  mb-4"
          (click)="exporter.exportTable('xlsx',{fileName:'unlinked roles', Props: {Author: 'BLS system'}})">
          {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
        </button>
      </div>
      <div class="col-md-6 text-right">
        <mat-form-field>
          <mat-label>
            {{'GENERALWORDS.SEARCH' | translate }}
          </mat-label>
          <input class="tda-form-control" matInput (keyup)="applyFilterstepThree($event.target.value)"
            placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
        </mat-form-field>
      </div>
    </div>
    <!--begin: Datatable  -->
    <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
      <mat-table matSort [hiddenColumns]="[0]" [dataSource]="stepThree" class="tdaMetronicBorderedTable" matTableExporter
        #exporter="matTableExporter">
        <!-- Select -->
        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
          <mat-cell *matCellDef="let row">
            <label class="kt-checkbox kt-checkbox--brand d-inline">
              <input type="checkbox" (change)="linkMoreUser(row.userId, $event.srcElement.checked)">
              <span></span>
            </label>
          </mat-cell>
        </ng-container>
        <!-- Name Ar -->
        <ng-container matColumnDef="fullNameAr">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{'GENERALWORDS.FULLNAMEAR' | translate}}
          </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fullNameAr}} </mat-cell>
        </ng-container>
        <!-- Full Name En -->
        <ng-container matColumnDef="fullNameEn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Full Name En </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.fullNameEn}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userEmail">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EMAIL' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userEmail}} </mat-cell>
        </ng-container>
        <!--Type -->
        <ng-container matColumnDef="mobileNo">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.MOBILE' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.mobileNo}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsstepThree"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsstepThree;"></mat-row>
      </mat-table>
      <mat-paginator class="tdaMobilePaginator" #matPaginatorstepThree [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <!--end: Datatable -->
  </div>
</div>