<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Manage Application Type :: Reasons
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/master-data/add-application-type-reasons']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
               {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Application Type Reason', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>

          <div class="col-md-6 text-right">
            <table class="filterDataTable">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-label>
                    <mat-select [(ngModel)]="id" (ngModelChange)="filterByAppType(id)">
                      <mat-option *ngFor="let type of typesName | async" [value]="type.id">
                        {{  this.translationService.getSelectedLanguage() =="en" ?  type.valueEn :  type.valueAr}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td>
                  <mat-form-field>
                    <mat-label>
                      {{'GENERALWORDS.SEARCH' | translate }}
                    </mat-label>
                    <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                      placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
                  </mat-form-field>
                </td>
              </tr>
            </table>

          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter" [hiddenColumns]="[4,5]">

          <ng-container matColumnDef="reasonType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.APPTYPEREASONS.REASONTYPE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.reasonNameEn : row.reasonNameAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="applicationType">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.apptypeEn : row.apptypeAr}}
            </mat-cell>
          </ng-container>


          <ng-container matColumnDef="descriptionAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.APPTYPEREASONS.DESCAR' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.reasonAr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="descriptionEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'PAGESMODULE.APPTYPEREASONS.DESCEN' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.reasonEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDIT' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button [routerLink]="['/pages/master-data/edit-application-type-reasons/'+row.id]" type="button"
                class="btn btn-sm btn-danger btn-sm">View</button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" [checked]="row.isActive" (change)="isActive(row.id)">
                  <span>{{row.isActive}}</span>
                </label>
              </span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>