<!--begin::Modal Popup for View Button (Linked User)-->
<div class="modal-content tda-modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Actions</h4>
    <button aria-label="Close" class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>

  </div>
  <div class="modal-body tda-modal-body">
    <div class="row">
      <div class="col-md-6">
       
      </div>
      <div class="col-md-6 text-right">
        <mat-form-field>
          <input class="tda-form-control" matInput (keyup)="applyFilterstepThree($event.target.value)"
            placeholder="Search">
        </mat-form-field>
      </div>
    </div>
    <!--begin: Datatable -->
    <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
      <mat-table matSort [dataSource]="stepThree" class="tdaMetronicBorderedTable">

        <ng-container matColumnDef="ver">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Ver </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.ver}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="userType">
          <mat-header-cell *matHeaderCellDef mat-sort-header> User Type </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.userType}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actionBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action By </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.actionBy}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actionDateTime">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Action<br>Date/Time </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.actionDateTime}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="internalNotes">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Internal Notes </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.internalNotes}} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="customerNotes">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Notes </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.customerNotes}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumnsstepThree"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsstepThree;"></mat-row>
      </mat-table>
      <mat-paginator class="tdaMobilePaginator" #matPaginatorstepThree [pageSizeOptions]="[10, 15, 25, 100]">
      </mat-paginator>
    </div>

    <!--end: Datatable -->
  </div>

</div>