<mat-accordion>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Notes History
      </mat-panel-title>
    </mat-expansion-panel-header>
    <!--Material DataTable Section-->
    <div class="kt-section margin-bottom-zero">
      <div class="example-header">
        <div class="row">
          <div class="col-md-9">
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Notes History', Props: {Author: 'BLS system'}})">
              Export to Excel
            </button>
          </div>
          <div class="col-md-3 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter">
          <ng-container matColumnDef="noteID">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Note ID </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong> {{row.noteID}}</strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="noteFrom">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Note From </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.noteFromEn : row.noteFromAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="noteTo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Note To </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.noteToEn : row.noteToAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="dateTime">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Date / Time</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ row.dateTime | date:'d/M/yyyy, h:mm a'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="notes">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Notes </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong> {{row.notes}} </strong>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </mat-expansion-panel>

  <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Sticky Notes {{stickyNotes}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-12">
        <div class="wizardBorder">
          <mat-form-field appearance="outline">
            <textarea matInput placeholder="Enter Sticky Notes" rows="5" [(ngModel)]="stickyNotes"
              (keypress)="allowMaxCharacter($event)" (blur)="notesEvent.emit(stickyNotes)"></textarea>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-expansion-panel>

</mat-accordion>