<div class="kt-portlet kt-portlet--mobile">
	<div class="kt-portlet__head kt-portlet__head--lg">
		<div class="kt-portlet__head-label">
			<span class="kt-portlet__head-icon">
				<i class="kt-font-brand flaticon2-user"></i>
			</span>
			<h3 class="kt-portlet__head-title">
				{{'PAGESMODULE.REGISTRATIONREQUEST.RegisteredCustomer' | translate}}
			</h3>
		</div>
		<div class="kt-portlet__head-toolbar">
			<div class="kt-portlet__head-wrapper">
				<div class="kt-portlet__head-actions">
					<div class="dropdown dropdown-inline">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="kt-portlet__body">
		<!--Material DataTable Section-->
		<div class="kt-section">
			<div class="example-header">
				<div class="row">
					<div class="col-md-6">
						<button type="button" class="btn btn-default btn-sm"
							(click)="exporter.exportTable('xlsx',{fileName:'registration request', Props: {Author: 'BLS system'}})">
							{{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
						</button>
					</div>
					<div class="col-md-6 text-right">
						<mat-form-field>
							<mat-label>
								{{'GENERALWORDS.SEARCH' | translate }}
							</mat-label>
							<input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
								placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
						</mat-form-field>
					</div>
				</div> 
			</div>
			<!--begin: Datatable -->
			<div class="example-container mat-elevation-z8 tdaMetronicTable">
				<mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
					#exporter="matTableExporter" [hiddenColumns]="[6]">

					<ng-container matColumnDef="refNo">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{'PAGESMODULE.REGISTRATIONREQUEST.RefNo' | translate}}
						</mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.userId}} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="applicationType">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{'PAGESMODULE.REGISTRATIONREQUEST.ApplicationType' | translate}} </mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.applicationType}} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="userName">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.USERNAME' | translate }}
						</mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.userName}} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="createdAt">
						<mat-header-cell *matHeaderCellDef mat-sort-header>
							{{'PAGESMODULE.REGISTRATIONREQUEST.RegisterDateTime' | translate}} </mat-header-cell>
						<mat-cell *matCellDef="let row">
							{{ validationMessages.convertUTCDateToLocalDate(row.createdAt) | date:'d/M/yyyy, h:mm a' }}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="userEmail">
						<mat-header-cell *matHeaderCellDef matinternalStatus-sort-header> {{ 'GENERALWORDS.EMAIL' | translate }}
						</mat-header-cell>
						<mat-cell *matCellDef="let row">
							{{row.userEmail}}
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="mobileNo">
						<mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-header-cell>
						<mat-cell *matCellDef="let row"> {{row.mobileNo}} </mat-cell>
					</ng-container>
					<ng-container matColumnDef="view">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.VIEW' | translate }} </mat-header-cell>
						<mat-cell *matCellDef="let row" [style.color]="row.color">
							<button type="button" class="btn btn-bold btn-label-brand btn-sm"
								[routerLink]="['/pages/admin/review-registration-request',row.userId]">{{ 'GENERALWORDS.VIEW' | translate }}</button>
						</mat-cell>
					</ng-container>
					<ng-container matColumnDef="isActive">
						<mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
						</mat-header-cell>
						<mat-cell *matCellDef="let row" [style.color]="row.color">
							<span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
								<label class="mb-0">
									<input type="checkbox" [checked]="row.isActive" (change)="isActiveUser(row.userId)">
									<span>{{row.isActive}}</span>
								</label>
							</span>
						</mat-cell>
					</ng-container>
					<mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
					<mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
				</mat-table>
				<mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
			</div>
		</div>
		<!--end: Datatable -->
	</div>
</div>