<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-file"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{'PAGESMODULE.MASTERDATA.MDD' | translate }}
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/master-data/add-master']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Master Data Definition', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-6 text-right">
            <table class="filterDataTable">
              <tr>
                <td>
                  <mat-form-field>
                    <mat-label>{{'PAGESMODULE.MASTERDATA.FILTERMASTER' | translate }}</mat-label>
                    <mat-select [(ngModel)]="id" (ngModelChange)="filterByMasterType(id)">
                      <mat-option *ngFor="let type of typesName | async"  [value]="type.id">
                        {{  this.translationService.getSelectedLanguage() =="en" ?  insertSpaces(type.valueEn) :  type.valueAr}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
                <td> 
                  <mat-form-field>
                    <mat-label>
                      {{'GENERALWORDS.SEARCH' | translate }}
                    </mat-label>
                    <input class="tda-form-control" matInput id="subModuleDefinition"
                      (keyup)="applyFilter7($event.target.value)" placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
                  </mat-form-field>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable"  matTableExporter #exporter="matTableExporter" [hiddenColumns]="[2]">
       
          <ng-container matColumnDef="ValueAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERALWORDS.NAMEAR' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.valueAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="ValueEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'GENERALWORDS.NAMEEN' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.valueEn}} </mat-cell>
          </ng-container>
        
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button [routerLink]="['/pages/master-data/edit-master/'+row.id]" type="button" class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" [checked]="row.isActive" (change)="isActiveMasterData(row.id)">
                  <span>{{row.isActive}}</span>
                </label>
              </span>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>