::ng-deep .modal-dialog {
  max-width: 500px !important;
}
table {
  width: 100%;
  mat-form-field {
    width: 100%;
  }
}

.editDeleteUpdate {
  width: 100%;
  tr {
    td {
      text-align: center;
      i {
        font-size: 16px;
        cursor: pointer;
      }
      i.view {
        color: #e9921b;
        font-size: 18px;
      }
    }
  }
}
.centerTable {
  width: 50%;
  margin: 0 auto;
}
.padding-bottom-zero {
  padding-bottom: 0 !important;
}
.margin-bottom-zero {
  margin-bottom: 0 !important;
}
.btn-sm {
  i {
    font-size: 16px;
  }
}
table.rejectedReason{
  tr{
    td{
      vertical-align: top;
      p {
        padding: 0 5px;
      }
    }
  }
}
table.certificateTable{
  tr{
    td{
      width: 33.333%;
      strong{
        cursor: pointer;
        i{
          color: #e9921b;
        }
      }
    }

  }
}
.modal-open .modal {
  z-index: 9999999999 !important;
}
.modal-backdrop.show {
  z-index: 9999999999 !important;
}
