<div class="kt-portlet kt-portlet--mobile loginLogoutHistory">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-graph-2"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Manage Business License
      </h3>
    </div>

  </div>
  <div class="kt-portlet__body">
    <mat-tab-group>
      <mat-tab label="New BL">

        <kt-manage-new-bl></kt-manage-new-bl>

      </mat-tab>
      <mat-tab label="Renew BL">

        <kt-manage-renew-bl></kt-manage-renew-bl>

      </mat-tab>
      <mat-tab label="Modified BL">

        <kt-manage-modified-bl></kt-manage-modified-bl>

      </mat-tab>
      <mat-tab label="Cancelled BL">

        <kt-manage-cancelled-bl></kt-manage-cancelled-bl>

      </mat-tab>
      <mat-tab label="Approved BL">

        <kt-manage-approved-bl></kt-manage-approved-bl>

      </mat-tab>
    </mat-tab-group>
  </div>
</div>