<div class="kt-section__content notes">
  <div class="row">
    <div class="col-md-12">
      <div class="wizardBorder ">
        <!--Material DataTable Section-->
        <div class="kt-section">
          <div class="example-header">
            <div class="row">
              <div class="col-md-9">
                <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                  (click)="BusinessActivity(addNewActivity)" id="kt_login_signin_submit"
                  class="btn btn-primary btn-elevate kt-login__btn-primary btn-sm">
                  Add New Activity
                </button>
                &nbsp;
              </div>
              <div class="col-md-3 text-right">
                <mat-form-field>
                  <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                    placeholder="Search">
                </mat-form-field>
              </div>
            </div>
          </div>
          <!--begin: Datatable -->
          <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
            <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
              <ng-container matColumnDef="isic4">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISIC' | translate }}</mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="descriptionAr">
                <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.descriptionAr}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="descriptionEn">
                <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.descriptionEn}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="activityGroup">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
                <mat-cell *matCellDef="let row"> {{row.activityGroup}} </mat-cell>
              </ng-container>

              <ng-container matColumnDef="editView">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                <mat-cell *matCellDef="let row" (click)="isActiveBusinessActivity(row.id, false)">
                  <span matTooltip="Delete" class="kt-font-danger cursor"> <i class="flaticon-delete"></i></span>
                </mat-cell>
              </ng-container>
              <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
            </mat-table>
            <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
        <!--end: Datatable -->
      </div>
    </div>
  </div>
</div>

<!--begin::Modal Popup for Happiness Meter-->
<ng-template #addNewActivity let-modal>
  <div class="modal-header">
    <h4 _ngcontent-mdb-c47="" class="modal-title" id="modal-basic-title">
      Add New Activities
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body tda-modal-body">
    <div class="row">
      <div class="col-md-4">
        <button class="btn btn-primary btn-bold btn-sm mb-4" type="button" aria-label="Close"
          (click)="modal.dismiss('Cross click')">
          <span>Confirm Selected</span>
        </button>
      </div>
      <div class="col-md-8 text-right">
        <table class="filterDataTable">
          <tr>
            <td>
              <mat-form-field appearance="outline">
                <mat-label>Group</mat-label>
                <mat-select placeholder="Type" [(ngModel)]="selectedGroupId"
                  (ngModelChange)="filterByGroup(selectedGroupId)">
                  <mat-option *ngFor="let type of businessActivity" [value]="type.id">
                    {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <td>
              <mat-form-field>
                <input class="tda-form-control" matInput (keyup)="applyFilterstepThree($event.target.value)"
                  placeholder="Search">
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <!--begin: Datatable -->
    <div class="example-container mat-elevation-z8 tdaMetronicTable metronicTableDialog">
      <mat-table matSort [dataSource]="stepThree" class="tdaMetronicBorderedTable">

        <ng-container matColumnDef="select">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Select </mat-header-cell>
          <mat-cell *matCellDef="let row"> <label class="kt-checkbox kt-checkbox--brand d-inline">
              <input type="checkbox" [checked]="row.isActive"
                (change)="isActiveBusinessActivity(row.id, $event.srcElement.checked)">
              <span></span>
            </label> </mat-cell>
        </ng-container>

        <ng-container matColumnDef="isic4">
          <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISIC' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descriptionAr">
          <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.descriptionAr}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descriptionEn">
          <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.descriptionEn}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="activityGroup">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
          <mat-cell *matCellDef="let row"> {{row.activityGroup}} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumnsstepThree"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumnsstepThree;"></mat-row>
      </mat-table>
      <mat-paginator class="tdaMobilePaginator" #matPaginatorstepThree [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>
    <!--end: Datatable -->
  </div>
</ng-template>

<div class="row">
  <div class="col-md-4">
    <div class="wizardBorder actionButtons">
      <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
    </div>
  </div>
  <div class="col-md-4 text-center">
  </div>
  <div class="col-md-4 text-right">
    <div class="wizardBorder actionButtons">
      <button (click)="btnNextClickBA()" class="btn btn-primary btn-sm">Next</button>
    </div>
  </div>
</div>