<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Share Registration / Login Url</h4><button aria-label="Close"
      class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
  </div>
  <div class="modal-body">
    <table class="text-center shareAble">
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'GENERALWORDS.EMAIL' | translate }}</mat-label>
            <input type="email" matInput placeholder="{{ 'GENERALWORDS.EMAIL' | translate }}">
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td>
          <mat-form-field appearance="outline">
            <mat-label>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-label>
            <input matInput placeholder="00971-00-000-0000">
          </mat-form-field>
        </td>
      </tr>
    </table>


  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">

        <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->

        <button aria-label="Close" mat-dialog-close class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          {{ 'GENERALWORDS.SUBMIT' | translate }}
        </button>
        <button aria-label="Close" type="button" mat-dialog-close
          class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
      </div>
    </div>
  </div>
</div>