//input outline color
::ng-deep .successValid.ng-valid .mat-form-field-outline {
  color: #0abb87 !important;
  border-color: #0abb87;
  background-image: url("../../../assets/media/icons/tick.svg");
  background-repeat: no-repeat;
  background-position: center right calc(0.375em + 0.325rem);
  background-size: calc(0.75em + 0.65rem) calc(0.75em + 0.65rem);
}
// mat-label normal state style
::ng-deep .successValid.ng-valid .mat-form-field-label {
  color: #0abb87 !important;
  // color: $mainColor!important;
}


//input outline color
::ng-deep .successValid.ng-invalid .mat-form-field-outline {
  color: #ff0000 !important;
 
}
// mat-label normal state style
::ng-deep .successValid.ng-invalid .mat-form-field-label {
  color: #ff0000 !important;
  // color: $mainColor!important;
}

::ng-deep .successValid .mat-form-field-infix
{
	padding-right: 25px !important;
}