<!--begin::Body-->
<div class="kt-login__body">
	<!--begin::Signin-->
	<div class="kt-login__form">
		<div class="kt-login__title">
			<h4>
				{{ 'AUTHMODULE.FORGOTPASSWORD.TITLE' | translate }}
			</h4>
		</div>
		<form class="kt-form tda-forgot-pwd" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPasswordFormSubmit()" autocomplete="off">
			<div class="row">
				<div class="col-md-12">
					<p>
						{{ 'AUTHMODULE.FORGOTPASSWORD.ACTIVEMSG' | translate }}
						<br>
						{{ 'AUTHMODULE.FORGOTPASSWORD.REGISTERMSG' | translate }}
					</p>
				</div>
				<div class="col-md-12">
					<mat-form-field appearance="outline">
						<mat-label>
							{{ 'GENERALWORDS.EMAIL' | translate }}
						</mat-label>
						<input class="tda-form-control" matInput type="text" placeholder="Enter your register email"
							formControlName="email" />
					</mat-form-field>
					<kt-error [formName]="forgotPasswordForm" [fieldName]="'email'"></kt-error>
				</div>
				<div class="col-md-12">
					<mat-form-field appearance="outline">
						<mat-label>
							{{ 'GENERALWORDS.MOBILE' | translate }}
						</mat-label>
						<input class="tda-form-control" matInput type="text" placeholder="00971-00-000-0000"
							formControlName="mobileNo" [textMask]="{mask: mobileNoMask}" />
					</mat-form-field>
					<kt-error [formName]="forgotPasswordForm" [fieldName]="'mobileNo'"></kt-error>
				</div>
			</div>
			<!--begin::Action-->
			<div class="kt-login__actions">

				<button [routerLink]="this.previousRouteService.getPreviousUrl()" [disabled]="loading"
					id="kt_login_signup_cancel" type="button" class="btn btn-secondary btn-elevate kt-login__btn-secondary">
					{{ 'GENERALWORDS.CANCEL' | translate }}
				</button>
				
				<button class="btn btn-primary btn-elevate kt-login__btn-primary"
					[ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
					{{ 'GENERALWORDS.SUBMIT' | translate }}
				</button>
			</div>
			<!--end::Action-->
		</form>
	</div>
</div>