<!--begin::Message-->
<div class="row text-center">
  <div class="col-md-12">
    <br><br><br><br>
    <h3 class="text-center kt-font-success">Congratulation!</h3>
    <p>Your initial registration request <strong><span class="kt-font-primary">Ref#: 123</span></strong> has been
      approved<br>
      Please click following link to complete your information</p>

    <a href="/registration/user-info" class="btn btn-primary btn-sm btn-upper">Proceed to Complete Registration
      Information</a>
  </div>
</div>
<!--begin::Message-->