<div class="kt-section__content notes tabGroups">
  <mat-tab-group>
    <!--Blocking Status-->
    <mat-tab label="Blocking Status">
      <br><br>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-solid-success alert-bold" role="alert">
            <div class="alert-text">
              <p>Your <strong>Business License</strong> is Active</p>
            </div>
          </div>
          <br>
          <div class="alert alert-solid-danger alert-bold" role="alert">
            <div class="alert-text">
              <p>Your <strong>Business License</strong> is Blocked</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <mat-radio-group>
            <div class="row">
              <div class="col-md-4">
                <mat-radio-button checked value="Full Block" (click)="partialValue(0)">
                  Full Block</mat-radio-button>
              </div>
              <div class="col-md-4">
                <mat-radio-button value="Partial Block" (click)="partialValue(1)">
                  Partial Block</mat-radio-button>
              </div>
            </div>
          </mat-radio-group>
        </div>
        <div class="col-md-12"><br>
          <!--begin::Divider-->
          <div class="kt-login__divider">
            <div class="kt-divider">
              <span></span>
              <span></span>
            </div>
          </div>
          <!--end::Divider-->
          <br>
        </div>
      </div>

      <div class="row" *ngIf="partial == 1">
        <div class="col-md-6">

          <mat-form-field appearance="outline">
            <mat-label>Till Date</mat-label>
            <input disabled matInput [matDatepicker]="tillDate" placeholder="Till Date"
              (click)="tillDate.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="tillDate"></mat-datepicker-toggle>
            <mat-datepicker #tillDate></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="col-md-6">
          <p class="text-danger"><br><br><strong>3 Days are left to unblock</strong></p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="wizardBorder">
            <p><strong>Blocked by Entity</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Govt Entity Name
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Govt Entity Name
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Govt Entity Name
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wizardBorder">
            <p><strong>Blocked Reasons</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Reason
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Reason
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Reason
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Suspension Status">
      <br><br>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-solid-success alert-bold" role="alert">
            <div class="alert-text">
              <p>Your <strong>Business License</strong> is Active</p>
            </div>
          </div>
          <br>
          <div class="alert alert-solid-danger alert-bold" role="alert">
            <div class="alert-text">
              <p>Your <strong>Business License</strong> is Suspended</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Start Date</mat-label>
            <input disabled matInput [matDatepicker]="suspendedStartDate" placeholder="Start Date"
              (click)="suspendedStartDate.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="suspendedStartDate"></mat-datepicker-toggle>
            <mat-datepicker #suspendedStartDate></mat-datepicker>
          </mat-form-field>

        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>End Date</mat-label>
            <input disabled matInput [matDatepicker]="suspendedEndDate" placeholder="End Date"
              (click)="suspendedEndDate.open()" readonly>
            <mat-datepicker-toggle matSuffix [for]="suspendedEndDate"></mat-datepicker-toggle>
            <mat-datepicker #suspendedEndDate></mat-datepicker>
          </mat-form-field>

        </div>

        <div class="col-md-6">
          <div class="wizardBorder">
            <p><strong>Blocked by Entity</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Govt Entity Name
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Govt Entity Name
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Govt Entity Name
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col-md-6">
          <div class="wizardBorder">
            <p><strong>Blocked Reasons</strong></p>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <mat-list role="list">
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Reason
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Reason
                </mat-checkbox>
              </mat-list-item>
              <mat-list-item role="listitem">
                <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                  [color]="'primary'">
                  Reason
                </mat-checkbox>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
        <div class="col-md-6">
          <p class="text-danger"><strong>3 Days are left to release suspension.</strong></p>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Inspection Notes">
      <br><br>
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-solid-success alert-bold" role="alert">
            <div class="alert-text">
              <p>No <strong>Inspection Notes</strong> Found</p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="alert alert-solid-success alert-bold" role="alert">
            <div class="alert-text">
              <p>Your action requried as per <strong>Inspection Notes</strong></p>
            </div>
          </div>
        </div>
        <br>
        <div class="col-md-12">
          <div class="alert alert-solid-warning alert-bold" role="alert">
            <div class="alert-text">
              <p>Temp till inspection module is completed</p>
            </div>
          </div>
        </div>
      </div>

      <!--Material DataTable Section-->
      <div class="kt-section margin-bottom-zero">
        <div class="example-header">
          <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 text-right">
              <mat-form-field>
                <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                  placeholder="Search">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!--begin: Datatable -->
        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
          <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
            <ng-container matColumnDef="reportNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Report No </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <strong> {{row.reportNo}}</strong>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="action">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="relatedDocs">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Related Docs </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.relatedDocs}} </mat-cell>
            </ng-container>



            <ng-container matColumnDef="pending">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Pending </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.pending}} </mat-cell>
            </ng-container>




            <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
          </mat-table>
          <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <!--end: Datatable -->
    </mat-tab>
    <mat-tab label="Violations">
      <br><br>
      <!--Material DataTable Section-->
      <div class="kt-section margin-bottom-zero">
        <div class="example-header">
          <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 text-right">
              <mat-form-field>
                <input class="tda-form-control" matInput (keyup)="applyFilter8($event.target.value)"
                  placeholder="Search">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!--begin: Datatable -->
        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
          <mat-table matSort [dataSource]="dataSource8" class="tdaMetronicBorderedTable">
            <ng-container matColumnDef="refNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <strong> {{row.refNo}}</strong>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descAr">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Description Ar </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.descAr}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="descEn">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Description En </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.descEn}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fineAmount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="dueDate">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.dueDate}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="payLinks">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
              <mat-cell *matCellDef="let row"> <a href="#">{{row.payLinks}}</a></mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
          </mat-table>
          <mat-paginator #matPaginator8 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <!--end: Datatable -->
    </mat-tab>
    <mat-tab label="Govt Entities Notes">
      <br><br>
      <!--Material DataTable Section-->
      <div class="kt-section margin-bottom-zero">
        <div class="example-header">
          <div class="row">
            <div class="col-md-9">
            </div>
            <div class="col-md-3 text-right">
              <mat-form-field>
                <input class="tda-form-control" matInput (keyup)="applyFilter9($event.target.value)"
                  placeholder="Search">
              </mat-form-field>
            </div>
          </div>
        </div>
        <!--begin: Datatable -->
        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
          <mat-table matSort [dataSource]="dataSource9" class="tdaMetronicBorderedTable">
            <ng-container matColumnDef="refNo">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
              <mat-cell *matCellDef="let row">
                <strong> {{row.refNo}}</strong>
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="govtEntity">
              <mat-header-cell *matHeaderCellDef mat-sort-header>Govt Entity</mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.govtEntity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="notesAr">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Notes Ar </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.notesAr}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="notesEn">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Notes En </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.notesEn}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="fineAmount">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
              <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="payLinks">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
              <mat-cell *matCellDef="let row"> <a href="#">{{row.payLinks}}</a> </mat-cell>
            </ng-container>


            <mat-header-row *matHeaderRowDef="displayedColumns9"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns9;"></mat-row>
          </mat-table>
          <mat-paginator #matPaginator9 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
      <!--end: Datatable -->
    </mat-tab>
  </mat-tab-group>
</div>