<form class="tda-form" [formGroup]="addMasterType" (ngSubmit)="masterTypeFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-file"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ id ? ('PAGESMODULE.MASTERDATA.EDITMASTERTYPE' | translate) : ('PAGESMODULE.MASTERDATA.ADDMASTERTYPE' | translate) }}
                <!-- {{ id ? 'Edit Master Type ' : 'Add Master Type' }} -->
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.NAMEAR' | translate }}</mat-label>
                  <input class="arabicTextBox" matInput placeholder="{{ 'GENERALWORDS.NAMEAR' | translate }}"
                    type="text" formControlName='nameAr'>
                </mat-form-field>
                  <kt-error [formName]="addMasterType" [fieldName]="'nameAr'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'GENERALWORDS.NAMEEN' | translate }}</mat-label>
                  <input class="englishTextBox" matInput placeholder="{{'GENERALWORDS.NAMEEN' | translate }}" type="text"
                    formControlName='nameEn'>
                </mat-form-field>
                <kt-error [formName]="addMasterType" [fieldName]="'nameEn'"></kt-error>
              </div>

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName='isActive'>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]="true">{{ 'GENERALWORDS.ACTIVE' | translate }} </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]="false">{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                  <!--  <kt-error [formName]="addMasterType" [fieldName]="'isActive'"></kt-error>-->
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->

                    <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      type="submit">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                    <a [routerLink]="['/pages/master-types']" type="button"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
</form>