<div class="kt-section__content notes tda-form" [formGroup]="ApplicationInfoForm">
  
  <!--Radio Button-->
  <div class="wizardBorder">
    <!--begin:: Radio Buttons-->
    <div class="col-md-12">
      <mat-radio-group>
        <div class="row">
          <div class="col-md-4">
            <mat-radio-group formControlName="businessNamesTypes" *ngIf="!this.BNData?.isHide">
              <mat-radio-button *ngFor="let type of businessNameTypes; index as i"
                (click)="setRadioButtonCondition(type.id)" [value]="type.id"
                [checked]="this.businessNameTypes[0].id == radioButtonCondition">
                {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
              </mat-radio-button>
            </mat-radio-group>
            <mat-radio-group *ngIf="this.BNData?.isHide">
              <mat-radio-button>
                {{ this.translationService.getSelectedLanguage() =="en" ? this.BNData.nameEn : this.BNData.nameAr}}
              </mat-radio-button>
            </mat-radio-group>
          </div>

          <!-- <mat-radio-group [(ngModel)]="radioButtonCondition">
            <mat-radio-button *ngFor="let type of businessNameTypes; index as i" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-radio-button>
          </mat-radio-group> -->
        </div>
      </mat-radio-group>
    </div>
  </div>


  <div class="wizardBorder" *ngIf="!(radioButtonCondition == this.businessNamesTypesEnum.New)">
    <div class="row">
      <div class="col-md-12">
      </div>
      <div class="col-md-6" *ngIf="!(radioButtonCondition == this.businessNamesTypesEnum.New)">
        <mat-form-field appearance="outline">
          <mat-label>Head Office License No</mat-label>
          <input class="tda-form-control" formControlName="licenceNumber" placeholder="Head Office License No" matInput
            type="text" />
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'licenceNumber'"></kt-error>
      </div>
      <div class="col-md-1" *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.LocalTDABranch)">
        <div class="formTableButton">
          <button (click)="getHeadOfficeLicenseNoData()" class="btn btn-danger btn-sm"> <i
              class="kt-font-brand flaticon-search"></i></button>
        </div>
      </div>
      <div class="col-md-8" *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.LocalTDABranch)">
      </div>
      <div class="col-md-6" *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.OtherEmiratesBranch)">
        <mat-form-field appearance="outline">
          <mat-label>Issuance Authority</mat-label>
          <mat-select placeholder="Issuance Authority" formControlName="ddlIssueanceAuthority">
            <mat-option *ngFor="let type of issueanceAuthority | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'ddlIssueanceAuthority'"></kt-error>
      </div>
      <div class="col-md-6" *ngIf="!(radioButtonCondition == this.businessNamesTypesEnum.New)">
        <mat-form-field appearance="outline">
          <mat-label>Issue Date</mat-label>
          <input matInput [matDatepicker]="issueDate" placeholder="Issue Date" (click)="issueDate.open()"
            formControlName="licenceIssueDate">
          <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
          <mat-datepicker #issueDate></mat-datepicker>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'licenceIssueDate'"></kt-error>
      </div>
      <div class="col-md-6" *ngIf="!(radioButtonCondition == this.businessNamesTypesEnum.New)">
        <mat-form-field appearance="outline">
          <mat-label>Expiry Date</mat-label>
          <input matInput [matDatepicker]="expiryDate" placeholder="Expiry Date" (click)="expiryDate.open()"
            formControlName="licenceExpiryDate">
          <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
          <mat-datepicker #expiryDate></mat-datepicker>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'licenceExpiryDate'"></kt-error>
      </div>
      <div class="col-md-6" [ngClass]="radioButtonCondition==6?'activeID':'notActiveID'"
        *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.BranchForAForeignCompany) || (radioButtonCondition == this.businessNamesTypesEnum.BranchForAGCCCompany)">
        <mat-form-field appearance="outline">
          <mat-label>Country <span
              *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.BranchForAGCCCompany)">(one of 6 countries
              only)</span></mat-label>
          <mat-select placeholder="Country" formControlName="ddlCountry">
            <mat-option *ngFor="let type of countries | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'ddlCountry'"></kt-error>
      </div>
      <div class="col-md-6" *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.BranchForRAKFreeZoneCompany)"
        [ngClass]="radioButtonCondition==7?'activeID':'notActiveID'">
        <mat-form-field appearance="outline">
          <mat-label>Issuance Authority</mat-label>
          <mat-select placeholder="Issuance Authority" formControlName="ddlIssueanceAuthority">
            <mat-option *ngFor="let type of issueanceAuthority | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'ddlIssueanceAuthority'"></kt-error>
      </div>
      <div class="col-md-12" *ngIf="(radioButtonCondition == this.businessNamesTypesEnum.LocalTDABranch)">
        <a (click)="open(showCertificate)" class="pointer"><strong>Show License Certificate</strong></a>
      </div>
      <!--end:: Radio Buttons-->
    </div>
  </div>

  <div class="wizardBorder">
    <div class="row">
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>BN Type</mat-label>
          <mat-select placeholder="" formControlName="BNTypes">
            <mat-option *ngFor="let type of bnTypes | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'BNTypes'"></kt-error>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>Legal Type</mat-label>
          <mat-select placeholder="" formControlName="legalTypeddl">
            <mat-option *ngFor="let type of legalType | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'legalTypeddl'"></kt-error>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>License Category</mat-label>
          <mat-select placeholder="" formControlName="ddlLicenseCategory">
            <mat-option *ngFor="let type of licenseCategory | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'ddlLicenseCategory'"></kt-error>
      </div>
      <div class="col-md-6">
        <mat-form-field appearance="outline">
          <mat-label>License Type</mat-label>
          <mat-select placeholder="" formControlName="ddlLicenseType">
            <mat-option *ngFor="let type of licenseType | async" [value]="type.id">
              {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'ddlLicenseType'"></kt-error>
      </div>
      <div class="col-md-6" [ngClass]="radioButtonCondition==4?'activeID':'notActiveID'">
        <mat-form-field appearance="outline">
          <mat-label>Reservation Period</mat-label>
          <input class="tda-form-control" readonly matInput type="number" [value]="60"
            formControlName="reservationPeriod" />
        </mat-form-field>
        <kt-error [formName]="ApplicationInfoForm" [fieldName]="'reservationPeriod'"></kt-error>
      </div>
    </div>
  </div>

</div>

