.editDeleteUpdate {
  width: 100%;
  tr {
    td {
      text-align: center;
      i {
        font-size: 16px;
        cursor: pointer;
      }
      i.view {
        color: #e9921b;
        font-size: 18px;
      }
    }
  }
}
.centerTable {
  width: 50%;
  margin: 0 auto;
}
