<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Review BN Request
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">

      <button (click)="openDialog('viewAction')" class="btn btn-primary btn-sm">
        View Actions
      </button>
      <br><br>
      <mat-horizontal-stepper labelPosition="bottom" #stepper (selectionChange)="onStepChange($event)">
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup" autocomplete="off">
            <ng-template matStepLabel class="'first-stepper'">Submitter Info</ng-template>
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--::begin form fields-->
            <kt-submitted-info [user]="this.getBNData?.user" [loginOnBehalf]="this.getBNData?.loginOnBehalf">
            </kt-submitted-info>
            <!--::end form fields-->
            <!--begin:: footer -->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"> </ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious
                    [routerLink]="['/pages/business-license/business-names/manage-business-names']">Back</button>
                </div>
              </div>
            </div>
            <!--end:: footer -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup" autocomplete="off">
            <ng-template matStepLabel>Application Info</ng-template>
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--:: begin Form Fields-->
            <div class="row">

              <div class="col-md-6 ">
                <div class="wizardBorder licenseInfo">
                  <!--License Info-->
                  <p><strong>Application Data</strong></p>

                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <kt-application-info [businessNameTypes]="this.businessLicenseService.businessNameTypes | async"
                    [ApplicationInfoForm]="thirdFormGroup" [BNData]="this.getBNData.applicationData">
                  </kt-application-info>

                </div>
              </div>
              <div class="col-md-6 ">
                <div class="wizardBorder licenseInfo">
                  <p><strong>Application Data Status</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <table class="wizardDataTable wizardDataStatus">
                    <tr>
                      <td formArrayName="appInfoStatus"
                        *ngFor="let item of secondFormGroup.controls['appInfoStatus']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                          <mat-checkbox class="blsCheckbox" [color]="'primary'" formControlName='isChecked'>
                            {{ this.getBNData.applicationDataControls[i].fieldEn}}
                          </mat-checkbox>
                        </ng-container>
                      </td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"> </ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm"
                    (click)="applicationInfoFormSubmit()">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
        <!--Step 3-->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup" autocomplete="off">
            <ng-template matStepLabel>Business Activity</ng-template>
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>

            <kt-review-business-activity [getBusinessActivity]="this.getBNData.businessActivity"
              (updateBusinessActivityData)="updateBusinessActivityData($event)"></kt-review-business-activity>

            <!--:: begin Footer-->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"> </ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm"
                    (click)="businessActivityFormSubmit()">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
        <!--Step 4-->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup" autocomplete="off">
            <ng-template matStepLabel>Business Name</ng-template>
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-6 ">
                <div class="wizardBorder licenseInfo">
                  <!--License Info-->
                  <p><strong>Business Name Data</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <kt-business-names-availability [businessNamesAvailablityForm]="fourthFormGroup"
                    [BusinessNamesData]="this.getBNData.businessName">
                  </kt-business-names-availability>
                </div>
              </div>
              <div class="col-md-6 ">
                <div class="wizardBorder licenseInfo">
                  <p><strong>Business Name Status</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <!--begin: Datatable -->
                  <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                    <mat-table matSort [dataSource]="businessNamesGridDataSource" class="tdaMetronicBorderedTable">

                      <ng-container matColumnDef="action">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-radio-button (click)="businessNameRadioAndCheckboxChecked('radio','', row.id)"
                            [value]="row.id">
                          </mat-radio-button>
                        </mat-cell>
                      </ng-container>

                      <ng-container matColumnDef="BNNameEn">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> BN Name En </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-checkbox class="blsCheckbox" [color]="'primary'" [checked]="row.enChecked"
                            [disabled]="businessNameRadioBtnId!=row.id"
                            (change)="businessNameRadioAndCheckboxChecked('checkbox','enChecked', row.id)">
                            {{row.fieldEn}}
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>
                      <!-- disabled -->
                      <ng-container matColumnDef="BNNameAr">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> BN Name En </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                          <mat-checkbox class="blsCheckbox" [color]="'primary'" [checked]="row.arChecked"
                            [disabled]="businessNameRadioBtnId!=row.id"
                            (change)="businessNameRadioAndCheckboxChecked('checkbox','arChecked', row.id)">
                            {{row.fieldAr}}
                          </mat-checkbox>
                        </mat-cell>
                      </ng-container>

                      <mat-header-row *matHeaderRowDef="businessNamesColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: businessNamesColumns;"></mat-row>
                    </mat-table>
                  </div>
                  <!--end: Datatable -->
                  <table class="wizardDataTable wizardDataStatus">

                    <!-- <tr>
                      <td formArrayName="businesNamesStatus"
                        *ngFor="let item of fourthFormGroup.controls['businesNamesStatus']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                          <mat-checkbox class="blsCheckbox" [color]="'primary'" formControlName='isChecked'
                            (change)="updateBusinessNamesValue(i)">
                            {{ this.getBNData.businessNamesControls[i].fieldEn }}
                          </mat-checkbox>
                        </ng-container>
                      </td>
                    </tr> -->
                    <tr>
                      <td formArrayName="shortNamesStatus"
                        *ngFor="let item of fourthFormGroup.controls['shortNamesStatus']['controls']; let i = index">
                        <ng-container [formGroupName]="i">
                          <mat-checkbox class="blsCheckbox" [color]="'primary'" formControlName='isChecked'
                            (change)="updateShortNamesValue(i)">
                            {{ this.getBNData.shortNamesControls[i].fieldEn}}
                          </mat-checkbox>
                        </ng-container>
                      </td>
                    </tr>
                  </table>

                </div>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"> </ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm"
                    (click)="businessNamesFormSubmit()">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
        <!--Step 5-->
        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup" autocomplete="off">
            <ng-template matStepLabel>Stakeholders Info</ng-template>
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>

            <kt-review-stakeholder [getStakeholder]="this.getBNData.stakeHolders"
              (updateStakeholdersData)="updateStakeholdersData($event)"></kt-review-stakeholder>
            <!--:: begin Footer-->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"> </ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm"
                    (click)="stakeholderInfoFormSubmit()">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
        <!--Step 6-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup" autocomplete="off">
            <ng-template matStepLabel>Attachments</ng-template>
            <ng-container *ngTemplateOutlet="rejectReturnAndNotes"></ng-container>
            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-12 ">
                <kt-review-atachments [getAttachmentsData]="this.getBNData?.attachments"
                  (updateAttachmentsData)="updateAttachmentsData($event)"></kt-review-atachments>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <ng-container *ngTemplateOutlet="footerTemplate"> </ng-container>
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button (click)="attachmentsFormSubmit()" class="btn btn-success btn-sm"
                    [disabled]="this.isDisabledPaymentBtn">
                    Approve for Payment
                  </button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>
                    Back
                  </button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
      </mat-horizontal-stepper>

    </div>
  </div>
</div>

<ng-template #rejectReturnAndNotes>
  <!--:: begin Application Info-->
  <div class="row applicationRefInfo">
    <div class="col-md-4">
      <p><strong>BN/BNR:
          <span class="kt-font-danger kt-font-lg">
            {{this.getBNData.applicationRefNo}}
          </span>
        </strong></p>
    </div>
    <div class="col-md-4 text-center">
      <p><strong>BN Name Ar: <span class="kt-font-danger kt-font-lg">
            {{this.getBNData.bnNameAr}}
          </span></strong></p>
    </div>
    <div class="col-md-4 text-right">
      <p><strong>BN Name En: <span class="kt-font-danger kt-font-lg">
            {{this.getBNData.bnNameEn}}
          </span></strong></p>
    </div>
  </div>
  <!--:: end Application Info-->
  <!--begin::Divider-->
  <div class="kt-login__divider">
    <div class="kt-divider">
      <span></span>
      <span></span>
    </div>
  </div>
  <br>
  <!--end::Divider-->
  <!--:: begin Notes-->
  <div class="notes">
    <div class="wizardBorder">
      <!--::begin Notes Accordion-->
      <kt-notes-history-modal [stickyNotes]="stickyNotes" [notes]="this.getBNData.notes"
        (notesEvent)="notesEvent($event)">
      </kt-notes-history-modal>
      <!--::end Notes Accordion-->
    </div>
  </div>
  <!--:: end Notes-->
</ng-template>

<ng-template #footerTemplate>
  <!--begin:: footer -->
  <ng-container *ngIf="this.getBNData.isHideActions">
    <div class="col-md-4 text-center" *ngIf="!this.getBNData.isConsultant || this.getBNData.isManager">
      <div class="wizardBorder actionButtons">
        <p><strong>Internal Action</strong></p>
        <!--begin::Divider-->
        <div class="kt-login__divider">
          <div class="kt-divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <!--end::Divider-->
        <br>
        <button class="btn btn-primary btn-sm" (click)="openDialog('fwdAction')">
          Forward for Action
        </button>
      </div>
    </div>

    <div class="col-md-4 text-center">
      <div class="wizardBorder actionButtons">
        <p><strong>Customer Action</strong></p>
        <!--begin::Divider-->
        <div class="kt-login__divider">
          <div class="kt-divider">
            <span></span>
            <span></span>
          </div>
        </div>
        <!--end::Divider-->
        <br>
        <button class="btn btn-primary btn-sm" (click)="openDialog('returnNotes')">
          Return Back with Notes
        </button>
        <br>
        <button class="btn btn-danger btn-sm" (click)="openDialog('reject')"
          *ngIf="!this.getBNData.isManager && !this.getBNData.isConsultant">
          Reject
        </button>
      </div>
    </div>
  </ng-container>
  <!--end:: footer -->
</ng-template>