.editDeleteUpdate {
  width: 100%;
  tr {
    td {
      text-align: center;
      i {
        font-size: 16px;
        cursor: pointer;
      }
      i.view {
        color: #e9921b;
        font-size: 18px;
      }
    }
  }
}
.centerTable {
  width: 50%;
  margin: 0 auto;
}
.close.eye {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  opacity: 1;
  font-size: 15px;
}

.applicationRefInfo {
  table {
    width: 100%;
    tr {
      td {
        width: 20%;
      }
    }
  }
}
@media (max-width: 767px) {
  .applicationRefInfo {
    table {
      width: 100%;
      tr {
        td {
          display: block;
          float: left;
          width: 100%;
          line-height: normal;
          padding: 5px;
          border-bottom: 1px solid #f2f2f2;
        }
      }
    }
  }
}
