<form class="tda-form" [formGroup]="appCatalogDefinationForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <div class="kt-portlet kt-portlet--mobile">
    <div class="kt-portlet__head kt-portlet__head--lg">
      <div class="kt-portlet__head-label">
        <span class="kt-portlet__head-icon">
          <i class="kt-font-brand flaticon2-user"></i>
        </span>
        <h3 class="kt-portlet__head-title">
          {{ 'PAGESMODULE.APPCATALOGDEFINITION.MCD' | translate }}
        </h3>
      </div>
      <div class="kt-portlet__head-toolbar">
        <div class="kt-portlet__head-wrapper">
          <div class="kt-portlet__head-actions">
            <div class="dropdown dropdown-inline">


            </div>

          </div>
        </div>
      </div>

    </div>

    <div class="kt-portlet__body">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.AT' | translate }}</mat-label>
            <mat-select formControlName="businessTypesddl" (ngModelChange)="onBusinessTypeDDLChange()">
              <mat-option *ngFor="let type of businessTypesDDL | async" [value]="type.id">
                {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn: type.valueAr}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'businessTypesddl'"></kt-error>
        </div>
      </div>
      <br>
      <!--begin::Divider-->
      <div class="kt-login__divider">
        <div class="kt-divider">
          <span></span>
          <span></span>
        </div>
      </div>
      <!--end::Divider-->
      <br>
      <!--Group 1-->
      <div class="wizardBorder">
        <p><strong> {{ 'PAGESMODULE.APPCATALOGDEFINITION.GROUP1' | translate }} </strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }} </mat-label>
              <input class="arabicTextBox" matInput formControlName="grp1TitleAr" type="text"
                (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }}">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp1TitleAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} </mat-label>
              <input class="englishTextBox" matInput type="text" formControlName="grp1TitleEn"
                (keypress)="validationMessages.allowEn($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} ">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp1TitleEn'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}</mat-label>
              <textarea class="arabicTextBox" formControlName="grp1DescriptionAr" matInput
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}"
                (keypress)="validationMessages.allowAr($event)" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp1DescriptionAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-label>
              <textarea class="englishTextBox" matInput formControlName="grp1DescriptionEn"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}"
                (keypress)="validationMessages.allowEn($event)" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp1DescriptionEn'"></kt-error>
          </div>
        </div>
      </div>
      <!--Group 2-->
      <div class="wizardBorder">
        <p><strong>  {{ 'PAGESMODULE.APPCATALOGDEFINITION.GROUP2' | translate }}  </strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }} </mat-label>
              <input class="arabicTextBox" matInput formControlName="grp2TitleAr" type="text"
                (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }}">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp2TitleAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} </mat-label>
              <input class="englishTextBox" matInput type="text" formControlName="grp2TitleEn"
                (keypress)="validationMessages.allowEn($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} ">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp2TitleEn'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}</mat-label>
              <textarea class="arabicTextBox" formControlName="grp2DescriptionAr" matInput
                (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp2DescriptionAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-label>
              <textarea class="englishTextBox" matInput formControlName="grp2DescriptionEn"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}"
                (keypress)="validationMessages.allowEn($event)" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp2DescriptionEn'"></kt-error>
          </div>
        </div>
      </div>
      <!--Group 3-->
      <div class="wizardBorder">
        <p><strong>  {{ 'PAGESMODULE.APPCATALOGDEFINITION.GROUP3' | translate }}  </strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }} </mat-label>
              <input class="arabicTextBox" matInput formControlName="grp3TitleAr" type="text"
                (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }}">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp3TitleAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} </mat-label>
              <input class="englishTextBox" matInput type="text" formControlName="grp3TitleEn"
                (keypress)="validationMessages.allowEn($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} ">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp3TitleEn'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}</mat-label>
              <textarea class="arabicTextBox" formControlName="grp3DescriptionAr" matInput
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}"
                (keypress)="validationMessages.allowAr($event)" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp3DescriptionAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-label>
              <textarea class="englishTextBox" matInput formControlName="grp3DescriptionEn"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}"
                (keypress)="validationMessages.allowEn($event)" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp3DescriptionEn'"></kt-error>
          </div>
        </div>
      </div>
      <!--Group 4-->
      <div class="wizardBorder">
        <p><strong>  {{ 'PAGESMODULE.APPCATALOGDEFINITION.GROUP4' | translate }}  </strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }} </mat-label>
              <input class="arabicTextBox" matInput formControlName="grp4TitleAr" type="text"
                (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEAR' | translate }}">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp4TitleAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} </mat-label>
              <input class="englishTextBox" matInput type="text" formControlName="grp4TitleEn"
                (keypress)="validationMessages.allowEn($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.TITLEEN' | translate }} ">
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp4TitleEn'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}</mat-label>
              <textarea class="arabicTextBox" formControlName="grp4DescriptionAr" matInput
                (keypress)="validationMessages.allowAr($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp4DescriptionAr'"></kt-error>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-label>
              <textarea class="englishTextBox" matInput formControlName="grp4DescriptionEn"
                (keypress)="validationMessages.allowEn($event)"
                placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}" rows="5"></textarea>
            </mat-form-field>
            <kt-error [formName]="appCatalogDefinationForm" [fieldName]="'grp4DescriptionEn'"></kt-error>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="kt-portlet__foot">
            <div class="kt-form__actions">
              <button class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">
                {{ 'GENERALWORDS.CANCEL' | translate }}</button>
              <button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                {{ 'GENERALWORDS.SUBMIT' | translate }}
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</form>