<!--begin::Divider-->
<div class="kt-login__divider">
  <div class="kt-divider">
    <span></span>
    <span></span>
  </div>
</div>
<!--end::Divider-->
<div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-sm">
              Export to Excel
            </button>
          </div>
          <div class="col-md-6 text-right searchBlock">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilterOU($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSourceOU" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="bnBnr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.bnrefNo}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bnAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnNameAr}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="bnEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnNameEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="submissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Submission Date </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.submissionDate | date:'d/M/yyyy, h:mm a'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <strong class="kt-font-success">
                {{ this.translationService.getSelectedLanguage() =="en" ? row.statusEn : row.statusAr}}
              </strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status Date</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.statusDate | date:'d/M/yyyy'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="daysLeft">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Days Left</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.daysLeft}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <!--View Delete-->
              <div>
                <table class="editDeleteUpdate centerTable">
                  <tr>
                    <td><span matTooltip="View" [matTooltipPosition]="position.value" class="kt-font-success cursor">
                        <i class="flaticon-eye view"></i></span></td>
                    <td><span matTooltip="Certificate" [matTooltipPosition]="position.value"
                        (click)="open(certificateModal)" class="kt-font-brand cursor">
                        <i class="flaticon-file-2"></i>
                      </span>
                    </td>
                  </tr>
                </table>
              </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumnsOU"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsOU;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginatorOU [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>



<!--begin::Modal Popup for Certificate-->
<ng-template #certificateModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Certificate</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <table class="text-center certificateTable">
      <tr>
        <td colspan="3">
          <iframe src="../../../../assets/media/license-certificate.pdf" width="100%" height="500px" id="pdfFile">
          </iframe>
          <!-- <img src="../../../../assets/media/license-certificate.jpg" alt="Certificate" /> -->
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <table class="certificateTable">
          <tr>
            <td>
              <strong>
                <a href="../../../../assets/media/license-certificate.pdf" download>
                  <i class="flaticon2-download-1"></i>
                  Download
                </a>
              </strong>
            </td>
            <td><strong><i class="flaticon2-new-email"></i> Send Email</strong></td>
            <td (click)="printPDF()"><strong><i class="flaticon2-fax"></i> Print</strong></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ng-template>