<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Modify Initial Approvals
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="row applicationRefInfo">
        <div class="col-md-2">
          <p>IA No: <strong class="kt-font-danger"><span>IA-11</span></strong></p>
        </div>
        <div class="col-md-3 text-center">
          <p>BN No: <strong class="kt-font-danger"><span>BN-11</span></strong></p>
        </div>
        <div class="col-md-3 text-center">
          <p>BN Name Ar: <strong class="kt-font-danger"><span>الاسم التجاري</span></strong></p>
        </div>
        <div class="col-md-4 text-right">
          <p>BN Name En: <strong class="kt-font-danger"><span>Initial Approvals</span></strong></p>
        </div>
      </div>
      <br>

      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>
            <kt-service-details></kt-service-details>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>

                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>
                        Basic Info
                      </strong></p>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <p>UAE Citizen</p>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="eied"
                            placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
                          <mat-datepicker #eied></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Name Ar" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Father Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Father Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Grandfather Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Grandfather Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Family Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Family Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Full name En" />

                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nationality</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="number"
                            placeholder="Passport no without dashes" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="ped"
                            placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                          <mat-datepicker #ped></mat-datepicker>
                        </mat-form-field>
                      </div>

                    </div>


                  </div>
                </div>
              </div>
            </div>

            <div class="kt-section__content notes">

              <div class="row">
                <div class="col-md-12">

                  <div class="wizardBorder ">
                    <p><strong>
                        Contact Info
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Residence</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Work</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Secondary Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>


                  </div>
                </div>

              </div>
            </div>

            <div class="kt-section__content notes">

              <div class="row">
                <div class="col-md-12">

                  <div class="wizardBorder ">
                    <p><strong>
                        On Behalf Of
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>HR Code</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business Unit</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Business Unit" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Designation</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6"></div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">

              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 6-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>IA Info</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <div class="row">
                      <div class="col-md-3">
                        <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">IAM-5</span></strong></p>
                      </div>
                    </div>
                  </div>
                  <br>

                </div>
              </div>
              <div class="wizardBorder licenseInfo">
                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Main Area</mat-label>
                      <mat-select>
                        <mat-option value="option">1</mat-option>
                        <mat-option value="option">2</mat-option>
                        <mat-option value="option">3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Sub Area</mat-label>
                      <mat-select>
                        <mat-option value="option">1</mat-option>
                        <mat-option value="option">2</mat-option>
                        <mat-option value="option">3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Street</mat-label>
                      <input class="tda-form-control" matInput type="text" placeholder="Street" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Full Text Adress</mat-label>
                      <input readonly class="tda-form-control" matInput type="text"
                        placeholder="Main Area, Sub Area, Street" value="Main Area, Sub Area, Street" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Parcel ID</mat-label>
                      <input class="tda-form-control" matInput type="text" placeholder="Parcel ID" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field appearance="outline">
                      <mat-label>Submission Reason</mat-label>
                      <mat-select multiple>
                        <mat-option value="option">1</mat-option>
                        <mat-option value="option">2</mat-option>
                        <mat-option value="option">3</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-12">
                    <br>
                    <p><strong>Google Map Coordinates</strong></p>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field appearance="outline">
                      <mat-label>Longitude</mat-label>
                      <input class="tda-form-control" matInput type="number" placeholder="Longitude" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-5">
                    <mat-form-field appearance="outline">
                      <mat-label>Latitude</mat-label>
                      <input class="tda-form-control" matInput type="number" placeholder="Latitude" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-2">
                    <div class="formTableButton"> <button class="btn btn-danger btn-sm"><i
                          class="flaticon-placeholder-2"></i></button>
                    </div>
                  </div>


                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Makani No.</mat-label>
                      <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Makani No." />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Building</mat-label>
                      <input class="tda-form-control" matInput type="text" placeholder="Building" />
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field appearance="outline">
                      <mat-label>Unit</mat-label>
                      <input class="tda-form-control" matInput type="text" placeholder="Unit" />
                    </mat-form-field>
                  </div>
                </div>


              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="actionButtons">

                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->

          </form>
        </mat-step>
        <!--Step 8-->
        <mat-step [stepControl]="eighthFormGroup">
          <form [formGroup]="eighthFormGroup" class="customAttachment">
            <ng-template matStepLabel>Attachments</ng-template>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>Application Ref No: <span class="kt-font-danger kt-font-lg">IAM-5</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <!--:: begin Form Fields-->
            <div class="row">

              <!--begin:: Documents Attachments -->
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <div class="alert alert-secondary" role="alert">
                    <div class="alert-text">
                      <strong>Please attach the following documents</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <table class="attachments">
                  <tr>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                          <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                        </div>
                        <div class="form-group">
                          <!--UAE Citizen-->
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                            <label class="custom-file-label" for="emCopy">
                              {{emCopy}}
                              <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- <p>{{emCopy}}</p> -->
                    </td>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/emirates-id-card-b.jpg" alt="Emirates ID Card Back">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="embCopy" (change)="getEmbId($event)">
                            <label class="custom-file-label" for="embCopy">{{embCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/falcon-passport1.jpg" alt="Emirates Passport Copy">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="passportCopy"
                              (change)="getPassportCopy($event)">
                            <label class="custom-file-label" for="passportCopy">{{passportCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/visa-dubai-uae.jpg" alt="Emirates Visa Copy">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="visaCopy" (change)="getVisa($event)">
                            <label class="custom-file-label" for="visaCopy">{{visaCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <!--end:: Documents Attachments-->
            </div>
            <!--:: end Form Fields -->
            <br><br>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="actionButtons">

                  <button  (click)="open(happinessMeterModal)" class="btn btn-primary btn-sm">
                    Submit
                  </button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>

</div>


<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-initial-approval/initial-approvals-modification-list']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>