<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Add Individuals Stakeholder
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="row">
        <!--begin:: Radio Buttons-->
        <div class="col-md-12 text-center">
          <div class="form-group">
            <mat-radio-group [disabled]="(this.getUserById) ? true : false">
              <mat-radio-button (click)="setStakeholdersType('addNewStakeholder')" value="addNewStakeholder"
                [checked]="this.stakeHolderType=='addNewStakeholder'">
                Add New Stakeholder
              </mat-radio-button>
              &nbsp;
              <mat-radio-button (click)="setStakeholdersType('addRegisteredUserAsStakeholderForm')"
                value="addRegisteredUserAsStakeholderForm"
                [checked]="this.stakeHolderType=='addRegisteredUserAsStakeholderForm' || this.stakeHolderType=='addRegisteredUserAsStakeholder'">
                Add Registered User as Stakeholder
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>
        <!--end:: Radio Buttons-->
      </div>

      <!--begin::Divider-->
      <div class="kt-login__divider">
        <div class="kt-divider">
          <span></span>
          <span></span>
        </div>
      </div>
      <!--end::Divider-->

      <div class="mat-horizontal-content-container">
        <div class="wizardBorder"
          *ngIf="this.stakeHolderType=='addRegisteredUserAsStakeholderForm' || this.stakeHolderType=='addRegisteredUserAsStakeholder'">
          <form [formGroup]="registeredStakeholderForm" (ngSubmit)="registeredStakeholderFormSubmit()">
            <table class="stakeHoldersSearch">
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label> {{ 'GENERALWORDS.EMIRATESID' | translate }} / {{ 'GENERALWORDS.UID' | translate }}
                    </mat-label>
                    <input class="tda-form-control" matInput type="text" [textMask]="{mask: emiratesIDMask}"
                      placeholder="000-0000-0000000-0" formControlName="citizenID" />
                  </mat-form-field>
                  <kt-error [formName]="registeredStakeholderForm" [fieldName]="'citizenID'"></kt-error>
                </td>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>{{ 'GENERALWORDS.MOBILE' | translate }}</mat-label>
                    <input class="tda-form-control" matInput type="text" placeholder="00971xxxxxxx"
                      [textMask]="{mask: mobileNoMask}" formControlName="mobileNo" />
                  </mat-form-field>
                  <kt-error [formName]="registeredStakeholderForm" [fieldName]="'mobileNo'"></kt-error>
                </td>
                <td>
                  <button class="btn btn-primary btn-sm"
                    [disabled]="(this.getUserById && this.getUserById.isRegistered) ? true : false"
                    [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                    Search
                  </button>
                </td>
              </tr>
            </table>
          </form>
        </div>
      </div>
      <!--beegin:: Stepper-->
      <kt-stepper *ngIf="this.stakeHolderType=='addNewStakeholder'"></kt-stepper>
      <kt-stepper *ngIf="this.stakeHolderType=='addRegisteredUserAsStakeholder'" [userDetail]="userDetail"></kt-stepper>
      <!--end:: Stepper-->

    </div>
  </div>

</div>