<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Add Business License
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>
            <!-- <kt-service-details></kt-service-details> -->
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder licenseInfo">
                    <p><strong>
                        Basic Info
                      </strong></p>
                    <br>
                    <div class="row">
                      <div class="col-md-6">
                        <p>UAE Citizen</p>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="eied"
                            placeholder="Emirates ID  Expiry Date" (click)="eied.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="eied"></mat-datepicker-toggle>
                          <mat-datepicker #eied></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Father Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Father Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Grandfather Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Grandfather Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Family Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Family Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Full name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nationality</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="number"
                            placeholder="Passport no without dashes" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="ped"
                            placeholder="Passport Expiry Date" (click)="ped.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="ped"></mat-datepicker-toggle>
                          <mat-datepicker #ped></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        Contact Info
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Residence</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Work</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Secondary Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        On Behalf Of
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>HR Code</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business Unit</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Business Unit" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Designation</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 3-->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel> IA </ng-template>

            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <!--Material DataTable Section-->
                    <div class="kt-section margin-bottom-zero">
                      <div class="example-header">
                        <div class="row">
                          <div class="col-md-9">

                          </div>
                          <div class="col-md-3 text-right">
                            <mat-form-field>
                              <input class="tda-form-control" matInput (keyup)="applyFilter8($event.target.value)"
                                placeholder="Search">
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                      <!--begin: Datatable -->
                      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                        <mat-table matSort [dataSource]="dataSource8" class="tdaMetronicBorderedTable">
                          <ng-container matColumnDef="iaAppNo">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> IA/APP No </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <a [routerLink]=""><strong
                                  [ngClass]=" (row.iaAppNo =='Draft' ? 'kt-font-brand' : '') + '' + (row.iaAppNo =='Submitted' ? 'kt-font-success' : '') ">
                                  {{row.iaAppNo}}</strong>
                              </a>
                            </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="bnAr">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.bnAr}} </mat-cell>
                          </ng-container>



                          <ng-container matColumnDef="bnEn">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
                            <mat-cell *matCellDef="let row"> {{row.bnEn}} </mat-cell>
                          </ng-container>

                          <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <strong
                                [ngClass]=" (row.status =='Approved' ? 'kt-font-brand' : '') + '' + (row.status =='Submitted' ? 'kt-font-success' : '') + '' + (row.status =='Draft' ? 'kt-font-danger' : '') + '' + (row.status =='Returned' ? 'kt-font-danger' : '') ">
                                {{row.status}} </strong>
                            </mat-cell>
                          </ng-container>


                          <ng-container matColumnDef="daysLeft">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Days Left</mat-header-cell>
                            <mat-cell *matCellDef="let row">
                              <span *ngIf="row.daysLeft =='10'" class="btn btn-sm btn-no-cursor btn-red">
                                {{row.daysLeft}}</span>
                              <span *ngIf="row.daysLeft !='10'"> {{row.daysLeft}}</span>
                            </mat-cell>
                          </ng-container>
                          <ng-container matColumnDef="editView">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                            <mat-cell *matCellDef="let row" [style.color]="row.color">
                              <mat-radio-button value="New">
                              </mat-radio-button>
                            </mat-cell>
                          </ng-container>
                          <mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
                          <mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
                        </mat-table>
                        <mat-paginator #matPaginator8 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                      </div>
                    </div>
                    <!--end: Datatable -->
                  </div>
                </div>
              </div>
            </div>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 6-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>BL Info</ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <table>
                      <tr>
                        <td>
                          <p><strong>BLN #: <span class="kt-font-danger kt-font-lg">BLN-5</span></strong></p>
                        </td>
                        <td>
                          <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                        </td>
                        <td>
                          <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                        </td>
                        <td>
                          <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                        </td>
                        <td>
                          <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                        </td>
                      </tr>
                    </table>
                  </div>
                  <br>
                  <div class="kt-section__content notes">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>Address/Location</strong></p>
                      <div class="row">
                        <!--begin:: Radio Buttons-->
                        <div class="col-md-12">
                          <mat-radio-group>
                            <div class="row">
                              <div class="col-md-4">
                                <mat-radio-button checked (click)="setRadioButtonCondition(1)" value="Lease Contract">
                                  Lease Contract</mat-radio-button>
                              </div>
                              <div class="col-md-4">
                                <mat-radio-button (click)="setRadioButtonCondition(2)" value="Ownership">
                                  Ownership </mat-radio-button>
                              </div>

                            </div>
                          </mat-radio-group>
                          <br>
                          <!--begin::Divider-->
                          <div class="kt-login__divider">
                            <div class="kt-divider">
                              <span></span>
                              <span></span>
                            </div>
                          </div>
                          <!--end::Divider-->
                          <br>
                        </div>
                      </div>
                      <!--end:: Radio Buttons-->
                      <!--Lease Contract-->
                      <div class="leaseContract" [ngClass]="radioButtonCondition==1?'activeID':'notActiveID'">
                        <div class="row">
                          <div class="col-md-6">

                            <mat-form-field appearance="outline">
                              <mat-label>Start Date</mat-label>
                              <input matInput [matDatepicker]="dateFrom1" placeholder="Start Date"
                                (click)="dateFrom1.open()" readonly>
                              <mat-datepicker-toggle matSuffix [for]="dateFrom1"></mat-datepicker-toggle>
                              <mat-datepicker #dateFrom1></mat-datepicker>
                            </mat-form-field>

                          </div>
                          <div class="col-md-6">

                            <mat-form-field appearance="outline">
                              <mat-label>End Date</mat-label>
                              <input matInput [matDatepicker]="dateTo2" placeholder="End Date" (click)="dateTo2.open()"
                                readonly>
                              <mat-datepicker-toggle matSuffix [for]="dateTo2"></mat-datepicker-toggle>
                              <mat-datepicker #dateTo2></mat-datepicker>
                            </mat-form-field>

                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Building Name</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Building Name" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Annual Rate</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Annual Rate" />
                            </mat-form-field>
                          </div>



                        </div>
                      </div>

                      <!--Ownership-->

                      <div class="ownerShip" [ngClass]="radioButtonCondition==2?'activeID':'notActiveID'">
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Ownership No</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Ownership No" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Site Plan Link </mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="Site Plan Link" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Ownership Certificate</mat-label>
                              <input class="tda-form-control" matInput type="text"
                                placeholder="Ownership Certificate" />
                            </mat-form-field>
                          </div>

                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Annual Rate Equivalent</mat-label>
                              <input class="tda-form-control" matInput type="text"
                                placeholder="Annual Rate Equivalent" />
                            </mat-form-field>
                          </div>

                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Building No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Building No" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Unit No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Unit No" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Landlord Owner</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Emirates ID" />
                          </mat-form-field>
                        </div>

                      </div>

                    </div>
                  </div>
                  <div class="kt-section__content notes">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>License Master Data</strong></p>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>License No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="License No" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>CBLS No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="CBLS No" />
                          </mat-form-field>
                        </div>

                        <div class="col-md-6">

                          <mat-form-field appearance="outline">
                            <mat-label>Issue Date</mat-label>
                            <input matInput [matDatepicker]="dateFrom4" placeholder="Issue Date"
                              (click)="dateFrom4.open()" readonly>
                            <mat-datepicker-toggle matSuffix [for]="dateFrom4"></mat-datepicker-toggle>
                            <mat-datepicker #dateFrom4></mat-datepicker>
                          </mat-form-field>

                        </div>
                        <div class="col-md-6">

                          <mat-form-field appearance="outline">
                            <mat-label>Expiry Date</mat-label>
                            <input matInput [matDatepicker]="dateTo5" placeholder="Expiry Date" (click)="dateTo5.open()"
                              readonly>
                            <mat-datepicker-toggle matSuffix [for]="dateTo5"></mat-datepicker-toggle>
                            <mat-datepicker #dateTo5></mat-datepicker>
                          </mat-form-field>

                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Business License Period</mat-label>
                            <mat-select>
                              <mat-option value="option">1 Year</mat-option>
                              <mat-option value="option">2 Years</mat-option>
                              <mat-option value="option">3 Years</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Chamber Member No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Chamber Member No" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Commercial Registry No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Commercial Registry No" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>TRN No</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="TRN No" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="kt-section__content notes">
                    <div class="wizardBorder licenseInfo">
                      <p><strong>License Contact Details</strong></p>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Landline</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Landline" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Mobile</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="Mobile" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>P.O Box</mat-label>
                            <input class="tda-form-control" matInput type="text" placeholder="P.O Box" />
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <mat-form-field appearance="outline">
                            <mat-label>Email</mat-label>
                            <input class="tda-form-control" matInput type="email" placeholder="Email" />
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>

        <!--Step 8-->
        <mat-step [stepControl]="eighthFormGroup">
          <form [formGroup]="eighthFormGroup" class="customAttachment">
            <ng-template matStepLabel>Attachments</ng-template>
            <div class="row">
              <div class="col-md-12"><button class="btn btn-primary btn-sm">
                  View BN Info</button>
                &nbsp;
                <button class="btn btn-primary btn-sm">View IA Info</button>
              </div>
            </div>
            <br>
            <div class="applicationRefInfo">
              <table>
                <tr>
                  <td>
                    <p><strong>BLN #: <span class="kt-font-danger kt-font-lg">BLN-5</span></strong></p>
                  </td>
                  <td>
                    <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                  </td>
                  <td>
                    <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                  </td>
                  <td>
                    <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                  </td>
                  <td>
                    <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                  </td>
                </tr>
              </table>
            </div>
            <br>
            <div class="row">

              <!--begin:: Documents Attachments -->
              <div class="col-md-12 text-center">
                <div class="form-group">
                  <div class="alert alert-secondary" role="alert">
                    <div class="alert-text">
                      <strong>Please attach the following documents</strong>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <table class="attachments">
                  <tr>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                          <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                        </div>
                        <div class="form-group">
                          <!--UAE Citizen-->
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                            <label class="custom-file-label" for="emCopy">
                              {{emCopy}}
                              <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- <p>{{emCopy}}</p> -->
                    </td>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/emirates-id-card-b.jpg" alt="Emirates ID Card Back">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="embCopy" (change)="getEmbId($event)">
                            <label class="custom-file-label" for="embCopy">{{embCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/falcon-passport1.jpg" alt="Emirates Passport Copy">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="passportCopy"
                              (change)="getPassportCopy($event)">
                            <label class="custom-file-label" for="passportCopy">{{passportCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="customAttImg">
                        <div class="text-center attachmentsThumbnail">
                          <img src="../../../assets/media/visa-dubai-uae.jpg" alt="Emirates Visa Copy">

                        </div>
                        <div class="form-group">
                          <div class="custom-file">
                            <input type="file" class="custom-file-input" id="visaCopy" (change)="getVisa($event)">
                            <label class="custom-file-label" for="visaCopy">{{visaCopy}}</label>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
              <!--end:: Documents Attachments-->
            </div>
            <br><br>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button type="button" (click)="open(happinessMeterModal)"
                    class="btn btn-primary btn-sm">Submit</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>


      </mat-horizontal-stepper>
    </div>
  </div>

</div>

<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-business-license/business-license']"
          (click)="modal.dismiss('Cross click')" aria-label="Close"
          class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>