<!--begin: Quick actions -->
<div ngbDropdown placement="bottom-right" autoClose="outside" class="kt-header__topbar-item">
	<div ngbDropdownToggle class="kt-header__topbar-wrapper">

		<span matTooltip="Share" class="kt-header__topbar-icon" [ngClass]="{ 'kt-header__topbar-icon--warning': iconType === 'warning' }" *ngIf="userID == masterUserId">
			<img class="shareAbleIcon" src="../../../../../../assets/media/shareIcon.svg" alt="Share">
		</span>
	</div>
	<div ngbDropdownMenu
		class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround">
		<ul class="shareAbleLink">
			<li (click)="openReviewAttachmentDialog()" ><a>
				{{ 'GENERALWORDS.SHAREREGISTRATION' | translate }}
				</a></li>
			<li (click)="openReviewAttachmentDialog()"><a>
				{{ 'GENERALWORDS.SHARELOGINURL' | translate }}
				</a></li>
		</ul>
	</div>
</div>
<!--end: Quick actions -->
