<form class="tda-form" [formGroup]="holidayForm" (ngSubmit)="holidayFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{'PAGESMODULE.PUBLICHOLIDAYS.MPH' | translate}}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label> {{'PAGESMODULE.PUBLICHOLIDAYS.PH' | translate}}</mat-label>
                  <mat-select formControlName="titleId">
                    <mat-option *ngFor="let type of holidays | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="holidayForm" [fieldName]="'titleId'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}</mat-label>
                  <input matInput [matDatepicker]="dateFrom3" formControlName="fromDate"
                    placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Datefrom' | translate}}" (click)="dateFrom3.open()"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateFrom3"></mat-datepicker-toggle>
                  <mat-datepicker #dateFrom3></mat-datepicker>
                </mat-form-field>
                <kt-error [formName]="holidayForm" [fieldName]="'fromDate'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}</mat-label>
                  <input matInput [matDatepicker]="dateTo3" formControlName="toDate"
                    placeholder="{{'PAGESMODULE.LOGINLOGUTHISTORY.Dateto' | translate}}" (click)="dateTo3.open()"
                    readonly>
                  <mat-datepicker-toggle matSuffix [for]="dateTo3"></mat-datepicker-toggle>
                  <mat-datepicker #dateTo3></mat-datepicker>
                </mat-form-field>
                <kt-error [formName]="holidayForm" [fieldName]="'toDate'"></kt-error>
              </div>

              <!-- <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Title Ar</mat-label>
                  <input class="arabicTextBox" matInput formControlName="titleAr" placeholder="Title Ar" type="text">
                </mat-form-field>
                <kt-error [formName]="holidayForm" [fieldName]="'titleAr'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>Title En</mat-label>
                  <input matInput placeholder="Title En" formControlName="titleEn" type="text">
                </mat-form-field>
                <kt-error [formName]="holidayForm" [fieldName]="'titleEn'"></kt-error>
              </div> -->

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]=true> {{ 'GENERALWORDS.ACTIVE' | translate }}</mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]=false> {{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <button [routerLink]="['/pages/admin/public-holidays']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>

            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>