<mat-tab-group>
  <!--begin:: BL Info-->
  <mat-tab label="BL Info">
    <div class="kt-section__content notes">
      <div class="wizardBorder licenseInfo">
        <p><strong>Address/Location</strong></p>
        <div class="row">
          <!--begin:: Radio Buttons-->
          <div class="col-md-12">
            <mat-radio-group>
              <div class="row">
                <div class="col-md-4">
                  <mat-radio-button checked (click)="setRadioButtonCondition(1)" value="Lease Contract">
                    Lease Contract</mat-radio-button>
                </div>
                <div class="col-md-4">
                  <mat-radio-button (click)="setRadioButtonCondition(2)" value="Ownership">
                    Ownership </mat-radio-button>
                </div>

              </div>
            </mat-radio-group>
            <br>
            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <!--end::Divider-->
            <br>
          </div>
        </div>
        <!--end:: Radio Buttons-->
        <!--Lease Contract-->
        <div class="leaseContract" [ngClass]="radioButtonCondition==1?'activeID':'notActiveID'">
          <div class="row">
            <div class="col-md-6">

              <mat-form-field appearance="outline">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="dateFrom1" placeholder="Start Date" (click)="dateFrom1.open()"
                  readonly>
                <mat-datepicker-toggle matSuffix [for]="dateFrom1"></mat-datepicker-toggle>
                <mat-datepicker #dateFrom1></mat-datepicker>
              </mat-form-field>

            </div>
            <div class="col-md-6">

              <mat-form-field appearance="outline">
                <mat-label>End Date</mat-label>
                <input matInput [matDatepicker]="dateTo2" placeholder="End Date" (click)="dateTo2.open()" readonly>
                <mat-datepicker-toggle matSuffix [for]="dateTo2"></mat-datepicker-toggle>
                <mat-datepicker #dateTo2></mat-datepicker>
              </mat-form-field>

            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Building Name</mat-label>
                <input class="tda-form-control" matInput type="text" placeholder="Building Name" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Annual Rate</mat-label>
                <input class="tda-form-control" matInput type="text" placeholder="Annual Rate" />
              </mat-form-field>
            </div>



          </div>
        </div>

        <!--Ownership-->

        <div class="ownerShip" [ngClass]="radioButtonCondition==2?'activeID':'notActiveID'">
          <div class="row">
            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Ownership No</mat-label>
                <input class="tda-form-control" matInput type="text" placeholder="Ownership No" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Site Plan Link </mat-label>
                <input class="tda-form-control" matInput type="text" placeholder="Site Plan Link" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Ownership Certificate</mat-label>
                <input class="tda-form-control" matInput type="text" placeholder="Ownership Certificate" />
              </mat-form-field>
            </div>

            <div class="col-md-6">
              <mat-form-field appearance="outline">
                <mat-label>Annual Rate Equivalent</mat-label>
                <input class="tda-form-control" matInput type="text" placeholder="Annual Rate Equivalent" />
              </mat-form-field>
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Building No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Building No" />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Unit No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Unit No" />
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Landlord Owner</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Emirates ID" />
            </mat-form-field>
          </div>

        </div>

      </div>
    </div>
    <div class="kt-section__content notes">
      <div class="wizardBorder licenseInfo">
        <p><strong>License Master Data</strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>License No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="License No" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>CBLS No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="CBLS No" />
            </mat-form-field>
          </div>

          <div class="col-md-6">

            <mat-form-field appearance="outline">
              <mat-label>Issue Date</mat-label>
              <input matInput [matDatepicker]="dateFrom4" placeholder="Issue Date" (click)="dateFrom4.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="dateFrom4"></mat-datepicker-toggle>
              <mat-datepicker #dateFrom4></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="col-md-6">

            <mat-form-field appearance="outline">
              <mat-label>Expiry Date</mat-label>
              <input matInput [matDatepicker]="dateTo5" placeholder="Expiry Date" (click)="dateTo5.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="dateTo5"></mat-datepicker-toggle>
              <mat-datepicker #dateTo5></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Business License Period</mat-label>
              <mat-select>
                <mat-option value="option">1 Year</mat-option>
                <mat-option value="option">2 Years</mat-option>
                <mat-option value="option">3 Years</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Chamber Member No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Chamber Member No" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Commercial Registry No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Commercial Registry No" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>TRN No</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="TRN No" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="kt-section__content notes">
      <div class="wizardBorder licenseInfo">
        <p><strong>License Contact Details</strong></p>
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Landline</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Landline" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Mobile</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="Mobile" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>P.O Box</mat-label>
              <input class="tda-form-control" matInput type="text" placeholder="P.O Box" />
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input class="tda-form-control" matInput type="email" placeholder="Email" />
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
  <!--end:: BL Info-->
  <!--begin:: Attachments-->
  <mat-tab label="Attachments">

    <!--:: begin Form Fields-->
    <div class="row">
      <div class="col-md-12"><br><br></div>
      <!--begin:: Documents Attachments -->
      <div class="col-md-12 text-center">
        <div class="form-group">
          <div class="alert alert-secondary" role="alert">
            <div class="alert-text">
              <strong>Please attach the following documents</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <br><br>
        <div class="customAttachment">
          <table class="attachments">
            <tr>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                    <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                  </div>
                  <div class="form-group">
                    <!--UAE Citizen-->
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                      <label class="custom-file-label" for="emCopy">
                        {{emCopy}}
                        <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                      </label>
                    </div>
                  </div>
                </div>
                <!-- <p>{{emCopy}}</p> -->
              </td>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/emirates-id-card-b.jpg" alt="Emirates ID Card Back">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="embCopy" (change)="getEmbId($event)">
                      <label class="custom-file-label" for="embCopy">{{embCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/falcon-passport1.jpg" alt="Emirates Passport Copy">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="passportCopy" (change)="getPassportCopy($event)">
                      <label class="custom-file-label" for="passportCopy">{{passportCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/visa-dubai-uae.jpg" alt="Emirates Visa Copy">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="visaCopy" (change)="getVisa($event)">
                      <label class="custom-file-label" for="visaCopy">{{visaCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <!--end:: Documents Attachments-->
    </div>
    <!--:: end Form Fields -->
  </mat-tab>
  <!--end:: Attachments-->

</mat-tab-group>