<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        View Modified BL
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <div class="kt-section">
      <button (click)="openBusinessLicenseSubmit()" class="btn btn-primary btn-sm">View Submitted Request</button>
      &nbsp;
      <button class="btn btn-primary btn-sm">View IA Info</button>
      &nbsp;
      <button class="btn btn-primary btn-sm">View BN Info</button>
      &nbsp;
      <button class="btn btn-primary btn-sm">View Actions</button>
      <br><br>
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstFormGroup">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel class="'first-stepper'">Submitter Info</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BLN #: <span class="kt-font-danger kt-font-lg">BLN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->

            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->
            <!--::begin form fields-->
            <div class="kt-section__content notes">
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder licenseInfo">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-radio-button value="UAE Citizen" checked>UAE Citizen </mat-radio-button>
                      </div>
                      <div class="col-md-6"></div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID</mat-label>
                          <input class="tda-form-control" disabled matInput type="number" placeholder="Emirates ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Emirates ID Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="emiexpiryDateSubmitterInfo"
                            placeholder="Emirates ID Expiry Date" (click)="emiexpiryDateSubmitterInfo.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="emiexpiryDateSubmitterInfo" SubmitterInfo>
                          </mat-datepicker-toggle>
                          <mat-datepicker #emiexpiryDateSubmitterInfo></mat-datepicker>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Name Ar" />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Father Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Father Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Grandfather Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Grandfather Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Family Name Ar</mat-label>
                          <input class="tda-form-control arabicTextBox" disabled matInput type="text"
                            placeholder="Family Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Full name En" />

                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Nationality</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="number"
                            placeholder="Passport no without dashes" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Passport Expiry Date</mat-label>
                          <input disabled class="tda-form-control" matInput [matDatepicker]="pedSubmitterInfo"
                            placeholder="Passport Expiry Date" (click)="pedSubmitterInfo.open()" readonly>
                          <mat-datepicker-toggle matSuffix [for]="pedSubmitterInfo"></mat-datepicker-toggle>
                          <mat-datepicker #pedSubmitterInfo></mat-datepicker>
                        </mat-form-field>
                      </div>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="wizardBorder ">
                    <p><strong>
                        Contact Info
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Residence</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Residence" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Phone Work</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Phone Work" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Secondary Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="00971xxxxxxx" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Fax No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Title" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">

                  <div class="wizardBorder ">
                    <p><strong>
                        On Behalf Of
                      </strong></p>
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name Ar</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name Ar" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Name En</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Name En" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>HR Code</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="HR Code" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Business Unit</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Business Unit" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Designation</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Designation" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Email</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Email" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Mobile No.</mat-label>
                          <input class="tda-form-control" disabled matInput type="text" placeholder="Mobile No." />
                        </mat-form-field>
                      </div>

                      <div class="col-md-6"></div>
                    </div>


                  </div>
                </div>

              </div>
            </div>
            <!--::end form fields-->
            <!--begin:: footer -->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm"
                    [routerLink]="['/pages/business-license/manage-business-license']">Back</button>
                </div>
              </div>
            </div>
            <!--end:: footer -->
          </form>
        </mat-step>

        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel> Status </ng-template>
            <br>
            <div class="applicationRefInfo">
              <table>
                <tr>
                  <td>
                    <p><strong>BLN #: <span class="kt-font-danger kt-font-lg">BLN-5</span></strong></p>
                  </td>
                  <td>
                    <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                  </td>
                  <td>
                    <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                  </td>
                  <td>
                    <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                  </td>
                  <td>
                    <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                  </td>
                </tr>
              </table>
            </div>
            <br>
            <div class="kt-section__content notes tabGroups">
              <mat-tab-group>
                <!--Blocking Status-->
                <mat-tab label="Blocking Status">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Active</p>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Blocked</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <mat-radio-group>
                        <div class="row">
                          <div class="col-md-4">
                            <mat-radio-button checked value="Full Block" (click)="partialValue(0)">
                              Full Block</mat-radio-button>
                          </div>
                          <div class="col-md-4">
                            <mat-radio-button value="Partial Block" (click)="partialValue(1)">
                              Partial Block</mat-radio-button>
                          </div>
                        </div>
                      </mat-radio-group>
                    </div>
                    <div class="col-md-12"><br>
                      <!--begin::Divider-->
                      <div class="kt-login__divider">
                        <div class="kt-divider">
                          <span></span>
                          <span></span>
                        </div>
                      </div>
                      <!--end::Divider-->
                      <br>
                    </div>
                  </div>

                  <div class="row" *ngIf="partial == 1">
                    <div class="col-md-6">

                      <mat-form-field appearance="outline">
                        <mat-label>Till Date</mat-label>
                        <input disabled matInput [matDatepicker]="tillDate" placeholder="Till Date"
                          (click)="tillDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="tillDate"></mat-datepicker-toggle>
                        <mat-datepicker #tillDate></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <p class="text-danger"><br><br><strong>3 Days are left to unblock</strong></p>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked by Entity</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked Reasons</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Suspension Status">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Active</p>
                        </div>
                      </div>
                      <br>
                      <div class="alert alert-solid-danger alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your <strong>Business License</strong> is Suspended</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>Start Date</mat-label>
                        <input disabled matInput [matDatepicker]="suspendedStartDate" placeholder="Start Date"
                          (click)="suspendedStartDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="suspendedStartDate"></mat-datepicker-toggle>
                        <mat-datepicker #suspendedStartDate></mat-datepicker>
                      </mat-form-field>

                    </div>
                    <div class="col-md-6">
                      <mat-form-field appearance="outline">
                        <mat-label>End Date</mat-label>
                        <input disabled matInput [matDatepicker]="suspendedEndDate" placeholder="End Date"
                          (click)="suspendedEndDate.open()" readonly>
                        <mat-datepicker-toggle matSuffix [for]="suspendedEndDate"></mat-datepicker-toggle>
                        <mat-datepicker #suspendedEndDate></mat-datepicker>
                      </mat-form-field>

                    </div>

                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked by Entity</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Govt Entity Name
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>Blocked Reasons</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <mat-list role="list">
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                          <mat-list-item role="listitem">
                            <mat-checkbox [disabled]="disableSelect" [checked]="checkedBLS" class="blsCheckbox"
                              [color]="'primary'">
                              Reason
                            </mat-checkbox>
                          </mat-list-item>
                        </mat-list>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <p class="text-danger"><strong>3 Days are left to release suspension.</strong></p>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Inspection Notes">
                  <br><br>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>No <strong>Inspection Notes</strong> Found</p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="alert alert-solid-success alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Your action requried as per <strong>Inspection Notes</strong></p>
                        </div>
                      </div>
                    </div>
                    <br>
                    <div class="col-md-12">
                      <div class="alert alert-solid-warning alert-bold" role="alert">
                        <div class="alert-text">
                          <p>Temp till inspection module is completed</p>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table [dataSource]="dataSource7" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="reportNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Report No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.reportNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="action">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.action}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="relatedDocs">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Related Docs </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.relatedDocs}} </mat-cell>
                        </ng-container>



                        <ng-container matColumnDef="pending">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pending </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.pending}} </mat-cell>
                        </ng-container>




                        <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
                <mat-tab label="Violations">
                  <br><br>
                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter8($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table [dataSource]="dataSource8" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="refNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.refNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="type">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Type</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descAr">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Description Ar </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.descAr}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="descEn">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Description En </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.descEn}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fineAmount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="dueDate">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Due Date </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.dueDate}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payLinks">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
                          <mat-cell *matCellDef="let row"> <a href="javascript:;">{{row.payLinks}}</a></mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns8"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns8;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator8 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
                <mat-tab label="Govt Entities Notes">
                  <br><br>
                  <!--Material DataTable Section-->
                  <div class="kt-section margin-bottom-zero">
                    <div class="example-header">
                      <div class="row">
                        <div class="col-md-9">
                        </div>
                        <div class="col-md-3 text-right">
                          <mat-form-field>
                            <input class="tda-form-control" matInput (keyup)="applyFilter9($event.target.value)"
                              placeholder="Search">
                          </mat-form-field>
                        </div>
                      </div>
                    </div>
                    <!--begin: Datatable -->
                    <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                      <mat-table [dataSource]="dataSource9" class="tdaMetronicBorderedTable">
                        <ng-container matColumnDef="refNo">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Ref No </mat-header-cell>
                          <mat-cell *matCellDef="let row">
                            <strong> {{row.refNo}}</strong>
                          </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="govtEntity">
                          <mat-header-cell *matHeaderCellDef mat-sort-header>Govt Entity</mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.govtEntity}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="notesAr">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Notes Ar </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.notesAr}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="notesEn">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Notes En </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.notesEn}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fineAmount">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Fine Amount </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{row.fineAmount}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="payLinks">
                          <mat-header-cell *matHeaderCellDef mat-sort-header> Pay Links </mat-header-cell>
                          <mat-cell *matCellDef="let row"> <a href="javascript:;">{{row.payLinks}}</a> </mat-cell>
                        </ng-container>


                        <mat-header-row *matHeaderRowDef="displayedColumns9"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns9;"></mat-row>
                      </mat-table>
                      <mat-paginator #matPaginator9 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                  </div>
                  <!--end: Datatable -->
                </mat-tab>
              </mat-tab-group>
            </div>
            <!--:: begin Footer-->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" matStepperNext>Next</button>
                  <br>
                  <button matStepperPrevious class="btn btn-danger btn-sm">Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>

        <!--Step 3-->
        <mat-step [stepControl]="thirdFormGroup">
          <form [formGroup]="thirdFormGroup">
            <ng-template matStepLabel>BL Info</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->


            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->

            <!--:: begin Form Fields-->
            <div class="wizardBorder licenseInfo">
              <mat-tab-group>
                <mat-tab label="Application Info">
                  <!--Application Info-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>
                            Previous Application Info
                          </strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>BN Type</mat-label>
                              <mat-select>
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>Legal Type</mat-label>
                              <mat-select>
                                <mat-option value="option">1</mat-option>
                                <mat-option value="option">2</mat-option>
                                <mat-option value="option">3</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder licenseInfo">
                        <p><strong>
                            Modified Application Info
                          </strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>BN Type</mat-label>
                                    <mat-select>
                                      <mat-option value="option">1</mat-option>
                                      <mat-option value="option">2</mat-option>
                                      <mat-option value="option">3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>
                          </div>



                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>Legal Type</mat-label>
                                    <mat-select>
                                      <mat-option value="option">1</mat-option>
                                      <mat-option value="option">2</mat-option>
                                      <mat-option value="option">3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Business Activity">
                  <!--Business Activity-->
                  <div class="row">
                    <div class="col-md-12">
                      <!--Material DataTable Section-->
                      <div class="kt-section">
                        <div class="example-header">
                          <div class="row">
                            <div class="col-md-9">

                            </div>

                            <div class="col-md-3 text-right">
                              <mat-form-field>
                                <input class="tda-form-control" matInput (keyup)="applyFilter6($event.target.value)"
                                  placeholder="Search">
                              </mat-form-field>
                            </div>
                          </div>

                        </div>
                        <!--begin: Datatable -->
                        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                          <mat-table [dataSource]="dataSource6" class="tdaMetronicBorderedTable">


                            <ng-container matColumnDef="isic4">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> ISIC4 # </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="arDescription">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.arDescription}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="enDescription">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.enDescription}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="activityGroup">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.activityGroup}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="editView">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                              <mat-cell *matCellDef="let row">
                                <strong
                                  [ngClass]=" (row.editView =='Deleted' ? 'kt-font-danger' : '') + '' + (row.editView =='Added' ? 'kt-font-success' : '') ">
                                  <span>{{row. editView}}</span>
                                </strong>
                                &nbsp;&nbsp;
                                <mat-checkbox class="blsCheckbox" [color]="'primary'"> </mat-checkbox>

                              </mat-cell>
                            </ng-container>
                            <mat-header-row *matHeaderRowDef="displayedColumns6"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns6;"></mat-row>
                          </mat-table>
                          <mat-paginator #matPaginator6 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                      </div>
                      <!--end: Datatable -->


                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Busineass Names">
                  <!--Business Name-->
                  <div class="row">
                    <div class="col-md-6">
                      <div class="wizardBorder">
                        <p><strong>
                            Previous Business Name
                          </strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>BN 1 Arabic</mat-label>
                              <input class="tda-form-control arabicTextBox" matInput type="text"
                                placeholder="BN 1 Arabic" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>BN 1 English</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="BN 1 English" />
                            </mat-form-field>
                          </div>


                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>BN 2 Arabic</mat-label>
                              <input class="tda-form-control arabicTextBox" matInput type="text"
                                placeholder="BN 2 Arabic" />
                            </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field appearance="outline">
                              <mat-label>BN 2 English</mat-label>
                              <input class="tda-form-control" matInput type="text" placeholder="BN 2 English" />
                            </mat-form-field>
                          </div>

                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="wizardBorder licenseInfo">
                        <p><strong>
                            Modified Business Name
                          </strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <br>
                        <div class="row">
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>BN 1 Arabic</mat-label>
                                    <input class="tda-form-control arabicTextBox" matInput type="text"
                                      placeholder="BN 1 Arabic" />
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>
                          </div>
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>BN 1 English</mat-label>
                                    <input class="tda-form-control" matInput type="text" placeholder="BN 1 English" />
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>
                          </div>
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>BN 2 Arabic</mat-label>
                                    <input class="tda-form-control arabicTextBox" matInput type="text"
                                      placeholder="BN 2 Arabic" />
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>
                          </div>
                          <div class="col-md-6">
                            <table class="reviewAttachments">
                              <tr>
                                <td>
                                  <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                  </mat-checkbox>

                                </td>
                                <td>
                                  <mat-form-field appearance="outline">
                                    <mat-label>BN 2 English</mat-label>
                                    <input class="tda-form-control" matInput type="text" placeholder="BN 2 English" />
                                  </mat-form-field>
                                </td>
                              </tr>

                            </table>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Stakeholders Info">
                  <!--Stakeholders-->
                  <div class="row">
                    <div class="col-md-12">
                      <!--Material DataTable Section-->
                      <div class="kt-section">
                        <div class="example-header">
                          <div class="row">
                            <div class="col-md-9">

                            </div>

                            <div class="col-md-3 text-right">
                              <mat-form-field>
                                <input class="tda-form-control" matInput (keyup)="applyFilter5($event.target.value)"
                                  placeholder="Search">
                              </mat-form-field>
                            </div>
                          </div>

                        </div>
                        <!--begin: Datatable -->
                        <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
                          <mat-table [dataSource]="dataSource5" class="tdaMetronicBorderedTable">


                            <ng-container matColumnDef="orderNo">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Order No </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.orderNo}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="type">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="relationship">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.relationship}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="nameAr">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Name Ar </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="nameEn">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="share">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Share % </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.share}} </mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="registered">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
                              <mat-cell *matCellDef="let row"> {{row.registered}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="editView">
                              <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
                              <mat-cell *matCellDef="let row">

                                <strong
                                  [ngClass]=" (row.editView =='Deleted' ? 'kt-font-danger' : '') + '' + (row.editView =='Added' ? 'kt-font-success' : '') ">
                                  <span>{{row. editView}}</span>
                                </strong>
                                &nbsp;&nbsp;
                                <span matTooltip="View" [matTooltipPosition]="position.value"
                                  class="kt-font-success cursor"> <i class="flaticon-eye view"></i></span>
                                &nbsp;&nbsp;
                                <mat-checkbox class="blsCheckbox" [color]="'primary'"> </mat-checkbox>
                              </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns5"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns5;"></mat-row>
                          </mat-table>
                          <mat-paginator #matPaginator5 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                        </div>
                      </div>
                      <!--end: Datatable -->


                    </div>
                  </div>
                </mat-tab>
                <mat-tab label="Attachments">
                  <div class="row">

                    <div class="col-md-6 ">
                      <div class="wizardBorder">
                        <p><strong>Previous Attachment</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <br>
                        <table class="reviewAttachments">
                          <tr>

                            <td>
                              <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                            </td>
                          </tr>
                          <tr>

                            <td> Passport Copy</td>
                          </tr>
                          <tr>

                            <td> Resident Visa Copy</td>
                          </tr>
                          <tr>

                            <td> GCC ID Copy</td>
                          </tr>
                          <tr>

                            <td>Business License Copy</td>
                          </tr>
                          <tr>

                            <td> Emirates</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                    <div class="col-md-6 ">
                      <div class="wizardBorder">
                        <p><strong>Modified Attachment</strong></p>
                        <!--begin::Divider-->
                        <div class="kt-login__divider">
                          <div class="kt-divider">
                            <span></span>
                            <span></span>
                          </div>
                        </div>
                        <!--end::Divider-->
                        <br>
                        <table class="reviewAttachments">
                          <tr>
                            <td>
                              <mat-checkbox class="blsCheckbox" [color]="'primary'">

                              </mat-checkbox>

                            </td>
                            <td>
                              <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <mat-checkbox class="blsCheckbox" [color]="'primary'">

                              </mat-checkbox>
                            </td>
                            <td> Passport Copy</td>
                          </tr>
                          <tr>
                            <td>
                              <mat-checkbox class="blsCheckbox" [color]="'primary'">

                              </mat-checkbox>
                            </td>
                            <td> Resident Visa Copy</td>
                          </tr>
                          <tr>
                            <td>
                              <mat-checkbox class="blsCheckbox" [color]="'primary'">

                              </mat-checkbox>
                            </td>
                            <td> GCC ID Copy</td>
                          </tr>
                          <tr>
                            <td>
                              <mat-checkbox class="blsCheckbox" [color]="'primary'">

                              </mat-checkbox>
                            </td>
                            <td>Business License Copy</td>
                          </tr>
                          <tr>
                            <td>
                              <mat-checkbox class="blsCheckbox" [color]="'primary'">

                              </mat-checkbox>
                            </td>
                            <td> Emirates</td>
                          </tr>
                        </table>
                      </div>
                    </div>

                  </div>
                </mat-tab>
              </mat-tab-group>
            </div>

            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>
        <!--Step 4-->
        <mat-step [stepControl]="fourthFormGroup">
          <form [formGroup]="fourthFormGroup">
            <ng-template matStepLabel>IA Info</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->
            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->
            <!--content-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <!--Tabbased-->
                <mat-tab-group>

                  <mat-tab label="IA Info">
                    <div class="kt-section__content notes">

                      <div class="row">
                        <div class="col-md-6">
                          <div class="wizardBorder">
                            <p><strong>
                                Previous IA Info
                              </strong></p>
                            <!--begin::Divider-->
                            <div class="kt-login__divider">
                              <div class="kt-divider">
                                <span></span>
                                <span></span>
                              </div>
                            </div>
                            <!--end::Divider-->
                            <br>
                            <div>
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Main Area</mat-label>
                                    <mat-select [disabled]="disableSelect">
                                      <mat-option value="option">1</mat-option>
                                      <mat-option value="option">2</mat-option>
                                      <mat-option value="option">3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Sub Area</mat-label>
                                    <mat-select [disabled]="disableSelect">
                                      <mat-option value="option">1</mat-option>
                                      <mat-option value="option">2</mat-option>
                                      <mat-option value="option">3</mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                  <br>
                                  <p><strong>Google Map Coordinates</strong></p>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Longitude</mat-label>
                                    <input disabled class="tda-form-control" matInput type="number"
                                      placeholder="Longitude" />
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field appearance="outline">
                                    <mat-label>Latitude</mat-label>
                                    <input disabled class="tda-form-control" matInput type="number"
                                      placeholder="Latitude" />
                                  </mat-form-field>
                                </div>

                              </div>


                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="wizardBorder licenseInfo">
                            <p><strong>
                                Modified IA Info
                              </strong></p>
                            <!--begin::Divider-->
                            <div class="kt-login__divider">
                              <div class="kt-divider">
                                <span></span>
                                <span></span>
                              </div>
                            </div>
                            <!--end::Divider-->
                            <br>
                            <div>
                              <div class="row">
                                <div class="col-md-6">
                                  <table class="reviewAttachments">
                                    <tr>
                                      <td>
                                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                        </mat-checkbox>

                                      </td>
                                      <td>
                                        <mat-form-field appearance="outline">
                                          <mat-label>Main Area</mat-label>
                                          <mat-select>
                                            <mat-option value="option">1</mat-option>
                                            <mat-option value="option">2</mat-option>
                                            <mat-option value="option">3</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </td>
                                    </tr>

                                  </table>

                                </div>
                                <div class="col-md-6">
                                  <table class="reviewAttachments">
                                    <tr>
                                      <td>
                                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                        </mat-checkbox>

                                      </td>
                                      <td>
                                        <mat-form-field appearance="outline">
                                          <mat-label>Sub Area</mat-label>
                                          <mat-select>
                                            <mat-option value="option">1</mat-option>
                                            <mat-option value="option">2</mat-option>
                                            <mat-option value="option">3</mat-option>
                                          </mat-select>
                                        </mat-form-field>
                                      </td>
                                    </tr>

                                  </table>

                                </div>

                                <div class="col-md-12">
                                  <br>
                                  <p><strong>Google Map Coordinates</strong></p>
                                </div>
                                <div class="col-md-6">
                                  <table class="reviewAttachments">
                                    <tr>
                                      <td>
                                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                        </mat-checkbox>

                                      </td>
                                      <td>
                                        <mat-form-field appearance="outline">
                                          <mat-label>Longitude</mat-label>
                                          <input class="tda-form-control" matInput type="number"
                                            placeholder="Longitude" />
                                        </mat-form-field>
                                      </td>
                                    </tr>

                                  </table>

                                </div>
                                <div class="col-md-6">
                                  <table class="reviewAttachments">
                                    <tr>
                                      <td>
                                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                        </mat-checkbox>

                                      </td>
                                      <td>
                                        <mat-form-field appearance="outline">
                                          <mat-label>Latitude</mat-label>
                                          <input class="tda-form-control" matInput type="number"
                                            placeholder="Latitude" />
                                        </mat-form-field>
                                      </td>
                                    </tr>

                                  </table>

                                </div>

                              </div>


                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </mat-tab>
                  <mat-tab label="Attachments">
                    <!--Attachments-->
                    <div class="row">

                      <div class="col-md-6 ">
                        <div class="wizardBorder">
                          <p><strong>Previous Attachment</strong></p>
                          <!--begin::Divider-->
                          <div class="kt-login__divider">
                            <div class="kt-divider">
                              <span></span>
                              <span></span>
                            </div>
                          </div>
                          <!--end::Divider-->
                          <br>
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                              </td>
                            </tr>
                            <tr>
                              <td> Passport Copy</td>
                            </tr>
                            <tr>
                              <td> Resident Visa Copy</td>
                            </tr>
                            <tr>
                              <td> GCC ID Copy</td>
                            </tr>
                            <tr>
                              <td>Business License Copy</td>
                            </tr>
                            <tr>
                              <td> Emirates</td>
                            </tr>
                            <tr>
                              <td colspan="2">&nbsp;</td>
                            </tr>
                          </table>
                        </div>
                      </div>

                      <div class="col-md-6 ">
                        <div class="wizardBorder">
                          <p><strong>Modified Attachment</strong></p>
                          <!--begin::Divider-->
                          <div class="kt-login__divider">
                            <div class="kt-divider">
                              <span></span>
                              <span></span>
                            </div>
                          </div>
                          <!--end::Divider-->
                          <br>
                          <table class="reviewAttachments">
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>

                              </td>
                              <td>
                                <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                              </td>
                            </tr>
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>
                              </td>
                              <td> Passport Copy</td>
                            </tr>
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>
                              </td>
                              <td> Resident Visa Copy</td>
                            </tr>
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>
                              </td>
                              <td> GCC ID Copy</td>
                            </tr>
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>
                              </td>
                              <td>Business License Copy</td>
                            </tr>
                            <tr>
                              <td>
                                <mat-checkbox class="blsCheckbox" [color]="'primary'">

                                </mat-checkbox>
                              </td>
                              <td> Emirates</td>
                            </tr>
                            <tr>
                              <td colspan="2">&nbsp;</td>
                            </tr>
                          </table>
                        </div>
                      </div>

                    </div>
                  </mat-tab>
                </mat-tab-group>

              </div>
            </div>
            <!--end content-->

            <!--:: begin Footer-->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>

        <!--Step 5-->
        <mat-step [stepControl]="fifthFormGroup">
          <form [formGroup]="fifthFormGroup">
            <ng-template matStepLabel>Attachments</ng-template>
            <!--:: begin Application Info-->
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>BL #: <span class="kt-font-danger kt-font-lg">BL-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>IA #: <span class="kt-font-danger kt-font-lg">IA-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>

              </div>
            </div>
            <!--:: end Application Info-->

            <!--begin::Divider-->
            <div class="kt-login__divider">
              <div class="kt-divider">
                <span></span>
                <span></span>
              </div>
            </div>
            <br>
            <!--end::Divider-->
            <!--:: begin Notes-->
            <div class="kt-section__content notes">
              <div class="wizardBorder">
                <kt-notes-history-modal></kt-notes-history-modal>

              </div>
            </div>
            <!--:: end Notes-->
            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-12 ">
                <div class="wizardBorder">
                  <p><strong>Attachment Reviews</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <table class="reviewAttachments">
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>

                      </td>
                      <td>
                        <span (click)="open(showAttachments)" class="pointer">Emirates ID Copy</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> Passport Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> Resident Visa Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> GCC ID Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td>Business License Copy</td>
                    </tr>
                    <tr>
                      <td>
                        <mat-checkbox class="blsCheckbox" [color]="'primary'">

                        </mat-checkbox>
                      </td>
                      <td> Emirates</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!--:: end Form Fields -->

            <!--:: begin Footer-->
            <div class="row">
              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Internal Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openFwdActionDialog()">Forward for Action</button>
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openRequestActionDialog()">Request for
                    Inspection</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Customer Action</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button class="btn btn-primary btn-sm" (click)="openReturnBackNotesDialog()">Return Back with
                    Notes</button>
                  <br>
                  <button class="btn btn-danger btn-sm" (click)="openDialog()">Reject</button>
                </div>
              </div>

              <div class="col-md-4 text-center">
                <div class="wizardBorder actionButtons">
                  <p><strong>Proceed Request</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <button [routerLink]="['/pages/business-license/manage-business-license']"
                    class="btn btn-success btn-sm">Approve BL</button>
                  <br>
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
            </div>
            <!--:: end Footer-->
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</div>


<!--begin::Modal Show Certificate-->
<ng-template #showAttachments let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <img src="../../../../assets/media/Emirates-ID.jpg" alt="Show Attachments">
    </div>
  </div>
</ng-template>