<!--begin::Message-->
<div class="row text-center">
  <div class="col-md-12">
    <br><br>
    <p><strong>Please click below to reset your password</strong><br>
      Link sent to your mobile number also.</p>

    <a href="/auth/reset-password" class="btn btn-primary btn-sm btn-upper">Reset Link</a>
  </div>
</div>
<!--begin::Message-->