<div class="row" [formGroup]="AttachmentFormGroup" *ngIf="AttachmentFormGroup?.value?.attachments?.length">
  <div class="col-md-12 text-center">
    <div class="form-group">
      <div class="alert alert-secondary" role="alert">
        <div class="alert-text">
          <strong>Please attach the following documents</strong>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12"  formArrayName="attachments">
    <table class="attachmentsTable">
      <tr>
        <td *ngFor="let comp of AttachmentFormGroup.get('attachments')['controls']; let i=index">
          <label>
            {{ translationService.getSelectedLanguage() =="en" 
                      ? this.getAttachmentsType[i].valueEn
                      : this.getAttachmentsType[i].valueAr
                    }}
          </label>
          <div class="customAttImg">
            <div class="text-center attachmentsThumbnail">
              <img
                [src]="_DomSanitizationService.bypassSecurityTrustUrl(AttachmentFormGroup.value.attachments[i].attachmentURL?AttachmentFormGroup.value.attachments[i].attachmentURL:'../../../assets/media/icons/clip.svg')"
                alt='{{ translationService.getSelectedLanguage() =="en" 
                ? this.getAttachmentsType[i].valueEn
                : this.getAttachmentsType[i].valueAr
              }}' class="attachment">
              <div class="successTick" *ngIf="this.isTick[i].tick==true">
                <img class="" src="../../../assets/media/icons/tick.svg" alt="">
              </div>
            </div>
            <div class="form-group">
              <div class="custom-file" [formGroupName]="i">
                <input type="file" class="custom-file-input" (change)="getFile($event, i)" [disabled]="isDisabled"
                  accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint,text/plain, application/pdf, image/*">
                <mat-form-field appearance="outline" [hidden]="!this.getAttachmentsType[i].inputData">
                  <mat-label>Enter Data</mat-label>
                  <input matInput placeholder="Enter Data" formControlName="inputData">
                </mat-form-field>
                <input id="customFile" class="custom-file-label w-100"
                  placeholder="GENERALWORDS.SELECTATTACHMENTS" formControlName="attachmentName">
                <label class="custom-file-label bg-transparent" for="customFile">
                  <span class="imgFileLoader"
                    [ngClass]="isLoading[i].loading===true?'kt-spinner kt-spinner--right kt-spinner--sm kt-spinner--light':''"></span>
                </label>
                <kt-error [formName]="this.AttachmentFormGroup.controls.attachments.controls[i]"
                  [fieldName]="'attachmentSize'">
                </kt-error>
                <kt-error [formName]="this.AttachmentFormGroup.controls.attachments.controls[i]"
                  [fieldName]="'attachmentName'">
                </kt-error>
              </div>
            </div>
          </div>

        </td>
      </tr>
    </table>

    <div class="col-md-6" *ngFor="let comp of AttachmentFormGroup.get('attachments')['controls']; let i=index">

    </div>
  </div>
</div>
<br><br>