<form class="tda-form" [formGroup]="addRole" (ngSubmit)="addRoleFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.TITLE.AddRole' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameAr' | translate }}</mat-label>
                  <input class="arabicTextBox" matInput (keypress)="validationMessages.allowAr($event)"
                    placeholder="{{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameEn' | translate }}" type="text"
                    formControlName="roleNameAr">
                </mat-form-field>
                <kt-error [formName]="addRole" [fieldName]="'roleNameAr'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>
                    {{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameEn' | translate }}
                  </mat-label>
                  <input class="englishTextBox" matInput
                    placeholder="{{ 'PAGESMODULE.ROLEDEFINATIONS.RoleNameEn' | translate }}" type="text"
                    (keypress)="validationMessages.allowEn($event)" formControlName="roleNameEn">
                </mat-form-field>
                <kt-error [formName]="addRole" [fieldName]="'roleNameEn'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.TYPE' | translate }}</mat-label>
                  <mat-select placeholder="{{ 'GENERALWORDS.TYPE' | translate }}" formControlName='type'>
                    <mat-option *ngFor="let type of typeddl | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="addRole" [fieldName]="'type'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.REMARKS' | translate }}</mat-label>
                  <textarea matInput placeholder="{{ 'GENERALWORDS.REMARKS' | translate }}" rows="5"
                    formControlName='remarks'></textarea>
                </mat-form-field>
                <kt-error [formName]="addRole" [fieldName]="'remarks'"></kt-error>
              </div>
              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName='isActive'>
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]="true" checked>{{ 'GENERALWORDS.ACTIVE' | translate }}
                        </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]="false">{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                  <kt-error [formName]="addRole" [fieldName]="'isActive'"></kt-error>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->

                    <button class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      type="submit">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                    <a [routerLink]="['/pages/admin/roles-definition']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>