::ng-deep .modal-dialog {
  max-width: 600px !important;
}
.notActiveID {
  display: none;
}
.activeID {
  display: block;
}
.mat-form-field {
  width: 100%;
}
mat-expansion-panel-header {
  font-weight: bold;
}
.formTableButton {
  position: relative;
  top: 18px;
  color: #fff;
  button {
    i {
      color: #fff !important;
    }
  }
}

.actionButtons {
  border: none !important;
  margin: 10px 0;
  button {
    min-width: 150px;
    margin: 10px 0;
  }
}

::ng-deep .mat-horizontal-stepper-header {
  &[ng-reflect-selected="true"].mat-step-header {
    background-color: rgba(0, 0, 0, 0.12) !important;
    &::after,
    &::before {
      visibility: hidden !important;
    }
  }
  &[ng-reflect-selected="false"].mat-step-header {
    background-color: #fff !important;
  }
}
img {
  max-width: 100%;
}
.attachments {
  max-width: 750px;
  margin: 0 auto;
}
span {
  i {
    font-size: 14px;
    cursor: pointer;
  }
}

.customAttachment {
  table {
    width: 100%;
    tr {
      td {
        padding: 10px;
        vertical-align: bottom;
        .custom-file-label {
          &::after {
            background: #e9921b;
            color: #fff;
          }
        }
      }
    }
  }
  .attachmentsThumbnail {
    text-align: center;
    position: relative;
    img {
      max-width: 350px;
      width: 100%;
      margin: 0px auto 10px;
      border-radius: 8px;
      border: 1px solid #e2e5ec;
    }
    .successTick {
      position: absolute;
      top: -20px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      right: 10px;
      z-index: 5;
      background: rgba(255, 255, 255, 0.9);
      width: 40px;
      height: 40px;
      line-height: 40px;
      border-radius: 50%;
      img {
        border: 0;
        margin: 0;
        width: 60%;
      }
    }
  }
}
.licenseInfo {
  height: auto;
}
.row {
  margin: 0;
}
@media (max-width: 1320px) {
}
@media (max-width: 1080px) {
}
@media (max-width: 1024px) {
}
@media (max-width: 767px) {
}
