<mat-tab-group>
  <!--begin:: Application Info-->
  <mat-tab label="Application Info">
    <div class="wizardBorder licenseInfo">
      <div class="row">

        <!--begin:: Radio Buttons-->
        <div class="col-md-12">
          <div class="form-group">
            <mat-radio-group>
              <div class="row">
                <div class="col-md-3">
                  <mat-radio-button checked value="Local RAK Branch">
                    Local
                    (RAK)
                    Branch </mat-radio-button>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Head Office License No</mat-label>
            <input disabled class="tda-form-control" placeholder="Head Office License No" matInput type="text" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Issuance Authority</mat-label>
            <mat-select [disabled]="disableSelect">
              <mat-option value="rak">RAK</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Issue Date</mat-label>
            <input disabled matInput [matDatepicker]="issueDate" placeholder="Issue Date" (click)="issueDate.open()"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="issueDate"></mat-datepicker-toggle>
            <mat-datepicker #issueDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">

          <mat-form-field appearance="outline">
            <mat-label>Expiry Date</mat-label>
            <input disabled matInput [matDatepicker]="expiryDate" placeholder="Expiry Date" (click)="expiryDate.open()"
              readonly>
            <mat-datepicker-toggle matSuffix [for]="expiryDate"></mat-datepicker-toggle>
            <mat-datepicker #expiryDate></mat-datepicker>
          </mat-form-field>

        </div>

        <!--end:: Radio Buttons-->
      </div>
    </div>
    <div class="wizardBorder licenseInfo">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN Type</mat-label>
            <mat-select [disabled]="disableSelect">
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Legal Type</mat-label>
            <mat-select [disabled]="disableSelect">
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>License Category</mat-label>
            <mat-select [disabled]="disableSelect">
              <mat-option value="option">1</mat-option>
              <mat-option value="option">2</mat-option>
              <mat-option value="option">3</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>License Type</mat-label>
            <input class="tda-form-control" disabled matInput type="text" value="Tourism" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Reservation Period</mat-label>
            <mat-select [disabled]="disableSelect">
              <mat-option value="option">30</mat-option>
              <mat-option value="option">60</mat-option>
              <mat-option value="option">90</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-tab>
  <!--end:: Application Info-->
  <!--begin:: Business Activity-->
  <mat-tab label="Business Activity">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <br><br>
      <div class="example-header">
        <div class="row">
          <div class="col-md-9">
            <a (click)="openAddNewActivities()" class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              Add New Activity
            </a>
          </div>

          <div class="col-md-3 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)" placeholder="Search">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable">


          <ng-container matColumnDef="isic4">
            <mat-header-cell *matHeaderCellDef mat-sort-header> ISIC4 # </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.isic4}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="arDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> AR Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.arDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="enDescription">
            <mat-header-cell *matHeaderCellDef mat-sort-header> EN Description </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.enDescription}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="activityGroup">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Activity Group </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.activityGroup}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span matTooltip="Delete" [matTooltipPosition]="position.value" class="kt-font-danger cursor"> <i
                  class="flaticon-delete"></i></span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </mat-tab>
  <!--end:: Business Activity-->
  <!--begin:: BN -->
  <mat-tab label="BN">

    <div class="wizardBorder licenseInfo">
      <div class="row">

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN 1 Arabic</mat-label>
            <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="BN 1 Arabic" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN 1 English</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="BN 1 English" />
          </mat-form-field>
        </div>


        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN 2 Arabic</mat-label>
            <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="BN 2 Arabic" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN 2 English</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="BN 2 English" />
          </mat-form-field>
        </div>



        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN 3 Arabic</mat-label>
            <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="BN 3 Arabic" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>BN 3 English</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="BN 3 English" />
          </mat-form-field>
        </div>


        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Branch Name Ar</mat-label>
            <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Branch Name Ar" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Branch Name En</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="Branch Name En" />
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Short Name Ar</mat-label>
            <input class="tda-form-control arabicTextBox" matInput type="text" placeholder="Short Name Ar" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline">
            <mat-label>Short Name En</mat-label>
            <input class="tda-form-control" matInput type="text" placeholder="Short Name En" />
          </mat-form-field>
        </div>


      </div>


    </div>
  </mat-tab>
  <!--end:: BN -->
  <!--begin:: Stakeholders -->
  <mat-tab label="Stakeholders">
    <!--Material DataTable Section-->
    <br><br>
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-9">
            <a (click)="openAddStakeHolders()" class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              Add Stakeholders
            </a> &nbsp;

          </div>

          <div class="col-md-3 text-right">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="stakeHoldersapplyFilter7($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="stakeHoldersdataSource7" class="tdaMetronicBorderedTable">


          <ng-container matColumnDef="orderNo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Order No </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.orderNo}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Type </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.type}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="relationship">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Relationship </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.relationship}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="nameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="nameEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Name En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="share">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Share % </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.share}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="registered">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Registered </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.registered}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Action </mat-header-cell>
            <mat-cell *matCellDef="let row">
              <span matTooltip="View" [matTooltipPosition]="position.value" class="kt-font-success cursor"> <i
                  class="flaticon-eye view"></i></span>
              &nbsp;&nbsp;
              <span matTooltip="Delete" [matTooltipPosition]="position.value" class="kt-font-danger cursor"> <i
                  class="flaticon-delete"></i></span>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="stakeHoldersdisplayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: stakeHoldersdisplayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #stakeHoldersmatPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </mat-tab>
  <!--end:: Stakeholders -->
  <!--begin:: Attachments -->
  <mat-tab label="Attachments">

    <!--:: begin Form Fields-->
    <div class="row">
      <div class="col-md-12"><br><br></div>
      <!--begin:: Documents Attachments -->
      <div class="col-md-12 text-center">
        <div class="form-group">

          <div class="alert alert-secondary" role="alert">
            <div class="alert-text">
              <strong>Please attach the following documents</strong>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">

        <div class="customAttachment">
          <table class="attachments">
            <tr>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <!-- <img src="https://via.placeholder.com/150" alt="Placeholder"> -->
                    <img src="../../../assets/media/emirates-id-card-f.jpg" alt="Emirates ID Card Front">

                  </div>
                  <div class="form-group">
                    <!--UAE Citizen-->
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="emCopy" (change)="getEmCopy($event)">
                      <label class="custom-file-label" for="emCopy">
                        {{emCopy}}
                        <!-- <i class="fa fa-cloud-upload-alt"></i> -->
                      </label>
                    </div>
                  </div>
                </div>
                <!-- <p>{{emCopy}}</p> -->
              </td>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/emirates-id-card-b.jpg" alt="Emirates ID Card Back">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="embCopy" (change)="getEmbId($event)">
                      <label class="custom-file-label" for="embCopy">{{embCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/falcon-passport1.jpg" alt="Emirates Passport Copy">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="passportCopy" (change)="getPassportCopy($event)">
                      <label class="custom-file-label" for="passportCopy">{{passportCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
              <td>
                <div class="customAttImg">
                  <div class="text-center attachmentsThumbnail">
                    <img src="../../../assets/media/visa-dubai-uae.jpg" alt="Emirates Visa Copy">

                  </div>
                  <div class="form-group">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="visaCopy" (change)="getVisa($event)">
                      <label class="custom-file-label" for="visaCopy">{{visaCopy}}</label>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
          </table>
        </div>

      </div>
      <!--end:: Documents Attachments-->
    </div>
    <!--:: end Form Fields -->
  </mat-tab>
  <!--end:: Attachments -->
</mat-tab-group>