// CSS Reset, comment out if not required or using a different module
// @import "~minireset.css/minireset";
/* You can add global styles to this file, and also import other style files */
@import "assets/vendors/global/vendors.bundle.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~material-design-icons/iconfont/material-icons.css";

// @font-face {
//   font-family: "GE Dinar One";
//   src: url("fonts/GEDinarOne-Light.woff") format("woff"), url("fonts/GEDinarOne-Light.ttf") format("truetype");
//   font-weight: 300;
//   font-style: normal;
// }

// @font-face {
//   font-family: "GE Dinar One";
//   src: url("fonts/GEDinarOne-Medium.woff") format("woff"), url("fonts/GEDinarOne-Medium.ttf") format("truetype");
//   font-weight: 500;
//   font-style: normal;
// }
@font-face {
  font-family: "Cairo";
  src: url("./assets/css/demo1/langar/fonts/Cairo-Black.ttf") format("truetype"),
    url("./assets/css/demo1/langar/fonts/Cairo-Black.svg#Cairo-Black") format("svg");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/css/demo1/langar/fonts/Cairo-Light.ttf") format("truetype"),
    url("./assets/css/demo1/langar/fonts/Cairo-Light.svg#Cairo-Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/css/demo1/langar/fonts/Cairo-Bold.ttf") format("truetype"),
    url("./assets/css/demo1/langar/fonts/Cairo-Bold.svg#Cairo-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/css/demo1/langar/fonts/Cairo-SemiBold.ttf") format("truetype"),
    url("./assets/css/demo1/langar/fonts/Cairo-SemiBold.svg#Cairo-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/css/demo1/langar/fonts/Cairo-Regular.ttf") format("truetype"),
    url("./assets/css/demo1/langar/fonts/Cairo-Regular.svg#Cairo-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cairo";
  src: url("./assets/css/demo1/langar/fonts/Cairo-ExtraLight.ttf") format("truetype"),
    url("./assets/css/demo1/langar/fonts/Cairo-ExtraLight.svg#Cairo-ExtraLight") format("svg");
  font-weight: 200;
  font-style: normal;
}

// @import "~highlight.js/styles/googlecode.css";

/* Change the white to any color ;) */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}
// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}
img {
  max-width: 100% !important;
}
a {
  &:hover {
    color: #9f233c !important;
  }
}
.mat-table__wrapper--dashboard .mat-table {
  min-width: 600px !important;
  width: 100% !important;
}

.position-static {
  position: static;
}

/*TDA Metronic Table*/
.tdaMetronicTable {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
  position: relative;
  box-shadow: none;
  border-top: 1px solid #e2e5ec;
  mat-cell,
  mat-footer-cell,
  mat-header-cell {
    display: table-cell;
    vertical-align: middle;
    min-height: 0;
    text-align: center;
    font-size: 12px;
    padding: 5px 0;
    .mat-sort-header-button {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .mat-table {
    overflow: auto;
    max-height: 500px;
    min-width: 767px;

    .mat-row:nth-child(odd) {
      background-color: #f7f8fa;
    }
  }

  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }

  .example-header {
    min-height: 64px;
    padding: 8px 24px 0;
  }
  .mat-form-field {
    font-size: 14px;
    width: 80px;
    text-align: center;
  }

  .mat-table {
    overflow: auto;
    max-height: 500px;
  }
  .mat-column-select {
    overflow: initial;
  }
  .example-header {
    min-height: 64px;
    display: flex;
    align-items: center;
    padding-left: 24px;
    font-size: 20px;
  }

  .example-table {
    overflow: auto;
    min-height: 300px;
  }

  .example-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .example-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
  }

  /* Column Widths */
  .mat-column-number,
  .mat-column-state {
    max-width: 64px;
  }

  .mat-column-created {
    max-width: 124px;
  }
  .mat-header-cell {
    font-weight: bold;
    border-bottom-width: 1px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #595d6e;
  }
  .mat-cell,
  .mat-footer-cell {
    color: #595d6e;
  }
}
_:-ms-fullscreen,
:root .tdaMetronicTable {
  width: 100%;
  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    width: 10%;
    min-width: 100px;
  }
}
_:-ms-fullscreen,
:root .mat-header-cell:nth-child(1),
_:-ms-fullscreen,
:root .mat-cell:nth-child(1),
_:-ms-fullscreen,
:root .mat-footer-cell:nth-child(1) {
  width: 20%;
}

_:-ms-fullscreen,
:root .tda-user-profile {
  width: 100%;
  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    width: 15%;
    &:nth-child(1) {
      width: 15%;
    }
    &:nth-child(2) {
      width: 15%;
    }
    &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(4) {
      width: 18%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
    &:nth-child(7) {
      width: 10%;
    }
    &:nth-child(8) {
      width: 10%;
    }
  }
}

_:-ms-fullscreen,
:root .roles-definitions {
  width: 100%;
  .mat-header-cell,
  .mat-cell,
  .mat-footer-cell {
    width: 15%;
    &:nth-child(1) {
      width: 20%;
    }
    &:nth-child(2) {
      width: 20%;
    }
    &:nth-child(3) {
      width: 15%;
    }
    &:nth-child(4) {
      width: 15%;
    }
    &:nth-child(5) {
      width: 10%;
    }
    &:nth-child(6) {
      width: 10%;
    }
    &:nth-child(7) {
      width: 10%;
    }
  }
}

.typeIcon {
  display: block;
  background: #e9921b;
  color: #fff;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 6px 0 0;
  text-align: center;
}
/*TDA Forms*/
.tda-form {
  .mat-form-field {
    width: 100%;
  }
}
.mat-tda-datepicker {
  max-width: 210px;
}
.loginLogoutHistory {
  .mat-tab-body-content {
    overflow: unset;
  }
}
.mat-tab-label {
  background: #f2f2f2;
  color: #000;
  opacity: 1 !important;
}
.mat-tab-label-active {
  background: #e9921b !important;
  color: #fff;
}
.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: #996010;
}
.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.urlButton {
  display: block;
  width: 90%;
  margin: 0 auto;
}
.tdaTreeView {
  a {
    color: #e9921b !important;
  }
  .mat-checkbox-layout .mat-checkbox-label {
    line-height: normal;
    position: relative;
    top: -2px;
  }
  .mat-checkbox {
    position: relative;
    top: -1px;
  }
  .mat-checkbox .mat-checkbox-ripple {
    width: 20px;
    height: 20px;
    left: 0;
    top: 0;
  }
  .mat-nested-tree-node,
  .mat-tree-node {
    font-weight: 400;
    font-size: 12px;
  }
  .mat-checkbox-checked.mat-accent .mat-checkbox-background,
  .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
  .mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
  .mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background: #b6b5b5 !important;
  }
  .mat-tree-node {
    display: block;
    min-height: 0;
  }

  .mat-icon-rtl-mirror {
    color: #595d6e;
    font-size: 22px;
    position: relative;
    top: 5px;
  }
  .rootIcon {
    color: #ffb822 !important;
  }
  .mat-icon-button {
    padding: 0;
    min-width: 0;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    line-height: 20px;
    border-radius: 0;
    position: relative;
    margin: 0 5px;
    top: -8px;
  }
  .mat-radio-button ~ .mat-radio-button {
    margin: 5px 5px 0;
  }
}
.mat-dialog-container {
  padding: 0 !important;
}

.btn {
  cursor: pointer !important;
}
.filterDataTable {
  width: 100%;
  tr {
    td {
      padding: 0;
    }
  }
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  padding: 10px 0 !important;
}

/*
=========================
TDA CUSTOM THEME BRANDING
=========================
*/

/* Form Styling */
.kt-font-brand {
  color: #7a2436 !important;
}

.btn-primary {
  background-color: #e9921b !important;
  border-color: #e9921b !important;
  color: #fff !important;
}

.btn-primary:hover {
  color: #fff !important;
  background-color: #ca7b10 !important;
  border-color: #ca7b10 !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #7a2436 !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: #7a2436 !important;
}

.btn.btn-default.active,
.btn.btn-default:active,
.btn.btn-default:hover,
.show > .btn.btn-default {
  color: #fff !important;
  background: #e9921b !important;
  border-color: #e9921b !important;
}

/* END Form Styling */

.kt-scrolltop {
  background: #e9921b !important;
}

.btn-danger {
  background-color: #9f233c !important;
  border-color: #9f233c !important;
  color: #fff !important;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #5b1423 !important;
  border-color: #5b1423 !important;
}

.btn.btn-label-brand {
  background-color: #e6d4d6 !important;
  color: #7a2436 !important;
  cursor: text !important;
}

a.btn.btn-label-brand.active,
a.btn.btn-label-brand:focus,
a.btn.btn-label-brand:hover,
button.btn.btn-label-brand.active,
button.btn.btn-label-brand:focus,
button.btn.btn-label-brand:hover,
input.btn.btn-label-brand.active,
input.btn.btn-label-brand:focus,
input.btn.btn-label-brand:hover {
  background-color: #9f233c !important;
  color: #fff !important;
}
a.language {
  color: #e9921b !important;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}
.pointer {
  cursor: pointer !important;
}
.mat-step-label-selected {
  font-weight: bold;
}
.wizardBorder {
  border: 1px solid #ebedf2;
  border-radius: 5px;
  padding: 20px !important;
  margin: 10px 0;
  height: calc(100% - 40px);
}
.mat-checkbox-checked.mat-primary .mat-checkbox-background,
.mat-checkbox-indeterminate.mat-primary .mat-checkbox-background {
  background-color: #0abb87;
}
.blsCheckbox {
  .mat-checkbox-frame {
    background-color: #ff0000;
    background-image: url(./assets/media/del.svg);
    transition: border-color 90ms cubic-bezier(0, 0, 0.2, 0.1);
    background-size: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: #ff0000;
  }
  .mat-checkbox-disabled:not(.mat-checkbox-checked) .mat-checkbox-frame {
    border-color: #ff0000;
  }
}
.kt-header-menu-wrapper {
  display: none;
}
.mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  margin-bottom: 30px;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #e2e5ec !important;
  color: #595d6e !important;
}
.kt-portlet .kt-portlet__foot {
  margin-top: 20px;
}
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: #9f233c;
  color: #fff;
}
.table-responsive > .table-bordered {
  border: 0;
  min-width: 600px;
}
.cdk-overlay-container {
  position: fixed;
  z-index: 9999999999;
}
table.reviewAttachments {
  tr {
    td {
      padding: 5px 5px;
      label {
        margin-bottom: 0;
      }
    }
  }
}
.tdaMetronicTable.metronicTableDialog {
  overflow-y: hidden !important;
}
.arabicTextBox {
  font-family: "Cairo" !important;
  text-align: right !important;
}
.arabicLang {
  font-family: "Cairo" !important;
}
.ngxRecaptcha {
  ngx-recaptcha2 {
    width: 250px;
    margin: 0 auto;
    float: none;
    display: block;
  }
}
.attachmentsThumbnail {
  text-align: center;
  img {
    max-width: 350px !important;
    margin: 10px auto 20px;
  }
}
.shareAbleIcon {
  width: 25px;
}
.shareAbleLink {
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    padding: 5px 10px;
    border-bottom: 1px solid #f1f1f1;
    &:hover {
      background: #f7f8fa;
      a {
        color: #e9921b;
      }
    }
    &:last-child {
      border-bottom: 0;
    }
    a {
      cursor: pointer;

      &:hover {
        color: #e9921b !important;
      }
    }
  }
}
.themeBranding {
  color: #e9921b;
}
.timepicker {
  .timepicker__header {
    background: #e9921b !important;
  }
  .clock-face__number > {
    span {
      &.active {
        background: #e9921b !important;
      }
    }
  }
  .clock-face__clock-hand {
    background: #e9921b !important;
  }
  .timepicker-button {
    color: #e9921b !important;
  }
}

.timePicker {
  border: 1px solid #e0e0e0;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  padding: 16px 9px;
  border-radius: 5px;
  position: relative;
  top: 10px;
  width: 100%;

  &:hover {
    border: 2px solid #000;
    padding: 15px 8px;
  }
  &:focus {
    border: 2px solid #3f51b5;
    padding: 15px 8px;
    color: #3f51b5;
    border-radius: 5px;
    outline: none;
  }
}

kt-error {
  .kt-grid.kt-undefined {
    display: none !important;
  }
}
.igx-input-group__bundle {
  flex-direction: row-reverse !important;
}
.igx-time-picker__item:hover,
.igx-time-picker__item--selected {
  color: #e9921b !important;
}
.igx-input-group__bundle {
  box-shadow: none !important;
}
igx-time-picker {
  margin-bottom: 20px;
  igx-input-group {
    border: 1px solid #e0e0e0;
    font-size: inherit;
    font-weight: 400;
    line-height: 1.125;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    color: rgba(0, 0, 0, 0.87);
    padding: 2px 9px;
    border-radius: 5px;
    position: relative;
    top: 10px;
    width: 100%;

    &:hover {
      border: 1px solid #000;
    }
    &:focus {
      border: 1px solid #3f51b5;

      color: #3f51b5;
      border-radius: 5px;
      outline: none;
    }
  }
}

.igx-input-group__label {
  display: none !important;
}
.igxLabel {
  position: absolute;
  top: 0;
  font-size: 10px;
  z-index: 2;
  background: #fff;
  padding: 5px 5px;
  left: 15px;
  color: #444;
}

.osMenu {
  background: #f2f3f8;
  width: 200px;
  position: absolute;
  .closeButton {
    text-align: right;
    cursor: pointer;
    padding: 0 5px;
  }
  .listOS {
    clear: both;
    position: relative;
    z-index: 9;
    top: 0;
    right: 0;
    width: 80px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 5px;
    overflow: hidden;
  }
  a {
    display: block;
    padding: 5px 10px;
    cursor: pointer;
    &:hover,
    &:focus {
      color: #9f233c !important;
    }
  }
}
.mat-dialog-content {
  margin: 0 !important;
  padding: 0 !important;
  max-height: 95vh !important ;
}
.cdk-overlay-dark-backdrop {
  background: #000 !important;
}
.cdk-overlay-backdrop.cdk-overlay-backdrop-showing {
  opacity: 0.5 !important;
}

.custom-file-input ~ .custom-file-label::after {
  background: #e9921b;
  color: #fff;
}
.custom-file-label {
  .kt-spinner {
    position: absolute;
    right: 3px;
    z-index: 9;
    top: 18px;
  }
}

.custom-file-label::after {
  padding: 0.65rem 1.8rem !important;
}
.material-icons {
  font-family: "Material Icons" !important;
}
.kt-header__topbar-icon {
  cursor: pointer !important;
}
.red {
  color: #ff0000;
}
.kt-aside {
  background-color: #2d251e !important;
}
.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__submenu .kt-menu__subnav > .kt-menu__item > .kt-menu__link {
  .kt-menu__link-text {
    white-space: normal;
  }
}

// .mat-paginator-page-size-label { visibility: hidden !important;}
@media (max-width: 1080px) {
  .mat-tda-datepicker {
    max-width: unset;
  }
}
@media (max-width: 1024px) {
  .kt-container {
    padding: 0 10px;
  }
  .kt-aside--on .kt-aside-close {
    display: none;
  }
  .tdaMobilePaginator {
    .mat-paginator-page-size {
      display: none !important;
    }
  }
}
@media (max-width: 991px) {
  /*TDA Metronic Table*/
  .tdaMetronicTable {
    overflow-y: scroll;

    .mat-table {
      overflow: auto;
      max-height: 500px;
      width: 991px;
    }
  }

  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header-container {
    flex-direction: column;
    float: left;
    width: 100%;
    display: inherit;
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    flex-direction: inherit;
    height: auto;
    padding: 24px;
    width: 33%;
    float: left;
    display: block;
  }
  .mat-horizontal-stepper-header .mat-step-icon {
    margin-right: 8px;
    flex: none;
    margin: 0 auto !important;
  }
  .mat-horizontal-stepper-header::after,
  .mat-horizontal-stepper-header::before,
  .mat-stepper-horizontal-line,
  .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .applicationRefInfo {
    .col-md-4 {
      text-align: left !important;
    }
  }

  .tda-modal-body {
    .row {
      .col-md-6 {
        text-align: center !important;
      }
    }
  }

  .cdk-global-overlay-wrapper {
    .cdk-overlay-pane {
      min-width: 96% !important;
    }
  }

  .cdk-overlay-container {
    overflow-y: auto;
  }
  .cdk-overlay-backdrop {
    position: fixed !important;
  }
  .filterDataTable {
    tr {
      td {
        float: left;
        display: block;
        width: 100%;
        text-align: left !important;
      }
    }
  }
  .kt-portlet__body {
    .kt-section {
      .example-header {
        text-align: left;
        .col-md-3,
        .col-md-6,
        .col-md-4,
        .col-md-8,
        .col-md-9 {
          text-align: left !important;
          .btn {
            margin-bottom: 5px;
          }
          mat-form-field {
            margin: 0 10px;
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .mat-horizontal-content-container {
    padding: 0 5px 0 5px !important;
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    width: 49%;
  }
  .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
    margin-bottom: 0;
  }
}

@import "~igniteui-angular/lib/core/styles/themes/index";
@include igx-core();
@include igx-theme($default-palette);
