<form class="tda-form" [formGroup]="pagesFormGroup" (ngSubmit)="submitPages()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-file"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                <!-- {{ ID ? 'Edit Page' : 'Add Pages' }} -->
                {{ ID ? ('PAGESMODULE.MODULEDEFINATIONS.EDITPAGE' | translate) : ('PAGESMODULE.MODULEDEFINATIONS.ADDPAGE' | translate) }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.MODULEDEFINATIONS.ModuleName' | translate}}</mat-label>
                  <mat-select formControlName="moduleDdl" (ngModelChange)="onModuleChange()">
                    <mat-option *ngFor="let module of moduleddl | async" [value]="module.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? module.nameEn: module.nameAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="pagesFormGroup" [fieldName]="'moduleDdl'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.MODULEDEFINATIONS.SMN' | translate}}</mat-label>
                  <mat-select formControlName="submoduleDdl">
                    <mat-option *ngFor="let submodule of submoduleddl | async" [value]="submodule.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? submodule.nameEn: submodule.nameAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="pagesFormGroup" [fieldName]="'submoduleDdl'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.MODULEDEFINATIONS.PagesNameAr' | translate}}</mat-label>
                  <input class="arabicTextBox" matInput (keypress)="validationMessages.allowAr($event)"
                    placeholder="{{'PAGESMODULE.MODULEDEFINATIONS.PagesNameAr' | translate}}"
                    formControlName="pageNameAr">
                </mat-form-field>
                <kt-error [formName]="pagesFormGroup" [fieldName]="'pageNameAr'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.MODULEDEFINATIONS.PagesNameEn' | translate}}</mat-label>
                  <input class="englishTextBox" matInput
                    placeholder="{{'PAGESMODULE.MODULEDEFINATIONS.PagesNameEn' | translate}}"
                    (keypress)="validationMessages.allowEn($event)" formControlName="pageNameEn">
                </mat-form-field>
                <kt-error [formName]="pagesFormGroup" [fieldName]="'pageNameEn'"></kt-error>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{'PAGESMODULE.MODULEDEFINATIONS.PagesUrl' | translate}}</mat-label>
                  <mat-select placeholder="Page url" formControlName="pageUrl">
                    <mat-option *ngFor="let pages of pagesddl | async" [value]="pages.pageNameURL">
                      {{ this.translationService.getSelectedLanguage() =="en" ? pages.pageNameEn: pages.pageNameAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="pagesFormGroup" [fieldName]="'pageUrl'"></kt-error>
              </div>
              <div class="col-md-12">
                <div class="example-container">
                  <mat-checkbox [color]="'primary'" formControlName="IsDefault">
                    {{'PAGESMODULE.MODULEDEFINATIONS.MDPage' | translate}}
                  </mat-checkbox>
                </div>
              </div>
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.REMARKS' | translate }}</mat-label>
                  <textarea matInput placeholder="{{ 'GENERALWORDS.REMARKS' | translate }}" rows="5"
                    formControlName="remarks"></textarea>
                </mat-form-field>
                <kt-error [formName]="pagesFormGroup" [fieldName]="'remarks'"></kt-error>
              </div>

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]="true">{{ 'GENERALWORDS.ACTIVE' | translate }} </mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]="false">{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>
              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <!-- <button type="reset" class="btn btn-primary">Add Role</button> -->

                    <button type="submit" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                    <button type="button" (click)="onCancel()" type="button"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
</form>