<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-line-chart"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Cancel Business Name
      </h3>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="row applicationRefInfo">
        <div class="col-md-4">
          <p>BN No: <strong class="kt-font-danger"><span>BN-11</span></strong></p>
        </div>
        <div class="col-md-4 text-center">
          <p>BN Name Ar: <strong class="kt-font-danger"><span>الاسم التجاري</span></strong></p>
        </div>
        <div class="col-md-4 text-right">
          <p>BN Name En: <strong class="kt-font-danger"><span>Business Name</span></strong></p>
        </div>
      </div>
      <br>
      <mat-horizontal-stepper labelPosition="bottom" #CancelBusinessNameStepper>
        <mat-step [stepControl]="firstServiceInfoForm">
          <form [formGroup]="firstServiceInfoForm" autocomplete="off">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>
            <kt-service-details [termsConditionForm]="firstServiceInfoForm"
              [serviceInfo]="(this.serviceInfoAndUserInfo | async)?.serviceInfo">
            </kt-service-details>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="modal-footer" style="display: block;">
              <div class="row">
                <div class="col-md-4">
                  <div class="actionButtons">
                    <a [routerLink]="['/pages/business-license/request-business-name/business-names']" class="btn btn-danger">Back</a>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                </div>
                <div class="col-md-4 text-right">
                  <div class="actionButtons">
                    <button class="btn btn-primary"
                      [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      (click)="firstServiceInfoFormSubmit()">
                      Next
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Cancel Business Name</ng-template>
            <table class="rejectedReason">
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>BN Reservation No</mat-label>
                    <input disabled matInput placeholder="BN Reservation No" value="BN-3">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>BN Name Ar</mat-label>
                    <input class="arabicTextBox" disabled matInput placeholder="BN Name Ar" value="الاسم التجاري">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>BN Name En</mat-label>
                    <input disabled matInput placeholder="BN Name En" value="Business Name">
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Select Reason</mat-label>
                    <mat-select multiple>
                      <mat-option value="option">1</mat-option>
                      <mat-option value="option">2</mat-option>
                      <mat-option value="option">3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>Remarks</mat-label>
                    <textarea matInput placeholder="Remarks" rows="3"></textarea>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <table>
                    <tr>
                      <td>
                        <mat-checkbox [color]="'primary'"></mat-checkbox>
                      </td>
                      <td>
                        <p>By Cancelling this business name, it will be released immediately and will be available to
                          other
                          customers</p>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
            <div class="modal-footer" style="display: block;">
              <div class="row">
                <div class="col-md-4">
                  <div class="actionButtons">
                    <button class="btn btn-danger" matStepperPrevious>Back</button>
                  </div>
                </div>
                <div class="col-md-4 text-center">
                </div>
                <div class="col-md-4 text-right">
                  <div class="actionButtons">
                    <button (click)="open(happinessMeterModal)" class="btn btn-primary">
                      Submit
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </mat-step>

      </mat-horizontal-stepper>
    </div>
  </div>

</div>

<!--begin::Modal Popup for Happiness Meter-->
<ng-template #happinessMeterModal let-modal>
  <div class="modal-header">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="text-center">
      <h3 class="kt-font-brand">Happiness Meter</h3>
      <br>
      <img src="../../../../assets/media/happiness-meter.jpg" alt="Happiness Meter" />
      <br>
    </div>
  </div>
  <div class="modal-footer" style="display: block;">
    <div class="row">
      <div class="col-md-12 text-center">
        <button [routerLink]="['/pages/business-license/request-business-name/business-names']" (click)="modal.dismiss('Cross click')"
          aria-label="Close" class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
          Submit
        </button>
      </div>
    </div>
  </div>
</ng-template>