<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
  <!--begin::Portlet-->
  <div class="kt-portlet">
    <div class="kt-portlet__body">
      <div class="text-center">
        <br><br><br>
        <img src="../../../assets/media/TDA-RAK-logo.png" alt="RAK Logo" width="250">
        <br><br><br><br><br>
      </div>
    </div>
  </div>
  <!--end::Portlet-->

</div>