<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-copy"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        {{ 'PAGESMODULE.APPTYPEKPI.MATK' | translate }}
      </h3>
    </div>
  </div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/master-data/add-application-type']"
              class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
              {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm"
              (click)="exporter.exportTable('xlsx',{fileName:'Application types', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>

          <div class="col-md-6 text-right">

            <mat-form-field>
              <mat-label>
                {{'GENERALWORDS.SEARCH' | translate }}
              </mat-label>
              <input class="tda-form-control" matInput (keyup)="applyFilter7($event.target.value)"
                placeholder="{{'GENERALWORDS.SEARCH' | translate }}">
            </mat-form-field>
          </div>
        </div>

      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable tda-user-profile">
        <mat-table matSort [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter
          #exporter="matTableExporter" [hiddenColumns]="[3]">

          <ng-container matColumnDef="applicationType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{ this.translationService.getSelectedLanguage() =="en" ? row.nameEn : row.nameAr}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="timeKPI">
            <mat-header-cell *matHeaderCellDef mat-sort-header>
              {{ 'PAGESMODULE.APPTYPEKPI.ATTENDINGTIMEKPI' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.attendingTime | date:'shortTime'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="totalKPI">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'PAGESMODULE.APPTYPEKPI.TOTALKPI' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              {{row.totalKpis | date:'shortTime'}}
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button [routerLink]="['/pages/master-data/edit-application-type/'+row.id]" type="button"
                class="btn btn-sm btn-danger btn-sm">
                {{ 'GENERALWORDS.VIEW' | translate }}
              </button>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }}
            </mat-header-cell>
            <mat-cell *matCellDef="let row; let i = index;" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" [checked]="row.isActive" (change)="isActive(row.id)">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>


          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>

<!--begin::Modal Popup for View Access Rights-->
<!-- <ng-template #modapPopupStep3 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Application Type Detail</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="kt-portlet">
      <div class="kt-portlet__body tda-form  padding-bottom-zero">
        <div class="row">
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Description Ar</mat-label>
              <textarea matInput placeholder="Description Ar" rows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Description En</mat-label>
              <textarea matInput placeholder="Description En" rows="5"></textarea>
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Attending Time KPI</mat-label>
              <input class="arabicTextBox" matInput placeholder="Attending Time KPI" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Total KPI</mat-label>
              <input class="arabicTextBox" matInput placeholder="Total KPI" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Customer Service review KPI (Hours)</mat-label>
              <input matInput placeholder="Customer Service review KPI (Hours)" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Manager review KPI (Hours)</mat-label>
              <input matInput placeholder="Manager review KPI (Hours)" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Consultation KPI (Hours)</mat-label>
              <input matInput placeholder="Consultation KPI (Hours)" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Customer Re-Submit KPI (Hours)</mat-label>
              <input matInput placeholder="Customer Re-Submit KPI (Hours)" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Customer Payment KPI (Hours)</mat-label>
              <input matInput placeholder="Customer Payment KPI (Hours)" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-6">
            <mat-form-field appearance="outline">
              <mat-label>Govt Entity Approval / NOC KPI (Hours)</mat-label>
              <input matInput placeholder="Govt Entity Approval / NOC KPI (Hours)" type="text">
            </mat-form-field>
          </div>


          <div class="col-md-12 text-center">
            <div class="kt-portlet__foot">
              <div class="kt-form__actions">
               
                <button aria-label="Close" (click)="modal.dismiss('Cross click')"
                  class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">Cancel</button>
                <button aria-label="Close" (click)="modal.dismiss('Cross click')"
                  class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template> -->