<div class="row">

  <div class="col-md-12">
    <div class="wizardBorder">
      <form>
        <div class="row">
          <div class="col-md-3">

            <mat-form-field appearance="outline">
              <mat-label>Request Date from</mat-label>
              <input matInput [matDatepicker]="requestdateFrom" placeholder="Request Date from"
                (click)="requestdateFrom.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="requestdateFrom"></mat-datepicker-toggle>
              <mat-datepicker #requestdateFrom></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Request Date to</mat-label>
              <input matInput [matDatepicker]="requestdateTo" placeholder="Request Date to"
                (click)="requestdateTo.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="requestdateTo"></mat-datepicker-toggle>
              <mat-datepicker #requestdateTo></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Delayed</mat-label>
              <mat-select multiple>
                <mat-option value="">Attending Time</mat-option>
                <mat-option value="">Manager Review</mat-option>
                <mat-option value="">Consultant Review</mat-option>
                <mat-option value="">Customere Resubmit</mat-option>
                <mat-option value="">Total Time Frame</mat-option>
                <mat-option value="">My Review</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Expiring Soon</mat-label>
              <mat-select multiple>
                <mat-option value="">Attending Time</mat-option>
                <mat-option value="">Manager Review</mat-option>
                <mat-option value="">Consultant Review</mat-option>
                <mat-option value="">Customere Resubmit</mat-option>
                <mat-option value="">Total Time Frame</mat-option>
                <mat-option value="">My Review</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Status</mat-label>
              <mat-select multiple>
                <mat-option value="">New BN</mat-option>
                <mat-option value="">Under Process</mat-option>
                <mat-option value="">Pending at Customer</mat-option>
                <mat-option value="">Pending at Manager</mat-option>
                <mat-option value="">Pending at Consultant</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Status Date from</mat-label>
              <input matInput [matDatepicker]="statusdateFrom" placeholder="Status Date from"
                (click)="statusdateFrom.open()" readonly>
              <mat-datepicker-toggle matSuffix [for]="statusdateFrom"></mat-datepicker-toggle>
              <mat-datepicker #statusdateFrom></mat-datepicker>
            </mat-form-field>

          </div>

          <div class="col-md-3">
            <mat-form-field appearance="outline">
              <mat-label>Status Date to</mat-label>
              <input matInput [matDatepicker]="statusdateTo" placeholder="Status Date to" (click)="statusdateTo.open()"
                readonly>
              <mat-datepicker-toggle matSuffix [for]="statusdateTo"></mat-datepicker-toggle>
              <mat-datepicker #statusdateTo></mat-datepicker>
            </mat-form-field>

          </div>
          <div class="col-md-3 filterButtons">

            <button type="reset" class="btn btn-secondary">Reset Filter</button>
            &nbsp;
            <button type="button" class="btn btn-primary">Apply Filter</button>
          </div>

        </div>

      </form>
      <br>
    </div>
  </div>

  <div></div>

</div>
<!--begin::Divider-->
<div class="kt-login__divider">
  <div class="kt-divider">
    <span></span>
    <span></span>
  </div>
</div>
<!--end::Divider-->
<div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-sm">
              Export to Excell
            </button>
          </div>
          <div class="col-md-6 text-right searchBlock">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilterOU($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSourceOU" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="bnBnr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BL / BLM</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.bnBnr}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="submissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Submission Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.submissionDate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>

            <mat-cell *matCellDef="let row">
              <strong>
                {{row.status}}
              </strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.statusDate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="isBNModified">
            <mat-header-cell *matHeaderCellDef mat-sort-header>is BN Modified</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.isBNModified}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <a [routerLink]="['/pages/business-license/business-license/viewed-modified-bl']" matTooltip="Process"
                [matTooltipPosition]="position.value" class="kt-font-brand cursor">
                <i class="flaticon-settings"></i>
              </a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsOU"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsOU;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginatorOU [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>