.mat-form-field {
  width: 100%;
  max-width: 100%;
  min-width: 180px;
}
.wizardBorder {
  // height: calc(100% - 40px);
}
table.statisticsDetail {
  width: 100%;
  tr {
    border-bottom: 1px solid #ebedf2;
    &:last-child {
      border-bottom: none;
    }
    td {
      padding: 15px 0;
      cursor: pointer;
    }
  }
}
table.filterFields {
  width: 100%;
  tr {
    td {
      text-align: center;
      min-width: 50px;
    }
  }
}
.searchBlock{
  .mat-form-field {
    width: 180px;
  }
}
i {
  font-size: 16px;
  cursor: pointer;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
  padding: 5px 0 !important;
}
::ng-deep .mat-checkbox-layout {
  margin: 0;
}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  width: auto !important;
}
.filterButtons {
  padding: 10px;
  text-align: center;
}