:host .kt-splash-screen {
  background-color: #f2f3f8;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1000;
}

:host .kt-splash-screen img {
  margin-left: calc(100vw - 100%);
  width: 90px;
  margin-bottom: 30px;
}

:host .kt-splash-screen span {
  margin-left: calc(100vw - 100%);
  margin-bottom: 30px;
}

:host .kt-splash-screen ::ng-deep .mat-progress-spinner circle, :host .kt-splash-screen ::ng-deep .mat-spinner circle {
  stroke: #e9921b;
}
/*# sourceMappingURL=splash-screen.component.css.map */