<!--begin::Body-->
<div class="kt-login__body">
  <!--begin::Signin-->
  <div class="kt-login__form">
    <div class="kt-login__title">
      <h4>
        Please activate your account
      </h4>
    </div>
    <!--begin::Form-->
    <form class="kt-form tda-forgot-pwd" action="abcd.html" novalidate="novalidate" autocomplete="off">
      <div class="form-group">
        <mat-form-field>
          <mat-label>
            {{ 'GENERALWORDS.EMAIL' | translate }}
          </mat-label>
          <input class="tda-form-control" matInput type="email" placeholder="{{ 'GENERALWORDS.EMAIL' | translate }}" formControlName="email" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>
            Phone No.
          </mat-label>
          <input class="tda-form-control" matInput type="number" placeholder="Phone No." formControlName="Password"/>
        </mat-form-field>
      </div>
      <!--begin::Action-->
      <div class="kt-login__actions text-center">
        <button id="kt_login_signin_submit" class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto">
          Send Activation Link
        </button>
      </div>
      <!--end::Action-->
    </form>
    <!--end::Form-->
  </div>
  <!--end::Signin-->
</div>
<!--end::Body-->