<form class="tda-form" [formGroup]="applicationTypeForm" (ngSubmit)="applicationTypeFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.APPTYPEKPI.ADDKPI' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.LEGALTYPEATTACHMENT.APPTYPE' | translate }}</mat-label>
                  <mat-select formControlName="appTypeId">
                    <mat-option *ngFor="let type of applicationType | async" [value]="type.id">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'appTypeId'"></kt-error>
              </div>

              <div class="col-md-6">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.ATTENDINGTIMEKPI' | translate }}
                </label>
                <igx-time-picker #timeFrom1 format="HH:mm" mode="dropdown" formControlName="attendingTime">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom1.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom1.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'attendingTime'"></kt-error>
              </div>

              <div class="col-md-6">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.TOTALKPI' | translate }}</label>
                <igx-time-picker #timeFrom2 format="HH:mm" mode="dropdown" formControlName="totalKpis">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom2.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom2.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'totalKpis'"></kt-error>
              </div>

              <div class="col-md-12">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.CSRKPI' | translate }}
                </label>
                <igx-time-picker #timeFrom3 format="HH:mm" mode="dropdown" formControlName="customerReview">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom3.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom3.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'customerReview'"></kt-error>
              </div>

              <div class="col-md-12">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.MRKPI' | translate }}
                </label>
                <igx-time-picker #timeFrom4 format="HH:mm" mode="dropdown" formControlName="managerReview">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom4.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom4.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'managerReview'"></kt-error>
              </div>

              <div class="col-md-12">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.CKPIH' | translate }}
                </label>
                <igx-time-picker #timeFrom5 format="HH:mm" mode="dropdown" formControlName="consultation">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom5.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom5.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'consultation'"></kt-error>
              </div>

              <div class="col-md-12">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.CRKPIH' | translate }}
                </label>
                <igx-time-picker #timeFrom6 format="HH:mm" mode="dropdown" formControlName="customerReSubmit">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom6.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom6.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'customerReSubmit'"></kt-error>
              </div>

              <div class="col-md-12">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.CPKPIH' | translate }}
                </label>
                <igx-time-picker #timeFrom7 format="HH:mm" mode="dropdown" formControlName="customerPayment">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom7.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom7.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'customerPayment'"></kt-error>
              </div>

              <div class="col-md-12">
                <label class="igxLabel">
                  {{ 'PAGESMODULE.APPTYPEKPI.GOVTENTITYAPPROVAL' | translate }}
                </label>
                <igx-time-picker #timeFrom8 format="HH:mm" mode="dropdown" formControlName="govtEntityApproval">
                  <ng-template igxTimePickerActions>
                    <div class="container action-buttons">
                      <button class="btn btn-secondary btn-elevate kt-login__btn-secondary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom8.cancelButtonClick()">
                        {{ 'GENERALWORDS.CANCEL' | translate }}</button>&nbsp;&nbsp;
                      <button class="btn btn-primary btn-elevate kt-login__btn-primary margin-auto btn-sm"
                        igxButton="flat" (click)="timeFrom8.okButtonClick()">
                        {{ 'GENERALWORDS.OK' | translate }}</button>
                    </div>
                  </ng-template>
                </igx-time-picker>
                <kt-error [formName]="applicationTypeForm" [fieldName]="'govtEntityApproval'"></kt-error>
              </div>

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]=true>{{ 'GENERALWORDS.ACTIVE' | translate }}</mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]=false>{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <a [routerLink]="['/pages/master-data/application-type']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>
  <br><br><br><br><br>
</form>