@import "../../assets/css/demo1/style.bundle.css";

kt-base {
  opacity: 0;
  height: 100%;

  .kt-grid--root {
    height: 100%;
  }
}

.kt-page--loaded {
  kt-base {
    opacity: 1;
    transition: opacity 1s ease-in-out;
  }
}
.row {
  margin: 0 !important;
}
header {
  background: #fff;
  padding: 10px;
}
html,
body,
kt-notifications {
  height: 100%;
  .wrapper {
    min-height: calc(100% - 60px);
  }
  a.language {
    line-height: 60px;
  }
}

footer {
  background: #fff;
  height: 60px;
}

.messageScreen {
  max-width: 700px !important;
  margin: 20px auto;
  background: none;
  padding: 30px !important;
  background: #fff;
  min-height: 350px;
}
.messageScreenContent {
  max-width: 300px;
  margin: 0 auto;
}
.tda-form {
  padding: 20px 0;
}

@media (max-width: 767px) {
  .wrapper {
    .col-md-6 {
      text-align: center;
    }

    a.language {
      display: block;
      text-align: center;
    }
  }
}
