<div class="wrapper">

  <!-- begin:: Page -->
  <ng-container>
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <a routerLink="/auth/login"><img src="../../assets/media/rak-logo.jpg" alt="Rak Logo">
            </a>
          </div>
          <div class="col-md-6 text-right">
            <a class="arabicLang language">العربية</a>
          </div>
        </div>
      </div>
    </header>
    <!-- begin:: Content -->
    <div class="centerContentMessage">
      <!-- begin:: Content Body -->
      <!--begin::Body-->
      <div class="kt-login__body messageScreen">
        <router-outlet></router-outlet>
      </div>

      <!-- end:: Content Body -->
    </div>
  </ng-container>
  <!-- end:: Page -->
  <div class="push"></div>
</div>
<footer class="footer">
  <div class="container">
    <div class="kt-footer kt-grid__item kt-grid kt-grid--desktop kt-grid--ver-desktop" id="kt_footer">
      <div class="kt-container kt-container--fluid" ng-reflect-klass="kt-container"
        ng-reflect-ng-class="[object Object]">
        <div class="kt-footer__copyright"> 20191&nbsp;©&nbsp;<a class="kt-link" href="" target="_blank">TDA Ras Al
            Khaima</a></div>
      </div>
    </div>
  </div>
</footer>