
<!--begin::Divider-->
<div class="kt-login__divider">
  <div class="kt-divider">
    <span></span>
    <span></span>
  </div>
</div>
<!--end::Divider-->
<div>

  <div class="kt-portlet__body">
    <!--Material DataTable Section-->
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-sm">
              Export to Excel
            </button>
          </div>
          <div class="col-md-6 text-right searchBlock">
            <mat-form-field>
              <input class="tda-form-control" matInput (keyup)="applyFilterOU($event.target.value)"
                placeholder="Search">
            </mat-form-field>
          </div>
        </div>
      </div>
      <!--begin: Datatable -->
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table matSort [dataSource]="dataSourceOU" class="tdaMetronicBorderedTable">
          <ng-container matColumnDef="bnBnr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN / BNE</mat-header-cell>
            <mat-cell *matCellDef="let row">
              {{row.bnBnr}}
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN Ar </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="bnEn">
            <mat-header-cell *matHeaderCellDef mat-sort-header> BN En </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.bnEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="submissionDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Submission Date </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.submissionDate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>

            <mat-cell *matCellDef="let row">
              <strong
                [ngClass]=" (row.extendedDays == '10' ? 'kt-font-brand' : '') + '' + (row.extendedDays == '12' ? 'kt-font-primary' : '')  + '' + (row.extendedDays == '15' ? 'kt-font-success' : '')">
                {{row.status}}
              </strong>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="statusDate">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status Date</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.statusDate}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="extendedDays">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Extended Days</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.extendedDays}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <a [routerLink]="['/pages/business-license/business-names/review-extend-bn-request-detail']"
                matTooltip="Process" [matTooltipPosition]="position.value" class="kt-font-brand cursor">
                <i class="flaticon-settings"></i>
              </a>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumnsOU"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumnsOU;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginatorOU [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
    <!--end: Datatable -->
  </div>
</div>