<form class="tda-form"  [formGroup]="businessActivityPages" (ngSubmit)="businessActivityPagesFormSubmit()" autocomplete="off">
  <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
      <div class="col-md-6">
        <!--begin::Portlet-->
        <div class="kt-portlet">
          <div class="kt-portlet__head kt-portlet__head--lg">
            <div class="kt-portlet__head-label">
              <span class="kt-portlet__head-icon">
                <i class="kt-font-brand flaticon2-user"></i>
              </span>
              <h3 class="kt-portlet__head-title">
                {{ 'PAGESMODULE.BUSINESSACTIVITY.ABAP' | translate }}
              </h3>
            </div>
          </div>
          <!--begin::Form-->
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.BUSINESSACTIVITY.BAG' | translate }}</mat-label>
                  <mat-select formControlName="bagid">
                    <mat-option [value]="type.id" *ngFor="let type of getActiveBusinessActivity | async">
                      {{ this.translationService.getSelectedLanguage() =="en" ? type.valueEn : type.valueAr}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <kt-error [formName]="businessActivityPages" [fieldName]="'bagid'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'GENERALWORDS.ISIC' | translate }}</mat-label>
                  <input matInput placeholder="{{ 'GENERALWORDS.ISIC' | translate }}" type="text" formControlName="isic4">
                </mat-form-field>
                <kt-error [formName]="businessActivityPages" [fieldName]="'isic4'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}</mat-label>
                  <textarea class="arabicTextBox" matInput placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONAR' | translate }}" rows="2"  formControlName="descriptionAr"></textarea>
                </mat-form-field>
                <kt-error [formName]="businessActivityPages" [fieldName]="'descriptionAr'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}</mat-label>
                  <textarea class="englishTextBox" matInput placeholder="{{ 'PAGESMODULE.APPCATALOGDEFINITION.DESCRIPTIONEN' | translate }}" rows="2" formControlName="descriptionEn"></textarea>
                </mat-form-field>
                <kt-error [formName]="businessActivityPages" [fieldName]="'descriptionEn'"></kt-error>
              </div>

              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.BUSINESSACTIVITY.AUAR' | translate }}</mat-label>
                  <textarea class="arabicTextBox" matInput placeholder="{{ 'PAGESMODULE.BUSINESSACTIVITY.AUAR' | translate }}" rows="2" formControlName="activityUsageAr"></textarea>
                </mat-form-field>
                <kt-error [formName]="businessActivityPages" [fieldName]="'activityUsageAr'"></kt-error>
              </div>
              
              <div class="col-md-12">
                <mat-form-field appearance="outline">
                  <mat-label>{{ 'PAGESMODULE.BUSINESSACTIVITY.AUEN' | translate }}</mat-label>
                  <textarea class="englishTextBox" matInput placeholder="{{ 'PAGESMODULE.BUSINESSACTIVITY.AUEN' | translate }}" rows="2" formControlName="activityUsageEn"></textarea>
                </mat-form-field>
                <kt-error [formName]="businessActivityPages" [fieldName]="'activityUsageEn'"></kt-error>
              </div>

              <div class="col-md-12">
                <div class="example-container">
                  <mat-label>{{ 'GENERALWORDS.ISACTIVE' | translate }}</mat-label>
                  <mat-radio-group formControlName="isActive">
                    <div class="row">
                      <div class="col-md-3">
                        <mat-radio-button [value]=true>{{ 'GENERALWORDS.ACTIVE' | translate }}</mat-radio-button>
                      </div>
                      <div class="col-md-3">
                        <mat-radio-button [value]=false>{{ 'GENERALWORDS.NOTACTIVE' | translate }}</mat-radio-button>
                      </div>
                    </div>
                  </mat-radio-group>
                </div>
              </div>

              <div class="col-md-12 text-center">
                <div class="kt-portlet__foot">
                  <div class="kt-form__actions">
                    <a [routerLink]="['/pages/admin/business-activity-pages']"
                      class="btn btn-secondary btn-bold btn-icon-h kt-margin-l-10">{{ 'GENERALWORDS.CANCEL' | translate }}</a>
                    <button [ngClass]="{'kt-spinner kt-spinner--right kt-spinner--md kt-spinner--light': loading}"
                      class="btn btn-primary btn-bold btn-icon-h kt-margin-l-10">
                      {{ 'GENERALWORDS.SUBMIT' | translate }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end::Form-->
        </div>
        <!--end::Portlet-->
      </div>
    </div>
  </div>

</form>