:host {
  width: 100%;
}

:host .kt-header-menu-wrapper {
  height: 100%;
}

.rakLogo {
  height: 63px;
  padding: 5px;
  width: auto;
}

@media (max-width: 1024px) {
  .rakLogo {
    display: none;
  }
}
/*# sourceMappingURL=menu-horizontal.component.css.map */