<div class="kt-portlet kt-portlet--mobile">
  <div class="kt-portlet__head kt-portlet__head--lg">
    <div class="kt-portlet__head-label">
      <span class="kt-portlet__head-icon">
        <i class="kt-font-brand flaticon2-file"></i>
      </span>
      <h3 class="kt-portlet__head-title">
        Working Hours Management 
      </h3>
    </div>
    <div class="kt-portlet__head-toolbar">
      <div class="kt-portlet__head-wrapper">
        <div class="kt-portlet__head-actions">
          <div class="dropdown dropdown-inline">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kt-portlet__body">
    <div class="kt-section">
      <div class="example-header">
        <div class="row">
          <div class="col-md-6">
            <a [routerLink]="['/pages/master-types/add-types']"class="btn btn-primary btn-bold btn-sm btn-icon-h kt-margin-l-10">
               {{ 'GENERALWORDS.ADDNEW' | translate }}
            </a> &nbsp;
            <button type="button" class="btn btn-default btn-sm" 
            (click)="exporter.exportTable('xlsx',{fileName:'Master Data Definition', Props: {Author: 'BLS system'}})">
              {{ 'GENERALWORDS.EXPORTEXCEL' | translate }}
            </button>
          </div>
          <div class="col-md-6 text-right">
             
          </div>
        </div>
      </div>
      <div class="example-container mat-elevation-z8 tdaMetronicTable">
        <mat-table [dataSource]="dataSource7" class="tdaMetronicBorderedTable" matTableExporter #exporter="matTableExporter">
           
          <ng-container matColumnDef="NameAr">
            <mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'GENERALWORDS.NAMEAR' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameAr}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="NameEn"> 
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{'GENERALWORDS.NAMEEN' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.nameEn}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="TimeFrom">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TimeFrom </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.timeFrom}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="TimeTo">
            <mat-header-cell *matHeaderCellDef mat-sort-header> TimeTo </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.timeTo}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="Year">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Year </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.year}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isWeekend">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" (change)="CheckboxChangeWeekend(row.id)" [checked]="row.isWeekend" checked="checked" name="">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="isActive">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.ISACTIVE' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <span class="kt-switch kt-switch--outline kt-switch--icon kt-switch--success">
                <label class="mb-0">
                  <input type="checkbox" (change)="CheckboxChange(row.id)" [checked]="row.isActive" checked="checked" name="">
                  <span></span>
                </label>
              </span>
            </mat-cell>
          </ng-container>
          <ng-container matColumnDef="editView">
            <mat-header-cell *matHeaderCellDef mat-sort-header> {{ 'GENERALWORDS.EDITVIEW' | translate }}</mat-header-cell>
            <mat-cell *matCellDef="let row" [style.color]="row.color">
              <button (click)="onEditClick(row)" type="button" class="btn btn-sm btn-danger btn-sm">{{ 'GENERALWORDS.VIEW' | translate }}</button>
            </mat-cell>
          </ng-container>
          <mat-header-row *matHeaderRowDef="displayedColumns7"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns7;"></mat-row>
        </mat-table>
        <mat-paginator #matPaginator7 [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </div>
</div>
