<mat-dialog-content>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> Submitted Initial Approval</h4><button aria-label="Close"
        class="close" type="button" mat-dialog-close><span aria-hidden="true">×</span></button>
    </div>
    <div class="modal-body">
      <mat-horizontal-stepper labelPosition="bottom" #stepper>
        <!--Step 1-->
        <mat-step [stepControl]="firstServiceInfoForm">
          <form [formGroup]="firstServiceInfoForm">
            <ng-template matStepLabel class="'first-stepper'">Service Info</ng-template>
            <kt-service-details [termsConditionForm]="firstServiceInfoForm"
              [serviceInfo]="(this.serviceInfoAndUserInfo | async)?.serviceInfo">
            </kt-service-details>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 2-->
        <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Submitter Info</ng-template>
            <kt-submitted-info [user]="(this.serviceInfoAndUserInfo | async)?.user"
              [loginOnBehalf]="(this.serviceInfoAndUserInfo | async)?.loginOnBehalf">
            </kt-submitted-info>
            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>
              <div class="col-md-4 text-center">
              </div>
              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">
                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>
                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 6-->
        <mat-step [stepControl]="sixthFormGroup">
          <form [formGroup]="sixthFormGroup">
            <ng-template matStepLabel>IA Info</ng-template>
            <div class="kt-section__content notes">


              <div class="row">
                <div class="col-md-12">
                  <div class="applicationRefInfo">
                    <div class="row">
                      <div class="col-md-3">
                        <p><strong>IAN #: <span class="kt-font-danger kt-font-lg">IAN-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                      </div>
                      <div class="col-md-3">
                        <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                      </div>
                    </div>
                  </div>
                  <br>
                  <div class="wizardBorder licenseInfo">
                    <div class="row">
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Main Area</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Sub Area</mat-label>
                          <mat-select [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Street</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Street" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Full Text Adress</mat-label>
                          <input readonly class="tda-form-control" matInput type="text"
                            placeholder="Main Area, Sub Area, Street" value="Main Area, Sub Area, Street" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Parcel ID</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Parcel ID" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-6">
                        <mat-form-field appearance="outline">
                          <mat-label>Submission Reason</mat-label>
                          <mat-select multiple [disabled]="disableSelect">
                            <mat-option value="option">1</mat-option>
                            <mat-option value="option">2</mat-option>
                            <mat-option value="option">3</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-12">
                        <br>
                        <p><strong>Google Map Coordinates</strong></p>
                      </div>
                      <div class="col-md-5">
                        <mat-form-field appearance="outline">
                          <mat-label>Longitude</mat-label>
                          <input disabled class="tda-form-control" matInput type="number" placeholder="Longitude" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-5">
                        <mat-form-field appearance="outline">
                          <mat-label>Latitude</mat-label>
                          <input disabled class="tda-form-control" matInput type="number" placeholder="Latitude" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-2">
                        <div class="formTableButton"> <button class="btn btn-danger btn-sm"><i
                              class="flaticon-placeholder-2"></i></button>
                        </div>
                      </div>


                      <div class="col-md-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Makani No.</mat-label>
                          <input disabled class="tda-form-control arabicTextBox" matInput type="text"
                            placeholder="Makani No." />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Building</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Building" />
                        </mat-form-field>
                      </div>
                      <div class="col-md-4">
                        <mat-form-field appearance="outline">
                          <mat-label>Unit</mat-label>
                          <input disabled class="tda-form-control" matInput type="text" placeholder="Unit" />
                        </mat-form-field>
                      </div>
                    </div>


                  </div>
                </div>
              </div>
            </div>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button matStepperNext class="btn btn-primary btn-sm">Next</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
        <!--Step 8-->
        <mat-step [stepControl]="eighthFormGroup">
          <form [formGroup]="eighthFormGroup" class="customAttachment">
            <ng-template matStepLabel>Attachments</ng-template>
            <div class="applicationRefInfo">
              <div class="row">
                <div class="col-md-3">
                  <p><strong>IAN #: <span class="kt-font-danger kt-font-lg">IAN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN #: <span class="kt-font-danger kt-font-lg">BN-5</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN AR: <span class="kt-font-danger kt-font-lg">الاسم التجاري</span></strong></p>
                </div>
                <div class="col-md-3">
                  <p><strong>BN EN: <span class="kt-font-danger kt-font-lg">Business Name</span></strong></p>
                </div>
              </div>
            </div>
            <br>
            <!--:: begin Form Fields-->
            <div class="row">
              <div class="col-md-12 ">
                <div class="wizardBorder">
                  <p><strong>Attachment Reviews</strong></p>
                  <!--begin::Divider-->
                  <div class="kt-login__divider">
                    <div class="kt-divider">
                      <span></span>
                      <span></span>
                    </div>
                  </div>
                  <!--end::Divider-->
                  <br>
                  <table class="reviewAttachments">
                    <tr>

                      <td>
                        <span class="pointer" (click)="open(showAttachments)">Emirates ID Copy</span>
                      </td>
                    </tr>
                    <tr>

                      <td> Passport Copy</td>
                    </tr>
                    <tr>

                      <td> Resident Visa Copy</td>
                    </tr>
                    <tr>

                      <td> GCC ID Copy</td>
                    </tr>
                    <tr>

                      <td>Business License Copy</td>
                    </tr>
                    <tr>

                      <td> Emirates</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
            <!--:: end Form Fields -->
            <br><br>

            <!--begin:: Repeated Buttons Divs for Every Step -->
            <div class="row">
              <div class="col-md-4">
                <div class="wizardBorder actionButtons">
                  <button class="btn btn-danger btn-sm" matStepperPrevious>Back</button>
                </div>
              </div>

              <div class="col-md-4 text-center">

              </div>

              <div class="col-md-4 text-right">
                <div class="wizardBorder actionButtons">

                  <button aria-label="Close" mat-dialog-close class="btn btn-primary btn-sm">Close</button>


                </div>
              </div>
            </div>
            <!--end:: Repeated Content for Every Step -->
          </form>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>




  <!--begin::Modal Show Certificate-->
  <ng-template #showAttachments let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Attachments</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <img src="../../../../assets/media/Emirates-ID.jpg" alt="Show Attachments">
      </div>
    </div>
  </ng-template>
</mat-dialog-content>